<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css"> 

  <div class="row appCont">
    <div class="col-xs-12 col-md-12 col-lg-9 centered colHeader">
      <div class="imgTitle pulse infinite animated"><img src="/static/arbolado/img/treeFilled.png"></div>
      <h1 class="appTitle">Nuestros Árboles</h1>
    </div>
    <div class="col-xs-12 col-lg-3 visible-lg-* filterBoxTitleCont colHeader">
      <h2 class="filterBoxTitle">Buscá nuestros árboles</h2>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6 no-padding mapCont">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (zoomChange)="zoomChange($event)" (boundsChange)="boundsChange($event)" (idle)="setBoundsData($event)">
        <span *ngIf="currentPrecision>8">
          <agm-circle *ngFor="let t of shownTrees; let i = index"
            [latitude]="t.lat"
            [longitude]="t.lng"
            [radius]="t.radius"
            [fillOpacity]="0.75"
            [fillColor]="t.properties.especie.color"
            [strokeColor] = "t.properties.especie.strokeColor"
            [strokeOpacity] = "1"
            [strokePosition]="0"
            [strokeWeight]="1"
            (circleClick)="circleClick(t.id)">
          </agm-circle>
        </span>
        <core-map-content (onMapLoad)='loadAPIWrapper($event)'></core-map-content>
      </agm-map>
      <div class="referencias">
        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <div id="referenciasLink">REFERENCIAS DEL COLOR DEL MAPA <i class="arrow up"></i></div>
          </div>
          <div class="col-xs-12 col-lg-12 refColores" id="referencias" style="display: none;">
            <div class="row">
              <div class="col-xs-4 col-lg-4">
                <div class="refIndicador azul"><div class="circuloIndicador"></div></div><span class="colorRef">azúl</span>
                <div class="textRefIndicador">árboles plantados</div>
              </div>
              <div class="col-xs-4 col-lg-4">
                <div class="refIndicador rojo"><div class="circuloIndicador"></div></div><span class="colorRef">rojo</span>
                <div class="textRefIndicador">árboles faltantes</div>
              </div>
              <div class="col-xs-4 col-lg-4">
                <div class="refIndicador verde"><div class="circuloIndicador"></div></div><span class="colorRef">verde</span>
                <div class="textRefIndicador">árboles censados</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="totalPaginas>0" class="cargando">Cargando página {{nroPagActual}} de {{totalPaginas| number:'1.0-0'}}</div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 indicadoresContCol">
      <a href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/ambiente/arbolado-municipal/2770" class="btnDescargar" target="_blank">Descargar
        <span class="la-stack" title="Icono de descarga">
          <span class="la la-circle-thin la-stack-2x"></span>
          <span class="la la-download la-stack-1x"></span>
        </span>
      </a>
      <div class="indicadoresCont">
        <h2 class="indicadorTitle">Indicadores de Plantación</h2>
          <div class="indicadorRow">
            <div class="indicador">Árboles</div>
            <div class="valor">{{plantedTrees | number:'1.0-0':'es'}}</div>
          </div>
          <div class="indicadorRow">
            <div class="indicador">Especies</div>
            <div class="valor">{{plantedTresSpecies | number:'1.0-0':'es'}}</div>
          </div>
        <h2 class="indicadorTitle">Indicadores del Censo</h2>
          <div class="indicadorRow">
            <div class="indicador">Árboles</div>
            <div class="valor">{{totalTrees | number:'1.0-0':'es'}}</div>
          </div>
          <div class="indicadorRow">
            <div class="indicador">Ausentes</div>
            <div class="valor">{{emptyTrees | number:'1.0-0':'es'}}</div>
          </div>
          <div class="indicadorRow">
            <div class="indicador">Total</div>
            <div class="valor">{{totalTrees + emptyTrees | number:'1.0-0':'es'}}</div>
          </div>
          <div class="indicadorRow">
            <div class="indicador">Especies</div>
            <div class="valor">{{species.length | number:'1.0-0':'es'}}</div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 hidden-lg filterBoxTitleCont colHeader">
      <h2 class="filterBoxTitle">Buscá nuestros árboles</h2>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 no-padding filterCol">
      <div class="filterContainer">

        <div class="treeImg"><img src="/static/arbolado/img/treeFilled.png"></div>

        <!-- Dropdrown Barrio -->
        <dl class="dropdownSelect">
          <dt>
          <a href="#">
            <span class="hida">Barrio<span *ngIf="selectedBarrio.length>0">:<span *ngIf="selectedBarrio.length < barrioFilter.length"><span *ngFor="let s of selectedArrayFromTextNames(barrioFilter, selectedBarrio)"> {{s.name}},</span></span><span *ngIf="selectedBarrio.length == barrioFilter.length">Todos</span></span></span><i class="arrow down"></i>
          </a>
          </dt>

          <dd>
              <div class="mutliSelect">
                  <ul>
                      <li>
                        <input name="selectAllB" type="checkbox" (change)="selectAllBarrios()"/>Seleccionar Todos
                      </li>
                      <li *ngFor="let b of barrioFilter; let i = index">
                          <input name="selectedB[]" value="{{b.name}}" type="checkbox" (change)="checkBarrio(b.name)" [(ngModel)]="b.checked"/>{{b.name}}
                      </li>
                  </ul>
              </div>
          </dd>
        </dl>
        <!-- Dropdrown Cazuela -->
        <dl class="dropdownSelect smallDrop">
          <dt>
          <a href="#">
            <span class="hida">Cazuela<span *ngIf="selectedCazuelas.length>0">:</span> <span *ngFor="let s of selectedArrayFromTextNames(cazuelasFilter, selectedCazuelas)"> {{s.name}},</span></span><i class="arrow down"></i>
          </a>
          </dt>

          <dd>
              <div class="mutliSelect">
                  <ul>
                      <li *ngFor="let c of cazuelasFilter; let i = index">
                          <input name="selectedC[]" value="{{c.name}}" type="checkbox" (change)="checkCazuelas(c.name)" [(ngModel)]="c.checked"/>{{c.name}}
                      </li>
                  </ul>
              </div>
          </dd>
        </dl>

        <!-- Dropdown Descalzado -->
        <dl class="dropdownSelect smallestDrop">
          <dt>
          <a href="#">
            <span class="hida capitalize">Descalzado<span *ngIf="selectedDescalzado.length>0">:</span> <span *ngFor="let des of selectedArrayFromTextNames(descalzadoFilter, selectedDescalzado)"> {{des.name}},</span></span><i class="arrow down"></i>
          </a>
          </dt>

          <dd>
              <div class="mutliSelect capitalize">
                  <ul>
                      <li *ngFor="let des of descalzadoFilter; let i = index">
                          <input name="selectedDescalzado[]" value="{{des.name}}" type="checkbox" (change)="checkDescalzado(des.name)" [(ngModel)]="des.checked"/>{{des.name}}
                      </li>
                  </ul>
              </div>
          </dd>
        </dl>

        <!-- Dropdrown Tipo de Arbol -->
        <dl class="dropdownSelect">
          <dt>
            <a href="#">
              <span class="hida">Especie<span *ngIf="selectedSpecies.length >0">:</span><span *ngIf="selectedSpecies.length < species.length"><span *ngFor="let s of selectedArrayFromIDNames(species, selectedSpecies)" class="selectedCont"> {{s.name}},</span></span><span *ngIf="selectedSpecies.length == species.length">Todas</span></span><i class="arrow down"></i>
            </a>
          </dt>
          <dd>
              <div class="mutliSelect">
                  <ul>
                      <li>
                          <input name="selectAllS" type="checkbox" (change)="selectAllEspecies()"/>Seleccionar Todas
                      </li>
                      <li *ngFor="let s of species; let i = index">
                          <input name="selectedS[]" value="{{s.id}}" type="checkbox" (change)="checkSpecie(s.id)" [(ngModel)]="s.checked"/><span class="sName">{{s.name}}</span>
                      </li>
                  </ul>
              </div>
          </dd>
        </dl>

        <!-- Dropdrown Estado Fitosanitario -->
        <dl class="dropdownSelect smallDrop">
          <dt>
          <a href="#">
            <span class="hida">Estado Fitosanitario<span *ngIf="selectedEstadoFitosanitario.length>0">:</span> <span *ngFor="let s of selectedArrayFromIDNames(estadoFitosanitarioFilter, selectedEstadoFitosanitario)"> {{s.name}},</span></span><i class="arrow down"></i>
          </a>
          </dt>

          <dd>
              <div class="mutliSelect">
                  <ul>
                      <li *ngFor="let e of estadoFitosanitarioFilter; let i = index">
                          <input name="selectedEst[]" value="{{e.id}}" type="checkbox" (change)="checkEstadoFito(e.id)" [(ngModel)]="e.checked"/><span class="sName">{{e.name}}</span>
                      </li>
                  </ul>
              </div>
          </dd>
        </dl>

        <!-- Dropdrown Inclinacion -->
        <dl class="dropdownSelect smallDrop">
          <dt>
          <a href="#">
            <span class="hida">Inclinación <span *ngIf="selectedInclinacion.length>0">:</span> <span *ngFor="let s of selectedArrayFromIDNames(inclinacionFilter, selectedInclinacion)"> {{s.name}},</span></span><i class="arrow down"></i>
          </a>
          </dt>

          <dd>
              <div class="mutliSelect">
                  <ul>
                      <li *ngFor="let inc of inclinacionFilter; let i = index">
                          <input name="selectedInc[]" value="{{inc.id}}" type="checkbox" (change)="checkInclinacion(inc.id)" [(ngModel)]="inc.checked"/><span class="sName">{{inc.name}}</span>
                      </li>
                  </ul>
              </div>
          </dd>
        </dl>

        <!-- Dropdown Fuste Partido -->
        <dl class="dropdownSelect smallestDrop">
          <dt>
          <a href="#">
            <span class="hida capitalize">Fuste Partido<span *ngIf="selectedFustePartido.length>0">:</span> <span *ngFor="let fus of selectedArrayFromTextNames(fustePartidoFilter, selectedFustePartido)"> {{fus.name}},</span></span><i class="arrow down"></i>
          </a>
          </dt>

          <dd>
              <div class="mutliSelect capitalize">
                  <ul>
                      <li *ngFor="let fus of fustePartidoFilter; let i = index">
                          <input name="selectedFuste[]" value="{{fus.name}}" type="checkbox" (change)="checkFuste(fus.name)" [(ngModel)]="fus.checked"/>{{fus.name}}
                      </li>
                  </ul>
              </div>
          </dd>
        </dl>

        <!-- Dropdown Tipo de Orden -->
        <dl class="dropdownSelect smallestDrop">
          <dt>
          <a href="#">
            <span class="hida">Tipo de Orden<span *ngIf="selectedTipoOrden.length>0">:</span> <span *ngFor="let s of selectedArrayFromIDNames(tipoOrdenFilter, selectedTipoOrden)"> {{s.name}},</span></span><i class="arrow down"></i>
          </a>
          </dt>

          <dd>
              <div class="mutliSelect">
                  <ul>
                      <li *ngFor="let tipo of tipoOrdenFilter; let i = index">
                          <input name="selectedTipoO[]" value="{{tipo.id}}" type="checkbox" (change)="checkTipoOrden(tipo.id)" [(ngModel)]="tipo.checked"/>{{tipo.name}}
                      </li>
                  </ul>
              </div>
          </dd>
        </dl>

        <div class="btn btnFiltrar" (click)="filterTrees()"><div>Filtrar <i class="fa fa-filter" aria-hidden="true"></i></div></div>
        <p class="titleFooterFilters">Arbolado</p>
      </div>
      <div class="titFooterBox">
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <p class="cantArboles">Se muestran</p>
          </div>
          <div class="col-xs-6 col-lg-6">
            <p class="hl mostrar">{{cantArboles}} árboles</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-lg-6">
            <p class="cantArboles">Total</p>
          </div>
          <div class="col-xs-6 col-lg-6">
            <p class="hl total">{{cantTotalArboles}} árboles</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row treeFile" *ngIf="selectedTree">
    <div class="closeSelectedTree" (click)="resetSelectedTree()"><div class="cont"><i class="fa fa-chevron-up" aria-hidden="true"></i></div></div>
    <div class="col-xs-12 col-lg-5 colFile">
      <div class="treePic">
        <a href="{{selectedTree.properties.foto.thumbnail}}" target="_blank" rel="noopener"><img src="{{selectedTree.properties.foto.thumbnail}}"></a>
      </div>
    </div>
    <div class="col-xs-12 col-lg-7 colFile">
      <div class="treeInfo">
        <div class="treeHeader">
          <div class="treeImg"><img src="/static/arbolado/img/treeFile.png"></div>
          <div class="treeSpeciesCont">
            <p class="titFilter">Especie</p>
            <p class="treeInfoText">{{selectedTree.properties.especie.name}}</p>
          </div>
        </div>
        <div class="treeDataCont">
          <p class="treeData"><span class="titFilter">Barrio: </span><span class="treeInfoText">{{selectedTree.properties.barrio}}</span></p>
          <p class="treeData"><span class="titFilter">Cazuela: </span><span class="treeInfoText">{{selectedTree.properties.cazuela}}</span></p>
          <p class="treeData"><span class="titFilter">Estado Fitosanitario: </span><span class="treeInfoText">{{selectedTree.properties.estadoFitosanitario}}</span></p>
          <p class="treeData"><span class="titFilter">Inclinación: </span><span class="treeInfoText">{{selectedTree.properties.inclinacion}}</span></p>
          <p class="treeData"><span class="titFilter">Descalzado: </span><span class="treeInfoText capitalize">{{selectedTree.properties.descalzado}}</span></p>
          <p class="treeData"><span class="titFilter">Fuste Partido: </span><span class="treeInfoText capitalize">{{selectedTree.properties.fustePartido}}</span></p>
          <p class="treeData"><span class="titFilter">Tipo de Orden: </span><span class="treeInfoText">{{selectedTree.properties.tipoOrden}}</span></p>
        </div>
      </div>
    </div>
  </div>
