{% extends "backend/base_app_mini_mobile.html" %}

{% block styles %}
<link href="/static/backend/dist/css/gaugeMeter.css" rel="stylesheet">
{% endblock %}

{% block head_metas %}
{{ block.super }}
<meta name="ask-mobile" content="Si">
{% endblock %}

{% block scripts %}
    {{ block.super }}


{% endblock %}

{% block content %}

    <!-- Cambiar esto, es del panel web -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tableros sobre Árboles de la ciudad de Córdoba</h1>
            </div>
        </div>
        <div class="row">
            Total de árboles: {{total_arboles}}
        </div>

        <div class="row">
            Especies más registradas:
                {% for especie in especies_mas_registradas %}
                        <li>
                            Especie: {{ especie.nombre }} <br>
                            Cantidad: {{ especie.cantidad_arboles}}
                        </li>
                {% endfor %}
        </div>

        <div class="row">
            Árboles que necesitan poda: {{problema_desrame}}
        </div>

        <div class="row">
            Árboles con problemas de desequilibrio en la copa: {{desequilibrio_copa}}
        </div>
    </div>
{% endblock %}
