<html lang="es">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="twitter:site" content="@GobAbiertoCBA">
        <meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
        <meta name="author" content="Municipalidad de Córdoba">

        <meta property="og:title" content="Portal de la Ciudad de Córdoba">
        <meta property="og:description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/PortalDeLaCiudad.png">
        <meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/">
        <meta name="twitter:card" content="summary_large_image">

        <meta property="og:site_name" content="#PortalDeLaCiudad">
        <meta name="twitter:image:alt" content="#PortalDeLaCiudad">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Quintero: {{ quintero.nombre }} {{ quintero.apellido }}</title>

        <!-- Bootstrap -->
        <link href="/static/fichas/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
        <link href="/static/fichas/fichas.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/fichas/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
      <div class="container-fluid">
        <div class="fichaGuia">
          <div class="infoGralGuia row">
            <div class="col-xs-12 ">
              <div class="nombreGuiaContainer">
                <h1 class="nombreGuia">{{ quintero.nombre }} {{ quintero.apellido }}</h1>
                <div class="nameDivider"></div>
              </div>
              <h2 class="habilitacionGuia">Productor cinturón verde</h2>
            </div>

          </div>
          <div class="masInfoGuia row">
            {% if quintero.foto %}
            <div class="col-xs-12 col-md-5 no-padding imgGuia colGuia" style="background-image: url('{{ quintero.foto.thumbnail.1000x1000 }}'); " title="Foto de quintero {{ quintero.nombre }}">
            {% else %}
            <!-- <div class="col-xs-12 col-md-5 no-padding imgGuia" style="background-image: url('{{ quintero.foto.thumbnail.1000x1000 }}'); "> -->
            {% endif%}

            </div>
            <div class="col-xs-12 col-md-7 infoDescGuia colGuia">
              <h2>Quintero {{ quintero.nombre }} {{ quintero.apellido }}</h2>
              <p class="descGuia">
                <br />Nombre: <span class="strong">{{ quintero.nombre }}</span>
                <br />Apellido: <span class="strong">{{ quintero.apellido }}</span>
                <br />DNI: <span class="strong">{{ quintero.unique_id|default_if_none:"" }}</span>
                <br />Numero de carnet: <span class="strong">{{ quintero.numero_de_carnet|default_if_none:"" }}</span>
                <br />Fecha fin resolucion: <span class="strong">{{ hff }}</span>
                <br />Numero de resolucion: <span class="strong">{{ hnr }}</span>
              </p>

              <a class="qrGuia" href="{{ qr_download }}" download="{{ quintero.nombre }}-{{ quintero.apellido }}QR.png">
                  <img src="{{ qr_image }}" alt="DESCARGAR QR QUINTERO {{ quintero.nombre }}-{{ quintero.apellido }}"  />
              </a>
            </div>
        </div>

        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
      <script>
      $(function() {
          $('.colGuia').matchHeight();
      });
      </script>
    </body>
</html>
