@media(min-width:576px){}
@media(min-width:768px){
  .boletines .cover .titBoletines{
    font-size: 10em;
  }
}
@media(min-width:992px){}

@media (min-width: 1200px) {
  .boletines .cover .titBoletines{
    font-size: 11em;
  }
  .boletines .btnForm.btnBuscar{
  background-color: #ff0066;
  bottom: 15px;
  position: absolute;
  left: 0;
}
.boletines .btnForm.btnCancelar{
  background-color: #239a3c;
  bottom: 15px;
  position: absolute;
  left: 110px;
}

}
