@font-face {
  font-family: "Sweet Hipster";
  font-weight: 500;
  src: url("../fonts/SweetHipster.ttf");
}

.boletines .cover{
  min-height: 500px;
  background-image: url('../images/background.png');
  background-size: cover;
  color: #FFFFFF;
}

.boletines .cover .titBoletines{
  font-size: 8em;
  font-family: "Sweet Hipster", script;
  text-align: center;
  line-height: 0.95em;
}

.boletines .cover .titFiltros{
  font-size: 1.75em;
  font-weight: 600;
  font-style: italic;
  color: inherit;
}

.boletines .cover .inputTexto{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: #000;
  font-style: italic;
}
.boletines .descCover{
  font-style: italic;
  font-size: 1.25em;
  margin: 20px 0px;
}

.boletines .descCover a{
  border-bottom: 2px solid #ff0066;
  color: #fff;
}
.boletines #licenciaUso a{
  color: #000;
}
.boletines .descCover a:hover{
  border-bottom: 4px solid #ff0066;
}
.boletines .verde .descCover a,
.boletines .verde .descCover a:hover{
  border-color: #a9c132;
}

.boletines .azul .descCover a,
.boletines .azul .descCover a:hover{
  border-color: #4169E1;
}
.boletines .celeste .descCover a,
.boletines .celeste .descCover a:hover{
  border-color: #46cacf;
}

.boletines .verdeOsc .descCover a,
.boletines .verdeOsc .descCover a:hover{
  border-color: #009b3e;
}


.boletines .cover select.inputTexto{
  -webkit-appearance: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 40px;
}

.boletines .btnForm{
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  display: inline-block;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  height: 40px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.5);
}
.boletines .btnHolder{
  position: relative;
  height: 100%;
}
.boletines .btnForm.btnBuscar{
  background-color: #ff0066;
  position: relative;
}
.boletines .btnForm.btnBuscar:hover{
  background-color: #cc0052;
}
.boletines .btnForm.btnCancelar{
  background-color: #239a3c;
  position: relative;
}
.boletines .btnForm.btnCancelar:hover{
  background-color: #1e8534;
}
.select_box{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.boletines .cover .select_box:after{
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #777;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
 }


.boletines .cover label{
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
  font-style: italic;
  color: #000000;
  font-weight: 400;
  padding: 10px;
}

.boletines .cover .rowInput{
  margin: 10px 0px;
}

.boletines .cover .rowInput .col-xs-6:first-child{
  padding-left: 0px;
}
.boletines .column{
  text-align: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boletines .column:hover{
  cursor: pointer;
}
.boletines .column h3{
  color: #FFF;
  font-size: 13em;
  font-family: "Sweet Hipster", script;
}
.boletines .rowBotones{
  margin-bottom: 30px;
}
.boletines .column.verde,
.boletines .headerResults.verde{
  background-color: #a9c132;
}
.boletines .column.rosa,
.boletines .headerResults.rosa{
  background-color: #ff0066;
}
.boletines .column.verdeOsc,
.boletines .headerResults.verdeOsc{
  background-color: #009b3e;
}
.boletines .column.celeste,
.boletines .headerResults.celeste{
  background-color: #46cacf;
}
.boletines .column.azul,
.boletines .headerResults.azul,
.boletines .btnCover{
  background-color: #4169E1;
}

.boletines .column .btnVerTodos{
  background-color: #ffdc38;
  border-radius: 0;
  width: 150px;
  color: #000;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 auto;
}
a[ng-click]{
    cursor: pointer;
}

.boletines .headerResults h2,
.boletines .headerResults h3{
  color: #FFFFFF;
  display: inline-block;
  padding: 0px 20px;
    font-weight: 300;
}

.boletines .headerResults h3{
  float: right;
  font-family: "Sweet Hipster", script;
  font-size: 4.5em;
  margin: 0;
}

.boletines .results{
  padding-top: 20px;
  position: relative;
}

.boletines .linkBoletin,
.boletines .results .linkPDF{
  margin: 10px;
  font-size: 1.35em;
  font-style: italic;
  display: inline-block;
}
.boletines .results .linkPDF{
  text-transform: uppercase;
  color: #000;
}
.boletines .results .linkPDF:hover{
  border-bottom: 3px solid;
}

.boletines .results.verde .linkPDF:hover{
  border-color: #a9c132;
}
.boletines .results.rosa .linkPDF:hover{
  border-color: #ff0066;
}
.boletines .results.verdeOsc .linkPDF:hover{
  border-color: #009b3e;
}
.boletines .results.celeste .linkPDF:hover{
  border-color: #46cacf;
}
.boletines .results.azul .linkPDF:hover{
  border-color: #4169E1;
}

.boletines .rowBoletin{
  min-height: 50px;
}

.boletines .btnDescargarTodos{
  float: right;
  padding: 20px 30px;
  color: #FFFFFF;
  font-size: 1.5em;
  margin: 10px 0px;
  width: 100%;
}
.boletines .results.verde .btnDescargarTodos{
  background-color: #a9c132;
}
.boletines .results.rosa .btnDescargarTodos{
  background-color: #ff0066;
}
.boletines .results.verdeOsc .btnDescargarTodos{
  background-color: #009b3e;
}
.boletines .results.celeste .btnDescargarTodos{
  background-color: #46cacf;
}
.boletines .results.azul .btnDescargarTodos{
  background-color: #4169E1;
}

.boletines .results.verde .btnDescargarTodos:hover,
.boletines .column.verde:hover{
  background-color: #97ad2d;
}
.boletines .results.rosa .btnDescargarTodos:hover,
.boletines .column.rosa:hover{
  background-color: #cc0052;
}
.boletines .results.verdeOsc .btnDescargarTodos:hover,
.boletines .column.verdeOsc:hover{
  background-color: #1e8534;
}
.boletines .results.celeste .btnDescargarTodos:hover,
.boletines .column.celeste:hover{
  background-color: #34c2c8;
}
.boletines .results.azul .btnDescargarTodos:hover,
.boletines .column.azul:hover,
.boletines .headerResults.azul:hover,
.boletines .btnCover:hover{
  background-color: #2b58de;
}

.masBuscado.sinBorde{
  border-top:5px solid #009EE2;
  margin-top: 20px;
}



.dropdownSelect {
  border-radius: 10px;
  border: none;
  color: #000;
  font-style: italic;
  height: 40px;
  margin-bottom: 0px;
}


.dropdownSelect dd,
.dropdownSelect dt {
  margin: 0px;
  padding: 0px;
  height: 40px;
}

.dropdownSelect ul {
  margin: -1px 0 0 0;
}

.dropdownSelect dd {
  position: relative;
}

.dropdownSelect a,
.dropdownSelect a:visited {
  /* color: #fff; */
  /* text-decoration: none;
  outline: none;
  font-size: 12px; */
  display: inline-block;
  font-weight: 400;
}

.dropdownSelect dt a {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: #000;
  font-style: italic;
  background-color: #FFFFFF;
}

.dropdownSelect dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}
.multiSel{
  max-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdownSelect dd ul {
  background-color: #FFFFFF;
  border: 0;
  color: #000000;
  display: none;
  left: 0px;
  padding: 10px 15px 10px 15px;
  position: absolute;
  top: 2px;
  width: 100%;;
  list-style: none;
  height: 100px;
  overflow: auto;
  z-index: 2;
}

.dropdownSelect span.value {
  display: none;
}

.dropdownSelect dd ul li a {
  padding: 5px;
  display: block;
}

.dropdownSelect dd ul li a:hover {
  background-color: #fff;
}
input[type=checkbox]{
  margin-right: 5px;
}



.high_contrast .boletines .results .linkPDF,
.night .boletines .results .linkPDF,
.high_contrast .boletines .descCover,
.night .boletines .descCover,
.high_contrast .boletines #licenciaUso a,
.night .boletines #licenciaUso a{
  color: #FFF;
}
