{% extends extends_from %}

{% block title %} Aplicaciones móviles {% endblock %}
{% block header_menu %}
	<nav class="navbar navbar-muni-new navbar-fixed-top sticky" id="header">
		<div class="container">
		<div class="row menu-w-si">
            <div class="col-md-5 col-sm-5">
                <a href="/"><img src="/static/website/{{website.template}}/images/munilogo.png" class="img-responsive menu-logo-new"></a>
			</div>
            <div class="col-md-5 col-lg-offset-2 col-md-offset-2 col-sm-6 col-sm-offset-0">
                <div id="menu-container" class="pull-right">
                    <ul role="tablist" class="menu nav nav-pills">
	                    <li role="presentation"><a href="https://twitter.com/municba" class="pull-right social-icon-menu social-icon" target="_blank"><span class="icon-twitter icon-circle"></span></a>
	                    </li>
	                    <li role="presentation"><a href="https://www.facebook.com/MuniCba/" class="pull-right social-icon-menu social-icon" target="_blank"><span class="icon-facebook icon-circle"></span></a>
	                    </li>
                        <li class="active" role="presentation">
                            <a href="/">Inicio</a>
						</li>
                        <li class="dropdown" role="presentation">
                            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="muni-caret"></span> Secciones </a>
                            <ul aria-labelledby="drop4" class="dropdown-menu dropdown-menu-right" id="menu1">

                        	    {% for seccion in secciones_principales %}
                        	    {% if seccion.activada %}
                            	    <li><a href="{{ seccion.url }}">{{ seccion.titulo }}</a></li>
                	            {% else %}
                	                <li><a>{{ seccion.titulo }}</a></li>
                        	    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
        </div>
	</nav>
    {% endblock %}
{% block content %}
<section id="main-new">
	<div class="container" style="margin-top:10px ">



		<div class="row ">
			<div class="col-sm-12">
				<h1 class="s-title">APPS Municipalidad de Córdoba</h1>
			</div>
        </div>

        <div class="row ">

			<div class="col-sm-12">
				<!-- <div class="s-border-gradient"></div> -->
                <div class="s-border"></div>
				<p class="subs-title">Aplicaciones Móviles</p>
			</div>
		</div>
		{% for app in apps %}
			<div class="row app-info" id="app-{{forloop.counter}}">
				<div class="col-xs-12 col-sm-3">
					<center><img src='/media/{{ app.logo }}' class="img-responsive app-logo {% if not app.activado %}deactivated{%endif%}"/></center>
					<h3 class="app-title {% if not app.activado %}deactivated{% endif %}">{{ app.titulo }}</h3>
				</div>
				<div class="col-xs-12 col-sm-6">
					{% if not app.activado %}
							<h4 class="app-info-text bold">PRÓXIMAMENTE</h4>
						{% else %}
						<p class="app-info-text">{{ app.descripcion|default_if_none:"" }}<br/><br/>{% if not app.mas_info_url == None %}<a href="{{ app.mas_info_url }}" class="app-info-text">Mas información</a> {% endif %}</p>
					{% endif %}
					{% if app.activado %}
					<div class="row">
						<div class="col-sm-4">
							<div class="s-border-gradient"></div>
						</div>
					</div>
					{% endif %}
				</div>
				<div class="col-xs-12 col-sm-3">
					{% if app.activado %}
						{% if app.android_market %}
	            <center><a href="{{ app.android_market }}" target="_blank"><img src='/static/website/{{website.template}}/images/badges/descargar-android.png' class="img-responsive download-icon-apps  "/></a></center>
            {% endif %}
						{% if app.ios_market %}
	            <center><a href="{{ app.ios_market }}" target="_blank"><img src='/static/website/{{website.template}}/images/badges/descargar-apple.png' class="img-responsive download-icon-apps  " style="margin-top: 10px;"/></a></center>
            {% endif %}
            {% if app.web_version %}
	            <center><a href="{{ app.web_version }} " target="_blank"><img src='/static/website/{{website.template}}/images/badges/descargar-web.png' class="img-responsive download-icon-apps  " style="margin-top: 0px;"/></a></center>
            {% endif %}
	        {% endif %}
				</div>
			</div>
			{% endfor %}

	</div>

</section>
<script>

	(function($) {
    $(document).ready(function() {
         $('html, body').animate({
           'scrollTop':   $(location.hash).offset().top - 100
         }, 500);
    });
})(jQuery);
$(document).on('click', '.logo-hash', function(event){
		event.preventDefault();
		$('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top -100
    }, 500);
});
</script>
{% endblock %}
