{% load staticfiles %}{% load website_tags %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="twitter:site" content="@GobAbiertoCBA">
        <meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
        <meta name="author" content="Municipalidad de Córdoba">

        <meta property="og:title" content="Portal de la Ciudad de Córdoba">
        <meta property="og:description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/PortalDeLaCiudad.png">
        <meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/">
        <meta name="twitter:card" content="summary_large_image">

        <meta property="og:site_name" content="#PortalDeLaCiudad">
        <meta name="twitter:image:alt" content="#PortalDeLaCiudad">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}Qhapax{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="/static/website/{{website.template}}/css/bootstrap.min.css" rel="stylesheet">
        <!-- Muni -->
        <link href="/static/website/{{website.template}}/css/base.css" rel="stylesheet">
<!--         <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
		<link href='https://fonts.googleapis.com/css?family=Lato:700,400,400i,200,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:200,400,500,700' rel='stylesheet' type='text/css'>

        <link href="/static/website/{{website.template}}/css/funcionarios.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/website/{{website.template}}/js/bootstrap.min.js"></script>
        <script src="/static/website/{{website.template}}/js/stickyHeader.js"></script>

<!--         <script src="https://use.fontawesome.com/c6be627bcd.js"></script> -->
        <link rel="stylesheet" href="/static/website/{{website.template}}/fonts/muni-icons/style.css">
	    <!--[if lt IE 8]><!-->
	    <link rel="stylesheet" href="/static/website/{{website.template}}/fonts/muni-icons/ie7/ie7.css">
      <link rel="stylesheet" href="/static/website/{{website.template}}/fonts/RecursosMuni/style.css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="/static/website/{{website.template}}/fonts/RecursosMuni/ie7/ie7.css">
    {% block custom_css %}
    {% endblock %}
    </head>
    <body>
    {% block slider %}
    {% endblock %}
    {% block header_menu %}
	<nav class="navbar navbar-muni navbar-fixed-top" id="header">
		<div class="container">
		<div class="row menu-w-si">
            <div class="col-md-5 col-sm-5">
                <a href="/"><img src="/static/website/{{website.template}}/images/munilogo.png" class="img-responsive menu-logo"></a>
			</div>
            <div class="col-md-5 col-lg-offset-2 col-md-offset-2 col-sm-6 col-sm-offset-0">
                <div id="menu-container" class="pull-right">
                    <ul role="tablist" class="menu nav nav-pills">
	                    <li role="presentation"><a href="https://twitter.com/municba" class="pull-right social-icon-menu social-icon" target="_blank"><span class="icon-twitter icon-circle"></span></a>
	                    </li>
	                    <li role="presentation"><a href="https://www.facebook.com/MuniCba/" class="pull-right social-icon-menu social-icon" target="_blank"><span class="icon-facebook icon-circle"></span></a>
	                    </li>
                        <li class="active" role="presentation">
                            <a href="/">Inicio</a>
						</li>
                        <li class="dropdown" role="presentation">
                            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="muni-caret"></span> Secciones </a>
                            <ul aria-labelledby="drop4" class="dropdown-menu dropdown-menu-right" id="menu1">

                        	    {% for seccion in secciones_principales %}
                        	    {% if seccion.activada %}
                            	    <li><a href="{{ seccion.url }}">{{ seccion.titulo }}</a></li>
                	            {% else %}
                	                <li><a>{{ seccion.titulo }}</a></li>
                        	    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
        </div>
	</nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
        <div id="footer">
            <div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
	    <p>Ante cualquier consulta no dudes en acercarse a:<br/>
	    <a href="https://www.google.com.ar/maps/place/Av.+Marcelo+T.+de+Alvear+120,+X5000KGQ+C%C3%B3rdoba/@-31.4153772,-64.1932887,17z/data=!3m1!4b1!4m5!3m4!1s0x9432a281a2b7f565:0xc316360d08b4e47f!8m2!3d-31.4153772!4d-64.1911?hl=en" target="_blank">Marcelo T. de Alvear 120 - Planta Baja</a><br/>
        Secretaría de Modernización, Comunicación y Desarrollo Estratégico.<br/>
        También podes llamarnos a: <a target="_blank" href="tel:+543514275600">0351-428 56 00</a> o escribirnos a: <a href="mailto:gobiernoabierto@cordoba.gov.ar">gobiernoabierto@cordoba.gov.ar</a></p>
    </div>
            </div>
        </div>
        <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79840006-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="/static/website/{{website.template}}/js/fbshare.js"></script>
    <script src="/static/website/{{website.template}}/js/jquery.backstretch.min.js"></script>
    <script src="/static/website/{{website.template}}/js/header.js"></script>
    <script src="/static/website/{{website.template}}/js/jquery.nicescroll.min.js"></script>
    </body>
</html>
