{# HOME del portal de datos #}

{% extends extends_from %}

{% block title %}{{ portal.titulo }}{% endblock %}
{% block content %}

<section id="main" class="container">
	<div class="row">
	<h1 class="portal-heading dark-mode">
            <span class="heading-gob"
                style="font-size: 36px;color: black;">{{ website.titulo }}</span><br/>
            <span class="heading-nombre"
                style="font-size: 24px;color: black;">Datos abiertos</span>
        </h1>
    </div>
		<div class="row box search-box organigrama">
	    <div class="row">
		    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
			   <form action="/search" method="GET">
				    <div class="input-group">
						<input type="text" name="q" 
						    class="form-control input-translucent" 
						    placeholder="¿Que datos estás buscando?">
						<input type="hidden" name="models" value="portaldedatos.datoportal">
						<input type="hidden" name="models" value="portaldedatos.categoriaportaldatos">
						
						<span class="input-group-btn">
				        	<button class="btn btn-default input-translucent" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
		    		</div>
	    		</form>
		    </div>
	    </div>
    </div>
    <section class="box">
	    <header>
                <div class="row">
                    <div class="col-md-10 ">
                        <h3 class="tit-funcionarios">{{ portal.titulo }}</h3>
                    </div>
                    <div class="col-md-2 col-sm-3 subt-funcionarios subt-funcionarios-seccion volver" align="right"> <a href="javascript:history.back()"> <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 heading-back"> <i>
                        <h4 class="subt-funcionarios">{{ dato.descripcion }}</h4>
                        </i> </div>
                </div>
        </header>
        <div class="features-row">

        <p class="text-funcionarios">
        {{ portal.html|safe }}
        </p>

        <div class="heading-reparticion version-datos" id="heading-section">
            <h3 class="subtitle-version-datos" >Categorías</h3>
        </div>

       <br>
        <div class="row">
        {% for categoria in portal.categoriaportaldatos_set.all|dictsort:"nombre" %}
		    <div class="col-sm-6 col-md-6 col-xs-12">
			    <a href="{% url 'website.portaldatos.categoria' portal.slug categoria.slug %}"><button type="button" class="btn-default portal col-xs-12 panel-dato" aria-label="">
					{{ categoria.nombre }} ({{ categoria.recursos|length }})
				</button>
				</a>
			</div>
			{% if forloop.counter|divisibleby:2 %}
				<div class="clearfix"></div>
			{% endif %}
		{% endfor %}

        </div>




        </div>
        <div class="volver-margin"></div>
            <div class="row nopadding">
                <div class="col-md-12 col-xs-12 volver-footer bot-m volver volver-margin"> <a href="javascript:window.history.back()"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>
            </div>
    </section>

</section>
<script src="/static/website/{{website.template}}/js/header-dark.js"></script>
<script src="/static/website/{{website.template}}/js/animation-dato.js"></script>
	<script>
	    $(function () {
	        $.backstretch([
	            "/static/website/{{website.template}}/images/datos.jpg",
	        ]);
	    });
	</script>

{% endblock %}
