{# un dato del portal de datos #}

{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ dato.titulo }} {% endblock %}
{% block content %}
<section id="main" class="container">
	<div class="row">
		<h1 class="portal-heading dark-mode">Portal de <span class="heading-gob">GOBIERNO ABIERTO</span><br/>
	        <span class="heading-nombre">DATOS DE CÓRDOBA</span>
        </h1>
    </div>
		<div class="row box search-box organigrama">
	    <div class="row">
		    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
			   <form action="/search" method="GET">
				    <div class="input-group">
						<input type="text" name="q" class="form-control input-translucent" placeholder="¿A quién buscás?...">
						<span class="input-group-btn">
				        	<button class="btn btn-default input-translucent" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
		    		</div>
	    		</form>
		    </div>
	    </div>
    </div>
        <section class="box">
            <header>
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="tit-funcionarios">{{ dato.titulo }}</h3>
                    </div>
                    <div class="col-md-2 col-sm-3 subt-funcionarios subt-funcionarios-seccion volver" align="right">
                        <a href="javascript:history.back()">
                            <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" />
                            Volver
                        </a>
                    </div>
                </div>
            </header>

            <div class="row">
                <span class="col-md-12 col-sm-12">
                    <h4>
                        <a target="_blank" href="{% url 'website.portaldatos.categoria' dato.categoria.portal.slug dato.categoria.slug %}">
        					<b>Categoría:</b> {{ dato.categoria.nombre }}
        				</a>.
                        <b>Actualización:</b> {{ dato.get_periodicidad_display }}<h4>
                </span>
            </div>
            <div class="row">
                <span class="col-md-12 col-sm-12">
                    {{ dato.html|safe }}
                </span>
            </div>


            {# cada una de las versiones del dato ordenadas inversamente para ver las mas nuevas #}
            <div class="row"><div id="grid" data-columns>
							{% for ver in versiones %}

                <!-- <div class="col-sm-12 col-md-6"> -->
                    <section class="panel panel-default">
                        <div class="panel-body datos">
                            <div class="row">
                                <div class="col-md-9 col-sm-10">
                                    <div class="row">
                                        <div class="col-md-12">
<h3 class="title-version-datos">{{ ver.titulo|safe }}</h3>
                                        </div>
                                        <div class="col-md-12">
                                        {% for fuente in ver.fuentes.all %}
                                            <i>{{ fuente.nombre }}</i>
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %} </div>
                                        <div class="col-md-12">
                                        {{ ver.html|safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-2 col-xs-4 nopadding">
                                    <div class="date">
                                        <p>{{ver.fecha|date:"d"}} <span>{{ver.fecha|date:"M 'y"}}</span></p>
                                       </div>
                                </div>

																<div class="col-md-12 licences-box">
																	<b>Sobre las licencias de uso de los recursos</b>
																	{% for recurso in ver.recursos %}
																			<br /><b>{{ recurso.titulo }}</b>:

																			{% if recurso.licencia %}
																				Licencia: <span class="licence-name" title="{{ recurso.licencia.descripcion }}">{{ recurso.licencia.titulo }}</span>.
																			{% else %}
																				Sin licencia especificada todavía..
																			{% endif %}
																	{% endfor %}

																</div>

                            </div>
                        </div>
                        <div class="panel-footer downloads">
                          <div class="row"><div class="row-height">

													{# recurso.tipo.tipo 10:Archivo 20:webservice 30:db 40:referencia 50:Google#}

{% for recurso in ver.recursos %}

						    {% if recurso.tipo.tipo == 10 %}
{% if ver.recurso_set.all.count > 4 %}
<div class="col-xs-12 file no-round-first file-{{recurso.archivo.icon}}">
    <center>
{% else %}
    <div class="col-md-{% widthratio 12 ver.recurso_set.all.count 1 %}
    			col-sm-{% widthratio 12 ver.recurso_set.all.count 1 %}
    			col-xs-12 file file-{{recurso.archivo.icon}} col-height col-middle">
    <center>
{% endif %}
    {# Archivos para descargar #}
    <a href="{{recurso.archivo.url}}" target="_blank">
        <i class="icon-file-{{recurso.archivo.icon}}" aria-hidden="true"></i> Descargar {{ recurso.titulo|default_if_none:"archivo" }}
    </a>
    </center>
</div>

						    {% elif recurso.tipo.tipo == 20 %}
{% if ver.recurso_set.all.count > 4 %}
    <div class="col-xs-12 file no-round-first file-{{recurso.webservice.icon}}">
    <center>
{% else %}
    <div class="col-md-{% widthratio 12 ver.recurso_set.all.count 1 %}
			col-sm-{% widthratio 12 ver.recurso_set.all.count 1 %}
			col-xs-12 file file-{{recurso.webservice.icon}} col-height col-middle">
    <center>
{% endif %}
{# Webservice #}

    <a href="{{recurso.webservice.url_externa}}" target="_blank">
        <i class="icon-file-{{recurso.webservice.icon}}" aria-hidden="true"></i> Ver dato. {{ recurso.titulo|default_if_none:"" }}
    </a>
</center>
</div>



						    {% elif recurso.tipo.tipo == 40 %}
{% if ver.recurso_set.all.count > 4 %}
    <div class="col-xs-12 file no-round-first file-{{recurso.referencialink.icon}}">
    <center>
{% else %}
    <div class="col-md-{% widthratio 12 ver.recurso_set.all.count 1 %}
    			col-sm-{% widthratio 12 ver.recurso_set.all.count 1 %}
    			col-xs-12 file file-{{recurso.referencialink.icon}} col-height col-middle">
    <center>
{% endif %}
    {# Link a recurso externo u otros con URL externa #}
    <a href="{{recurso.referencialink.url_externa}}" target="_blank">
        <i class="icon-file-{{recurso.referencialink.icon}}" aria-hidden="true"></i> Ir al recurso. {{ recurso.titulo|default_if_none:"" }}
    </a>
</center>
</div>

                            {% elif recurso.tipo.tipo == 50 %}
{% if ver.recurso_set.all.count > 4 %}
    <div class="col-xs-12 file no-round-first file-{{recurso.googlesheetresource.icon}}">
    <center>
{% else %}
    <div class="col-md-{% widthratio 12 ver.recurso_set.all.count 1 %}
                col-sm-{% widthratio 12 ver.recurso_set.all.count 1 %}
                col-xs-12 file file-{{recurso.googlesheetresource.icon}} col-height col-middle">
    <center>
{% endif %}
    {# Link a recurso externo u otros con URL externa #}
    <a href="{{recurso.googlesheetresource.url_externa}}" target="_blank">
        <i class="icon-file-{{recurso.googlesheetresource.icon}}" aria-hidden="true"></i> Ir al recurso. {{ recurso.titulo|default_if_none:"" }}
    </a>
</center>
</div>

													    {% endif %}

													{% endfor %}
													</div></div>
                        </div>
                    </section>
                <!-- </div> -->
                {% endfor %} </div></div>

            <div class="volver-margin"></div>
            <div class="row nopadding">
                <div class="col-md-12 col-xs-12 volver-footer bot-m volver volver-margin"><a href="javascript:window.history.back()"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>
            </div>
        </section>
</section>
<script src="/static/website/{{website.template}}/js/header-dark.js"></script>
<script src="/static/website/{{website.template}}/js/salvattore.min.js"></script>
<script>
	    $(function () {
	        $.backstretch([
	            "/static/website/{{website.template}}/images/datos.jpg",
	        ]);
	    });
	</script>

{% endblock %}
