{% extends extends_from %}

{% block title %} Estado de Obra {% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="/static/obras/css/animate.min.css">
<link rel="stylesheet" href="/static/obras/css/obras.css">

{% endblock %}

{% block header_menu %}
	<nav class="navbar navbar-muni-new navbar-fixed-top sticky" id="header">
		<div class="container">
		<div class="row menu-w-si">
            <div class="col-md-5 col-sm-5">
                <a href="/"><img src="/static/website/{{website.template}}/images/munilogo.png" class="img-responsive menu-logo-new"></a>
			</div>
            <div class="col-md-5 col-lg-offset-2 col-md-offset-2 col-sm-6 col-sm-offset-0">
                <div id="menu-container" class="pull-right">
                    <ul role="tablist" class="menu nav nav-pills">
	                    <li role="presentation"><a href="https://twitter.com/municba" class="pull-right social-icon-menu social-icon" target="_blank"><span class="icon-twitter icon-circle"></span></a>
	                    </li>
	                    <li role="presentation"><a href="https://www.facebook.com/MuniCba/" class="pull-right social-icon-menu social-icon" target="_blank"><span class="icon-facebook icon-circle"></span></a>
	                    </li>
                        <li class="active" role="presentation">
                            <a href="/">Inicio</a>
						</li>
                        <li class="dropdown" role="presentation">
                            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="muni-caret"></span> Secciones </a>
                            <ul aria-labelledby="drop4" class="dropdown-menu dropdown-menu-right" id="menu1">

                        	    {% for seccion in secciones_principales %}
                        	    {% if seccion.activada %}
                            	    <li><a href="{{ seccion.url }}">{{ seccion.titulo }}</a></li>
                	            {% else %}
                	                <li><a>{{ seccion.titulo }}</a></li>
                        	    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
        </div>
	</nav>
    {% endblock %}
{% block content %}
<section>
  <div class="container inFContainer">
		<div class="row">
      <div class="col-md-12 nopadding">
        <h1 class="tituloObras"><img src="/static/obras/images/logo.png" height="75"/>Nuestras Obras</h1>
      </div>
    </div>
    <h1 class="tituloObra" id="tituloObra"></h1>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <div class="colInfo">
          <div class="boxInfo">
            <div class="row">
              <div class="col-xs-8 colExp">
                <p>
                  Expediente: <span id="expedienteNro"></span><br />
                  Decreto:  <span id="decretoNro"></span>
                </p>
              </div>
              <div class="col-xs-4 colExp">
                <p id="tipoObra" class="tipoObra">
                </p>
              </div>
            </div>
          </div>
          <div class="boxInfo indent">
            <p>
              Inicio estimado: <span id="fechaInicio"></span>
            </p>
          </div>
          <div class="boxInfo indent">
            <p>
              Presupuesto: $ <span id="montoPresupuesto"></span>
            </p>
          </div>
          <div class="boxInfo indent">
            <p>
              Contratista: <span id="contratista"></span>
            </p>
          </div>
          <div class="boxInfo indent">
            <p>
              Barrios: <span id="barrios"></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div>
          <div id="carousel-images" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" id="indicators">
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" id="items" role="listbox">
            </div>

            <!-- Controls -->
            <div id="controls">
              <a class="left carousel-control" data-target="#carousel-images" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="right carousel-control" data-target="#carousel-images" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
              </a>
            </div>

            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="mapa">
        </div>
      </div>

    </div>
  </div>
          <script>
            var map;
            var tipos = {};
            var initMap = function() {
              let infowindow = new google.maps.InfoWindow();
                map = new google.maps.Map(
                document.getElementById("mapa"), {
                  center: new google.maps.LatLng(-31.420116, -64.1910517),
                  zoom: 12,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  styles: [
                    {
                      featureType: "poi",
                      elementType: "labels",
                      stylers: [
                        { visibility: "off" }
                      ]
                    }
                  ]
                });

                map.data.setStyle(feature => {
                  const SD_NAME = feature.getProperty('SD_NAME');
                  return {
                    strokeColor: tipos[feature.getProperty('tipo')]
                  }
                });
                map.data.addListener('click', function(event) {
                  let html = "";
                  const nombre = event.feature.getProperty("nombre");

                  let url = nombre.split('-')[0].split('(')[0].trim().split(' ').join('-');
                  url = url.normalize('NFD').replace(/[\u0300-\u036f]/g, "");
                  url = event.feature.getId()+'/'+encodeURIComponent(url).toLowerCase();

                  const progreso = event.feature.getProperty("porcentaje_completado");
                  let htmlProgreso = ""
                  switch(progreso) {
                    case '100.00': htmlProgreso = "<p style='font-weight:500;margin-bottom:0'>Finalizado: " + progreso + " %</p>"; break;
                    case '0.00': htmlProgreso = "<p style='font-weight:500;margin-bottom:0'>Por iniciar</p>"; break;
                    default: htmlProgreso = "<p style='font-weight:500;margin-bottom:0'>En progreso: " + progreso + " %</p>"; break;
                  }
                  html = '<a style="text-decoration:none;margin-bottom:5px;display:block;" href="'+url+'"><strong style="color:#00a665 !important">'+nombre+'</strong></a>';
                  html += htmlProgreso;
                  html += event.feature.getProperty("monto") != 0 ? "<p style='font-size:12px;margin-bottom:0'>Inversión:</p> <p style='font-weight:500;margin-bottom:0'>$ " + parseFloat(event.feature.getProperty("monto")).toLocaleString()+"</p>" : "";
                  html += "<div style='vertical-align:middle;display:inline-block;width:calc(100% - 30px)'><p style='font-size:12px;margin-bottom:0'>Tipo:</p><p style='font-weight:500;margin-bottom:0'>" + event.feature.getProperty("tipo")+"</p></div><div style='display:inline-block;width:30px;vertical-align:middle;text-align:right'><img style='width:100%' alt='"+event.feature.getProperty("tipo")+"' src='https://www.cordoba.gob.ar/wp-content/uploads/2017/11/"+event.feature.getProperty("tipo_id")+".png' /></div>";
                  infowindow.setContent("<div style='width:200px;font-size:16px'>"+html+"</div>");
                  infowindow.setPosition(event.latLng);
                  infowindow.open(map);
              });


            }
          </script>

          <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
          <!-- <script type="text/javascript" src="/static/obras/js/animateNumber.js"></script> -->
          <script src="/static/obras/js/getObra.js"></script>


          <script>
          $(function() {
          		$('.colExp').matchHeight();
          });
          </script>


          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhFsFdUG-xV-ZJjMyudfbBue7qnsA-odM&callback=initMap"></script>

</section>
{% endblock %}
