{% extends extends_from %}

{% block title %}{{ web_funcionarios.titulo }}{% endblock %}

{% block content %}
<section id="main" class="container">
	<div class="row">
	<h1 class="portal-heading dark-mode">
            <span class="heading-gob" 
                style="font-size: 36px;color: white;">{{ website.titulo }}</span><br/>
	        <span class="heading-nombre" style="font-size: 24px;color: white;">Funcionarios públicos</span>
        </h1>
    </div>
    <div class="row box search-box organigrama">
	    <div class="row">
		    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
			   <form action="/search" method="GET">
				    <div class="input-group">
						<input type="text" name="q" class="form-control input-translucent" placeholder="¿A quién buscás?...">
						<span class="input-group-btn">
				        	<button class="btn btn-default input-translucent" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
		    		</div>
	    		</form>
		    </div>
	    </div>
    </div>
	<section class="box">
	<header>
	    <div class="row">
	        <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3 subt-funcionarios volver" align="right"> <a href="/"> <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>
	    </div>
	</header>
	<div class="row nopadding">
	<div class="well well-funcionarios"> 
	    <!-- Cargo -->
	    <div class="row">
	        <div class="col-md-12">
	            <div class="col-md-4 col-md-offset-2 col-sm-12 col-xs-12 height_parent_head" align="right"> <a target="_self" class="nombre" href="{%  url 'website.funcionarios.oficina' web_funcionarios.cargo.slug web_funcionarios.cargo.id %}" >
	                <div class="circle-profile circle-profile-int" style="background-image: url('{{ web_funcionarios.cargo.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}')"></div>
	                </a> </div>
	            <div class="col-md-4 col-sm-12 col-xs-12 profile-info parent_head" align="left">
	                <div class="row profile-info-title">
	                    <div class="col-md-12 "> <a href="{% url 'website.funcionarios.oficina' web_funcionarios.cargo.slug web_funcionarios.cargo.id %}" class="intendente">{{ web_funcionarios.cargo.nombre }}</a> </div>
	                </div>
	                <div class="row profile-info-categoria">
	                    <div class="col-md-12"> {% if web_funcionarios.cargo.en_funcion_activa %} <a target="_self" class="nombre-intendente" href="{% url 'website.funcionarios.oficina' web_funcionarios.cargo.slug web_funcionarios.cargo.id %}" > <i>{{ web_funcionarios.cargo.en_funcion_activa.funcionario.nombrepublico }}</i> </a> {% endif %} </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-6">
	            <div style="height: 1px; width: 1px; background-color: #e3e3e3; margin-top:15px;" id="leftCorner1"></div>
	        </div>
	        <div class="col-md-6">
	            <div style="height: 1px; width: 1px; background-color: #e3e3e3; margin-top:15px; margin-left: -30px;" id="rightCorner1"></div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-6">
	            <div style="height: 1px; width: 1px; background-color: #e3e3e3;margin-top:20px; margin-left: -10px;" id="leftCorner2"></div>
	        </div>
	        <div class="col-md-6">
	            <div style="height: 1px; width: 1px; background-color: #e3e3e3;margin-top:20px; margin-left: -10px;" id="rightCorner2"></div>
	        </div>
	    </div>
	    {% for dependencia in dependencias %}
	    {% if not forloop.counter|divisibleby:2%}
	    <div class="row"> {% if forloop.last %}
	        <div class="col-lg-6 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 dependencias odd-column"> {% else %}
	            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias odd-column"> {% endif %}
	                {% else %}
	                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias even-column"> {% endif %} 

<div class="col-md-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 height_parent" align="right"> 

<a target="_self" class="nombre" href="{% url 'website.funcionarios.oficina_arbol' dependencia.slug dependencia.id %}" >
{% if dependencia.slug == "unidad-central-de-gestion" %} 
    <div class="circle-profile {% if not forloop.counter|divisibleby:2%}cp-left{% else %}cp-right{% endif %}" 
            style="background-image: url('/static/website/{{website.template}}/images/ucg.jpg');"></div>
{% else %}
{% if dependencia.en_funcion_activa.funcionario.foto %} 
    <div class="circle-profile {% if not forloop.counter|divisibleby:2%}cp-left{% else %}cp-right{% endif %}" 
            style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}');"></div>
{% else %}
    <div class="circle-profile {% if not forloop.counter|divisibleby:2%}cp-left{% else %}cp-right{% endif %}" 
            style="background-image: url('{{preferencias.default_persona_imagen}}');"></div>
{% endif %}
{% endif %}
</a>
</div>
	                    
	                    
	                    
<div class="col-md-7 col-sm-8 col-xs-12 cargo-info parent" >
    <div class="row profile-info-title ">
        <div class="col-md-12" id="categoria-link"> 
        {% if dependencia.en_funcion_activa.funcionario %} 
            <a 
                target="_self" 
                href='{% url 'website.funcionarios.oficina_arbol' dependencia.slug dependencia.id %}' 
                class="categoria">{{ dependencia.en_funcion_activa.cargo_gen }}</a>
        {% else %}
            <a 
                target="_self" 
                href='{% url 'website.funcionarios.oficina_arbol' dependencia.slug dependencia.id %}' 
                class="categoria">{{dependencia.oficina }}</a>
        {% endif %} 
        </div>
    </div>
    <div class="row profile-info-categoria">
        <div class="col-md-12"> 
        {% if dependencia.en_funcion_activa.funcionario %} 
            <a 
                target="_self" 
                class="nombre" 
                href="{% url 'website.funcionarios.oficina_arbol' dependencia.slug dependencia.id %}" ><i> {{ dependencia.en_funcion_activa.funcionario.nombrepublico }} </i></a> 
        {% else %}
            <a 
                target="_self" 
                class="nombre" 
                href="{% url 'website.funcionarios.oficina_arbol' dependencia.slug dependencia.id %}" ><i> Sin funcionario designado </i></a> 
        {% endif %} 
        </div>
    </div>
</div>
	                    
	                    
	                    
	                </div>
	                {% if forloop.counter|divisibleby:2%} </div>
	            {% endif %}
	            {% endfor %} 
	        <div class="row">
			   	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias odd-column">
				    <div class="col-md-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 height_parent" align="right"> 
						<a class="nombre">
							<div class="circle-profile" style="background-image: url('/static/website/{{website.template}}/images/proximamente.jpg');"></div>
						</a>
				    </div>
					<div class="col-md-7 col-sm-8 col-xs-12 cargo-info parent" >
					    <div class="row profile-info-title ">
					        <div class="col-md-12 "> 
					            <a class="categoria">Cormecor</a>
					        </div>
					    </div>
					    <div class="row profile-info-categoria">
					        <div class="col-md-12"> 
					            <a class="nombre"><i> Estamos desarrollándolo </i></a> 
					        </div>
					    </div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias even-column">
					<div class="col-md-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 height_parent" align="right"> 
						<a class="nombre">
							<div class="circle-profile" style="background-image: url('/static/website/{{website.template}}/images/proximamente.jpg');"></div>
						</a>
				    </div>
					<div class="col-md-7 col-sm-8 col-xs-12 cargo-info parent" >
					    <div class="row profile-info-title ">
					        <div class="col-md-12 "> 
					            <a class="categoria">Tribunal de Cuentas</a>
					        </div>
					    </div>
					    <div class="row profile-info-categoria">
					        <div class="col-md-12"> 
					            <a class="nombre"><i> Estamos desarrollándolo </i></a> 
					        </div>
					    </div>
					</div>
			    </div>
			</div>
			<div class="row">
			   	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias odd-column">
				    <div class="col-md-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 height_parent" align="right"> 
						<a class="nombre">
							<div class="circle-profile" style="background-image: url('/static/website/{{website.template}}/images/proximamente.jpg');"></div>
						</a>
				    </div>
					<div class="col-md-7 col-sm-8 col-xs-12 cargo-info parent" >
					    <div class="row profile-info-title ">
					        <div class="col-md-12 "> 
					            <a class="categoria">Tamse</a>
					        </div>
					    </div>
					    <div class="row profile-info-categoria">
					        <div class="col-md-12"> 
					            <a class="nombre"><i> Estamos desarrollándolo </i></a> 
					        </div>
					    </div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias even-column">
					<div class="col-md-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 height_parent" align="right"> 
						<a class="nombre">
							<div class="circle-profile" style="background-image: url('/static/website/{{website.template}}/images/proximamente.jpg');"></div>
						</a>
				    </div>
					<div class="col-md-7 col-sm-8 col-xs-12 cargo-info parent" >
					    <div class="row profile-info-title ">
					        <div class="col-md-12 "> 
					            <a class="categoria">CRESE</a>
					        </div>
					    </div>
					    <div class="row profile-info-categoria">
					        <div class="col-md-12"> 
					            <a class="nombre"><i> Estamos desarrollándolo </i></a> 
					        </div>
					    </div>
					</div>
			    </div>
			</div>
			<div class="row">
			   	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias odd-column">
				    <div class="col-md-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 height_parent" align="right"> 
						<a class="nombre">
							<div class="circle-profile" style="background-image: url('/static/website/{{website.template}}/images/proximamente.jpg');"></div>
						</a>
				    </div>
					<div class="col-md-7 col-sm-8 col-xs-12 cargo-info parent" >
					    <div class="row profile-info-title ">
					        <div class="col-md-12 "> 
					            <a class="categoria">ESOP</a>
					        </div>
					    </div>
					    <div class="row profile-info-categoria">
					        <div class="col-md-12"> 
					            <a class="nombre"><i> Estamos desarrollándolo </i></a> 
					        </div>
					    </div>
					</div>
				</div>
				
			</div>
			</div>
	    </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-12 text-funcionarios"> {{ web_funcionarios.html|safe|linebreaksbr }} <!-- Esto es el HTML que se pone en el Admin de Django--> 
	        </div>
	    </div>
	    <div class="row nopadding">
	        <div class="col-md-12 col-xs-12 volver-footer bot-m volver"> <a href="/"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>
	    </div>
	    </section>
	</section>
	
	<!-- Responsive Bootstrap Toolkit --> 
	<script src="/static/website/{{website.template}}/js/bootstrap-toolkit.min.js"></script> 
	<script src="/static/website/{{website.template}}/js/jquery.connections.js"></script> 
	<script src="/static/website/{{website.template}}/js/funcionarios-grid.js"></script> 
	<script src="/static/website/{{website.template}}/js/animation.js"></script> 
	<script src="/static/website/{{website.template}}/js/header.js"></script> 
	<script>
	    $(function () {
	        $.backstretch([
	            "/static/website/{{website.template}}/images/organigrama.jpg",
	        ], {duration: 3000, fade: 750});
	    });
	</script>
{% endblock %}
