{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}
{% block content %}

<div id="main" class="container homepage">
    <div class="row">
        <h1 class="portal-heading dark-mode">
            <span class="heading-gob" 
                style="font-size: 26px;color: white;">Plataforma de Gobierno Abierto</span>
            <br/>
            <span class="heading-gob" 
                style="font-size: 36px;color: white;">{{ website.titulo }}</span>
            </h1>

    </div>
    <div class="row box search-box">
		    <div class="row">

		    	<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				    <form action="/search" method="GET">
					    <div class="input-group">
							<input type="text" name="q" class="form-control input-translucent" placeholder="¿Qué estás buscando?...">
							<span class="input-group-btn">
					        	<button class="btn btn-default input-translucent" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</span>
		    			</div>
	    			</form>
			    </div>
		    </div>
    </div>
    <div class="row box">
        {% for seccion in secciones_principales %}
			{% if seccion.activada %}
			    <a href="{{ seccion.url }}">
	        {% endif %}
	        <div class="col-md-3 col-sm-6 item box-item-{{ forloop.counter }} {% if forloop.counter|divisibleby:4 or forloop.last %}last{% endif %}{% if not seccion.activada %} desactivated {% endif %}">
	            <div class="content-section-title">
	                <p class="section-title">{{ seccion.titulo }}</p>
	            </div>
	            <div class="pilar">
		            {{ seccion.categoria }}
	            </div>
	<!--             <div class="divider-green center-block"></div> -->
	
	            <div class="circle-profile image-hover-efect" id="box-image-one" style="background: rgba(0, 0, 0, 0) url({{ seccion.imagen }}) repeat scroll 0 0 / cover">
	                <div class="circle-inner"></div>
	            </div>
	        </div>
	        {% if seccion.activada %}</a>{% endif %}
	
	        {% if forloop.counter|divisibleby:4 and not forloop.last %}
	            </div> <div class="row box">
	        {% endif %}

        {% endfor %}
        
        </div>


        <div class="row">
             <div class="col-md-10 col-md-offset-1">
                <iframe width="100%" height="550" 
    src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1-3362OsfFPCMP4e0CyNRqyFFN5K2dwckBk5J4QM4BzY&font=Default&lang=en&initial_zoom=2&height=540" 
        frameborder="0" wmode="transparent" allowfullscreen style="border-radius: 20px !important;"></iframe>
             </div>
        </div>

        <div class="row">
             <div class="col-md-10 col-md-offset-1">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/2R3xbXWgSco" frameborder="0" wmode="transparent" allowfullscreen style="border-radius: 20px !important;"></iframe>
             </div>
        </div>

    

    </div>
</div>
<script>
	
    $(function () {

		$.backstretch([
            "/static/website/{{website.template}}/images/bg/slide-1.jpg",
            "/static/website/{{website.template}}/images/bg/slide-2.jpg",
            "/static/website/{{website.template}}/images/bg/slide-3.jpg",
            "/static/website/{{website.template}}/images/bg/slide-4.jpg",
            "/static/website/{{website.template}}/images/bg/slide-5.jpg",
            "/static/website/{{website.template}}/images/bg/slide-6.jpg",
            "/static/website/{{website.template}}/images/bg/slide-7.jpg",
            "/static/website/{{website.template}}/images/bg/slide-8.jpg",
            "/static/website/{{website.template}}/images/bg/slide-9.jpg",
            "/static/website/{{website.template}}/images/bg/slide-10.jpg",
        ], {duration: 12000, fade: 1000});
    });
</script>
{% endblock %}
