{% extends extends_from %}
{% block title %}{# Plan de metas: #}{{ plan.titulo }}{% endblock %}
{% block content %}
<div id="main" class="container page-section plan-de-metas">
    <div id="gob-title" class="row">
        <h1 class="portal-heading dark-mode">
            <span class="heading-gob" 
                style="font-size: 36px;color: white;">{{ website.titulo }}</span><br/>
            <span class="heading-nombre" 
                style="font-size: 24px;color: white;">Plan de metas</span>
        </h1>
    </div>
    <div class="row box search-box">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12 componentes">
                <button class="btn btn-warning btn-plan-meta" data-toggle="modal" data-target="#plandemeta">¿QUE ES PLAN DE METAS?</button>
                <div id="plandemeta" class="modal fade metas-modal" tabindex="-1" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title modal-obj-title">PLAN DE METAS</h4>
                                </div>
                                <div class="modal-body text-justify" style="max-height:380px; overflow-y: auto;">
                                    Es un orgullo que la Municipalidad de Córdoba pueda contar con dos Planes de Metas para cuatro años de gestión, esta vez para el período 2016-2019, ahora además sustentamos el plan de Metas con el desarrollo de una aplicación web para poder monitorear el cumplimiento del mismo, desarrollado totalmente con software libre par que cualquier municipio u organismo que lo requiera lo tenga. El Plan de Metas se realiza en cumplimiento con lo establecido en la Ordenanza Nº 11.942, destacando a esta Gestión Municipal como la primera de la cuidad de Córdoba y una de las pocas de nuestro país en presentar ante los ciudadanos una herramienta de semejantes características.<br><br>

Este instrumento constituye una herramienta de planificación interna y de articulación de esfuerzos para el desarrollo de la ciudad, que permite al ciudadano informarse en detalle sobre las metas y compromisos de la gestión municipal para los próximos cuatro años y realizar un seguimiento de los avances y logros alcanzados; y por otro lado, constituye un medio para identificar obstáculos y reorientar las acciones de gobierno en función de los objetivos definidos cuando fuere necesario.<br><br>

Por estos motivos, la elaboración del Plan de Metas, resulta imprescindible para la identificación de prioridades y asignación de recursos en un contexto de incertidumbre siendo consistente con el compromiso de lograr mayor eficiencia, eficacia y calidad en los servicios que el Municipio provee. Al mismo tiempo, instaura canales de acceso a la información, en línea con el fortalecimiento de la política de Gobierno Abierto impulsada por esta Gestión Municipal, brindándole al ciudadano la posibilidad de participar y aportar de una manera más informada en los asuntos referidos a la Ciudad.<br><br>

Cabe destacar que por su labor en la elaboración e implementación del “Plan de Metas de Gobierno 2012-2015”, este Gobierno obtuvo en el mes de octubre de 2014 el premio UIM (Unión Iberoamericana de Municipalistas)-FLACMA (Federación Latinoamericana de Ciudades Municipios y Asociaciones de Gobiernos Locales) de “Buenas Prácticas y Experiencias de Gestión Local”. Asimismo, a partir de esta experiencia se ha llevado a cabo un proceso de maduración que ha permitido reflexionar sobre diversos aspectos metodológicos y conceptuales. En este sentido, este nuevo Plan de Metas se fortalece como herramienta de gestión y planificación interna y de transparencia y control para el vecino.<br><br>

En cuanto a la estructura del presente documento, se ordena en cuatro lineamientos estratégicos que orientan al futuro soñado: Córdoba Sustentable, Córdoba Competitiva, Córdoba Equitativa e Inclusiva y Desarrollo Institucional. Estos Lineamientos Estratégicos se integran con 22 Componentes temáticos en el marco de los cuales intervienen una o más áreas municipales. Cada componente contiene Objetivos y para cada uno de éstos se definen sus correspondientes Metas, a las que este Gobierno se compromete ejecutar en el período 2016-2019 mediante la realización de diversas actividades.<br><br>

Se pone a disposición de la comunidad el presente Plan de Metas, en el que se plasma el ejercicio de pensar la ciudad y la organización del trabajo para desarrollarla, entendiendo que los procesos de planificación no están acabados, y que por el contrario, deben estar abiertos a la construcción continua, atendiendo a las nuevas realidades de la ciudad y de todos los vecinos.

                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="display:none;">
                                    <a id="goback" href="javascript:void(0)"  style="color:#FFF" class="pull-left"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button"> volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12" style="padding-left:0px;">
                <form action="/search" method="GET">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control input-translucent" placeholder="¿Qué meta estás buscando?...">
                        <input type="hidden" name="models" value="plandemetas.lineamiento">
                        <input type="hidden" name="models" value="plandemetas.componente">
                        <input type="hidden" name="models" value="plandemetas.objetivo">
                        <input type="hidden" name="models" value="plandemetas.meta">
                        <span class="input-group-btn">
                            <button class="btn btn-default input-translucent" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 nopadding video-col componentes">
                <div id="videoModal" class="modal fade metas-modal" tabindex="-1" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title modal-obj-title">Plan de Metas</h4>
                                </div>
                                <div class="modal-body">
                                    <iframe width="100%" height="500" src="" frameborder="0" allowfullscreen></iframe>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="display:none;">
                                    <a id="goback" href="javascript:void(0)"  style="color:#FFF" class="pull-left"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button"> volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="more-info-sustentable" class="modal fade metas-modal" tabindex="-1" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title modal-obj-title">CORDOBA SUSTENTABLE</h4>
                                </div>
                                <div class="modal-body text-justify">
                                    La Municipalidad de Córdoba promueve el desarrollo de una Ciudad sustentable, mediante la planificación integral para el reordenamiento de su territorio, y la movilidad urbana eficiente, la gestión adecuada de sus recursos naturales y del ambiente urbano, un manejo integral de los residuos sólidos urbanos, el cuidado de su patrimonio material e inmaterial y el desarrollo de la infraestructura adecuada para construir juntos una Córdoba enfocada hacia las generaciones futuras.
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="display:none;">
                                    <a id="goback" href="javascript:void(0)"  style="color:#FFF" class="pull-left"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button"> volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="more-info-competitiva" class="modal fade metas-modal" tabindex="-1" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title modal-obj-title">CORDOBA COMPETITIVA</h4>
                                </div>
                                <div class="modal-body text-justify">
                                    Promover la competitividad económica, favorecer el reordenamiento territorial de industrias y empresas, mejorar la infraestructura de servicios básicos y de movilidad para las mismas, y fortalecer el vínculo público-privado es el desafío del Municipio. Se deben generar empresas innovadoras que ofrezcan empleo estable para la mejora de la calidad de vida de los cordobeses, implementando programas de apoyo a emprendedores en un ecosistema que se encuentra en continuo crecimiento y promoviendo al turismo como eje del desarrollo económico, para la integración e inserción de la ciudad en los escenarios nacional e internacional.
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="display:none;">
                                    <a id="goback" href="javascript:void(0)"  style="color:#FFF" class="pull-left"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button"> volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="more-info-inclusiva" class="modal fade metas-modal" tabindex="-1" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title modal-obj-title">CORDOBA EQUITATIVA E INCLUSIVA</h4>
                                </div>
                                <div class="modal-body text-justify">
                                    La Municipalidad de Córdoba garantiza el acceso a los bienes y servicios públicos esenciales de salud, educación, cultura, deporte y vivienda, especialmente para aquellos grupos en situación de riesgo y vulnerabilidad social. El objetivo es generar igualdad de oportunidades en el marco de la promoción del desarrollo social y construir una Córdoba incluyente, que promueve y garantiza derechos a su población, contribuyendo a la convivencia ciudadana y a la construcción de más y mejor ciudadanía en un contexto de seguridad integral de la comunidad.
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="display:none;">
                                    <a id="goback" href="javascript:void(0)"  style="color:#FFF" class="pull-left"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button"> volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="more-info-instetucional" class="modal fade metas-modal" tabindex="-1" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog vertical-align-center modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title modal-obj-title">DESARROLLO INSTITUCIONAL</h4>
                                </div>
                                <div class="modal-body text-justify">
                                    La Municipalidad de Córdoba promueve el desarrollo institucional comprendiendo que los cambios económicos, tecnológicos, políticos y culturales implican la adaptación y adecuación de las instituciones a las nuevas reglas de un mundo globalizado. En este sentido, se promueven políticas de Gobierno Abierto y participación ciudadana, modernización, descentralización de servicios municipales, control ciudadano en pos de una mejor convivencia, desarrollo de las relaciones institucionales y el fortalecimiento de su capital humano.
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="display:none;">
                                    <a id="goback" href="javascript:void(0)"  style="color:#FFF" class="pull-left"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button"> volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- com 1 -->
        {% for linea in lineamientos %}
        <div class="col-md-6 col-xs-12 nopadding">
            <div class="comp comp{{forloop.counter}} {% if forloop.counter|divisibleby:2 %}
                 pull-left
                 {% else %}
                 pull-right
                 {% endif %}" style="background: {{linea.color_1}}">
                <div data-toggle="" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse1" class="col-md-12 nopadding">
                    <div class="col-md-12">
                        <i class="glyphicon glyphicon-info-sign more-info" data-target="{{forloop.counter}}"></i>
                        <a class="section-title linea-title center-block middle-box" style="cursor: pointer;">{{ linea.titulo }}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
                    <div class="panel-body">
                        <div class="components row col-md-12">
                            <ul>
                                {% for componente in linea.componente_set.all %}
<li>
<a href="{% url 'website.plandemetas.componente' plan.slug linea.slug componente.id%}#componente-{{componente.id}}">{{ componente.titulo }}</a>
</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
<div class="row">
        	 <div class="col-md-6 col-md-offset-3 video-box-pm">
			 	<iframe width="100%" height="300" src="https://www.youtube.com/embed/YBPa9xFOXD8" frameborder="0" wmode="transparent" allowfullscreen style="border-radius: 20px !important;"></iframe>
        	 </div>
		</div>

    </div>
</div>
<br>
<script>
	$(window).load(function(){
		var no_display_pm = localStorage.getItem('no_display_pm');
		if (no_display_pm !== 'true') {
        	$('#videoModal').modal('show');
        }
        localStorage.setItem('no_display_pm', 'true');
    });
$(function () {
	
    $('.section-title.linea-title.center-block.middle-box').on('click', function (event) {
        event.preventDefault();
    });
    $('.comp').on('mouseenter', function () {
        $(this).find('.collapse').addClass('in');
        $(this).find('.more-info').show();
    }).on('mouseleave', function () {
        $(this).find('.collapse').removeClass('in');
        $(this).find('.more-info').hide();
    });

    $('.more-info').on('click', function() {
        if ($(this).data('target') == 1 ) {
            $('#more-info-sustentable').modal('show');
        } else if ($(this).data('target') == 2) {
            $('#more-info-competitiva').modal('show');
        } else if ($(this).data('target') == 3) {
            $('#more-info-inclusiva').modal('show');
        } else if ($(this).data('target') == 4) {
            $('#more-info-instetucional').modal('show');
        }
    });
   
	$('#videoModal').on('shown.bs.modal', function () {
				var videoSRC = "https://www.youtube.com/embed/YBPa9xFOXD8";
				var videoSRCauto = videoSRC + "?autoplay=1";
	             $(this).find('iframe').attr('src', videoSRCauto);
	               $(this).find('button.close').click(function () {
	                   $(this).find('iframe').attr('src', videoSRC);
	              });
		});
	$("#videoModal").on('hidden.bs.modal', function (e) {
	    $("#videoModal iframe").attr("src", "");
	});
/*
	
     autoPlayYouTubeModal();

      //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
      function autoPlayYouTubeModal() {
          var trigger = $("body").find('[data-toggle="modal"]');
          trigger.click(function () {
              var theModal = $(this).data("target"),
                  videoSRC = $(this).attr("data-theVideo"),
                  videoSRCauto = videoSRC + "?autoplay=1";
              $(theModal + ' iframe').attr('src', videoSRCauto);
              $(theModal + ' button.close').click(function () {
                  $(theModal + ' iframe').attr('src', videoSRC);
              });
              $('.modal').click(function () {
                  $(theModal + ' iframe').attr('src', videoSRC);
              });
          });
      }
*/
    $.backstretch([
        "/static/website/{{website.template}}/images/metas.jpg",
    ]);
});
</script>
{% endblock %}