<!-- Main -->
<div style="max-height:380px; overflow-y: auto;">
    <div style="padding-right: 15px;">
        <h3 class="objetives-text">{{meta.titulo}}</h3>
        {{ meta.html|default_if_none:""|safe|linebreaksbr }}
    </div>
    <div class="section-content-status">
        <div class="col-md-4">
            <h4 class="modal-title modal-obj-title">Estado de Avance</h4>
            <div class=" state-number">
                {% if meta.estado_de_avance %}

                <div class="rounded-state pull-left">
                  <div class="circle color-{{meta.estado_de_avance}}"></div>
                </div>
                <div class="pull-right">
                    <img src="/static/website/{{website.template}}/images/estados.png" class="img-responsive center-block">
                </div>
                <div class="clearfix"></div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12 white-parap scrolable">
                <h4 class="modal-title modal-obj-title">Línea base</h4>
                <div class="contenido-linea-observaciones objetives-text">
                    {{ meta.linea_base|default_if_none:""|safe }}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <br>
    <hr>
    <br>
    <div class="section-content-indicators">
        {% if indicadores %}
        <table class="table">
            <tr>
                <th class="first-indicator-th">Indicador</th>
                <th class="objetives-text" style="background: {{lineamiento.color_1}}">Meta acumulada al 31/12/2016</th>
                <th class="objetives-text" style="background: {{lineamiento.color_1}}">Meta acumulada al 31/12/2017</th>
                <th class="objetives-text" style="background: {{lineamiento.color_1}}">Meta acumulada al 31/12/2018</th>
                <th class="objetives-text" style="background: {{lineamiento.color_1}}">Meta acumulada al 25/11/2019</th>
            </tr>

            {% for indicador in indicadores %}
            <tr>
                <td class="first-indicator objetives-text">{{ indicador.indicador}}</td>
                <td class="objetives-text">{{ indicador.valor_indicador|default_if_none:"Sin definir aún" }}</td>
                <td class="objetives-text">En curso</td>
                <td class="objetives-text"></td>
                <td class="objetives-text"></td>
            </tr>
            {% endfor %}
            </ul>
        </table>
        {% endif %}
        <!-- Main -->
    </div>
    <hr>
    <div class="col-md-12 white-parap  scrolable">
        <h4 class="modal-title modal-obj-title">Observaciones</h4>
        <div class="contenido-linea-observaciones objetives-text">
            {% if meta.observaciones_generales %}
            {{ meta.observaciones_generales|default_if_none:""|safe }}
            {% endif %}
        </div>
    </div>
</div>
