<!-- Main -->
<div class="">
    <p class="objetives-text">{{objetivo.titulo}}</p>
    <h1 class="section-comp-subtitle modal-obj-title">Metas</h1>
</div>
<div id="collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading" style="max-height:380px; overflow-y: auto;">
    <div class="panel-body">
        <div class="row col-md-12">
            <ol class="nopadding list-obj">
                {% for meta in metas %}
                <li>
<a class="objetives-text objetivo-modal" 
    data-toggle="modal" 
    data-target="#objetivos,#metas" 
    data-id="{{componente.id}}-{{objetivo.id}}-{{meta.id}}" 
    data-rel="{% url 'website.plandemetas.meta' plan.slug lineamiento.slug componente.id componente.id objetivo.id meta.id%}" 
    id="metas-{{componente.id}}-{{ objetivo.id }}-{{meta.id}}">{{ meta.titulo }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>