{% extends extends_from %}
{% load website_tags %}
{% block title %}{# Plan de metas: #}{{ plan.titulo }} |
Lineamiento: {{ lineamiento.titulo }} |
Componente: {{ componente.titulo }}
{% endblock %}

{% block content %}

<!-- Main -->
<div id="main" class="container componentes">
    <div id="gob-title" class="row">
        <h1 class="portal-heading">Portal de <span class="heading-gob">GOBIERNO ABIERTO</span><br>
            <span class="heading-nombre">PLAN DE METAS</span>
        </h1>
    </div>

    <div class="row box-breadcrumb">
        <div class="muni-breadcrumb">
            <ul class="breadcrumb">
                <li><a href="{% url 'website.plandemetas' plan.slug %}">{{ plan.titulo }}</a></li>
                <li><a href="{% url 'website.plandemetas.lineamiento' plan.slug lineamiento.slug %}">{{ lineamiento.titulo }}</a></li>
                <li class="active"><a href="{% url 'website.plandemetas.componente' plan.slug lineamiento.slug componente.id %}">{{ componente.titulo }}</a></li>
            </ul>
        </div>
    </div>

    <div class="row box">
        {% for componente in componentes %}
        
        <div class="row lineamiento" id="componente-{% if not forloop.first %}{{componente.id}}{% endif %}">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1" style="border-right: 1px solid #BABABA">
                        <div class="bubble center-block" style="background: {{lineamiento.color_1}};"></div>
                    </div>
                    <div class="col-md-6" style="border-right: 1px solid #BABABA">
                        <h3 class="section-lineamiento-title">{{ componente.titulo }}</h3>
                    </div>
                    <div class="col-md-2">
                        <label class="sub-obj sub-obj-green que-es">Qué es ?</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="section-content" style="display: none;">
                    {{ componente.html|safe|linebreaksbr }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-6">
                        <label class="sub-obj">Objetivos</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row container-objetivos">
                    <div class="col-md-offset-1 col-md-11">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                {% for objetivo in componente.objetivos %}
                                <li class="obj-li">
                                    <a style="background:
                                       {% if forloop.counter|mod:4 == 0 %} {{colores.0}} {% endif %}
                                       {% if forloop.counter|mod:4 == 1 %} {{colores.1}} {% endif %}
                                       {% if forloop.counter|mod:4 == 2 %} {{colores.2}} {% endif %}
                                       {% if forloop.counter|mod:4 == 3 %} {{colores.3}} {% endif %}
                                       "
        data-toggle="modal" data-target="#objetivos" data-id="{{componente.id}}" 
       data-rel="{% url 'website.plandemetas.objetivo' plan.slug lineamiento.slug componente.id componente.id objetivo.id %}"
       class="objetivo-modal" id="objetivos-{{componente.id}}-{{ objetivo.id }}">{{ forloop.counter }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div id="objetivos" class="modal fade objetivos-modal" tabindex="-1" role="dialog">
        	<div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title modal-obj-title">Objetivo</h4>
                        </div>
                        <div class="modal-body">
<!--                             <center><img src="/static/website/{{website.template}}/images/loading.gif" height="100px" class="loading-indicator" /></center> -->
							<div class="datos">
                            </div>
                        </div>
                        <div class="modal-footer" style="display:none;">
                        	<a id="goback" href="#objetivos-{{componente.id}}-{{ objetivo.id }}"  style="color:#FFF" class="pull-left"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button"> Volver</a>
                         </div>
                    </div><!-- /.modal-content -->
                </div>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div id="aux_metas" ></div>
        <div id="metas" class="modal fade objetivos-modal" tabindex="-1" role="dialog">
        	<div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title modal-obj-title">Meta</h4>
                        </div>
                        <div class="modal-body">
<!--                             <center><img src="/static/website/{{website.template}}/images/loading.gif" height="100px" class="loading-indicator" /></center> -->
							<div class="datos">
                            </div>
                        </div>
                        <div class="modal-footer" style="display:none;">
<!--                         	<a id="goback" href="#objetivos-{{componente.id}}-{{ objetivo.id }}"  style="color:#FFF" class="pull-left"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button"> Volver</a> -->
                         </div>
                    </div><!-- /.modal-content -->
                </div>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="clearfix"></div>
        <br>
    </div>
</div>
<br>
<script>
	$(document).ready(function(){
		// Javascript to enable link to tab
		var url = document.location.toString();
		var scrollHash = function (){
			if($("#componente-"+valor).length != 0) {
				var targetOffset = $("#componente-"+valor).offset().top - 100;
			}else{
				var targetOffset = 0;
			}
			$('html, body').animate({
			    scrollTop: targetOffset
			}, 2000);
		};	
		if (url.match('#')) {
			var string = url.split('#')[1];
			var type = string.split('-')[0];
			var valor = string.split('-')[1];
			var valor2 = string.split('-')[2];
			var valor3 = string.split('-')[3];
			if (type == "componente"){
				scrollHash;
			}else{
				if (type == "metas"){
// 					$( "#link-objetivos-"+valor+"-"+valor2 +".objetivo-modal").trigger( "click" );
// 					$( "#objetivos-"+valor+"-"+valor2 +".objetivo-modal").trigger( "click" );
//  					$( "#metas-"+valor+"-"+valor2 +"-"+valor3 +".objetivo-modal").trigger( "click" );
					$('#aux_metas').html(" <a class='objetives-text objetivo-modal' data-toggle='modal' data-target='#metas' data-id='"+valor+"-"+valor2 +"-"+valor3 +"' data-rel='/plan-de-metas/{{plan.slug}}/{{lineamiento.slug}}/"+valor+"#metas-"+valor+"-"+valor2 +"-"+valor3 +"' id='metas-"+valor+"-"+valor2 +"-"+valor3 +"'></a>");
					$( "#objetivos").modal('hide');
					$( "#metas-"+valor+"-"+valor2 +"-"+valor3 +".objetivo-modal").trigger( "click" );
					
					scrollHash();
				}else{
					if (type == "objetivos"){
						$( "#objetivos-"+valor+"-"+valor2 +".objetivo-modal").trigger( "click" );
						scrollHash();
					}
				}
			}
		}
	});
	
    $(function () {
	    var getObjetive = function (rel, obj) {
            $.ajax({
                url: rel,
                cache: false,
                success: function (data) {
                    obj.find('.modal-body .datos').html(data);
                    obj.addClass('active');
                    obj.find('.modal').on('hidden.bs.modal', function () {
                        obj.removeClass('active');
                    })
                },
                complete: function () {
                    $('.loading-indicator').hide();
                }
            });
        };
        
		$('#objetivos').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var rel = button.data('rel');
		  	if (rel != undefined){
			  	$(this).find('.modal-body .datos').html('<center><img src="/static/website/{{website.template}}/images/loading.gif" height="100px" class="loading-indicator" /></center>');
		  	}
		}); 
		$('#objetivos').on('hidden.bs.modal', function (event) {
		    if(history.pushState) {
			    history.pushState(null, null, "#");
			}
			else {
			    location.hash = "#";
			}
	    });
	    $('#objetivos').on('shown.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var rel = button.data('rel');
			var target_hash = button.attr('id');
//             window.location.hash = target_hash;
            if(history.pushState) {
			    history.pushState(null, null, "#"+target_hash);
			}
			else {
			    location.hash = "#"+target_hash;
			}
		  	var modal = $(this);
		  	if (rel != undefined){
			  	modal.find('.modal-body .datos').html('<center><img src="/static/website/{{website.template}}/images/loading.gif" height="100px" class="loading-indicator" /></center>');
				getObjetive(rel, modal);
		  	}
		}); 
		
		
		var getMeta = function (rel, obj, parent_objective) {
			parent_splited = parent_objective.split("-");
			componente = parent_splited[1];
			objetivo = parent_splited[2];
           	$.ajax({
	            url: rel,
	            cache: false,
	            success: function (data) {
	                obj.find('.modal-dialog').addClass('modal-lg');
	                obj.find('.modal-footer').html('<a id="'+parent_objective+'" data-toggle="modal" data-target="#metas, #objetivos" href="#'+parent_objective+'" style="color:#FFF" class="pull-left go-back" data-rel="/plan-de-metas/{{plan.slug}}/{{lineamiento.slug}}/'+ componente+'/'+objetivo+'"><img src="/static/website/bootstrapMuniCba/images/back.png" class="back-button" /> Volver</a>');
	                obj.find('.modal-footer').show();
	                obj.find('.modal-body').html(data);
	            },
	            complete: function () {
					$('.loading-indicator').hide();
	           }
	        });
        };
        $('#metas').on('hidden.bs.modal', function (event) {
	    if(history.pushState) {
			    history.pushState(null, null, "#");
			}
			else {
			    location.hash = "#";
			}
	    });
		$('#metas').on('shown.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var rel = button.data('rel');
			var target_hash = button.attr('id');
			var hash_splited = target_hash.split("-");
			var parent_objective = "objetivos-"+hash_splited[1]+"-"+hash_splited[2];
            if(history.pushState) {
			    history.pushState(null, null, "#"+target_hash);
			}
			else {
			    location.hash = "#"+target_hash;
			}
		  	var modal = $(this);
		  	if (rel != undefined){
			  	getMeta(rel, modal, parent_objective);
	        }
		});
		$('.que-es').on('click', function () {
            $(this).closest('.lineamiento').find('.container-objetivos');
            $(this).closest('.lineamiento').find('.section-content').slideToggle();
        });
        
        
        $.backstretch([
            "/static/website/{{website.template}}/images/metas.jpg",
        ], {duration: 4000, fade: 1000});


        var objRel;
        var objPosition;
       
    });
</script>

{% endblock %}
