{% extends extends_from %}

{% block title %}
    {{ cargo.nombre }}
    {% if cargo.depende_de %} -
        {{ cargo.depende_de.nombre }}
    {% endif %}
{% endblock %}
{% block content %}
<section id="main" class="container">
	<div class="row">
        <h1 class="portal-heading">Portal de <span class="heading-gob">GOBIERNO ABIERTO</span><br/>
	        <span class="heading-nombre">FUNCIONARIOS <br/>DDJJ</span>
        </h1>
    </div>
    <div class="row box search-box organigrama">
	    <div class="row">
		    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
			    <form action="/search" method="GET">
					<div class="input-group">
						<input type="text" name="q" class="form-control input-translucent" placeholder="¿A quién buscás?...">
						<span class="input-group-btn">
					       	<button class="btn btn-default input-translucent" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
		    		</div>
	    		</form>
		    </div>
	    </div>
    </div>
    <section class="box">
                <header>
                    <div class="row">
                        <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3 subt-funcionarios volver" align="right">
                            <a href="javascript:window.history.back();"> <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                        </div>
                    </div>
                </header>

                <section class="reparticion-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-reparticion" id="heading-section">
                                <h3 class="title">{{ cargo.oficina }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <!--                                 <h4>Dependencias</h4>  -->
                            <div class="row nopadding">
                                <div class="well well-funcionarios">
                                    <!-- Intendente -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4 col-md-offset-2 col-sm-12 col-xs-12 height_parent_head" align="right">
                                              {% if cargo.en_funcion_activa.funcionario %} <a target="_self" class="nombre" href="{%  url 'website.funcionarios.oficina' cargo.slug cargo.id %}" >{% endif %}
	                                            {% if cargo.slug == "unidad-central-de-gestion" %}
	                                            <div class="circle-profile circle-profile-int" style="background-image: url('/static/website/{{website.template}}/images/ucg.jpg')"></div>

	                                            {% else %}
	                                            {% if cargo.en_funcion_activa.funcionario.foto %}
										            <div class="circle-profile circle-profile-int" style="background-image: url('{{ cargo.en_funcion_activa.funcionario.foto.thumbnail.400x400 }}')"></div>
									            {% else %}
										            <div class="circle-profile circle-profile-int" style="background-image: url('{{preferencias.default_persona_imagen}}')"></div>
									            {% endif %}
									            {% endif %}
                       </a>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12 profile-info parent_head" align="left">
                                                <div class="row profile-info-title">
                                                    <div class="col-md-12 "> <a href="{% url 'website.funcionarios.oficina' cargo.slug cargo.id %}" class="intendente">{{ cargo.nombre }}</a> </div>
                                                </div>
                                                <div class="row profile-info-categoria">
                                                    <div class="col-md-12"> {% if cargo.en_funcion_activa %} <a target="_self" class="nombre-intendente" href="{% url 'website.funcionarios.oficina' cargo.slug cargo.id %}" > <i>{{ cargo.en_funcion_activa.funcionario.nombrepublico }}</i> </a> {% endif %} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="height: 1px; width: 1px; background-color: #e3e3e3; margin-top:15px;" id="leftCorner1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="height: 1px; width: 1px; background-color: #e3e3e3;margin-top:20px; margin-left: -10px;" id="leftCorner2"></div>
                                        </div>
                                    </div>
                                    {% if dependencias|length > 0 %}
                                    {% with indent=0 %}
                                    {% for dependencia in dependencias %}
                                    {% with c_class=forloop.counter|stringformat:'s' %}
                                    {%include base_template|add:"/tree_funcionarios.html" %}
                                    {% endwith %}
                                    {% endfor %}
                                    {% endwith %}
                                    {% else %}
                                    <p>
                                    <h4>No hay dependencias</h4>
                                    </p>
                                    {% endif %} </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row nopadding">
                    <div class="col-md-12 col-xs-12 volver-footer bot-m volver "> {% if cargo.superiores|length > 0 %}
                        {% for superior in cargo.superiores reversed %}
                        {% if forloop.last %}
                        {% if not superior.nombre == 'Intendente' %} <a href="{% url 'website.funcionarios.oficina' superior.slug superior.id %}"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> {% else %} <a href="javascript:window.history.back();"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% else %} <a href="javascript:window.history.back();"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver</a> {% endif %} </div>
                </div>
            </section>
</section>

<!-- Responsive Bootstrap Toolkit -->
<script src="/static/website/{{website.template}}/js/bootstrap-toolkit.min.js"></script>
<script src="/static/website/{{website.template}}/js/jquery.connections.js"></script>
<script src="/static/website/{{website.template}}/js/animation.js"></script>
<script src="/static/website/{{website.template}}/js/reparticion-grid.js"></script>
	<script>
	    $(function () {
	        $.backstretch([
	            "/static/website/{{website.template}}/images/organigrama.jpg",
	        ], {duration: 3000, fade: 750});
	    });
	</script>

{% endblock %}
