{% extends extends_from %}
{% load humanize %}
{% load l10n %}

{% block title %}
    {{ cargo.oficina }}
    {% if cargo.depende_de %} -
        {{ cargo.depende_de.oficina }}
    {% endif %}
{% endblock %}
{% block content %}


<section id="main" class="container">
	<div class="row">
		<h1 class="portal-heading">Portal de <span class="heading-gob">GOBIERNO ABIERTO</span><br/>
	        <span class="heading-nombre">FUNCIONARIOS <br/>DDJJ</span>
        </h1>
       	</div>
       	<div class="row box search-box organigrama">
			<div class="row">
		    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
					    <form action="/search" method="GET">
					    	<div class="input-group">
								<input type="text" name="q" class="form-control input-translucent" placeholder="¿A quién buscás?...">
								<span class="input-group-btn">
					        		<button class="btn btn-default input-translucent" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
								</span>
		    				</div>
	    				</form>
				    </div>
			    </div>
		    </div>
            <section class="box">
                <header>
                <div class="row">
                    <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3 subt-funcionarios volver" align="right">

                        {% if cargo.superiores|length > 0 %}
                            {% for superior in cargo.superiores reversed %}
                                {% if forloop.last %}
                                    {% if not superior.nombre == 'Intendente' %}
                                        <a href="{% url 'website.funcionarios.oficina_arbol' superior.slug superior.id %}"> <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                                    {% else %}
                                    <a href="javascript:window.history.back()"> <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <a href="javascript:window.history.back()"><img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                        {% endif %}
                    </div>
                </div>
                </header>

                <section class="reparticion-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-reparticion" id="heading-section">
	                            <div style="height: 1px; width: 1px; background-color: #e3e3e3; margin-left:10%; margin-top:10%;" id="title-div"></div>
                                <h3 class="title" style="margin-left: -7.5%; ">{{ cargo.oficina }}</h3>

                            </div>
                        </div>
                    </div>

                    {% if funcion %}
<br>

                        <div class="row">
	                        <div class="col-md-3 vertical-center col-sm-12" >
		                        <div class="container" id="texto-div">
			                        <i><h3 class="persona-datos-tit" > {{ funcion.funcionario.nombrepublico }}
	                                        <!--{{ funcion.cargo.categoria }}--></h3></i>
                                          {% if funcion.is_adhonorem %}
                                          <div style="margin:15px">
                                          <span style="color:red; font-weight:bold">Cargo Ad Honorem</span>
                                          </div>
                                          {% else %}

          Sueldo neto de {{ sueldos_reales.0.mes|date:"F"}}
          {% if sueldos_reales.0.mes|date:"n" == '6' or  sueldos_reales.0.mes|date:"n" == '12' %}
            <span style="color:red; font-weight:bold">(incluye aguinaldo)</span>
          {% endif %}
           : <i class="persona-sueldo"> <br/>
                {{sueldo_categoria.sueldo_bruto_moneda.simbolo}}{{ sueldos_reales.0.sueldo_neto|intcomma}}
            </i>

                                          {% endif %}

{% if comunicaciones_cargo or cargo.direccioncargo_set.all %}
{% if comunicaciones_persona %} <h4>Oficina:</h4> {% endif %}
    <ul class="persona-comunicaciones">
    {% for com in comunicaciones_cargo %}
        <li class="persona-comunicaciones"><i>{{ com.tipo.nombre}}: <a href="{{com.absolute_url}}">{{ com.valor }}</a></i></li>
    {% endfor %}
    {% for direccion in cargo.direccioncargo_set.all %}
        <li class="persona-comunicaciones"><i>
            {{ direccion.calle|default_if_none:"" }} {{ direccion.numero|default_if_none:"" }} {{ direccion.piso|default_if_none:"" }}
            {% if direccion.latitud %}
<a target="blank"
    href='http://maps.google.com/maps?q=loc:{{ direccion.latitud|unlocalize }},{{ direccion.longitud|unlocalize }}'>Ver mapa</a>
            {% endif %}
            </i>
        </li>
    {% endfor %}
    </ul>
{% endif%}

{% if comunicaciones_persona %}
{% if comunicaciones_cargo or cargo.direccioncargo_set.all %} <h4>Personal:</h4> {% endif %}
    <ul class="persona-comunicaciones">
    {% for com in comunicaciones_persona %}
        <li class="persona-comunicaciones"><i>{{ com.tipo.nombre}}: <a href="{{com.absolute_url}}">{{ com.valor }}</a></i></li>
    {% endfor %}
    </ul>
{% endif%}


{% if cargo.categoria.permite_audiencia %}
    <a class="btn btn-default secciones"
        role="button"
        href="{% url 'audienciafuncionarios.solicitud' funcion.funcionario.slug funcion.funcionario.id %}"> Solicitar Audiencia &nbsp;
        <span class="glyphicon glyphicon-comment"></span>
    </a>
{% endif %}
		                        </div>
	                        </div>
	                        <div class="col-md-6 col-sm-12 ">
		                        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" >
                                                <div class="modal-content"  >
                                                    <div class="modal-body" >
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        {% if funcion.funcionario.foto %}
                                                        	<img src="{{ funcion.funcionario.foto.thumbnail.700x700 }}" class="imagepreview" style="width: 100%;" >
                                                        {% else %}
                                                        	<img src="{{preferencias.default_persona_imagen}}" class="imagepreview" style="width: 100%;" >
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="col-xs-12">
                                                            <a href="{{ funcion.funcionario.foto.thumbnail.700x700 }}" download><button type="button" class="btn btn-primary btn-sm">Descargar Foto <span class="glyphicon glyphicon-save"></span></button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if funcion.funcionario.foto %}
                                       		<a href="#" title="Ampliar" data-toggle="tooltip" class="pop"><div class="circle-profile" width="auto" height="auto" onclick="zoomToggle('400px','400px','600px','600px',this);" style="background-image: url('{{ funcion.funcionario.foto.thumbnail.700x700 }}');" id="foto-div"></div></a>
                                        {% else %}
                                         	<div class="circle-profile" width="auto" height="auto" onclick="zoomToggle('400px','400px','600px','600px',this);" style="background-image: url('{{preferencias.default_persona_imagen}}');"></div>
                                        {% endif %}
	                        </div>
	                        <div class="col-md-3 col-sm-12 vertical-center qr-div-cont">
		                        <div class="container">
		                        	<img src="{{ qr_image }}" alt="..." class="img-thumbnail qr" id="qr-div">
		                        </div>
	                        </div>
                        </div>




<br>

                          <!-- Nav tabs -->
                          <div class="row nopadding tabs">
                              <div class="col-md-3 nopadding">
                                  <ul class="nav nav-tabs nav-stacked" role="tablist">
                                    <!--<li role="presentation"><a href="#sueldo" aria-controls="sueldo" role="tab" data-toggle="tab">Sueldo</a></li> -->
                                    <li role="presentation" class="active"><a href="#descripcion-persona" aria-controls="descripcion" role="tab" data-toggle="tab">¿Quién soy?</a></li>

                                    <li role="presentation"><a href="#descripcion-cargo" aria-controls="decripcion-cargo" role="tab" data-toggle="tab">¿Que hacemos en esta oficina?</a></li>

                                    <li role="presentation"><a href="#ddjj" aria-controls="ddjj" role="tab" data-toggle="tab">Mi Declaración Jurada</a></li>

                                    <li role="presentation"><a href="#decreto" aria-controls="decreto" role="tab" data-toggle="tab">Mi Designación</a></li>

                                  </ul>
                              </div>
                              <div class="col-md-9">
                              <!-- Tab panes -->
                                  <div class="tab-content">
                                       <!-- BEGINS: DESCRIPCION-PERSONA -->
                                    <div role="tabpanel" class="tab-pane active" id="descripcion-persona">
                                        {{ funcion.funcionario.html|default:"No cargado aún"|safe }}
                                    </div>
                                    <!-- ENDS: DESCRIPCION-PERSONA -->

                                    <!-- BEGINS: DESCRIPCION-CARGO -->
                                    <div role="tabpanel" class="tab-pane" id="descripcion-cargo">
                                        {{ funcion.cargo.html|default:"No cargado aún"|safe }}
                                    </div>
                                    <!-- ENDS: DESCRIPCION-CARGO -->
                                    <!-- BEGINS: DDJJ -->
                                    <div role="tabpanel" class="tab-pane" id="ddjj">
                                        <div class="row">
                                      <div class="col-md-12">
                                         {% if ddjj %}
                                          {% if ddjj|length > 0 %}
                                            <div class="tabbable">
                                              <ul class="nav nav-tabs">
                                              {% for dj in ddjj %}
                                                {% if forloop.first%}<li class="active">
                                                {% else %}<li>
                                                {% endif %}
                                                <a href="#ddjj-{{ dj.anio }}">Declaración Jurada {{ dj.anio }}</a>
                                                </li>
                                              {% endfor %}
                                              </ul>
                                              <div class="tab-content">
                                              {% for dj in ddjj %}
                                                {% if forloop.first%}
                                                <div class="tab-pane fade active in" id="ddjj-{{ dj.anio }}">
                                                {% else %}
                                                <div class="tab-pane fade" id="ddjj-{{ dj.anio }}">
                                                {% endif %}
                                                <h4> Declaración Jurada {{ dj.anio }}</h4>
                                                <p><b>Total declarado:</b> {{ mi_moneda.simbolo }} {{ dj.total|intcomma }}
                                                ({{ mi_moneda.simbolo }} {{ dj.total_bienes|intcomma }} en bienes
                                                y {{ mi_moneda.simbolo }} {{ dj.total_deudas|intcomma }} en deudas)</p>
                                                  <i><h5>Detalles</h5></i>
                                                  <div class="row">
                                                      <div class="col-md-12">
                                                          <div class="table-responsive">
                                                              <table class="table table-striped table-hover">
                                                                  <thead class="thead-default">
                                                                      <tr>
                                                                          <th>Bien</th>
                                                                          <th>Valor</th>
                                                                          <th>De cónyuge</th>
                                                                          <th>En el país</th>
                                                                      </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                      {% for bien in dj.bienes %}
                                                                      <tr>
                                                                          <td>{{ bien.tipo.nombre }}</td>
                                                                          <td>{{ bien.moneda.simbolo }} {{ bien.valor|intcomma }}</td>
                                                                          <td><center>{{ bien.es_de_conyuge|yesno:"Sí,No,-" }}</center></td>
                                                                          <td><center>{{ bien.en_el_pais|yesno:"Sí,No,-" }}</center></td>
                                                                      </tr>
                                                                      {% endfor %}
                                                                  <tbody>
                                                              </table>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-md-12">
                                                          <div class="table-responsive">
                                                          {% if dj.deuda_set.all %}
                                                              <table class="table table-striped table-hover">
                                                                  <thead class="thead-default">
                                                                      <tr>
                                                                          <th>Deuda</th>
                                                                          <th>Valor</th>
                                                                          <th>De cónyuge</th>
                                                                          <th>En el país</th>
                                                                      </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                      {% for deuda in dj.deudas %}
                                                                      <tr>
                                                                          <td>{% if deuda.con_entidad_financiera %}Con entidad financiera{% else %}Con entidad no financiera{% endif %}
                                                                          <td>{{ deuda.moneda.simbolo }} {{ deuda.valor|intcomma }}</td>
                                                                          <td><center>{{ deuda.es_de_conyuge|yesno:"Sí,No,-" }}</center></td>
                                                                          <td><center>{{ deuda.en_el_pais|yesno:"Sí,No,-" }}</center></td>
                                                                      </tr>
                                                                      {% endfor %}
                                                                  <tbody>
                                                              </table>
                                                              {% else %}
                                                              <p>Sin deuda registrada</p>
                                                              {% endif %}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="row file-downloads">
                                                      {% if dj.archivo %}<div class="col-md-4" align="center">
                                                          <a href="/media/{{ dj.archivo }}" target="_blank"><span class="glyphicon glyphicon-red glyphicon-file"></span> Descargar imagen/PDF</a>
                                                      </div>{% endif %}
                                                      <div class="col-md-4" align="center">
                                                          <a href="{% url 'portaldedatos.declaraciones_juradas.declaracion_jurada' funcion.funcionario.slug dj.anio dj.id "csv" %}"><span class="glyphicon glyphicon-green glyphicon-file"></span> Descargar CSV</a>
                                                      </div>
                                                      <div class="col-md-4" align="center">
                                                          <a href="{% url 'portaldedatos.declaraciones_juradas.declaracion_jurada' funcion.funcionario.slug dj.anio dj.id "xls" %}"><span class="glyphicon glyphicon-green glyphicon-file"></span> Descargar XLS</a>
                                                      </div>
                                                  </div>
                                                  {% if dj.archivo %}<div class="row file-downloads">
                                                      <div class="col-md-12">
                                                        <div style="background: #fff url(/static/website/{{website.template}}/images/loading.gif) no-repeat; background-size: 100px; background-position: center top;">
                                    <object class="pdf-object" height="500px" width="100%" type="application/pdf" data="/media/{{ dj.archivo }}">
                                    <param value="/media/{{ dj.archivo }}" name="src"/>
                                    <param value="transparent" name="wmode"/>
                                    </object>
                                    </div>
                                                      </div>
                                                  </div>
                                                  {% endif %}
                                                </div>
                                              {% endfor %}
                                              </div>
                                            </div>
                                          {% else %}
                                            <h4> Declaración Jurada {{ dj.anio }}</h4>
                                              <p><b>Total declarado:</b> {{ mi_moneda.simbolo }} {{ dj.total|intcomma }}
                                                  ({{ mi_moneda.simbolo }} {{ dj.total_bienes|intcomma }} en bienes
                                                  y {{ mi_moneda.simbolo }} {{ dj.total_deudas|intcomma }} en deudas)</p>
                                              <i><h5>Detalles</h5></i>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="table-responsive">
                                                          <table class="table table-striped table-hover">
                                                              <thead class="thead-default">
                                                                  <tr>
                                                                      <th>Bien</th>
                                                                      <th>Valor</th>
                                                                      <th>De cónyuge</th>
                                                                      <th>En el país</th>
                                                                  </tr>
                                                              </thead>
                                                              <tbody>
                                                                  {% for bien in dj.bienes %}
                                                                  <tr>
                                                                      <td>{{ bien.tipo.nombre }}</td>
                                                                      <td>{{ bien.moneda.simbolo }} {{ bien.valor|intcomma }}</td>
                                                                      <td><center>{{ bien.es_de_conyuge|yesno:"Sí,No,-" }}</center></td>
                                                                      <td><center>{{ bien.en_el_pais|yesno:"Sí,No,-" }}</center></td>
                                                                  </tr>
                                                                  {% endfor %}
                                                              <tbody>
                                                          </table>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="table-responsive">
                                                      {% if dj.deuda_set.all %}
                                                          <table class="table table-striped table-hover">
                                                              <thead class="thead-default">
                                                                  <tr>
                                                                      <th>Deuda</th>
                                                                      <th>Valor</th>
                                                                      <th>De cónyuge</th>
                                                                      <th>En el país</th>
                                                                  </tr>
                                                              </thead>
                                                              <tbody>
                                                                  {% for deuda in dj.deudas %}
                                                                  <tr>
                                                                      <td>{% if deuda.con_entidad_financiera %}Con entidad financiera{% else %}Con entidad no financiera{% endif %}
                                                                      <td>{{ deuda.moneda.simbolo }} {{ deuda.valor|intcomma }}</td>
                                                                      <td><center>{{ deuda.es_de_conyuge|yesno:"Sí,No,-" }}</center></td>
                                                                      <td><center>{{ deuda.en_el_pais|yesno:"Sí,No,-" }}</center></td>
                                                                  </tr>
                                                                  {% endfor %}
                                                              <tbody>
                                                          </table>
                                                          {% else %}
                                                          <p>Sin deuda registrada</p>
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="row file-downloads">
                                                  {% if dj.archivo %}<div class="col-md-4" align="center">
                                                      <a href="/media/{{ dj.archivo }}" target="_blank"><span class="glyphicon glyphicon-red glyphicon-file"></span> Descargar imagen/PDF</a>
                                                  </div>{% endif %}
                                                  <div class="col-md-4" align="center">
                                                      <a href="{% url 'portaldedatos.declaraciones_juradas.declaracion_jurada' funcion.funcionario.slug dj.anio dj.id "csv" %}"><span class="glyphicon glyphicon-green glyphicon-file"></span> Descargar CSV</a>
                                                  </div>
                                                  <div class="col-md-4" align="center">
                                                      <a href="{% url 'portaldedatos.declaraciones_juradas.declaracion_jurada' funcion.funcionario.slug dj.anio dj.id "xls" %}"><span class="glyphicon glyphicon-green glyphicon-file"></span> Descargar XLS</a>
                                                  </div>
                                              </div>
                                              {% if dj.archivo %}<div class="row file-downloads">
                                                  <div class="col-md-12">
                                                    <div style="background: #fff url(/static/website/{{website.template}}/images/loading.gif) no-repeat; background-size: 100px; background-position: center top;">
                                    <object class="pdf-object" height="500px" width="100%" type="application/pdf" data="/media/{{ dj.archivo }}">
                                    <param value="/media/{{ dj.archivo }}" name="src"/>
                                    <param value="transparent" name="wmode"/>
                                    </object>
                                    </div>
                                                  </div>
                                              </div>
                                              {% endif %}
                                          {% endif %}
                                          </div>
                                        {% else %}
                                            Aún no cargada.
                                            </div>
                                        {% endif %}
                                        </div>
                                      </div>
                                    <!-- ENDS: DDJJ -->


                                    <!-- BEGINS: DECRETO -->
                                    <div role="tabpanel" class="tab-pane" id="decreto">
                                        <div class="row">
                                            <div class="col-md-12 file-downloads">
                                            <p><strong>Fecha de Inicio:</strong> {{ funcion.fecha_inicio}}</p>
                                            </div>
                                            <div class="col-md-12 file-downloads">
                                            {% if cargo.requiere_decreto_designacion %}

                                                {% if funcion.decreto_pdf %}
                                                    <a href="/media/{{ funcion.decreto_pdf }}" target="_blank"><span class="glyphicon glyphicon-red glyphicon-file"></span> Descargar imagen/PDF</a>
                                                    <div class="row file-downloads">
                                                    <div class="col-md-12">
                                                      <div style="background: #fff url(/static/website/{{website.template}}/images/loading.gif) no-repeat; background-size: 100px; background-position: center top;">
                                                        {% if extension_decreto != 'pdf'%}
                                                        <img class="img-responsive" src="/media/{{ funcion.decreto_pdf }}"/>
                                                        {% else %}
                                                        <object class="pdf-object" height="500px" width="100%" type="application/pdf" data="/media/{{ funcion.decreto_pdf }}">
                                                          <param value="/media/{{ funcion.decreto_pdf }}" name="src"/>
                                                          <param value="transparent" name="wmode"/>
                                                        </object>
                                                        {% endif %}

                              												</div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <p>Decreto de designación no cargado</p>
                                                {% endif %}
                                            {% else %}
                                            <p>Este cargo no requiere decreto de designación</p>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ENDS: DECRETO -->

                                  </div>
                              </div>
                          </div>



                    {% endif %}

                    {% if comunicaciones_persona %}
                       <div class="row social-media-row">
                            {% for com in comunicaciones_persona %}
                            	{% if com.tipo.nombre|lower == "twitter" or com.tipo.nombre|lower == "facebook fanpage" %}
                                <div class="col-md-6">
                                   <div class="social-media">
                                       {% if com.tipo.nombre|lower == "twitter" %}
                                           <a class="twitter-timeline" href="{{com.absolute_url}}">Tweets by {{ com.valor }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                       {% endif %}
                                       {% if com.tipo.nombre|lower == "facebook fanpage"%}
                                       <div id="fb-root"></div>
                                       <script>(function(d, s, id) {
                                         var js, fjs = d.getElementsByTagName(s)[0];
                                         if (d.getElementById(id)) return;
                                         js = d.createElement(s); js.id = id;
                                         js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.7&appId=190894047670323";
                                         fjs.parentNode.insertBefore(js, fjs);
                                       }(document, 'script', 'facebook-jssdk'));</script>

                                       <div class="fb-page" data-href="{{com.absolute_url}}" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="{{com.absolute_url}}" class="fb-xfbml-parse-ignore"><a href="{{com.absolute_url}}">{{ com.valor }}</a></blockquote></div>
                                       {% endif %}
                                   </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                       </div>
                   {% endif %}

                    {% if dependencias|length > 0 %}
                        <div class="row">
                            <div class="col-md-12 dependencias">
                                <h4>Dependencias</h4>
                                <div class="row nopadding">
                                    <div class="well well-funcionarios">
                                        {% for dependencia in dependencias %}
                                            {% if not forloop.counter|divisibleby:2%}
                                        <div class="row">
                                            {% endif %}
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias">
                                                <div class="col-md-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 height_parent" align="right">
                                                    {% if dependencia.en_funcion_activa.funcionario.foto %}
                                                    <a target="_self" class="nombre" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}" ><div class="circle-profile" style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.200x200}}');"></div></a>
                                                    {% else %}
													<div class="circle-profile" style="background-image: url('{{preferencias.default_persona_imagen}}')"></div>

                                                    {% endif %}
                                                  </div>
                                                  <div class="col-md-7 col-sm-8 col-xs-12 cargo-info parent" >
                                                      <div class="row profile-info-title ">
                                                          <div class="col-md-12 ">
                                                              <a target="_self" href='{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}' class="categoria">{{ dependencia.oficina }}</a>
                                                          </div>
                                                      </div>
                                                    <div class="row">
                                                        <div class="col-md-12" id="categoria-link">
                                                        {% if dependencia.en_funcion_activa.funcionario %}
                                                            <a target="_self" class="nombre" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}" ><i>
                                                                    {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}                                                                                       </i></a>
                                                        {% endif %}
                                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                            {% if forloop.counter|divisibleby:2%}
                                            </div>
                                            {% endif %}
                                        {% endfor %}

                                      </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    <div class="row">
                            <div class="col-md-12 no-dependencias">
                            </div>
                    </div>
                    {% endif %}
                    </section>
                    <div class="row nopadding">
                        <div class="col-md-12 col-xs-12 volver-footer bot-m volver ">
                            {% if cargo.superiores|length > 0 %}
                                {% for superior in cargo.superiores reversed %}
                                    {% if forloop.last %}
                                        {% if not superior.nombre == 'Intendente' %}
                                            <a href="{% url 'website.funcionarios.oficina_arbol' superior.slug superior.id %}"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                                        {% else %}
                                            <a href="javascript:window.history.back()"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <a href="javascript:window.history.back()"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                            {% endif %}
                        </div>
                    </div>
            </section>
</section>


<!-- Responsive Bootstrap Toolkit -->
<script src="/static/website/{{website.template}}/js/bootstrap-toolkit.min.js"></script>
<script src="/static/website/{{website.template}}/js/reparticion-grid.js"></script>
<script src="/static/website/{{website.template}}/js/header.js"></script>
<script src="/static/website/{{website.template}}/js/jquery.connections.js"></script>
<script src="/static/website/{{website.template}}/js/reparticion.js"></script>


<script>
    // Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
	var str = url.split('#')[1];
	if (str.indexOf("ddjj") >= 0){
		if (str.split('-')[1] != null){
			$('.nav-tabs a[href="#' + str.split('-')[0] + '"]').tab('show');
			$('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
		}
	}
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
}
)
</script>
<script type='text/javascript'>
$(function() {
        $('.pop').on('click', function() {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
});
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $("ul.nav-tabs a").click(function (e) {
  e.preventDefault();
    $(this).tab('show');
});
});
</script>
	<script>
	    $(function () {
	        $.backstretch([
	            "/static/website/{{website.template}}/images/organigrama.jpg",
	        ], {duration: 3000, fade: 750});
	    });
	</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('send', 'pageview', {
 'page': location.pathname + location.search  + location.hash
    });
</script>
{% endblock %}
