{% extends extends_from %}
{% load humanize %}

{% block title %}  Búsqueda - {{ query }} {% endblock %}

{% block content %}

<section id="main" class="container">
	<div class="row">
		<h1 class="portal-heading">Portal de <span class="heading-gob">GOBIERNO ABIERTO</span><br/>
	        <span class="heading-nombre">Resultados</span>
        </h1>
    </div>
    <div class="row box search-box results organigrama">
	    <div class="row">
		    <div class="col-xs-12 nopadding">
			    <form method="get" action=".">
				    <div class="input-group">
				        <input type="text" name="q" value="{{ query }}" class="form-control input-translucent" placeholder="Buscar...">
				        <span class="input-group-btn">
				            <button class="btn btn-default input-translucent" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				        </span>
				    </div>
				</form>
		    </div>
	    </div>
    </div>
	<section class="box">
		{% if query %}
		<header>
        	<div class="row">
                <div class="col-md-10 ">
                    <h3 class="tit-funcionarios">Resultados</h3>
                </div>
                <div class="col-md-2 col-sm-3 subt-funcionarios subt-funcionarios-seccion volver" align="right">
	                <a href="javascript:history.back()"> <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
               </div>
            </div>
        </header>
            {% for result in page_obj.object_list %}
            {% if result.model_name == "persona" %}
            	<a href="{{ result.object.get_absolute_url }}">
		            <div class="row result-card" style="margin-top: 10px;">
						<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-2">
 							<div class="circle-profile circle-profile-int" style="background-image: url('{{ result.object.foto.thumbnail.300x300 }}')"></div>
						</div>
						<div class="col-xs-12 col-sm-7 col-md-9">
							<h3 class="result-title">{{ result.object.nombre }} {{ result.object.apellido }}</h3>
						</div>
						<div class="col-md-1">
							<span class="glyphicon glyphicon-plus pull-right"></span>
						</div>
	            	</div>
            	</a>
           	{% elif result.model_name == "cargo" %}
						{% if result.object.en_funcion_activa %}
            	<a href="{{ result.object.get_absolute_url }}">
		            <div class="row result-card" style="margin-top: 10px;">
						<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-2">
							<div class="circle-profile circle-profile-int" style="background-image: url('{{ result.object.en_funcion_activa.funcionario.foto.thumbnail.300x300 }} ')"></div>
						</div>
						<div class="col-xs-12 col-sm-7 col-md-9">
							<h3 class="result-title">{{ result.object.en_funcion_activa.cargo_gen|title }}</h3>
							<p class="result-info">{{ result.object.en_funcion_activa.funcionario.nombrepublico }}</p>
						</div>
						<div class="col-md-1">
							<span class="glyphicon glyphicon-plus pull-right"></span>
						</div>
	            	</div>
            	</a>
							{% endif %}
	        {% elif result.model_name == "plandemetas" %}
	            	<a href="{{ result.object.get_absolute_url}}">
			            <div class="row result-card">
							<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-2">
								<div class="circle-profile circle-profile-int" style="background-image: url('/media/{{ result.object.imagen }}')"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-9">
								<h3 class="result-title">{{ result.object|title }}</h3>
								<p class="result-info">{{ result.object.descripcion }}</p>
							</div>
							<div class="col-md-1">
								<span class="glyphicon glyphicon-plus pull-right"></span>
							</div>
		            	</div>
	            	</a>
	        {% elif result.model_name == "categoriaportaldatos" %}
	            	<a href="{{ result.object.get_absolute_url}}">
			            <div class="row result-card">
							<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-2">
								<div class="circle-profile circle-profile-int" style="background-image: url('/static/website/{{website.template}}/images/datos-logo.jpg')"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-9">
								<h3 class="result-title">{{ result.object|title }}</h3>
								<p class="result-info">{{ result.object.descripcion }}</p>
							</div>
							<div class="col-md-1">
								<span class="glyphicon glyphicon-plus pull-right"></span>
							</div>
		            	</div>
	            	</a>
			{% elif result.model_name == "componente" or result.model_name == "lineamiento" or result.model_name == "meta" or result.model_name == "objetivo" %}
	            	<a href="{{ result.object.get_absolute_url}}">
			            <div class="row result-card">
							<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-2">
								<div class="circle-profile circle-profile-int" style="background-image: url('/static/website/{{website.template}}/images/metas-logo.jpg')"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-9">
								<h3 class="result-title">{{ result.object|title }}</h3>
								<p class="result-info">{{ result.object.descripcion }}</p>
							</div>
							<div class="col-md-1">
								<span class="glyphicon glyphicon-plus pull-right"></span>
							</div>
		            	</div>
	            	</a>
			{% elif result.model_name == "tagdatos" or result.model_name == "versiondato" or result.model_name == "datoportal" or result.model_name == "recurso" or result.model_name == "archivo" or result.model_name == "archivoimagen" or result.model_name == "archivopdf" or result.model_name == "archivocsv" or result.model_name == "archivoxls" or result.model_name == "archivokml" or result.model_name == "archivokmz" or result.model_name == "archivodoc" or result.model_name == "webservice" or result.model_name == "basededatos" or result.model_name == "referencialink" %}
					<a href="{{ result.object.get_absolute_url}}">
			            <div class="row result-card">
							<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-2">
								<div class="circle-profile circle-profile-int" style="background-image: url('/static/website/{{website.template}}/images/datos-logo.jpg')"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-9">
								<h3 class="result-title">{{ result.object|title }}</h3>
								<p class="result-info">{{ result.object.descripcion }}</p>
							</div>
							<div class="col-md-1">
								<span class="glyphicon glyphicon-plus pull-right"></span>
							</div>
		            	</div>
	            	</a>
            {% else %}
	            	<a href="{{ result.object.get_absolute_url}}">
			            <div class="row result-card">
							<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-2">
								<div class="circle-profile circle-profile-int" style="background-image: url('{{ result.object.imagen.url }}')"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-9">
								<h3 class="result-title">{{ result.object|title }}</h3>
								<p class="result-info">{{ result.object.descripcion }}</p>
							</div>
							<div class="col-md-1">
								<span class="glyphicon glyphicon-plus pull-right"></span>
							</div>
		            	</div>
	            	</a>

            {% endif %}

            {% empty %}
                <p>Sin Resultados.</p>
            {% endfor %}

            {% if page_obj.has_previous or page_obj.has_next %}
                <div class="row">
	                <nav aria-label="paginas">
	                <ul class="pager">
					   <li class="previous {% if not page_obj.has_previous %} disabled {% endif %}">{% if page_obj.has_previous %}<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{% else %}<a>{% endif %}<span aria-hidden="true">&larr;</span> Anterior</a></li>
					   <li class="next {% if not page_obj.has_next %} disabled {% endif %}">{% if page_obj.has_next %}<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% else %}<a>{% endif %}Siguiente <span aria-hidden="true">&rarr;</a></li>
					  </ul>
					</nav>
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
<!-- 		</div> -->
	</section>
</section>
<script>
	$(function () {
	    $.backstretch([
	        "/static/website/{{website.template}}/images/bg/slide-7.jpg",
	    ]);
	});
</script>
{% endblock %}
