{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}

{% block content %}
<section id="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="box panel-box panel panel-default">
                <div class="panel-heading heading-funcionarios">
                    <div class="row">
                        <div class="col-md-10 col-sm-10 volver">
                            <h3 class="tit-funcionarios">{# {{ titulo }} #}Formulario de Solicitud de Audiencia</h3>
                        </div>
                <div class="col-md-2 col-sm-2 subt-funcionarios volver volver-margin" align="right">
                     <a href="javascript:window.history.back()"><img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ html|safe }}</p>
                            <form method="post" class="form-horizontal" id="form-solicitud">
                                {% csrf_token %}
                                {% for hidden in form.hidden_fields %}
                                    <div class="form-group">
                                        <div class="col-sm-7"> {{ hidden }} </div>
                                    </div>
                                {% endfor %}
                            {% for field in form.visible_fields %}
                                {% if not field.label|lower == "html" %}
                                {{ field.hidden }}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                                    <div class="col-sm-7"> {{ field }} </div>
                                    <div class="col-sm-2 error" id="{{ field.id_for_label }}-error"> {{ field.errors }} </div>
                                    {% if field.help_text %}
                                    <div class="col-sm-3"></div><div class="col-sm-7">
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    </div>
                                    {% endif %} </div>
                                {% endif %}
                            {% endfor %}
<center>
    <img id="loadingpost" style="display:None" src="/static/website/{{website.template}}/images/loading.gif" height="100px" class="loading-indicator" />
</center>
                                <button type="submit" id="submitbtn" class="btn button-send col-sm-7 col-sm-offset-3">Enviar</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" aria-labelledby="successfullModal" id="successfulPropuesta">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12"><i>
                                            <h3>Gracias por tu solicitud! </h3>
                                            </i></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>A la brevedad nos pondremos en contacto contigo.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"> <a role="button" type="button" class="btn btn-success" href="/">Volver al Inicio</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col-md-12 col-xs-12 volver-footer bot-m volver"> <a href="/"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<script src="/static/website/{{website.template}}/js/turnToBS.js"></script> 
<script src="/static/website/{{website.template}}/js/jquery.form.js"></script> 
<script src="/static/website/{{website.template}}/js/form-handler.js"></script>

    <script>
        $(function () {

            $.backstretch([
                "/static/website/{{website.template}}/images/slide1.jpg",
            ], {duration: 3000, fade: 750});
        });
    </script>

{% endblock %} 