{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}

{% block content %}
<section id="main" class="container">
	<div class="row">
        <h1 class="portal-heading dark-mode">Portal de <span class="heading-gob">GOBIERNO ABIERTO</span><br/>
	        <span class="heading-subnombre acceso">ACCESO A LA</span><br/>
	        <span class="heading-nombre acceso">INFORMACIÓN PÚBLICA</span>
        </h1> 
    </div>
    <div class="row">
	    <section class="box-translucent-back">
	    	<div class="col-sm-offset-9 col-md-offset-10 col-md-2 col-sm-3 subt-funcionarios volver" align="right"> <a href="javascript:history.back()"> <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>
	    </section>
    </div>
        <section class="box-translucent darker">
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <h3>Pasos para acceder a la información Pública</h3>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <center>
                        <i class="icon icon-brain"></i>
                    </center>
                    <h4>Pensá</h4>
                    <p>qué querés saber sobre cualquier dependencia de la Municipalidad</p>
                </div>
                <div class="col-md-2">
                    <center>
                        <i class="icon icon-stacked-files"></i>
                    </center>
                    <h4>Llená</h4>
                    <p>el formulario vía WEB con tu solicitud.</p>
                </div>
                <div class="col-md-2">
                    <center>
                        <i class="icon icon-clip"></i>
                    </center>
                    <h4>Guardá</h4>
                    <p>tu Nº de solicitud para hacer el seguimiento de tu pedido</p>
                </div>
				<div class="col-md-2">
                    <center>
                        <i class="icon icon-envelope"></i>
                    </center>
                    <h4>Recibí</h4>
                    <p>tu respuesta. Ya podés <strong>¡Volver a preguntar!</strong></p>
                </div>
                <div class="col-md-2">
                    <center>
                        <i class="icon glyphicon glyphicon-user"></i>
                    </center>
                    <h4>También</h4>
                    <p>podes dejarnos tu pedido en persona.
                    </p>
                </div>
            </div>
        </section>
</section>
<section id="main-section-translucent" class="container">
    <div class="row">
	    <div class="col-md-12">
            <section class="box panel-box panel panel-default">
                <div class="panel-body">
	                <div class="row">
		            	<div class="col-md-8 text-funcionarios text-info-p">
			            	<div class="row">
			            	<form method="post" class="form-horizontal" id="form-solicitud">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if not field.label|lower == "html" and not field.label|lower == "observaciones internas" and not field.label|lower == "nro expediente" %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                                    <div class="col-sm-7"> {{ field }} </div>
                                    <div class="col-sm-2 error" id="{{ field.id_for_label }}-error"> {{ field.errors }} </div>
                                    {% if field.help_text %}
                                    <div class="col-sm-3"></div><div class="col-sm-7">
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    </div>
                                    {% endif %} </div>
                                {% endif %}
                            {% endfor %}
<center>
    <img id="loadingpost" style="display:None" src="/static/website/{{website.template}}/images/loading.gif" height="100px" class="loading-indicator" />
</center>
                                <button type="submit" id="submitbtn" class="btn button-send col-sm-7 col-sm-offset-3">Enviar</button>
                            </form>
			            	</div>
		                </div>
		                <div class="col-md-4">
		                    <div class="row">
		                        <h3 class="canales">Si deseas hacer tu pedido de forma personal</h3>
		                    </div>
		                    <div class="row">
		                        <div class="col-md-12 fix-shadow">
		                            <div class="download-document-info">
		                                <p class="text-info">Deposita su <strong>Formulario Tipo Impreso</strong> en la <strong>Oficina de Atención al Vecino</strong> ubicada en planta baja de la explanada del Palacio 6 de julio de la Municipalidad de Córdoba,<br/> <strong>Marcelo T. de Alvear 120 - Planta Baja</strong>.
<br/><br/>
Ante cualquier consulta no dude en hacer su consulta a:<br/>
Teléfono: <a href="tel:+543514285600"> 0351-428 56 00 (interno 1021/1030)</a><br/>
Marcelo T. de Alvear 120 - Planta Baja<br/>
<i>Secretaría de Modernización, Comunicación y Desarrollo Estratégico</i><br/>
<i>Dirección de Gobierno Abierto, Acceso a la Información Pública y Estadísticas y Censos</i><br/>
E-mail: <a href="mailto:gobiernoabiertocba@gmail.com">gobiernoabiertocba@gmail.com</a></p>
		                            </div>
<a target="_blank" 
    href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/Formulario_Acceso_Informaci%C3%B3n_P%C3%BAblica.pdf">
		                            <div class="download-document-link">
		                                <p class="text-download"> Descargar</p>
		                                <p class="text-document">Documento</p>
		                            </div>
		                            </a> </div>
		                    </div>
		                </div>
	                </div>
	                <div class="col-md-12">
<p>El derecho de acceso a la información pública el derecho que tiene todo ciudadano a acceder a 
información en manos del Estado. Es vital para fortalecer y mejorar las instituciones públicas y 
ha sido consagrado en nuestra Constitución Nacional y en diversos tratados internacionales.</p>

<p>En 2002, la Municipalidad de Córdoba promulgó la primera Ordenanza de Acceso a la Información 
Pública (Ordenanza Nº 10.560), en 2010 se crea el órgano rector encargado de canalizar y cumplimentar 
lo establecido en la Ordenanza. </p>

<p>
<b>Estas son las normas vigentes:</b>
<br />Noviembre de 2002: <a target="_blank" href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/ORDENANZA_10560.pdf">Ordenanza 10.560</a>. 
Primera Ordenanza de Acceso a la Información en la Municipalidad de Córdoba.
 
<br />Noviembre de 2010: La <a target="_blank" href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/ORDENANZA_11877_MODF.pdf">Ordenanza N 11.877</a>
 modifica la Ordenanza 10.560 y se crea la oficina de acceso de la información (Art 6).
 

<br />Mayo 2012: 
Se reglamenta la Ordenanza 11.877 con el <a target="_blank" href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/DECRETO_N_1245_REGLAM.pdf">Decreto 1.245</a> 

<br />Abril de 2016: 
Se modifica el Decreto 1.245 <a target="_blank" href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/DECRETO_856_REGLAM.pdf">Decreto 856</a>
</p>

<p>
En 2016 se modernizan los canales de recepción del Formulario Tipo 
con el objetivo de facilitar el ejercicio de solicitud de pedidos, ahora se pueden realizar pedidos 
vía web, además de poder hacerlo físicamente dejando el formulario tipo en la Oficina de Atención 
al Vecino ubicado en planta baja de la explanada del Palacio 6 de julio de la Municipalidad de 
Córdoba.</p>

<p>En la misma línea la Municipalidad de Córdoba es miembro fundador de la Red Federal de Acceso 
a la Información Pública desde el año 2014.</p>
	                </div>
                    <div class="modal fade" role="dialog" aria-labelledby="successfullModal" id="successfulPropuesta">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12"><i>
                                            <h3>Gracias por tu solicitud! </h3>
                                            </i></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>A la brevedad nos pondremos en contacto contigo.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"> <a role="button" type="button" class="btn btn-success" href="/">Volver al Inicio</a> </div>
                            </div>
                        </div>
                    </div>
				    <div class="row nopadding">
				        <div class="col-md-12 col-xs-12 volver-footer bot-m volver"> <a href="/"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>
				    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<script src="/static/website/{{website.template}}/js/header-dark.js"></script>
<script src="/static/website/{{website.template}}/js/turnToBS.js"></script> 
<script src="/static/website/{{website.template}}/js/jquery.form.js"></script> 
<script src="/static/website/{{website.template}}/js/form-handler.js"></script>

	<script>
	    $(function () {

	        $.backstretch([
	            "/static/website/{{website.template}}/images/informacion-publica.jpg",
	        ], {duration: 3000, fade: 750});
	    });
	</script>

{% endblock %} 