{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}

{% block content %}
<section id="main" class="container">




<div class="row">
    <section class="box panel-box panel panel-default">
        <div class="panel-heading heading-funcionarios">
            <div class="row">
                <div class="col-md-10 col-sm-10 volver">
                    <h3 class="tit-funcionarios">{{ titulo }}</h3>
                </div>
                <div class="col-md-2 col-sm-2 subt-funcionarios volver volver-margin" align="right">
                     <a href="javascript:window.history.back()"><img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    <form method="post" class="form-horizontal" id="form-solicitud">
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                Estas nuevas ideas preferentemente estarán en sintonía con los lineamientos del plan de metas de gobierno.
                                A continuación puedes elegir alguno de ellos para darle marco a tu idea.
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                {% for lineamiento in plan_de_metas.lineamientos %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading {% if forloop.first %}panel-heading-fc {% else %} panel-heading-middle {% endif %}"
                                            role="tab"
                                            id="hd-{{lineamiento.slug}}"
                                            style="background-color: {{lineamiento.color_1}}">
                                            <h4 class="panel-title">
                                                <label>
                                                    <input type="radio" name="lineamiento" id="or_{{lineamiento.slug}}" value="{{lineamiento.id}}">
                                                        <a class="collapsed text-collapse"
                                                            role="button"
                                                            data-toggle="collapse"
                                                            data-parent="#accordion"
                                                            href="#{{lineamiento.slug}}"
                                                            aria-expanded="false"
                                                            aria-controls="{{lineamiento.slug}}">
                                                            {{lineamiento.titulo}}
                                                        </a>
                                                </label>
                                            </h4>
                                        </div>
                                        <div id="{{lineamiento.slug}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="hd-{{lineamiento.slug}}">
                                            <div class="panel-body">
                                                {{lineamiento.html|safe}}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                    <div class="panel panel-default">
                                        <div class="panel-heading panel-heading-middle panel-heading-lc"
                                            role="tab"
                                            id="hd-NO"
                                            style="background-color: {{plan_de_metas.lineamientos.0.color_1}}">
                                            <h4 class="panel-title">
                                                <label>
                                                    <input type="radio" name="lineamiento" id="or_NO" value="">
                                                        <a class="collapsed text-collapse"
                                                            role="button"
                                                            data-toggle="collapse"
                                                            data-parent="#accordion"
                                                            href="#NO"
                                                            aria-expanded="false"
                                                            aria-controls="NO">
                                                            Sin lineamiento elegido
                                                        </a>
                                                </label>
                                            </h4>
                                        </div>
                                        <div id="NO" class="panel-collapse collapse " role="tabpanel" aria-labelledby="hd-NO">
                                            <div class="panel-body">
                                                <p>Esta idea no está vinculada a ningún lineamiento del plan de metas.</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                        {% csrf_token %}
                            {% for field in form %}
                                {% if not field.label|lower == "lineamiento" %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                                    <div class="col-sm-7"> {{ field }} </div>
                                    <div class="col-sm-2 error" id="{{ field.id_for_label }}-error"> {{ field.errors }} </div>
                                    {% if field.help_text %}
                                    <div class="col-sm-3"></div><div class="col-sm-7">
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    </div>
                                    {% endif %} </div>
                                {% endif %}
                            {% endfor %}
<center>
    <img id="loadingpost" style="display:None" src="/static/website/{{website.template}}/images/loading.gif" height="100px" class="loading-indicator" />
</center>
                        <button type="submit" id="submitbtn" class="btn button-send col-sm-7 col-sm-offset-3">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                {{ html|safe }}
            </div>
            <div class="modal fade" role="dialog" aria-labelledby="successfullModal" id="successfulPropuesta">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12"><i><h3>Gracias por dejarnos tu idea! </h3></i></div>
                            </div>
                        <div class="row">
                              <div class="col-md-12"><p>A la brevedad un funcionario la revisará y te pondrá en contacto contigo.</p></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a role="button" type="button" class="btn btn-success" href="/">Volver al Inicio</a>
                    </div>
                </div>
              </div>
        </div>
        <div class="modal fade" role="dialog" aria-labelledby="errorModal" id="errorPropuesta">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12"><i>
                                            <h3>Ha ocurrido un error al enviar tu propuesta! </h3>
                                            </i></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Por favor, intentá de nuevo.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"> <a role="button" type="button" class="btn btn-danger" data-dismiss="modal">Volver al formulario</a> </div>
                            </div>
                        </div>
                    </div>
        <div class="row nopadding">
                        <div class="col-md-12 col-xs-12 volver-footer bot-m volver"> <a href="/"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>
        </div>
    </div>
</section>
</div>
</section>
<script src="/static/website/{{website.template}}/js/turnToBS.js"></script>
<script src="/static/website/{{website.template}}/js/jquery.form.js"></script>
<script src="/static/website/{{website.template}}/js/form-handler.js"></script>

    <script>
        $(document).ready(function(){
            $('#accordion').collapse();
            $('input[type=radio][name=lineamiento]').change(function() {
                $('#'+this.id.split('_')[1]).collapse('show');
            });
            $('.collapse').on('show.bs.collapse', function (e) {
                $('#accordion .in').collapse('toggle');
                $('#or_'+$(e.target).attr('id')).prop("checked", true);
            });

        });
        $(function () {
            $.backstretch([
                "/static/website/{{website.template}}/images/ideas.jpg",
            ], {duration: 3000, fade: 750});
        });
    </script>
{% endblock %}
