{% extends extends_from %}

{% block title %} Visualizaciones {% endblock %}
{% block header_menu %}
	<nav class="navbar navbar-muni-new navbar-fixed-top sticky" id="header">
		<div class="container">
		<div class="row menu-w-si">
            <div class="col-md-5 col-sm-5">
                <a href="/"><img src="/static/website/{{website.template}}/images/munilogo.png" class="img-responsive menu-logo-new"></a>
			</div>
            <div class="col-md-5 col-lg-offset-2 col-md-offset-2 col-sm-6 col-sm-offset-0">
                <div id="menu-container" class="pull-right">
                    <ul role="tablist" class="menu nav nav-pills">
	                    <li role="presentation"><a href="https://twitter.com/municba" class="pull-right social-icon-menu social-icon" target="_blank"><span class="icon-twitter icon-circle"></span></a>
	                    </li>
	                    <li role="presentation"><a href="https://www.facebook.com/MuniCba/" class="pull-right social-icon-menu social-icon" target="_blank"><span class="icon-facebook icon-circle"></span></a>
	                    </li>
                        <li class="active" role="presentation">
                            <a href="/">Inicio</a>
						</li>
                        <li class="dropdown" role="presentation">
                            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="muni-caret"></span> Secciones </a>
                            <ul aria-labelledby="drop4" class="dropdown-menu dropdown-menu-right" id="menu1">
									
                        	    {% for seccion in secciones_principales %}
                        	    {% if seccion.activada %} 
                            	    <li><a href="{{ seccion.url }}">{{ seccion.titulo }}</a></li>
                	            {% else %}
                	                <li><a>{{ seccion.titulo }}</a></li>
                        	    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
        </div>
	</nav>
    {% endblock %}
{% block content %}
<section id="main-new">
	<div class="container" style="margin-top:10px ">
		<div class="row ">
			<div class="col-sm-8">
				<h1 class="viz-title">Visualizaciones Municipalidad de Córdoba</h1>
			</div>
		</div>
		<div class="row app-info">
		{% for viz in visualizaciones %}
			<div class="col-sm-6 col-md-4">
				<div class="viz-box">
					<div class="viz-box-heading">
						{% if not viz.url == '' %}<a target='_blank' href="{{ viz.url }}"><h3 class="title">{{ viz.titulo }}</h3></a>{%else%}<h3 class="title">{{ viz.titulo }}</h3>{% endif %}
					</div>
					<div class="viz-box-body">
						<div class="viz-logo {% if not viz.activado %}deactivated{%endif%}" style="background-image: url('/media/{{ viz.logo }}'); "></div>
						<div class="viz-info">
							<div class="background"></div>
							<div class="texto">
								{{ viz.descripcion|default_if_none:"" }}
    						</div>
    					</div>
					</div>
					<div class="viz-box-footer">
						
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</section>
{% endblock %}