{% extends "backend/base_app.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Fotos{% endblock %}

{% block content %}
<div id="page-wrapper">
    <form  class="form" method="post" enctype="multipart/form-data">
        <div class="row">

        <div class="col-sm-8 col-md-6">
            <h1 class="page-header">Fotos Prensa <small>Crear/Editar</small>

                <div class="btn-group pull-right" role="group" aria-label="List bar">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{% url 'backend.fotos.index' %}" class="btn btn-link">Cancelar</a>
                </div>
            </h1>
        </div>

        </div>
        <div class="row">
            <div class="col-sm-8 col-md-6">
            {% csrf_token %}
            {% crispy imagenform %}
        </div>
    </form>
</div>

{% endblock %}
