{% extends "backend/base_app.html" %}
{% load staticfiles %}

{% block title %}Fotos{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">

        <div class="col-sm-12">
            <h1 class="page-header">Fotos de Prensa <small><span class="badge">{{ object_list | length }}</span></small>

                <div class="btn-group pull-right" role="group" aria-label="List bar">
                    <a href="{% url 'backend.fotos.crear' %}" class="btn btn-success">Agregar</a>
                </div>
            </h1>
        </div>
    </div>


<div class="row">
{% for object in object_list %}
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{{  object.imagen.crop.240x140 }}" alt="{{ object.titulo }}">
      <div class="caption">
        <h3>{{ object.titulo }} {% if object.publicada %}<i class="fa fa-globe fa-fw"></i>{% endif %}</h3>
        <p>{{ object.descripcion }}</p>
        <p>
        {% for o in object.personas.all %}
            <span class="label label-primary"><i class="fa fa-user fa-fw"></i> {{ o }}</span>
        {% endfor %}
        {% for o in object.oficinas.all %}
            <span class="label label-default"><i class="fa fa-building fa-fw"></i> {{ o }}</span>
        {% endfor %}
        {% for o in object.tags.all %}
            <span class="label label-info"><i class="fa fa-tag fa-fw"></i> {{ o }}</span>
        {% endfor %}
 
        </p>

        <p> 
            <a href="{% url 'fotos.foto.process' 'w400-h400' object.id %} ">Thumb 400x400px</a> - 
            <a href="{% url 'fotos.foto.process' 'w800-h600' object.id %} ">Thumb 800x600px</a> - 
            <a href="{% url 'fotos.foto.process' 'w150-h150' object.id %} ">Thumb 150x150px</a>
        </p>
        <!--
        <p>
            <a href="#" class="btn btn-primary" role="button">Editar</a> 
            <a href="#" class="btn btn-danger" role="button"><i class="fa fa-trash fa-fw"></i></a>
        </p>
        -->

      </div>
    </div>
  </div>
{% endfor %}
</div>
        {% if is_paginated %}
        <div class="pagination pull-right">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'backend-personas-list' %}?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'backend-personas-list' %}?page={{ page_obj.next_page_number }}">siguiente</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

</div>
{% endblock %}
