{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="{% block description %}{% endblock %}"/>

      <title>{% block title %}Dominio | Titulo pagina {% endblock %}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" async>
      <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
      <link href="{% static 'assets/css/base_mapa.css' %}" rel="stylesheet">
      <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
      {% block head %}
      {% endblock %}

  </head>
  <body>
      <div class="container-fluid">
        {% block navbar %}
        {% endblock navbar %}

              <div class="mapTitle">
                <div class="row rowTitle">
                  <div class="col-md-1 col-xs-2 col-sm-2">
<!--                     <img src="../static/images/logo-147.jpg" class="logo-147"> -->
                  </div>
                  <div class="col-md-11 col-xs-16 col-sm-10">
                    <h2> {{titulo}} - Cantidad: {{reclamos}} </h2>
                  </div>
                </div>
              </div>

<!--             <img src="../static/images/logo-147.jpg" class="logo-147"> -->
          <div id="map" class="map">
<!--             <pre id="info" class="ol-control">
            </pre>
 -->
            <div id="layers-box" class="ol-control panel panel-default" >
              <img src="/static/images/icono-logo-cba-147.png" class="logo-147">
            </div>

            </div>
          </div>
          {% block content %}
          {% endblock %}

<!--       <script type="text/javascript">
      $(document).ready(function() {
        var refreshId = setInterval(function() {
          $("#map").load("url que quieres cargar")
          .error(function() { alert("Error"); });
        }, 1000);
        $.ajaxSetup({ cache: false });        
      });
      </script>
 -->      {% block scripts %}
      {% endblock %}

  </body>
</html>