<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

        {% if tablero.favicon %}
          <link rel="shortcut icon" type="image/png" href="{{tablero.favicon.url}}">
        {% else %}
          <link rel="shortcut icon" type="image/png" href="/static/favicons/favicon-96x96.png">
        {% endif %}

        <title>{{ tablero.nombre }}</title>

    </head>
    <body>
      
      <div style="width: 100%; height: 100vh">
    
      {% for pagina in paginas %}
        <div id="pagina_tablero_{{ forloop.counter }}" name="pagina_tablero" style="float: left; width: 47vw; height: 47vh; margin: 1vh 1vw">
          <iframe name='tablero_frame'
            id="frame_{{ forloop.counter }}" 
            src="" 
            allowfullscreen>
          </iframe>
        </div>
      {% endfor %}
      
      </div>
    
    <script type="text/javascript">
    var pagina_activa=1;
    var paginas = document.getElementsByName("pagina_tablero");
    var total_paginas = paginas.length;
    
    url_frames = [];
    {% for pagina in paginas %}
      url_frames.push('{{ pagina.pagina.iframe_url }}');
    {% endfor %}

    function cargar_frames() {
        var frames = document.getElementsByName("tablero_frame");

        for (i = 0; i < frames.length; i++) {
          frames[i].style = "border: 1px solid #" + i + i + "A3" + i + i + "; width:100%; height:100%"; 
          frames[i].src = url_frames[i];
        }
    }
    
    
    cargar_frames();
    
    </script>
      
    </body>
</html>
