<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

        <title>{{ tablero.nombre }}</title>

    </head>
    <body>
      
      <div style="width: 100%; height: 800px">
    
      {% for pagina in paginas %}
        <div id="pagina_tablero_{{ forloop.counter }}" name="pagina_tablero" style="float: left; width: 100%; height: 800px">
          <!--
          <div style="width: 100%;">
            <h2 style='margin: 2px;'>{{ tablero.nombre }} - {{ tablero.descripcion }} - {{ pagina.pagina.nombre }}</h2>
          </div>
          -->
          <iframe name='tablero_frame'
            id="frame_{{ forloop.counter }}" 
            src="" 
            onload="this.width=screen.width;this.height=screen.height;" 
            frameborder="0" 
            allowfullscreen>
          </iframe>
        </div>
      {% endfor %}
      
      </div>
    
    <script type="text/javascript">
    var pagina_activa=1;
    var paginas = document.getElementsByName("pagina_tablero");
    var total_paginas = paginas.length;
    
    url_frames = [];
    {% for pagina in paginas %}
      url_frames.push('{{ pagina.pagina.iframe_url }}');
    {% endfor %}

    function cargar_frames() {
        var frames = document.getElementsByName("tablero_frame");

        for (i = 0; i < frames.length; i++) {
          frames[i].width=screen.width;
          frames[i].height=screen.height * 0.90;
          frames[i].src = url_frames[i];
        }
    }
    
    function change_pagina() {
      
      let i;
      for (i = 1; i <= paginas.length; i++) {
          if (i == pagina_activa) {
            // no puede mandarse a refrescar si es de otro dominio por políticas de sameorigin
            // leer https://stackoverflow.com/questions/25098021/securityerror-blocked-a-frame-with-origin-from-accessing-a-cross-origin-frame
            // document.getElementById('frame_' + i).contentWindow.location.reload(true);
            paginas[i-1].width=screen.width;
            paginas[i-1].height=screen.height;
            paginas[i-1].style.display = "block";
          } else {
            paginas[i-1].style.display = "none";
          }
          
      }
      pagina_activa += 1;
      if (pagina_activa > total_paginas) {
        pagina_activa = 1;
      }
    }
    
    setInterval("change_pagina()", 10000);
    
    cargar_frames();
    
    </script>
      
    </body>
</html>
