{% extends "login_base.html" %}
{% load account_tags %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Inicio</h1>
        <p>Bienvenido a tu inicio.</p>
        Hasta ahora <b>{% total_people %}</b> personas han probado el Login de Gobierno Abierto.
    </div>


    {% social_people %}



{% endblock %}