{% extends "login_base.html" %}
{% block title %}Bienvenido{% endblock %}
{% block content %}
  <h1>Bienvenido {{ new_user.username }}!</h1>
  <p>Tu cuenta ha sido creada correctamente. Ahora podes <a href="{% url "login.login" %}">iniciar sesion</a>.</p>
{% endblock %}