{% extends "login_base.html" %}
{% load bootstrap3 %}
{% block title %}Crear una cuenta{% endblock %}
{% block loginclass %}registrationForm{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Registrate</h1>
        <p>Crear una cuenta</p>
    </div>

    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% buttons %}
            <button type="submit" class="btn btn-lg btn-muniCba">
                Crear mi cuenta
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
