


<button type="button" class="btn btn-default">github <span class="badge">{{ github_count }}</span></button>
<button type="button" class="btn btn-info">twitter <span class="badge">{{ twitter_count }}</span></button>
<button type="button" class="btn btn-danger">google <span class="badge">{{ google_count }}</span></button>
<!-- <button type="button" class="btn btn-primary">facebook <span class="badge">{{ facebook_count }}</span></button>
<button type="button" class="btn btn-danger">instagram <span class="badge">{{ instagram_count }}</span></button> -->
