<h1>{{ prensa.nombre }} {{ prensa.apellido }}</h1>
<h2>Acreditado Prensa en la Ciudad de Córdoba</h2>

<p>

{% if prensa.foto %}
<img src="{{prensa.foto.thumbnail.400x400 }}" style="max-width:150px; max-height:150px; float:left; padding:10px;" />
{% endif%}

<a href="{{ qr_download }}" download="{{ prensa.nombrepublico|slugify }}-QR.png">
    <img src="{{ qr_image }}" title="Descargar QR {{ prensa.nombrepublico }}" 
        style="max-width:400px; max-height:400px; float:right;" />
</a>

{{ prensa.html|safe }}

<h3>Acreditación</h3>
{{ prensa.detalles_acreditacion }}

</p>