{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Solicitudes de acceso a la información pública <small>{{ objects_count }} de {{ total }}</h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Estado</th>
                    <th>Última modificación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.titulo}}</td>
                    <td>{{object.get_estado_display }}</td>
                    <td>{{object.ultima_modificacion}}</td>
                    <td><a href="{% url 'backend-acceso-info-pdf' object.id %}">PDF</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Sin resultados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
    {% if is_paginated %}
    <div class="pagination pull-right">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'backend-tablero-acceso-informacion' %}?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}
            <span class="page-current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'backend-tablero-acceso-informacion' %}?page={{ page_obj.next_page_number }}">próxima</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}