body{
  background-color: #F9F9F9;
}
textarea,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
}
a, ins, del, button {
  color: inherit;
  text-decoration: none;
}
ul, ol,
menu {
  list-style: none;
  margin-bottom: 0px;
}
.pagination{
  margin: 0px;
}
/*#main-new{
  padding-top: 180px;
}*/
#main-new .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  margin: 0 1rem;
  padding: 3rem 0.5rem 0rem;
}
.nav__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.nav__controls > .nav__label {
  flex: auto;
  margin-bottom:10px;
}
.nav__label {
  position: relative;
  margin-left: 1rem;
  text-transform: capitalize;
  z-index: 1;
  cursor: pointer;
  text-align: center;
}
.selects menu{
  padding-left: 0px;

}
.selects .nav__controls{
  padding: 0px;
}
.selects .nav__controls .nav__label{
  margin-left: 0px;
}
.nav.selects{
  border-bottom: 0px!important;
}
.tituloSelects{
  color: #E90088;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}
.nav__paginacion {
  display: flex;
}
.nav__paginacion > span {
  flex: auto;
  align-items: center;
}
.nav__paginacion .nav__label {
  padding: 5px;
  text-align: center;
  margin-left: 5px;
  min-width: 25px;
}
.paginacion__botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav__label span {
  line-height: 38px;
  font-family: Lato;
  font-size: 14px;
}
.nav__label {
  font-family: Lato;
  font-size: 14px !important;
}
.nav__label--active {
  background-color: #00774e;
  color: #FFF;
  border-radius: 2px;
  pointer-events: none;
}
.nav__label--active:hover {
  cursor: default;
}
.nav__label--siguiente {
  margin-left: 1rem;
}

/*cards*/
.cards {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  overflow-y: auto;
}
.card {
  background: #fefff9;
  color: #363636;
  margin: 1%;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  border-radius: 4px;
  width: 23%;
  flex: 1 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 10% 50%;
  transform-origin: 10% 50%;
  z-index: 1;
}
.card a {
  display: block;
}
.card .card-summary {
  padding: 0 4%;
  color: unset;
}
.card .card-summary strong {
  vertical-align: top;
  display: inline-block;
  text-align: right;
  width: 44%;
}
.card .card-summary span {
  vertical-align: top;
  display: inline-block;
  width: 54%;
}
.card .card-summary .barrios {
  margin: 5px;
  line-height: 1.3em;
  margin-bottom: 10px;
}
.card .card-summary .barrios span {
  font-size: 14px;
}
.card .card-summary .barrios span:after {
  content: ", ";
}
.card .card-summary .barrios span:last-child:after {
  content: ".";
}
.card .card-summary .barrios strong,
.card .card-summary .barrios span {
  width: unset;
  text-align: left;
  font-size: 1.1em;
}
.card .card-summary .barrios strong{
  color: #00a665 !important;
  font-size: 1.1em;
}
.card .card-summary .barrios span {
  color: #777777;
  font-weight: 200;

}
.card .vc_progress_bar .vc_single_bar,
.card .progress {
  background: #54635d;
  border-radius: 0;
  margin-bottom: 0px;
  height: 30px;
}
.card .fecha {
  background-color: #ebebeb;
  color: #6d6d6d;
  line-height: 1.33em;
  font-size: 1em;
}
.card .fecha span {
  width: 50%;
  display: inline-block;
  text-align: center;
  padding: 3% 0;
  position: relative;
}
.card .fecha span:nth-child(2) {
  background-color: rgba(0, 166, 101, 0.85);
  color: #FFFFFF;
}
.card .fecha span:nth-child(2):before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  border-color: transparent transparent transparent #ebebeb;
  border-width: 26px 0 26px 7px;
}
.card .icono {
  position: absolute;
  right: 3px;
  width: 15%;
  top: 4px;
}
.card .card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  text-align: right;
}
.card .tipo {
  color: #fff;
  background-color: #00a665;
  display: inline-block;
  font-weight: bold;
  max-width: 102px;
  text-align: center;
  padding: 0 5px;
  margin-top: 15px;
  margin-right: 15px;
}
.card .tipo--licitada {
  margin: 0 0px 0;
  top: 15px;
  left: 8px;
  position: absolute;
  max-width: unset;
  background-color: #faa732;
}
.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.card .card-title {
  background: rgba(0, 166, 101, 0.85);
  padding: 3.5% 0 2.5% 0;
}
.card .card-title h3 {
  font-size: 1.2em;
  color: white;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
  letter-spacing: 1px;
}
.card:hover, .card:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card:hover .card-title, .card:focus .card-title {
  background: rgba(0, 217, 132, 0.85);
}
img {
  max-width: 100%;
}
.card abbr {
  text-transform: none;
  border-bottom: none;
  letter-spacing: unset;
}
.card .vc_progress_bar.wpb_content_element {
  margin-bottom: 0;
}
.resultados {
  margin-top: 10px;
}
.sin-resultados {
  height: 200px;
}
.sin-resultados,
.paginacion-obras {
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
}
.paginacion-obras{
  color: #E90088;
  font-style: italic;
}
.obra-move {
  -webkit-transition: all 600ms ease-in-out 50ms;
  transition: all 600ms ease-in-out 50ms;
}
.obra-enter-active {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.obra-leave-active {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 0;
}
.obra-enter, .obra-leave-to {
  opacity: 0;
}
.obra-enter {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

@media all and (max-width: 940px) {
.card {
  width: 31%;
}
}
@media all and (max-width: 768px) {
  .tituloObras {
    margin-top: 50px;
  }
  .tituloSelects {
    margin: 10px 0;
  }
  .cardMedicion .medicion,
  .cardMedicion .descripcionMed {
    text-align: center;
  }
  .cardMedicion .medicion {
    padding-top: 5px;
  }
}
@media all and (max-width: 770px) {
.card {
  width: 48%;
}
.nav__controls {
  flex-direction: column;
  min-height: 50px;
  margin: 0;
}
.nav__label,.nav__label--siguiente {
  margin: 0;
}
}
@media all and (max-width: 520px) {
.nav__paginacion {
  flex-direction: column;
}
}
@media all and (max-width: 480px) {
.card {
  width: 97%;
}
.cards {
  max-height: unset !important;
}
}
#mapa {
height: 60vh;
width: 100%;
margin: 0px;
padding: 0px;
}
.vc_label_units{
vertical-align: -5px;
float: left;
margin-left: 10px;
margin-top: 5px;
}

.tituloObras{
font-size: 2.75em;
font-weight: 500;
line-height: .3em;
text-align: center;
margin-bottom: 20px;
color: #E90088;
text-transform: uppercase;
}
.tituloObras img{
margin-right: 10px;
}
input{
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 14px 12px 20px;
  font-size: 16px;
  line-height: 1.3em;
  color: #E90088;
  font-style: italic;
  font-weight: 700;
  font-size: 1.25em;
  border-radius: 0!important;
  min-width: 240px;
  max-width: 100%;
  width: 100%;
  display: block;
  background-color: #F9F9F9;
  padding-right: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E90088;
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E90088;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: #E90088;
}
select{
  border: 0px;
  /* background: url('/static/obras/images/selectbox-arrow.png') right center no-repeat; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 14px 12px 20px;
  font-size: 16px;
  line-height: 1.3em;
  color: #E90088;
  font-style: italic;
  font-weight: 700;
  font-size: 1.25em;
  border-radius: 0!important;
  min-width: 240px;
  max-width: 100%;
  width: 100%;
  display: block;
  background-color: #F9F9F9;
  padding-right: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav__select:after{
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #E90088;
  position: absolute;
  top: 45%;
  right: 10px;
  content: " ";
  z-index: 98;
 }

.selects .nav__label {
margin-top: 10px;
background-image: #E90088; /* Old browsers */
background-image: -moz-linear-gradient(left, #E90088 0%, #E8FF00 130%); /* FF3.6-15 */
background-image: -webkit-linear-gradient(left, #E90088 0%,#E8FF00 130%); /* Chrome10-25,Safari5.1-6 */
background-image: linear-gradient(to right, #E90088 0%,#E8FF00 130%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
padding: 1px;
}
.masBuscado.sinBorde{
  background-color: #FFF;
  border-top: 5px solid #00a665;
}
.night .masBuscado.sinBorde{
  background-color: #000;
  border-top: 5px solid #026089;
}
.high_contrast .masBuscado.sinBorde{
  background-color: #000;
  border-top: 5px solid #FFEB02;
}
.btn-iniciar{
color: #FFFFFF;
font-weight: 900;
text-transform: uppercase;
font-size: 1.5em;
width: 100%;
display: inline-block;
padding: 7.5px;
transition: all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
}
.btn-iniciar:hover,
.btn-iniciar:focus{
color: #FFFFFF;
font-size: 1.55em;
background-color: rgba(0,0,0,0.25) !important;
transition: all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
}
.cardMedicion{
color: #E90088;
margin: 20px auto;
display: inline-block;
}
.cardMedicion .imgMedicion{
text-align: center;
}
.cardMedicion .descripcionMed{
font-style: italic;
font-size: 1.2em;
}
.cardMedicion .medicion{
font-size: 2em;
font-weight: 900;
margin: 0px;
}
.btnDescargar{
  width: 100%;
  display: block;
  padding: 10px;
  text-align: center;
  border: 1px solid #C8C5EF;
  color: #7D35C4;
  font-size: 1.25em;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 0px;
}
.btnDescargar:hover{
  background-color: #C8C5EF;
}
.btnDescargar .la-stack{
  float: right;
  margin-top: -6px;
}
.colMapa,
.col-header{
display: flex;
flex-direction: column;
justify-content: center;
border-bottom: none;
}

.cSeparador{
border-right: 1px solid #e88044;

}

.tituloObra{
  margin-top: 40px;
  color: #E90088;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: lowercase;
  font-size: 1.75em;
}
.tituloObra:first-letter {
  text-transform: uppercase;
}

.container.inFContainer{
  padding-top: 80px;
}

.container.inFContainer.tpl2017{
  padding-top: 200px;
}

.boxInfo{
  background-color: #F1F1F1;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.colExp{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tipoObra{
  padding: 2.5px 7.5px;
  background-color: #FFF;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}
.boxInfo.indent{
  padding: 5px 100px;
}
.boxInfo p{
  margin: 0;
  font-size: 1.2em;
  color: #000;
  font-weight: 600;
}
.imgBack{
   min-height:100px;
   width:100%;
   background-size: cover;
   background-position: center center;
}
.verticalDivider{
  position: absolute;
    left: -13px;
    font-size: 4em;
    top: -14px;
}
