{% load staticfiles %}{% load website_tags %}<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Qhapax{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/static/website/{{website.template}}/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/static/website/{{website.template}}/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/static/website/{{website.template}}/assets/css/ie8.css" /><![endif]-->
        <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    </head>
    <body class="landing">
        <div id="page-wrapper">

            <!-- Header -->
                <header id="header" class="alt">
                    <h1><a href="/">{{ website.titulo }}</a> {{ website.subtitulo }}</h1>
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li>
                                <a href="#" class="icon fa-angle-down">Secciones</a>
                                <ul>
                                    {% for seccion in secciones_principales %}
                                    <li><a href="{{ seccion.get_url }}">{{ seccion.titulo_corto }}</a></li>
                                    {% endfor %}


                            {# VER SI HAY AL MENOS UN PLAN DE METAS PUBLICADO #}
                            {% if aplicaciones.plandemetas %}
                            <li>
                                <a href="#">Plan de metas</a>
                                <ul>
                                    {% for meta in aplicaciones.plandemetas %}
<li><a href="{% url 'website.plandemetas' meta.slug %}">{{ meta.titulo }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}


                            {# VER SI HAY AL MENOS UN ORGANIGRAMA PUBLICADO #}
                            {% if aplicaciones.funcionarios %}
                            <li>
                                <a href="#">Organigramas</a>
                                <ul>
                                    {% for func in aplicaciones.funcionarios %}
<li><a href='{% url 'website.funcionarios.home' func.slug %}'></a>{{ func.titulo }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}

                            {# VER SI HAY AL MENOS UN Portal de datos PUBLICADO #}
                            {% if aplicaciones.portaldedatos %}
                            <li>
                                <a href="#">Datos</a>
                                <ul>
                                    {% for portaldedato in aplicaciones.portaldedatos %}
<li><a href='{% url 'website.portaldatos.home' portaldedato.slug %}'></a>{{ func.titulo }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}

                                </ul>
                            </li>
                            <!-- <li><a href="#" class="button">Sign Up</a></li> -->
                        </ul>
                    </nav>
                </header>

            <!-- Banner -->
                <section id="banner">
                    <h2>{{ titulo }}</h2>
                    <p>{{ subtitulo }}</p>
                    <!--
                    <ul class="actions">
                        <li><a href="#" class="button special">Sign Up</a></li>
                        <li><a href="#" class="button">Learn More</a></li>
                    </ul>
                    -->
                </section>

            <!-- Main -->

            {% block content %}
            {% endblock %}


            <!-- Footer -->
                <footer id="footer">
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                    </ul>
                    <ul class="copyright">
                        <li>&copy; Template html5up alpha.</li><li>Diseñado por: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </footer>

        </div>

        <!-- Scripts -->
            <script src="/static/website/{{website.template}}/assets/js/jquery.min.js"></script>
            <script src="/static/website/{{website.template}}/assets/js/jquery.dropotron.min.js"></script>
            <script src="/static/website/{{website.template}}/assets/js/jquery.scrollgress.min.js"></script>
            <script src="/static/website/{{website.template}}/assets/js/skel.min.js"></script>
            <script src="/static/website/{{website.template}}/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="/static/website/{{website.template}}/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/static/website/{{website.template}}/assets/js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79840006-1', 'auto');
  ga('send', 'pageview');

</script>

    </body>
</html>
