{# un dato del portal de datos #}

{% extends extends_from %}

{% block title %}{{ dato.titulo }} {% endblock %}

{% block content %}

<section id="main" class="container">
    <section class="box">
        <div class="features-row">

        <h3>{{ dato.titulo }}</h3>
        Categoría: {{ dato.categoria.nombre }}
        {{ dato.html|safe }}

        <h4>Versiones disponibles</h4>
        
        {% for ver in dato.versiondato_set.all %}
            <p>
            <hr>
            {{ ver.html|safe }}
            fecha: {{ ver.fecha }} 
            {# recurso.tipo.tipo 10:Archivo 20:webservice 30:db 40:referencia #}
            {% for recurso in ver.recurso_set.all %}
                {{ recurso.tipo.tipo }} ({{ recurso.tipo.subtipo }})
                {# TODO iconos seguntipo, el ID no es útil #}
            {% endfor %}
            <br />
            Fuentes: 
            <ul>
            {% for fuente in ver.fuentes.all %}
            <li>{{ fuente.nombre }}</li>
            {% endfor %}
            </ul>

            {# Datos relacionados TODO #}
            </p>    
        {% endfor %}
        
        

        </div>
    </section>

</section>

{% endblock %}