{# HOME del portal de datos #}

{% extends extends_from %}

{% block title %}{{ portal.titulo }}{% endblock %}

{% block content %}

<section id="main" class="container">
    <section class="box">
        <div class="features-row">

        <h3>{{ portal.titulo }}</h3>

        <p>
        {{ portal.html|safe }}
        </p>
        
        <h3>Categorías ({{ portal.categoriaportaldatos_set.all|length }})</h3>
        <p>
        <ul>
        {% for categoria in portal.categoriaportaldatos_set.all %}
            <li><a href="{% url 'website.portaldatos.categoria' portal.slug categoria.slug %}">{{ categoria.nombre }}</a></li>
        {% endfor %}
        </ul>
        </p>
            

        </div>
    </section>

</section>

{% endblock %}