{# una categoria del portal de daos #}

{% extends extends_from %}

{% block title %}{{ categoria.nombre }} {% endblock %}

{% block content %}

<section id="main" class="container">
    <section class="box">
        <div class="features-row">

        <h3>{{ categoria.nombre }}</h3>

        <p>Datos</p>

        <p>
        <ul>
        {% for dato in categoria.datoportal_set.all %}
            <li><a href="{% url 'website.portaldatos.dato' categoria.portal.slug categoria.slug dato.slug dato.id %}">{{ dato.titulo }}</a></li>
        {% endfor %}
        </ul>
        </p>
            

        </div>
    </section>

</section>

{% endblock %}