{% extends extends_from %}

{% block title %}{# Plan de metas: #}{{ web_funcionarios.titulo }}{% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">


    <div class="row">
        <div class="12u 12u(mobilep)">

                <section class="box">
                    <header>
                        <h3>{{ web_funcionarios.titulo }}</h3>
                        <p>{{ web_funcionarios.sub_titulo }}</p>
                    </header>
                    {{ web_funcionarios.html|safe }}
                </section>

            <p>
            {# Cargar los primeros niveles en un arbol de dependencias #}
            <h4>Dependencias ({{ dependencias|length }})</h4>

<b><a href='{% url 'website.funcionarios.oficina' web_funcionarios.cargo.slug web_funcionarios.cargo.id %}'>{{ web_funcionarios.cargo.nombre }}</a></b>
            {% if web_funcionarios.cargo.en_funcion_activa %}
            - <a target="_blank" href="{% url 'website.funcionarios.persona' web_funcionarios.cargo.en_funcion_activa.funcionario.slug web_funcionarios.cargo.en_funcion_activa.funcionario.id %}" >
                {{ web_funcionarios.cargo.en_funcion_activa.funcionario.nombre }} 
                {{ web_funcionarios.cargo.en_funcion_activa.funcionario.apellido }}
                </a>
            {% endif %}
            
            <ul>            
{% for dependencia in dependencias %}
<li>
<b><a href='{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}'>{{ dependencia.nombre }}</a></b>

{% if dependencia.en_funcion_activa.funcionario %}
    - <a href="{% url 'website.funcionarios.persona' dependencia.en_funcion_activa.funcionario.slug dependencia.en_funcion_activa.funcionario.id %}" >
        {{ dependencia.en_funcion_activa.funcionario.nombre }} 
        {{ dependencia.en_funcion_activa.funcionario.apellido }}
        </a>
{% endif %}

{% if perms.funcionarios.add_funcion %}
    {% if dependencia.en_funcion_activa.1 %}
        <a target="_blank" href="/admin/funcionarios/funcion/?q={{ dependencia.nombre }}">HAY VARIOS !!!</a>
    {% elif not dependencia.en_funcion_activa.funcionario %}
    - <a target="_blank" href="/admin/funcionarios/funcion/add/?cargo={{ dependencia.id }}&activo=True&fecha_fin=09/12/2019" >  [[CARGAR]] </a>
    {% endif %}
{% endif %}
    
</li>
{% endfor %}
</ul>

            </p>

        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}