{% extends extends_from %}
{% load humanize %}

{% block title %}{{ persona.nombre }} {{ persona.apellido}}{% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
        
            <section class="box">


    <div class="row">
        <div class="12u 12u(mobilep)">

            <!-- Text -->
                <section class="box">
                    <header>
                        {% if persona.foto %}
                        <img 
                            style="max-width:200px; max-heigth:250px; float: right; margin: 5px 5px 10px 20px;" 
                            src="/media/{{ persona.foto.thumbnail.200x200 }}" />
                    {% endif %}
                    <h3>{{ persona.nombre }} {{ persona.apellido}} 
                    - {{ funcion.cargo.categoria.nombre_corto }}</h3>
<p>
<a href="{% url 'website.funcionarios.oficina' funcion.cargo.slug funcion.cargo.id %}">{{ funcion.cargo.nombre }}</a>

<br /><span style="font-size:80%">
{% for superior in funcion.cargo.superiores %}
    {% if not forloop.first %} > {% endif %}
    <a href="{% url 'website.funcionarios.oficina' superior.slug superior.id %}">{{ superior.nombre }}</a>
{% endfor %}
       </span>
</header>
                    
                    {{ persona.html|default_if_none:""|safe }}
                </section>

            <p>
            Función actual: <a href="{% url 'website.funcionarios.oficina' funcion.cargo.slug funcion.cargo.id %}">{{ funcion.cargo.nombre }}</a>
            {% if funcion.fecha_inicio %} desde el {{ funcion.fecha_inicio }} {% endif %}

            {% if funcion.decreto_pdf %}
            <br />Decreto de designación: 
            <a href='/media/{{ funcion.decreto_pdf }}' target='_blank'>Ver</a>
            {% endif %}

            {% if funcion.boletin_fecha_publicacion %}
            <br />Publicado en el Boletín: {{ funcion.boletin_fecha_publicacion }}.
               {% if funcion.boletin_url %}
               <a href='{{ funcion.boletin_url }}' target='_blank'>Ver en el boletín</a>
               {% endif %}
            {% endif %}
            
            </p>
            <p>
            {% if comunicaciones_persona %}
                    <ul class="persona-comunicaciones">
                        {% for com in comunicaciones_persona %}
                            <li class="persona-comunicaciones"><i>{{ com.tipo.nombre}}: {{ com.valor }}</i></li>
                        {% endfor %}
                    </ul>
                {% else %}
            {% endif%}

            {% if comunicaciones_cargo %}
                    <ul class="persona-comunicaciones">
                        {% for com in comunicaciones_cargo %}
                            <li class="persona-comunicaciones"><i>Oficina: {{ com.tipo.nombre}}: {{ com.valor }}</i></li>
                        {% endfor %}
                    </ul>
                {% else %}
            {% endif%}
            
            </p>
 
    </div>
</div>

<div class="row">
        <div class="4u 12u(mobilep)">
            <p>
            {% if funcion %}
            <h4>Sueldo</h4>

            {% if sueldos_reales %}
            <table>
            <tr><th>Mes</th><th>Sueldo de bolsillo</th></tr>
            {% for sr in sueldos_reales %}
            <tr><th>{{ sr.mes|date:"N Y" }}</th><th>{{ sr.sueldo_neto_moneda.simbolo }} {{ sr.sueldo_neto|intcomma }}</th></tr>
            {% endfor %}
            </table>
            El sueldo de bolsillo corresponde a la liquidación individual
            de cada funcionario. Puede variar cada mes y no ser exactamente 
            igual al de otro funcionario de mismo rango.
            {% endif %}

            {# comment #}
            {% if sueldo_caetgoria %}
            Este funcionarion tiene la categoría 
                <b>{{ funcion.cargo.categoria.nombre }}</b> 
                que tiene un sueldo <b>bruto</b> 
                de {{ sueldo_categoria.sueldo_bruto_moneda.simbolo }} 
                {{ sueldo_categoria.sueldo_bruto }}
            {% endif %}
            {# endcomment #}
            
            {% endif %}
            </p>

        </div>

        <div class="8u 12u(mobilep)">        
            <p>
            <h4>Declaraciones juradas</h4>
                {% if ddjj %}
                <ul>
                {% for dj in ddjj %}
                    <li>
                    <b>Declaración jurada {{ dj.anio }}</b>: <a href="/media/{{ dj.archivo }}">Descargar imagen/PDF</a>
                    - <a href="{% url 'datos.declaraciones_juradas.declaracion_jurada' persona.slug dj.anio dj.id "csv" %}">Descargar CSV</a>
                    - <a href="{% url 'datos.declaraciones_juradas.declaracion_jurada' persona.slug dj.anio dj.id "xls" %}">Descargar XLS</a>
                    <br />Detalles
                    <table>
                        <tr><th>Bien</th><th>Valor</th><th>de cónyuge</th><th>en el país</th></tr>
                        {% for bien in dj.bien_set.all %}
                        <tr>
                            <td>{{ bien.tipo.nombre }}</td>
                            <td>{{ bien.moneda.simbolo }} {{ bien.valor|intcomma }}</td>
                            <td>{{ bien.es_de_conyuge|yesno:"Sí,No,-" }}</td>
                            <td>{{ bien.en_el_pais|yesno:"Sí,No,-" }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                    <table>
                        <tr><th>Deuda</th><th>Valor</th><th>de cónyuge</th><th>en el país</th></tr>
                        {% for deuda in dj.deuda_set.all %}
                        <tr>
                            <td>{% if deuda.con_entidad_financiera %}Con entidad financiera{% else %}Con entidad no financiera{% endif %}</td>
                            <td>{{ deuda.moneda.simbolo }} {{ deuda.valor|intcomma }}</td>
                            <td>{{ deuda.es_de_conyuge|yesno:"Sí,No,-" }}</td>
                            <td>{{ deuda.en_el_pais|yesno:"Sí,No,-" }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                Aún no cargada.
                {% endif %}
            </p>
            
        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}
