{% extends extends_from %}

{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}

{% block content %}

{# contar la cantidad de secciones a usar para separar las filas #}

<section id="main" class="container">
    <section class="box special features">
        <div class="features-row">
            
        {% for seccion in secciones %}
            <section>
                {# TODO podria class ser un campo del modelo y usar font awesome #}
                {% if seccion.fa_icon %}
                <span class="icon major {{ seccion.fa_icon }} accent2"></span>
                {% endif %}
                <a href='{{ seccion.url }}'><h3>{{ seccion.titulo }}</h3></a>
                <p>{{ seccion.descripcion }}</p>
            </section>
            {# fin de cada fila #}
            {% if forloop.counter|divisibleby:2 and not forloop.last %}
            </div> <div class="features-row">
            {% endif %}
        {% endfor %}

            

        </div>
    </section>

</section>

{% endblock %}