{% extends extends_from %}

{% block title %}{# Plan de metas: #}{{ plan.titulo }} | Lineamiento: {{ lineamiento.titulo }} {% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">


    <div class="row">
        <div class="9u 12u(mobilep)">
<a href="#" onclick="window.history.back();" class="button special">Volver</a>
                    <section class="box">
                    <header>
                        <h3>{{ lineamiento.titulo }}</h3>
<p>
{# Plan de metas: #}<a href='{% url 'website.plandemetas' plan.slug %}'>{{ plan.titulo }}</a>.
</p>

                    </header>
                    {{ lineamiento.html|safe }}
                </section>
        </div>

        <div class="3u 12u(mobilep)">
            <p>
            <h4>Componentes</h4>
                <ul>
                {% for componente in componentes %}
                    <li>
                        <a href='{% url 'website.plandemetas.componente' plan.slug lineamiento.slug componente.id %}'>{{ componente.titulo }}</a>
                    </li>
                {% endfor %}
                </ul>
            </p>
        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}