{% extends extends_from %}

{% block title %}{# Plan de metas: #}{{ plan.titulo }}{% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">


    <div class="row">
        <div class="12u 12u(mobilep)">

            <!-- Text -->
                <section class="box">
                    <header>
                        <h3>{# Plan de metas: #}{{ plan.titulo }}</h3>
                        <p>{{ plan.descripcion }}</p>
                    </header>
                    {{ plan.html|safe }}
                </section>
            <p>
            <h3>Lineamientos generales</h3>
                <ul>
                {% for linea in lineamientos %}
                    <li>
<a href='{% url 'website.plandemetas.lineamiento' plan.slug linea.slug %}'>{{ linea.titulo }}</a>
                    <h4>Componentes del lineamiento</h4>
                    <ul>
                    {% for componente in linea.componente_set.all %}
                    <li>
<a href='{% url 'website.plandemetas.componente' plan.slug linea.slug componente.id%}'>{{ componente.titulo }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
                </ul>
            </p>
        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}