{% extends extends_from %}

{% block title %}{# Plan de metas: #}{{ plan.titulo }} |
    Lineamiento: {{ lineamiento.titulo }} |
    Componente: {{ componente.titulo }} |
    Objetivo: {{ objetivo.titulo }} |
    Meta: {{ meta.titulo }}
    {% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">
    <div class="row">
        <div class="12u 12u(mobilep)">
<a href="#" onclick="window.history.back();" class="button special">Volver</a>
                    <section class="box">
                    <header>
                        <h3>Meta: {{ meta.titulo }}</h3>
<p>
Esta meta es parte del <i>objetivo</i> 
<a href='{% url 'website.plandemetas.objetivo' plan.slug lineamiento.slug componente.id componente.id objetivo.id %}'>{{ objetivo.titulo }}</a>
 que es parte del <i>componente</i> <a href='{% url 'website.plandemetas.componente' plan.slug lineamiento.slug componente.id %}'>{{ componente.titulo }}</a>
 que se incluye en el lineamiento <a href='{% url 'website.plandemetas.lineamiento' plan.slug lineamiento.slug %}'>{{ lineamiento.titulo }}</a>.
</p>

                    </header>
                    {{ meta.html|default_if_none:""|safe }}

                    {% if meta.estado_de_avance %}
                    <h3>Estado de avance</h3>
                    <p>{{ avance }}</p>
                    {% endif %}


                    {% if meta.linea_base %}
                    <h3>Linea base</h3>
                    {{ meta.linea_base|default_if_none:""|safe }}
                    {% endif %}
                    
                    
                    {% if meta.observaciones_generales %}
                    <h3>Observaciones generales</h3>
                    {{ meta.observaciones_generales|default_if_none:""|safe }}
                    {% endif %}

                {% if indicadores %}
                <h3>Indicadores de meta</h3>
                <table>
                <tr>
                    <th>Indicador</th>
                    <th>Meta acumulada al 31/12/2016</th>
                    <th>Meta acumulada al 31/12/2017</th>
                    <th>Meta acumulada al 31/12/2018</th>
                    <th>Meta acumulada al 25/11/2019</th>
                </tr>
                
                    {% for indicador in indicadores %}
<tr>
    <td>{{ indicador.indicador}}</td>
    {% comment %}
    <td>{{ indicador.valor_indicador|default_if_none:"Sin definir aún" }}</td>
    {% endcomment %}
    <td>En curso</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
                    {% endfor %}
                    </ul>
                </table>
                {% endif %}

                </section>
        </div>

    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}