{% extends extends_from %}

{% block title %}{# Plan de metas: #}{{ plan.titulo }} |
    Lineamiento: {{ lineamiento.titulo }} |
    Componente: {{ componente.titulo }}
    {% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">


    <div class="row">
        <div class="12u 12u(mobilep)">
<a href="#" onclick="window.history.back();" class="button special">Volver</a>
                    
                <section class="box">
                    <header>
                        <h3>Componente: {{ componente.titulo }}</h3>
<p>
Este <i>componente</i> se incluye en el <i>lineamiento</i> <a href='{% url 'website.plandemetas.lineamiento' plan.slug lineamiento.slug %}'>{{ lineamiento.titulo }}</a>.
</p>
                    </header>
                    {{ componente.html|safe }}
                    
            <p>
            <h4>Objetivos del componente</h4>
                <ul>
                {% for objetivo in objetivos %}
                    <li>
<a href='{% url 'website.plandemetas.objetivo' plan.slug lineamiento.slug componente.id componente.id objetivo.id %}'>{{ objetivo.titulo }}</a>
                    </li>
                {% endfor %}
                </ul>
            </p>
                </section>
        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}