{% extends extends_from %}

{% block title %}{# Plan de metas: #}{{ plan.titulo }} |
    Lineamiento: {{ lineamiento.titulo }} |
    Componente: {{ componente.titulo }} |
    Objetivo: {{ objetivo.titulo }}
    {% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">
    <div class="row">

<div class="12u 12u(mobilep)">
<a href="#" onclick="window.history.back();" class="button special">Volver</a>
    <section class="box">
    <header>

        <h3>Objetivo: {{ objetivo.titulo }}</h3>
<p>
Este <i>objetivo</i> es parte del <i>componente</i> <a href='{% url 'website.plandemetas.componente' plan.slug lineamiento.slug componente.id %}'>{{ componente.titulo }}</a>
 que se incluye en el lineamiento <a href='{% url 'website.plandemetas.lineamiento' plan.slug lineamiento.slug %}'>{{ lineamiento.titulo }}</a>.
</p>


    </header>

            {{ objetivo.html|safe }}

    
            <h3>Metas</h3>
                <ul>
                {% for meta in metas %}
                    <li>
<a href='{% url 'website.plandemetas.meta' plan.slug lineamiento.slug componente.id componente.id objetivo.id meta.id%}'>{{ meta.titulo }}</a>
                    </li>
                {% endfor %}
                </ul>
    </section>        
        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}