{% extends extends_from %}

{% block title %}
    {{ cargo.nombre }}
    {% if cargo.depende_de %} -
        {{ cargo.depende_de.nombre }}
    {% endif %}
{% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">


    <div class="row">
        <div class="12u 12u(mobilep)">

            <!-- Text -->
                <section class="box">
                    <header>
                        <h3>{{ cargo.nombre }}</h3>
                        <p>
{% for superior in funcion.cargo.superiores %}
    {% if not forloop.first %} > {% endif %}
    <a href="{% url 'website.funcionarios.oficina' superior.slug superior.id %}">{{ superior.nombre }}</a>

{% endfor %}
                        </p>
                    </header>
                    {{ cargo.html|default_if_none:""|safe }}
                </section>

            {% if funcion %}
            <p>
            <h4>En funciones</h4>
                <a href="{% url 'website.funcionarios.persona' funcion.funcionario.slug funcion.funcionario.id %}"
                target="_blank">
            {{ funcion.funcionario.nombre }}
            {{ funcion.funcionario.apellido }}
            </a>

            {% if funcion.fecha_inicio %}
            <br />Desde: {{ funcion.fecha_inicio|default_if_none:"No cargado aún" }}
            {% endif %}

            {% if funcion.fecha_fin %}
            <br />Hasta {{ funcion.fecha_fin|default_if_none:"No cargado aún" }}
            {% endif %}
            </p>
            {% endif %}

            {% if dependencias|length > 0 %}
            <p>
            <h4>Dependencias ({{ dependencias|length }})</h4>
                <ul>
                {% for dependencia in dependencias %}
                    <li>
<b><a href='{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}'>{{ dependencia.nombre }}</a></b>

{% if dependencia.en_funcion_activa.funcionario %}
    - <a href="{% url 'website.funcionarios.persona' dependencia.en_funcion_activa.funcionario.slug dependencia.en_funcion_activa.funcionario.id %}" >
        {{ dependencia.en_funcion_activa.funcionario.nombre }}
        {{ dependencia.en_funcion_activa.funcionario.apellido }}
        </a>
{% endif %}

{% if perms.funcionarios.add_funcion %}
    {% if dependencia.en_funcion_activa.1 %}
        <a target="_blank" href="/admin/funcionarios/funcion/?q={{ dependencia.nombre }}">HAY VARIOS !!!</a>
    {% elif not dependencia.en_funcion_activa.funcionario %}
    - <a target="_blank" href="/admin/funcionarios/funcion/add/?cargo={{ dependencia.id }}&activo=True&fecha_fin=09/12/2019" >  [[CARGAR]] </a>
    {% endif %}
{% endif %}
                    </li>
                {% endfor %}
                </ul>
            </p>
            {% else %}

            <p><h4>No hay dependencias</h4></p>

            {% endif %}


        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}
