{% extends extends_from %}

{% block title %}
    {{ cargo.nombre }}
    {% if cargo.depende_de %} -
        {{ cargo.depende_de.nombre }}
    {% endif %}
{% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">


    <div class="row">
        <div class="12u 12u(mobilep)">

            <!-- Text -->
                <section class="box">
                    <header>
                        <h3>{{ cargo.nombre }}</h3>
                        <p>
{% for superior in funcion.cargo.superiores %}
    {% if not forloop.first %} > {% endif %}
    <a href="{% url 'website.funcionarios.oficina' superior.slug superior.id %}">{{ superior.nombre }}</a>

{% endfor %}
                        </p>
                    </header>
                    {{ cargo.html|default_if_none:""|safe }}
                </section>

            {% if dependencias|length > 0 %}
            <p>
            <h4>Dependencias</h4>
                <ul>


{% for node in dependencias %}
    {%include base_template|add:"/tree_funcionarios.html" %}
{% endfor %}


                </ul>
            </p>
            {% else %}

            <p><h4>No hay dependencias</h4></p>

            {% endif %}


        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}
