{% extends extends_from %}

{% block title %}{{ seccion.titulo_texto }}{% endblock %}

{% block content %}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">


    <div class="row">
        <div class="9u 12u(mobilep)">

            <!-- Text -->
                <section class="box">
                    <header>
                        <h3>{{ seccion.titulo_texto }}</h3>
                        <p>{{ seccion.subtitulo_texto }}</p>
                    </header>
                    {{ seccion.html|safe }}
                </section>

        </div>

        <div class="3u 12u(mobilep)">
            {# subsecciones de esta seccion si hubiera #}
            {% if secciones %}
            <p>
            <h4>Más en esta sección</h4>
                <ul>
                {% for secc in secciones %}
                    <li>
                        <a href='{{ secc.get_url }}'>{{ secc.titulo_corto }}</a>
                    </li>
                {% endfor %}
                </ul>
            </p>
            {% endif %}
            {# secciones principales #}
            <p>
            <h4>Ver</h4>
            <ul>
                {% for secc in secciones_principales %}
                <li>
                    <a href='{{ secc.get_url }}'>{{ secc.titulo_corto }}</a>
                </li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
</section>

        </section>
    </div>
</div>


{% endblock %}