{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}

{% block content %}

{# contar la cantidad de secciones a usar para separar las filas #}

<section id="main" class="container">

    <div class="row">
        <div class="12u">
            <section class="box">
            
                <div class="row">
                    <div class="6u 12u(mobilep)">
                        
                        <form method=POST>
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" value="Submit" />
                        </form>
                    </div>
            
                    <div class="6u 12u(mobilep)">
                    <p>
                    Formulario de acceso a la información pública.
                    </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}
