<li>{{ node.nombre }}
        {% if node.en_funcion_activa.funcionario %}
            - <a href="{% url 'website.funcionarios.persona' node.en_funcion_activa.funcionario.slug node.en_funcion_activa.funcionario.id %}" >
                {{ node.en_funcion_activa.funcionario.nombre }} 
                {{ node.en_funcion_activa.funcionario.apellido }}
                </a>
        {% endif %}
        
    {%if not node.slug %}
        <ul>
         {%for ch in node %}
              {%with node=ch template_name=base_template|add:"/tree_funcionarios.html" %}
                   {%include template_name%}
              {%endwith%}
         {%endfor%}
         </ul>
    {%endif%}
</li>