<html lang="es">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="twitter:site" content="@GobAbiertoCBA">
        <meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
        <meta name="author" content="Municipalidad de Córdoba">

        <meta property="og:title" content="Portal de la Ciudad de Córdoba">
        <meta property="og:description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/PortalDeLaCiudad.png">
        <meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/">
        <meta name="twitter:card" content="summary_large_image">

        <meta property="og:site_name" content="#PortalDeLaCiudad">
        <meta name="twitter:image:alt" content="#PortalDeLaCiudad">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{ prensa.nombre }} {{ prensa.apellido }}</title>

        <!-- Bootstrap -->
        <link href="/static/fichas/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
        <link href="/static/fichas/fichas.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/fichas/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
      <div class="container-fluid">
        <div class="fichaGuia">
          <div class="infoGralGuia row">
            <div class="col-xs-12 col-md-7 infoColumna">
              <div class="nombreGuiaContainer">
                <h1 class="nombreGuia">{{ prensa.nombre }} {{ prensa.apellido }}</h1>
                <div class="nameDivider"></div>
              </div>

              <h2 class="habilitacionGuia">Acreditado para habilitar negocios en la Ciudad de Córdoba</h2>
            </div>

          </div>
          <div class="masInfoGuia row">
            {% if prensa.foto %}
            <div class="col-xs-12 col-md-5 no-padding imgGuia colGuia" style="background-image: url('{{prensa.foto.thumbnail.1000x1000 }}'); " title="Foto de {{ guia.nombrepublico }}">
            {% endif%}

            </div>
            <div class="col-xs-12 col-md-7 infoDescGuia colGuia">
              <p class="descGuia">
                {{ prensa.html|safe }}
              </p>
              <h3>Acreditación</h3>
              <p class="descGuia"> {{ prensa.detalles_acreditacion }}</p>

              <a class="qrGuia" href="{{ qr_download }}" download="{{ prensa.nombrepublico|slugify }}-QR.png">
                  <img src="{{ qr_image }}" title="Descargar QR {{ prensa.nombrepublico }}"
                    />
              </a>
            </div>
        </div>

        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="/static/fichas/js/jquery.matchHeight.js"></script>
      <script>
      $(function() {
          $('.infoColumna').matchHeight();
          $('.colGuia').matchHeight();
      });
      </script>
    </body>
</html>
