.marg10 {
    margin: 10px 0;
}

.loadingSpinner {
    background-image: url("../assets/spinner.svg");
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

#filtroMainCont {
    /*border: 1px solid #000;*/
    height: 100%;
}

.fc_inputCont {
    border: 1px solid #00A370;
    position: relative;
}

.fc_inputCont input {
    cursor: pointer;
}

.fc_inputCont input:focus {
    outline: none !important;
}

.fc_inputCont:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #00A370;
    position: absolute;
    top: 45%;
    right: 10px;
    content: " ";
}

#filtroCategoria {
    border: 1px solid #00A370;
    background-color: #f9f9f9;
    height: 250px;
    width: 100%;
    overflow: auto;
    display: none;
    position: absolute;
    z-index: 10;
}

#sf_categoria {
    border: 1px solid #00A370;
    background-color: #f9f9f9;
    height: 250px;
    width: 100%;
    overflow: auto;
    display: none;
    position: absolute;
    z-index: 10;
}

.filtroItem:first-child {
    margin-top: 0;
}

.filtroItem:last-child {
    border-bottom: none;
}

.filtroItem {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    margin: 5px 0;
    color: #47a471;
    transition: background-color linear 0.1s, color linear 0.1s;
}

.filtroItem:hover {
    background-color: #47a471;
    color: #fff;
}

#fc_cont, #fcs_cont{
    position: relative;
    margin-bottom: 10px;
}

#fcs_cont {
    display: none;
}

#srch_res {
    color: #00A371;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
}

.lhabTootlip, .ttooltip {
    border: 1px solid #3c763d;
    background-color: #4ba765;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    font-weight: bold;
    border-radius: 3px;
    display: none;
}

.lhabTootlip > h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
    font-weight: bold;
}

.lhabTootlip > p {
    margin: 5px 0;
}

#biz_backButton {
    width: 25px;
    height: 25px;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: url(../assets/back.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background linear .10s;
    display: inline-block;
    cursor: pointer;
}

#bizDetails {
    /*display: none;*/
}

#bizDetails p {
    font-weight: normal;
}

.bd_title {
    font-weight: bold;
    margin-right: 10px;
}

.bd_cat {
    padding: 5px 8px;
    margin: 5px;
    background-color: #4ba765;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
}