body{
  font-family: 'Lato', sans-serif;
}
/* Fichas */
.fichaGuia,
.fichaCredenciales{

}
.fichaGuia .infoGralGuia,
.fichaCredenciales .infoGralCredencial{
  padding: 0px 30px;
  background-color: #00A665;
}

.fichaGuia .nombreGuiaContainer,
.fichaCredenciales .nombreCredencialContainer{
    display: inline-block;
}
.fichaGuia .nombreGuia,
.fichaCredenciales .nombreCredencial{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  display: inline-block;
  color: #FFFFFF;
}

.fichaGuia .nameDivider,
.fichaCredenciales .nameDivider{
  background-color: #FFFFFF;
  height: 2px;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.fichaGuia .habilitacionGuia,
.fichaCredenciales .habilitacionCredencial{
  font-weight: 300;
  font-size: 1.75em;
  margin-top: 0px;
  font-style: italic;
  color: #FFFFFF;
}
.fichaGuia .idiomasTexto,
.fichaCredenciales .detallesTexto{
  font-weight: 700;
  font-size: 1.75em;
  margin-top: 0px;
  font-style: italic;
  color: #FFFFFF;
}

.fichaGuia .idiomasCont,
.fichaCredenciales .detallesCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fichaGuia .idioma,
.fichaCredenciales .detalle,
.fichaGuia .contacto{
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 300;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 10px;
}

.fichaGuia .contacto a{
  color: #00A665;
}
.fichaGuia .contacto a:hover{
  color: #FFF;
  text-decoration: underline;
}

.fichaGuia .idioma .nivel,
.fichaCredenciales .detalle .nivel{
  font-style: italic;
  font-size: 0.85em;
}

.fichaGuia .masInfoGuia,
.fichaCredenciales .masInfoCredencial{
  /* padding: 15px 0px/; */
  /* background-color: #00A665; */
}

.fichaGuia .imgGuia,
.fichaCredenciales .imgCredencial{
  min-height: 400px;
  height: 85vh;
  background-position: center center;
  background-size: cover;
}

.fichaGuia .infoDescGuia,
.fichaCredenciales .infoDescCredencial{
  background-color: #000;
  color: #FFF;
  padding: 30px;
  position: relative;
}
.fichaGuia .strong,
.fichaCredenciales .strong{
  font-weight: 700!important;
}
.fichaGuia .descGuia,
.fichaCredenciales .descCredencial{
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 30px;
}
.fichaGuia .qrGuia,
.fichaCredenciales .qrCredencial{
  position: relative;
}

.fichaGuia .qrGuia img,
.fichaCredenciales .qrCredencial img{
  border: 3px solid #FFF;
  max-width:125px;
  max-height: 125px;
  float:right;
}
.fichaGuia .viasCom{
  font-size: 1.85em;
  font-weight: 300;
}
.fichaGuia .fa-stack{
  color: #00A665;
}
.fichaGuia .fa-stack:hover{
  color: #23CF5F;
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .fichaGuia .qrGuia,
  .fichaCredenciales .qrCredencial{
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .fichaGuia .infoGralGuia,
  .fichaCredenciales .infoGralCredencial{
    padding: 0px 100px;
  }
}
