{% extends "rest_framework_docs/base.html" %}

{% comment %}Este template es la documentación de la API{% endcomment %}

{% comment %}Este bloque oculta el icono de github{% endcomment %}
{% block github_badge %}{% endblock %}

{% comment %}Title de la web{% endcomment %}
{% block title %}Documentación de la API de Gobierno Abierto de la Municipalidad de Córdoba{% endblock %}

{% comment %}Brand del sitio{% endcomment %}
{% block logo %}
  <a class="navbar-brand" href="">Municipalidad de Córdoba</a>
{% endblock %}

{% comment %}Jumbotron del sitio{% endcomment %}
{% block jumbotron %}
<div class="jumbotron">
  <h1>API de Gobierno Abierto</h1>
  <h3>Municipalidad de Córdoba</h3>
</div>
{% endblock %}

{% block footer %}
  <div class="footer">
    <div class="links">
      <a href="http://gobiernoabierto.cordoba.gov.ar"><i class="fa fa-link"></i></a>
      <a href="https://github.com/ModernizacionMuniCBA"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/GobAbiertoCba"><i class="fa fa-twitter"></i></a>
    </div>
    Gobierno Abierto de la Municipalidad de Córdoba.
  </div>
{% endblock %}
