{% extends "backend/base_app.html" %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableros sobre Obras Públicas</h1>
        </div>
    </div>
    <div class="row">
        Total Obras: {{ total_obras }}
    </div>
    <div class="row">
        Obras Proyectadas: {{ proyectadas }}
    </div>
    <div class="row">
        Obras Licitadas: {{ licitadas }}
    </div>
    <div class="row">
        Obras Adjudicadas: {{ adjudicadas }}
    </div>
    <div class="row">
        Obras Contratadas: {{ contratadas }}
    </div>
    <div class="row">
        Obras Replanteadas: {{ replanteadas }}
    </div>
    <div class="row">
        Obras en ejecución: {{ en_ejecucion }}
    </div>
    <div class="row">
        Obras en ejecución por ampliación: {{ en_ejecucion_por_ampliacion }}
    </div>
    <div class="row">
        Obras finalizadas: {{ finalizadas }}
    </div>
    <div class="row">
        Obras rescindidas: {{ rescindidas }}
    </div>
    <div class="row">
        Frentes de obras activos: {{ frentes_activos }}
    </div>

</div>
{% endblock %}
