<h1>Texto sugerido para notificar al funcionario de la solicitud de audiencia</h1>


<h2>Solicitud de audiencia: {{ solicitud.titulo }}</h2>
<p>
    Estimad{% if persona.genero == 'F' %}a{% else %}o{% endif %} {{ persona.nombrepublico }},
    has recibido una solicitud de audiencia de un vecino. Estas solicitudes pueden ser iniciadas por
    cualquier vecino desde 
    <a href="{{ funcion.get_absolute_url }}">tu ficha web de funcionario en el portal de Gobierno Abierto de la Municipalidad</a>
</p>
<p>
    <b>SOBRE LA AUDIENCIA SOLICITADA</b>
    <br /> El nombre del vecino es <b>{{ solicitud.nombre_persona }}</b>
    <br /> DNI: {{ solicitud.unique_id }}
    <br /> Tipo: {{ solicitud.get_tipo_org_general_display }} {% if solictud.nombre_org %}({{ solicitud.nombre_org }}){% endif %}
    <br /> Motivo: {{ solicitud.motivo }}
    <br /> Email: {{ solicitud.email }}
    <br /> Teléfono: {{ solicitud.telefono }}
</p>
<p>
    
    <br /> <b>Solicitud: {{ solicitud.titulo }}</b>
    <br /> Detalle: {{ solicitud.descripcion }}

    Por favor ponte en contacto con el vecino indicando la posibilidad o no de que esta reunión se realice.
    
</p>


<p>
    Si es por correo enviar a: {{funcion.get_all_emails|join:", "}} 
    <br />o probar con este link:<br />
    <a target="_blank" href="mailto:{{funcion.get_all_emails|join:","}}?bcc=gobiernoabiertocba@gmail.com&subject=Solicitud%20de%20audiencia.%20{{ solicitud.titulo }}">Generar email</a>
</p>

<p>
  <b>INFORMACIÓN IMPORTANTE:</b>
  <br/>Proceso de la Audiencia.
  <br/>1) Ingreso de la Solicitud
  <br/>2) Validación de la Solicitud
  <br/>3) Envío de la Solicitud al Funcionario - <b>Usted se encuentra aquí</b>
  <br/>4) Respuesta de la Solicitud - <b>Es necesario que usted 
      cierre el proceso</b> comunicándonos a través de un e-mail a esta cuenta 
      cuando la audiencia haya sido concretada. En relación al vecino solicitante 
      usted puede concretar la 
      audiencia personalmente, telefónicamente o por correo.
  <br/>5) Encuesta de satisfacción al ciudadano

</p>
