{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableros sobre Plan de metas</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-2 col-md-2">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="huge">{{ total_metas }}</div>
                            <div>Total de metas</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="row">

        {% for estado, total in total_por_estados_de_avance.items %}
        <div class="col-lg-2 col-md-2">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="huge">{{ total }}</div>
                            <div>{{ estado }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row">

        {% for estado, total in total_por_estados_de_avance_new.items %}
        <div class="col-lg-2 col-md-2">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="huge">{{ total }}</div>
                            <div>TEMPORAL {{ estado }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
 
    {% for secretaria, estados in total_por_secretaria_y_estados_de_avance.items %}
    <div class="row">

        <div class="col-lg-4 col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="huge"></div>
                            <div><b>{{ secretaria }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for estado, total in estados.items %}
        <div class="col-lg-2 col-md-2">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="huge">{{ total }}</div>
                            <div>{{ estado }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    {% for secretaria, estados in total_por_secretaria_y_estados_de_avance_new.items %}
    <div class="row">

        <div class="col-lg-4 col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="huge"></div>
                            <div><b>{{ secretaria }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for estado, total in estados.items %}
        <div class="col-lg-2 col-md-2">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div class="huge">{{ total }}</div>
                            <div>TEMPORAL {{ estado }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    


    <div class="row">
        <div class="col-lg-12">
            <div id="chrt_nuevos" style="width: 100%; height: 500px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="chrt_usos" style="width: 100%; height: 500px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="chart_us7" style="width: 100%; height: 500px"></div>
        </div>
        <div class="col-lg-6">
            <div id="chart_us24" style="width: 100%; height: 500px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="chrt_valoraciones" style="width: 100%; height: 500px"></div>
        </div>
        <div class="col-lg-6">
            <div id="chrt_valoraciones_perc" style="width: 100%; height: 500px"></div>
        </div>
    </div>

</div>
{% endblock %}
