{# menu lateral, mostrar solo las opciones habilitadas por los permisos del usuario #}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            {% comment %}
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
            </li>
            {% endcomment %}
                        
<li> <a href="{% url 'backend.index' %}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a> </li>

{% if perms.funcionarios %}
<li> <a href="{% url 'backend-personas-list' %}"><i class="fa fa-users fa-fw"></i> Personas</a> </li>
{% endif %}

<li>
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Tablero de control<span class="fa arrow"></a>

    <ul class="nav nav-second-level">
        {# #TODO cada uno debería tener un permiso especial #}
        <li><a href="{% url 'backend.tablero' %}">Tableros de funcionarios</a></li>
        <li><a href="{% url 'backend.tableros.redbus' %}">Datos de Tarjetas Red Bus</a></li>
        <li><a href="{% url 'backend.tableros.portaldedatos' %}">Datos en el sistema</a></li>
        <li><a href="{% url 'backend.tableros.arbolado' %}">Tableros de Arbolado</a></li>
        <li><a href="{% url 'backend.tableros.transporte' %}">Tableros de Transporte</a></li>
        <li><a href="{% url 'backend.tableros.estadisticas.transporte' %}">Tablero API GO usos</a></li>
        <li><a href="{% url 'backend.tableros.mensajes-go' %}">Tablero Mensajes GO</a></li>
        <li><a href="{% url 'backend.tableros.obras-publicas' %}">Tableros de Obras Públicas</a></li>
        <li><a href="{% url 'backend.tableros.obras-de-terceros' %}">Tableros de Obras de Terceros</a></li>
        <li><a href="{% url 'backend.tableros.plan-de-metas' %}">Tableros Plan de metas</a></li>
    </ul>
</li>

{% if perms.accesoinfopublica %}
            <li>
                <a href="{% url 'backend.accesoinfopublica.index' %}"><i class="fa fa-bar-chart-o fa-fw"></i> Acc. Info. Pública</a>
            </li>
{% endif %}

            {% comment %} 
            <li>
<a href="forms.html"><i class="fa fa-edit fa-fw"></i> Mis metas</a>
            </li>

            ejemplo de menu en tres niveles 
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            {% endcomment %}

{% if perms.fotos %}
            <li>
                <a href="{% url 'backend.fotos.index' %}"><i class="fa fa-camera fa-fw"></i> Fotos</a>
            </li>
{% endif %}
        </ul>
    </div>
     
</div>
