{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableros sobre datos de REDBUS</h1>
        </div>
    </div>
    <div class="row">
        {% include "backend/tableros/redbus/panel_usuarios_app.html" %}
        {% include "backend/tableros/redbus/panel_tarjetas_redbus.html" %}
        {% include "backend/tableros/redbus/panel_tarjetas_consultas.html" %}
        {% include "backend/tableros/redbus/panel_tarjetas_errores.html" %}

    </div>
</div>
{% endblock %}
