<html lang="es">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="twitter:site" content="@GobAbiertoCBA">
        <meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
        <meta name="author" content="Municipalidad de Córdoba">

        <meta property="og:title" content="Portal de la Ciudad de Córdoba">
        <meta property="og:description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/PortalDeLaCiudad.png">
        <meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/">
        <meta name="twitter:card" content="summary_large_image">

        <meta property="og:site_name" content="#PortalDeLaCiudad">
        <meta name="twitter:image:alt" content="#PortalDeLaCiudad">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Credencial: {{ credencial.nombre }}{{ credencial.apellido }}</title>

        <!-- Bootstrap -->
        <link href="/static/fichas/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
        <link href="/static/fichas/fichas.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/fichas/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
      <div class="container-fluid">
        <div class="fichaCredenciales">
          <div class="infoGralCredencial row">
            <div class="col-xs-12 col-md-5 infoColumna">
              <div class="nombreCredencialContainer">
                <h1 class="nombreCredencial">{{ credencial.nombre }} {{ credencial.apellido }}</h1>
                <div class="nameDivider"></div>
              </div>

              <h2 class="habilitacionCredencial">Credencial: {{ credencial.tipo_credencial.nombre }}</h2>
            </div>
            <div class="col-xs-12 col-md-7 infoColumna detallesCont">
              <div class="detalles">
                {% if habilitacion %}
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <p class="detallesTexto">Fecha inicio de la habilitacíon</p>
                      <div class="detalle">
                        {{ habilitacion.fecha_inicio_habilitacion }}
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <p class="detallesTexto">Fecha fin de la habilitacíon</p>

                        <div class="detalle">
                          {{ habilitacion.fecha_fin_habilitacion }}
                        </div>
                    </div>
                  </div>
                {% else %}
                  <div class="detalle">
                    <p>Sin detalles de la fecha de vencimiento de la habilitación</p>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
          <div class="masInfoCredencial row">
            {% if credencial.foto %}
            <div class="col-xs-12 col-md-5 no-padding imgCredencial colCredencial" style="background-image: url('{{ credencial.foto.thumbnail.1000x1000 }}'); " title="Foto de Credencial {{ credencial.nombrepublico }}">
            {% else %}
            {% endif%}

            </div>
            <div class="col-xs-12 col-md-7 infoDescCredencial colCredencial">
              <p class="descCredencial">
                {{ credencial.html|safe |striptags}}
              </p>
              {% if habilitacion %}
                <p class="descCredencial">
                  {% if habilitacion.detalles_acreditacion_publica %}
                    <span class="detallesTexto">Detalles de la habilitación</span><br />
                    {{ habilitacion.detalles_acreditacion_publica }}
                  {% endif %}
                </p>
              {% endif %}

              {% if credencial.tipo_credencial.descripcion_publica %}
                <p class="descCredencial">
                  <span class="detallesTexto">Detalles de la Credencial</span><br />
                  {{ credencial.tipo_credencial.descripcion_publica }}
                </p>
              {% endif %}


              <a class="qrCredencial" href="{{ qr_download }}" download="{{ credencial.nombrepublico|slugify }}-QR.png">
                  <img src="{{ qr_image }}" alt="DESCARGAR QR Credencial {{ credencial.nombrepublico }}"  />
              </a>
            </div>
        </div>

        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="/static/fichas/js/jquery.matchHeight.js"></script>
      <script>
      $(function() {
          $('.infoColumna').matchHeight();
          $('.colCredencial').matchHeight();
      });
      </script>
    </body>
</html>
