{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">

{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="accesibilidad" class="accesibilidad">
    <div class="row">
      <div class="col-xs-12 tituloPag">
        <div class="row">
          <div class="col-xs-5 col-sm-3 col-lg-2 tituloContainer border-right">
            <div class="tituloSeccionSup">Accesibilidad</div>
          </div>
          <div class="col-xs-12 col-sm-9 col-lg-10">
            <div class="tituloContainer">
              <h1 class="tituloSeccion">Accesibilidad Web</h1>
              <div class="subtituloSeccion">Gobierno Abierto Inclusivo</div>
            </div>
          </div>

        </div>
      </div>

    </div>


    <div class="row border-bottom-section">
      <div class="col-xs-12">
        <div class="accesibilidadTexto">
          El usuario dispone de 4 opciones para navegar la web, puede elegir el método que mejor se adapte a sus necesidades.
        </div>
        <div class="row metodoAccesibilidad">
          <div class="col-xs-12 col-md-3 colMetodoAcc">
            <svg version="1.1" id="iconoLectura" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 300 150" style="enable-background:new 0 0 300 150;" xml:space="preserve">

            <g>
            	<path class="stAccesibilidad" d="M121.4,56.3c0-2.1-0.1-4.1,0-6.1c0.7-11.8,8.9-21.3,20.5-23.9c8.2-1.8,16.2-1.2,23.5,3
            		c7.2,4.1,11.3,10.5,12.6,18.6c0.4,2.7,0.3,5.6,0.5,8.5c0.3,0.1,0.8,0.2,1.4,0.3c3.5,1.1,5.9,4.8,5.4,8.6c-0.4,3.6-3.7,6.5-7.4,6.6
            		c-1,0-2,0-3.1,0c-0.9,0-1.2-0.4-1-1.3c0.9-4.6,1.8-9.1,2.6-13.7c2.1-12.7-4.3-26.1-19.7-29.4c-8.1-1.7-15.9-0.8-23,3.8
            		c-6,3.9-9.2,9.6-10.5,16.6c-0.9,4.9,0.1,9.6,1,14.3c0.5,2.7,1,5.3,1.5,8.1c1.8,0,3.6,0,5.5,0c-0.3-1.6-0.6-3.2-0.9-4.8
            		c-0.6-3.4-1.4-6.7-1.8-10.1c-1.2-9.5,3.4-18.3,11.2-21.7c2.1-0.9,4.5-1.5,6.8-1.8c5.1-0.6,10.3-0.2,14.9,2.5c6.6,4,9.6,10,9.9,17.6
            		c0.1,4.1-1.1,8.1-1.7,12.1c-0.4,2.4-0.8,4.9-1.5,7.2c-0.4,1.5-1.2,3-1.9,4.4c-0.4,0.7-0.6,1.3-0.4,2.1c0.7,3.1,1.9,6.1,3.6,8.8
            		c2.3,3.7,5.5,5.7,9.8,6.3c2.9,0.4,5.9,1.1,8.6,2.4c6.7,3.1,9.9,8.6,10,15.9c0,4.5,0,8.9,0,13.4c0,1.1-0.4,1.4-1.5,1.4
            		c-25.8,0-51.7,0-77.5,0c-5.1,0-10.2,0-15.3,0c-1.5,0-1.6-0.1-1.6-1.5c0-4.5,0-9,0-13.5c0-8.5,5.4-15.1,13.6-17
            		c2.8-0.6,5.6-1.2,8.4-1.9c2.6-0.6,4.3-2.5,5.8-4.5c2.3-3.1,3.6-6.6,4.3-10.4c0.1-0.3-0.1-0.7-0.2-1c-0.6-1.2-1.3-2.4-1.8-3.7
            		c-0.3-0.7-0.6-0.8-1.3-0.8c-2.8,0-5.5,0-8.3,0c-4.4,0-7.8-2.9-8.2-6.8c-0.4-4.4,2.2-7.8,6.6-8.8C121.1,56.4,121.2,56.4,121.4,56.3z
            		 M196.2,124.7c0-0.3,0-0.5,0-0.7c0-4.5,0-8.9,0-13.4c-0.1-6.6-4.4-12.6-10.9-14.2c-5.8-1.5-11.8-2.4-17.7-3.6
            		c-0.3-0.1-0.7,0.2-1.1,0.4c-2,1.1-3.9,2.5-6,3.3c-5.4,2-11.1,2.3-16.8,1.3c-4-0.7-7.7-2-10.8-4.7c-0.3-0.2-0.8-0.4-1.1-0.3
            		c-5.5,1-11,1.9-16.4,3.2c-7.4,1.7-12,7.7-12,15.3c0,4,0,8,0,12.1c0,0.4,0,0.9,0,1.3c4.3,0,8.5,0,12.7,0c0-0.4,0-0.8,0-1.1
            		c0-5.4,0-10.8,0-16.1c0-0.3-0.1-0.7,0-1s0.5-0.7,0.7-0.7c0.3,0,0.6,0.4,0.8,0.6c0.1,0.3,0.1,0.7,0.1,1c0,5.4,0,10.8,0,16.1
            		c0,0.4,0,0.8,0,1.2c21.5,0,42.8,0,64.2,0c0-0.4,0-0.8,0-1.2c0-5.3,0-10.7,0-16c0-0.3-0.1-0.7,0-0.9c0.2-0.3,0.5-0.6,0.8-0.9
            		c0.2,0.3,0.6,0.5,0.7,0.9c0.1,0.3,0,0.7,0,1.1c0,5.3,0,10.5,0,15.8c0,0.4,0,0.8,0,1.2C187.8,124.7,192,124.7,196.2,124.7z
            		 M152.6,35.6c-1.9,4.4-5,8.1-9.1,10.9c-4.1,2.8-8.6,4.6-13.5,5.5c0.1,1.2,0,2.2,0.2,3.3c0.8,4.8,1.7,9.5,2.6,14.3
            		c0.1,0.6,0.3,0.9,1,0.9c2.6,0,5.2,0,7.7,0c0.3,0,0.8-0.2,1-0.5c0.8-1.2,1.8-1.7,3.2-1.6c0.9,0,1.9,0,2.8,0c1.5,0,2.6,1,2.9,2.4
            		c0.3,1.4-0.4,3-1.8,3.3c-1.8,0.3-3.7,0.2-5.6,0.1c-0.5,0-1.1-0.6-1.3-1.1c-0.4-0.9-1-1-1.8-0.9c-2.1,0-4.2,0-6.4,0
            		c-0.3,0-0.6,0-1.4,0.1c1.1,1.7,1.8,3.4,3,4.7c5.2,5.6,11.7,7.4,19,5.3c6.4-1.8,10.5-6,11.7-12.7c0.7-3.4,1.3-6.8,2-10.3
            		c0.7-3.4,1.1-6.9,0.5-10.4c-0.1-0.8-0.4-1.2-1.3-1.4c-4.4-0.8-8.4-2.6-11.4-6C155.1,39.6,153.9,37.5,152.6,35.6z M130.3,50.3
            		c8.7-0.7,19.8-9.4,21.2-16.7C140.9,32.5,131.3,38.7,130.3,50.3z M156.9,83.5c-2.2,0.3-4.6,0.9-6.9,0.9c-2.4,0-4.7-0.5-7.1-0.9
            		c0-0.1,0,0,0,0.1c0.5,4,1,8,1.6,12c0,0.2,0.4,0.6,0.6,0.6c3.3,0.5,6.6,0.5,9.8,0c0.3,0,0.6-0.4,0.7-0.7
            		C156,91.5,156.5,87.4,156.9,83.5z M129.1,91.5c0.1,0,0.4,0,0.7,0c2.1-0.6,3.7-0.3,5.5,1.2c2.1,1.8,4.8,2.6,7.5,3.2
            		c0-0.2,0.1-0.3,0.1-0.5c-0.6-4.1-1.1-8.2-1.7-12.4c0-0.3-0.3-0.6-0.5-0.8c-1.7-1.2-3.4-2.3-5-3.3c-0.8,2.1-1.4,4.4-2.5,6.5
            		C132,87.6,130.4,89.6,129.1,91.5z M170.9,91.6c-1.4-2.1-3-4-4.1-6.1s-1.8-4.5-2.7-6.6c-1.6,1.1-3.2,2.2-4.8,3.3
            		c-0.3,0.2-0.5,0.6-0.6,1c-0.5,2.9-0.9,5.9-1.3,8.9c-0.2,1.2-0.2,2.5-0.4,3.9c3.3-0.8,6.3-2,8.7-4.2c0.7-0.6,1.3-0.7,2.2-0.6
            		C169,91.4,170,91.5,170.9,91.6z M168.6,45.8c-1.7-6.3-9.4-12.6-14.6-12C155.5,40,161.8,45,168.6,45.8z M124,70.5
            		c0-0.3,0-0.6-0.1-0.9c-0.7-3.5-1.4-7-2-10.5c-0.2-1.2-0.7-1.2-1.6-0.9c-3.3,1-5.2,4.6-4.3,7.8C117.1,69.3,120,71,124,70.5z
            		 M175.6,70.4c4.7,0.5,8-1.9,8.2-5.9c0.2-3.3-2.6-6.4-5.9-6.4C177.2,62.1,176.4,66.2,175.6,70.4z M146.8,72.7L146.8,72.7
            		c0.5,0,1.1,0,1.6,0c0.9,0,1.4-0.5,1.5-1.4c0-0.9-0.5-1.4-1.4-1.5c-1.1-0.1-2.3-0.1-3.4,0c-0.8,0.1-1.4,0.6-1.4,1.5s0.6,1.4,1.5,1.4
            		C145.8,72.7,146.3,72.7,146.8,72.7z"/>
            	<path class="stAccesibilidad" d="M196.3,126.5h-92.8c-1.8,0-2.1-0.3-2.1-2V111c0-8.7,5.5-15.5,14-17.5c2.7-0.6,5.6-1.2,8.4-1.9
            		c2.3-0.5,3.9-2.1,5.5-4.3c2.1-2.8,3.5-6.1,4.2-10.2c0-0.1-0.1-0.4-0.1-0.6l-0.1-0.2c-0.1-0.3-0.3-0.6-0.5-1
            		c-0.5-0.9-0.9-1.8-1.3-2.7c-0.2-0.5-0.3-0.5-0.8-0.5h-8.3c-4.6,0-8.3-3-8.7-7.2c-0.4-4.6,2.3-8.3,7-9.3l0.2,0c0-0.5,0-0.9,0-1.3
            		c0-1.4,0-2.7,0-4c0.7-11.9,9.1-21.7,20.9-24.4c8.9-2,16.9-0.9,23.9,3.1c7.2,4.1,11.5,10.5,12.8,19c0.3,1.7,0.3,3.6,0.4,5.3
            		c0,0.9,0.1,1.9,0.1,2.9c0.2,0.1,0.6,0.1,1,0.2c3.9,1.2,6.3,5.1,5.8,9.2c-0.4,3.8-3.9,6.9-7.9,7h-3.1c-0.6,0-1-0.2-1.3-0.5
            		c-0.3-0.3-0.3-0.8-0.2-1.4l0.4-1.9c0.8-4,1.5-7.8,2.2-11.8c1.9-11.5-3.3-25.4-19.3-28.8c-8.5-1.8-16.1-0.5-22.6,3.7
            		c-5.6,3.6-8.9,8.9-10.3,16.3c-0.8,4.6,0,9.1,0.9,13.4l0.6,3.4c0.3,1.7,0.6,3.3,0.9,5h4.5l-0.8-4.2c-0.2-1.2-0.4-2.3-0.7-3.5
            		c-0.4-2.2-0.9-4.4-1.1-6.7c-1.2-9.6,3.5-18.7,11.5-22.2c2-0.9,4.4-1.5,6.9-1.8c6.1-0.7,11.1,0.1,15.2,2.6c6.5,3.9,9.8,9.8,10.1,18
            		c0.1,2.9-0.5,5.7-1,8.5c-0.2,1.2-0.5,2.5-0.7,3.7l-0.1,0.3c-0.4,2.3-0.8,4.7-1.5,6.9c-0.4,1.4-1,2.7-1.7,4l-0.2,0.5
            		c-0.4,0.6-0.5,1.1-0.4,1.8c0.7,3.1,1.9,6.1,3.5,8.7c2.2,3.6,5.2,5.5,9.4,6.1c3.5,0.5,6.3,1.3,8.7,2.4c6.7,3.1,10.2,8.6,10.3,16.3
            		v13.4C198.3,125.9,197.7,126.5,196.3,126.5z M132.3,72c0.1,0.1,0.1,0.2,0.2,0.3c0.4,0.9,0.8,1.8,1.3,2.6c0.2,0.3,0.4,0.7,0.5,1
            		l0.1,0.2c0.1,0.3,0.3,0.7,0.1,1.2c-0.8,4.1-2.2,7.6-4.4,10.5c-1.5,2.1-3.4,4.1-6.1,4.7c-2.8,0.7-5.7,1.3-8.4,1.9
            		c-8,1.9-13.2,8.3-13.2,16.5v13.5c0,0.2,0,0.8,0.1,0.9c0.1,0.1,0.8,0.1,1,0.1h92.8c0.9,0,1-0.2,1-0.9v-13.4
            		c-0.1-7.3-3.4-12.5-9.7-15.4c-2.3-1.1-5.1-1.9-8.5-2.4c-4.5-0.6-7.8-2.8-10.2-6.5c-1.7-2.7-2.9-5.7-3.7-9c-0.3-1,0.1-1.8,0.5-2.5
            		L166,75c0.6-1.3,1.3-2.5,1.6-3.8c0.7-2.2,1.1-4.5,1.4-6.8l0.1-0.3c0.2-1.3,0.4-2.5,0.7-3.8c0.5-2.7,1.1-5.5,1-8.2
            		c-0.3-7.8-3.5-13.4-9.7-17.2c-4-2.3-8.7-3.1-14.6-2.4c-2.4,0.3-4.7,0.9-6.7,1.8c-7.6,3.3-12.1,12-10.9,21.2
            		c0.3,2.2,0.7,4.4,1.1,6.6c0.2,1.2,0.5,2.3,0.7,3.5l1,5.4h-6.5l-0.1-0.4c-0.3-1.9-0.7-3.7-1-5.4l-0.6-3.3c-0.9-4.4-1.7-9-0.9-13.8
            		c1.4-7.6,4.9-13.2,10.7-16.9c6.8-4.4,14.7-5.7,23.4-3.9c16.6,3.6,22.1,18,20.1,30c-0.7,4-1.4,7.8-2.2,11.8l-0.4,1.9
            		c-0.1,0.3-0.1,0.5,0,0.6c0,0.1,0.2,0.1,0.5,0.1h3.1c3.4-0.1,6.5-2.9,6.9-6.2c0.5-3.5-1.8-7-5.1-8.1c-0.6-0.1-1.1-0.2-1.4-0.3
            		l-0.3-0.1l0-0.3c-0.1-1.1-0.1-2.2-0.1-3.2c-0.1-1.8-0.1-3.5-0.4-5.2c-1.3-8.2-5.5-14.3-12.4-18.2c-6.7-3.9-14.5-4.8-23.1-2.9
            		c-11.3,2.5-19.4,12-20.1,23.4c-0.1,1.3,0,2.6,0,4c0,0.7,0,1.4,0,2.1v0.3l-0.3,0.1c-0.4,0.2-0.7,0.1-1-0.1c-4.1,1-6.3,4.1-6,8.2
            		c0.4,3.7,3.6,6.3,7.7,6.3h8.3C131.4,71.2,131.9,71.3,132.3,72l0.7-0.2c0.8-0.1,1.2-0.1,1.5-0.1h6.4c0.8-0.1,1.7,0,2.3,1.2
            		c0.2,0.4,0.6,0.8,0.8,0.8c1.9,0.1,3.8,0.2,5.5-0.1c0.5-0.1,0.9-0.5,1.2-1c0.3-0.5,0.3-1.1,0.2-1.7c-0.3-1.2-1.2-2-2.4-2h-2.8
            		c-1.3-0.1-2.1,0.3-2.8,1.4c-0.3,0.5-1,0.7-1.4,0.7h-7.7c-1.1,0-1.4-0.7-1.5-1.3l-0.4-2c-0.8-4.2-1.5-8.2-2.2-12.3
            		c-0.1-0.7-0.1-1.3-0.2-2c0-0.4,0-0.9-0.1-1.3l0-0.5l0.4-0.1c4.9-0.9,9.4-2.7,13.3-5.4c4.1-2.8,7.1-6.4,8.9-10.7l0.4-0.8l0.5,0.7
            		c0.5,0.7,0.9,1.4,1.3,2c0.8,1.3,1.7,2.6,2.6,3.8c2.6,3,6.4,5,11.1,5.8c1.1,0.2,1.6,0.8,1.7,1.8c0.5,3.1,0.4,6.3-0.5,10.6
            		c-0.3,1.6-0.6,3.1-0.9,4.6c-0.4,1.9-0.7,3.8-1.1,5.7c-1.2,6.8-5.3,11.2-12.1,13.1c-7.5,2.1-14.2,0.3-19.5-5.4c-0.8-0.9-1.4-1.9-2-3
            		c-0.3-0.6-0.7-1.2-1-1.8L132.3,72z M133.9,72.7c0.2,0.4,0.4,0.8,0.7,1.1c0.6,1,1.1,2,1.9,2.8c5.1,5.5,11.3,7.2,18.5,5.2
            		c6.4-1.8,10.2-5.9,11.3-12.3c0.4-1.9,0.7-3.8,1.1-5.7c0.3-1.5,0.6-3.1,0.9-4.6c0.8-4.1,1-7.3,0.5-10.2c-0.1-0.6-0.2-0.8-0.9-1
            		c-4.9-0.9-8.9-3-11.7-6.2c-1-1.3-1.9-2.6-2.7-3.9c-0.3-0.4-0.6-0.9-0.8-1.3c-2,4.1-5,7.6-8.9,10.3c-4,2.7-8.4,4.5-13.3,5.5
            		c0,0.3,0,0.6,0,0.9c0,0.6,0,1.2,0.1,1.9c0.7,4.1,1.4,8.1,2.2,12.3l0.4,2c0.1,0.4,0.1,0.5,0.5,0.5h7.7c0.2,0,0.5-0.1,0.6-0.3
            		c0.9-1.4,2.1-1.9,3.7-1.8l2.8,0c1.7,0,3,1.1,3.4,2.8c0.2,0.8,0.1,1.7-0.3,2.4c-0.4,0.8-1.1,1.3-1.9,1.5c-1.9,0.3-3.8,0.2-5.7,0.1
            		c-0.8,0-1.5-0.8-1.8-1.4c-0.2-0.6-0.5-0.7-1.3-0.6l-6.5,0C134.3,72.7,134.2,72.7,133.9,72.7z M196.7,125.2h-13.8v-17.5
            		c0-0.2,0-0.3,0-0.5c0-0.2,0-0.4,0-0.5c0-0.1-0.1-0.2-0.2-0.3c-0.1,0.2-0.3,0.3-0.4,0.5c0,0,0,0.1,0.1,0.3c0,0.1,0,0.3,0,0.4v17.7
            		h-65.2v-17.8c0-0.2,0-0.5,0-0.7l0,0c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1,0.1-0.2,0.2-0.3,0.3c0,0.1,0,0.3,0,0.5c0,0.1,0,0.3,0,0.4v17.7
            		h-13.7v-13.9c0-7.9,4.9-14.1,12.4-15.8c4.4-1.1,8.9-1.9,13.2-2.6c1.1-0.2,2.1-0.4,3.2-0.6c0.6-0.2,1.4,0.3,1.5,0.4
            		c2.7,2.4,6.1,3.8,10.6,4.6c5.9,1,11.5,0.6,16.5-1.3c1.4-0.5,2.7-1.3,3.9-2.1c0.7-0.4,1.3-0.8,2-1.2c0.1-0.1,0.2-0.1,0.3-0.1
            		c0.4-0.2,0.8-0.4,1.2-0.3c1.9,0.4,3.9,0.8,5.9,1.1c3.9,0.7,7.9,1.5,11.8,2.5c6.5,1.6,11.2,7.6,11.3,14.7V125.2z M183.9,124.2h11.8
            		v-13.6c-0.1-6.6-4.4-12.2-10.5-13.7c-3.9-1-7.9-1.7-11.7-2.5c-2-0.4-4-0.7-5.9-1.1c-0.1,0-0.3,0.1-0.5,0.2
            		c-0.1,0.1-0.2,0.1-0.3,0.2c-0.6,0.4-1.3,0.8-1.9,1.1c-1.3,0.8-2.7,1.6-4.1,2.2c-5.3,1.9-11,2.4-17.1,1.3c-4.7-0.8-8.2-2.4-11-4.8
            		c-0.2-0.1-0.5-0.2-0.6-0.2c-1.1,0.2-2.2,0.4-3.2,0.6c-4.3,0.8-8.8,1.6-13.2,2.6c-7.2,1.6-11.6,7.3-11.6,14.8v12.9h11.7v-16.7
            		c0-0.1,0-0.2,0-0.3c0-0.3-0.1-0.6,0-0.9c0.1-0.4,0.7-1,1.2-1c0.5,0,0.8,0.4,1,0.6l0.2,0.3c0.1,0.4,0.1,0.8,0.1,1.2v16.8h63.2v-16.7
            		c0-0.1,0-0.2,0-0.3c0-0.3-0.1-0.6,0.1-0.9c0.3-0.4,0.6-0.7,0.9-1l0.4-0.4l0.3,0.5c0,0.1,0.1,0.1,0.2,0.2c0.2,0.2,0.5,0.4,0.6,0.8
            		c0.1,0.3,0.1,0.6,0,0.9c0,0.1,0,0.2,0,0.4V124.2z M150,97.1c-1.7,0-3.3-0.1-5-0.4c0,0,0,0,0,0c-0.4,0-1-0.6-1-1.1
            		c-0.6-3.8-1.1-7.8-1.6-11.7l0,0v-0.5h0.5L143,83c0.4,0.1,0.9,0.2,1.3,0.2c1.9,0.3,3.8,0.7,5.7,0.7c1.5,0,3.1-0.3,4.7-0.6
            		c0.7-0.1,1.4-0.2,2.1-0.3l0.6-0.1l-0.1,0.6c-0.2,1.8-0.4,3.7-0.6,5.6c-0.2,2.1-0.5,4.3-0.7,6.4l0,0.1c-0.1,0.4-0.6,1-1.2,1
            		C153.3,97,151.7,97.1,150,97.1z M143.5,84.1c0.5,3.7,1,7.6,1.5,11.4c0,0,0.1,0.2,0.2,0.2c3.2,0.5,6.5,0.5,9.6,0
            		c0.1,0,0.2-0.2,0.3-0.3c0.2-2.1,0.5-4.3,0.7-6.4c0.2-1.7,0.4-3.3,0.5-4.9c-0.5,0.1-1,0.2-1.5,0.2c-1.6,0.3-3.2,0.6-4.9,0.6
            		c-2,0-3.9-0.3-5.9-0.7C143.9,84.2,143.7,84.1,143.5,84.1z M156.4,96.7l0.1-0.7c0.1-0.7,0.1-1.3,0.2-1.9c0.1-0.7,0.1-1.3,0.2-2
            		c0.4-2.9,0.8-6,1.3-8.9c0.1-0.4,0.3-1,0.8-1.3l5.3-3.6l0.2,0.6c0.3,0.8,0.7,1.6,1,2.5c0.5,1.4,1,2.8,1.7,4.1
            		c0.7,1.3,1.6,2.6,2.6,3.9c0.5,0.7,1,1.4,1.5,2.2l0.6,0.9l-1.4-0.2c-0.8-0.1-1.7-0.2-2.7-0.4c-0.8-0.1-1.2,0-1.8,0.5
            		c-2.2,2-5,3.4-8.9,4.3L156.4,96.7z M163.9,79.7l-4.3,3c-0.2,0.1-0.3,0.4-0.4,0.7c-0.5,2.9-0.9,5.9-1.3,8.8
            		c-0.1,0.6-0.2,1.2-0.2,1.9c0,0.4-0.1,0.8-0.1,1.2c3.4-0.9,5.9-2.1,7.8-3.9c0.9-0.8,1.6-0.8,2.6-0.7c0.7,0.1,1.3,0.2,1.9,0.3
            		c-0.3-0.4-0.6-0.8-0.9-1.2c-1-1.3-1.9-2.6-2.6-4c-0.7-1.3-1.2-2.8-1.8-4.2C164.4,80.9,164.1,80.3,163.9,79.7z M143.3,96.4l-0.6,0
            		c-2.7-0.6-5.5-1.4-7.7-3.3c-1.6-1.4-3-1.7-5-1.1l-0.1,0h-1.6l0.5-0.8c0.4-0.6,0.8-1.1,1.2-1.7c1-1.4,2-2.8,2.9-4.3
            		c0.7-1.4,1.2-2.9,1.7-4.4c0.2-0.7,0.5-1.4,0.7-2.1l0.2-0.6l0.5,0.3c1.9,1.2,3.5,2.3,5,3.3c0.3,0.3,0.7,0.7,0.7,1.2
            		c0.3,1.9,0.5,3.8,0.8,5.7c0.3,2.2,0.6,4.4,0.9,6.6c0,0.3,0,0.4-0.1,0.5V96.4z M131.7,90.7c1.4,0,2.7,0.5,4,1.6
            		c1.9,1.6,4.3,2.4,6.7,3c-0.3-2.2-0.6-4.3-0.9-6.4c-0.3-1.9-0.5-3.8-0.8-5.8c0-0.2-0.3-0.4-0.4-0.5c-1.3-0.9-2.7-1.8-4.4-2.9
            		c-0.2,0.5-0.3,1-0.5,1.5c-0.5,1.5-1,3-1.8,4.5c-0.9,1.6-1.9,3-2.9,4.4c-0.2,0.3-0.4,0.6-0.6,0.8C130.7,90.8,131.2,90.7,131.7,90.7z
            		 M148.4,73.2h-3.2c-1.2,0-2-0.7-2-1.9c0-1.1,0.7-1.9,1.8-2c1.1-0.1,2.4-0.1,3.5,0c1.2,0.1,1.9,0.9,1.9,2
            		C150.3,72.5,149.5,73.2,148.4,73.2z M146.8,70.2c-0.6,0-1.1,0-1.7,0.1c-0.4,0.1-0.9,0.3-0.9,1c0,0.7,0.5,0.9,1,0.9h3.2
            		c0.6,0,0.9-0.3,1-1c0-0.6-0.3-0.9-1-0.9C147.9,70.2,147.4,70.2,146.8,70.2z M122.7,71.1c-3.5,0-6.1-1.8-7.2-4.9
            		c-1-3.5,1.1-7.4,4.6-8.4c0.5-0.2,1.1-0.3,1.5,0c0.5,0.3,0.6,0.9,0.7,1.3c0.6,3.5,1.3,7,2,10.4c0.1,0.4,0.1,0.7,0.1,1v0.4l-0.4,0.1
            		C123.6,71.1,123.1,71.1,122.7,71.1z M121.1,58.5c-0.1,0-0.3,0-0.6,0.1c-3,0.9-4.8,4.2-4,7.2c1,3,3.5,4.5,7,4.2c0-0.1,0-0.2-0.1-0.3
            		l0-0.1c-0.7-3.4-1.4-7-2-10.5c-0.1-0.5-0.2-0.6-0.2-0.6C121.2,58.5,121.1,58.5,121.1,58.5z M176.8,71c-0.4,0-0.8,0-1.2-0.1
            		l-0.5-0.1l0.6-3c0.7-3.4,1.3-6.6,1.8-9.9l0.1-0.4h0.4c1.7,0,3.3,0.7,4.6,2.1c1.3,1.4,1.9,3.1,1.8,4.9c-0.1,1.9-0.9,3.5-2.2,4.7
            		C180.8,70.4,178.9,71,176.8,71z M176.2,69.9c2.1,0.1,4-0.4,5.2-1.5c1.1-1,1.8-2.3,1.9-4c0.1-1.5-0.5-3-1.6-4.1
            		c-0.9-1-2.2-1.6-3.4-1.7c-0.5,3.1-1.1,6.2-1.8,9.4L176.2,69.9z M129.8,50.8l0.1-0.6c0.5-5.3,2.7-9.8,6.5-12.9
            		c4-3.3,9.5-4.8,15.3-4.2l0.5,0.1l-0.1,0.5c-1.4,7.4-12.8,16.4-21.7,17.1L129.8,50.8z M149.1,34c-4.6,0-8.9,1.4-12.1,4.1
            		c-3.4,2.8-5.5,6.8-6.1,11.6c8.2-1,18.3-8.9,20-15.7C150.3,34,149.7,34,149.1,34z M169.3,46.4l-0.7-0.1c-7.2-0.8-13.5-6.1-15-12.4
            		l-0.1-0.5l0.6-0.1c5.5-0.6,13.4,5.8,15.1,12.4L169.3,46.4z M154.6,34.3c1.6,5.4,7.1,9.9,13.2,10.9C166,39.7,159.4,34.3,154.6,34.3
            		C154.7,34.3,154.7,34.3,154.6,34.3z"/>
            </g>
            </svg>

          </div>
          <div class="col-xs-12 col-md-9 colMetodoAcc">
            <h2 class="tituloMetodoAccesibilidad">Lectura de Pantalla </h2>
            <p class="textoMetodoAccesibilidad">
              A través de este modo de navegación se consigue, que el sitio nos lea el contenido de la página.
            </p>
          </div>
        </div>

        <div class="row metodoAccesibilidad">
          <div class="col-xs-12 col-md-3 colMetodoAcc">
            <svg version="1.1" id="iconoVoz" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 300 150" style="enable-background:new 0 0 300 150;" xml:space="preserve">

            <path class="stAccesibilidad" d="M170.1,60.1c2.2,1.6,4.3,3.1,6.5,4.7c1.2-1.6,2.3-3.3,3.5-5c1.1,0.8,2.2,1.5,3.3,2.4c-0.2,0.3-0.4,0.6-0.6,0.9
            	c-3.7,5.2-7.3,10.4-11,15.5c-6.5,9-15.3,13-26.3,12.1c-1.7-0.1-3.4-0.6-5.2-0.9c-0.1,0.5-0.1,1-0.2,1.5c-0.5,1.9-1.6,3.2-3.3,4.2
            	c-0.3,0.2-0.6,0.6-0.6,0.9c0,8,0,15.9,0,23.9c0,0.1,0,0.2,0.1,0.4c4,0,7.9,0,12,0c0,1.4,0,2.7,0,4.1c-9.4,0-18.8,0-28.3,0
            	c0-1.3,0-2.6,0-4c4,0,8,0,12.1,0c0-0.5,0-0.9,0-1.3c0-7.5,0-15.1,0-22.6c0-0.8-0.2-1.1-0.9-1.5c-3.7-2-4.2-7.1-1.1-9.9
            	c0.2-0.2,0.4-0.4,0.7-0.6c-0.2-0.2-0.4-0.4-0.7-0.6c-11.1-9.5-13.4-25.8-5.2-38c3.8-5.7,7.9-11.2,11.8-16.8c0.1-0.1,0.2-0.3,0.4-0.5
            	c1.1,0.8,2.2,1.5,3.3,2.3c-1.2,1.7-2.3,3.3-3.5,5c2.2,1.6,4.3,3.1,6.5,4.7c0.2-0.3,0.5-0.6,0.7-0.9c1.8-2.5,3.5-5,5.3-7.4
            	c4.3-6,11.9-8.4,18.7-5.9c6.9,2.6,11.3,9.5,10.7,16.9c-0.3,3-1.3,5.8-3.1,8.2c-1.7,2.4-3.4,4.8-5.1,7.3
            	C170.5,59.4,170.4,59.7,170.1,60.1z M141,51.8c-0.9,1.2-1.7,2.4-2.5,3.5c-1.3,1.9-2,4-2.1,6.4c-0.4,7.8,6.6,14,14.4,12.6
            	c5.3-1,7.8-5,10.5-9.1c-1.6-1.2-3.2-2.4-4.8-3.6c0.9-1.2,1.7-2.2,2.5-3.3c1.6,1.2,3.2,2.4,4.8,3.6c1-1.5,2-2.8,3-4.2
            	c-1.7-1.2-3.3-2.4-4.9-3.6c0.8-1.2,1.6-2.2,2.4-3.3c1.7,1.2,3.3,2.3,4.9,3.5c1.2-1.7,2.3-3.3,3.5-5c-1.7-1.2-3.3-2.4-4.9-3.6
            	c0.8-1.1,1.6-2.2,2.4-3.3c1.5,1,2.9,2,4.3,3c1.4-3.9,0.2-10.1-4.9-13.5c-4.7-3.1-10.6-2.3-13.5,0.3c1.4,1,2.8,2,4.2,3
            	c-0.8,1.1-1.6,2.2-2.4,3.3c-1.7-1.2-3.2-2.3-4.9-3.5c-1.2,1.7-2.3,3.3-3.5,5c1.7,1.2,3.2,2.3,4.9,3.5c-0.8,1.1-1.6,2.2-2.4,3.3
            	c-1.7-1.2-3.2-2.3-4.9-3.5c-1.2,1.7-2.3,3.3-3.5,5c1.6,1.2,3.2,2.3,4.9,3.5c-0.8,1.1-1.6,2.2-2.4,3.3C144.2,54.1,142.6,53,141,51.8z
            	 M167.7,63.5c-0.3,0.4-0.5,0.7-0.7,1c-1.8,2.5-3.5,5-5.3,7.4c-5.2,7.1-14.9,8.9-22.1,4c-7.4-5-9.6-14.9-4.8-22.3
            	c1.8-2.8,3.8-5.5,5.7-8.2c0.2-0.3,0.4-0.6,0.6-1c-2.2-1.6-4.4-3.1-6.6-4.7c-2.5,3.7-5.1,7.1-7.3,10.8c-2.9,5-3.6,10.4-2.7,16.1
            	c1.7,9.7,9.1,17.5,18.5,19.6c9.8,2.2,19.5-1.6,25.4-9.8c1.8-2.5,3.5-5,5.3-7.4c0.2-0.2,0.3-0.5,0.5-0.8
            	C172,66.6,169.9,65.1,167.7,63.5z M134.2,87.9c-1.1,0-2,0.9-2,2s0.8,2,1.9,2.1c1.1,0,2.1-1,2.1-2.1
            	C136.2,88.9,135.3,87.9,134.2,87.9z"/>
            </svg>


          </div>
          <div class="col-xs-12 col-md-9 colMetodoAcc">
            <h2 class="tituloMetodoAccesibilidad">Por voz </h2>
            <p class="textoMetodoAccesibilidad">
              Con la ayuda de un micrófono el usuario que nos visita puede "hablar" con la web para darle las instrucciones y así podrá navegar con simples palabras como: subir, bajar, adelantar, etc.
            </p>
          </div>
        </div>

        <div class="row metodoAccesibilidad">
          <div class="col-xs-12 col-md-3 colMetodoAcc">
            <svg version="1.1" id="iconoTeclado" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 300 150" style="enable-background:new 0 0 300 150;" xml:space="preserve">

            <g>
            	<g>
            		<path class="stAccesibilidad" d="M199.8,75.5h-14.1l-0.3-0.5c-0.6-1.2-1.8-2-3.1-2.2c-1.1-0.2-2,0-2.9,0.6c-0.5,0.3-1.4,0.8-2.5-0.1
            			c-0.9-0.6-2.1-0.8-3.6-0.4l-1.2,0.3v-1.3c0-2.1,0-4.2,0.2-6.4c0-2-1.6-3.7-3.6-3.9c-2.3-0.2-4.2,1.1-4.6,3.2
            			c-0.1,0.5-0.1,1.3-0.1,2v8.4h-29.4v-1c0-0.5,0-1,0-1.5c0-1,0-2,0-3c0-0.9-0.1-1.6-0.3-2.2c-0.8-2-2.8-2.8-5.3-2.2l-0.8,0.2
            			l-0.3-0.7c-1-2.2-2.3-3.1-4.2-3.1c-1.9,0-3.3,1-4.1,3l-0.3,0.7l-0.8-0.1c-3.3-0.4-4.2,0-5.9,3l-0.4,0.7l-0.7-0.2
            			c-1.9-0.5-3.3-0.2-4.5,1c-1.2,1.1-1.4,2.6-1.3,4.6l0.1,1h-7.2V35.8h101.2V75.5z M186.9,73.5h10.9V37.8h-97.2v35.5h3.1
            			c0-1.7,0.3-3.6,1.9-5.1c1.5-1.4,3.4-2,5.6-1.6c1.8-2.9,3.5-3.8,6.8-3.5c1.2-2.3,3.1-3.5,5.6-3.5c2.5,0,4.4,1.2,5.7,3.6
            			c3.2-0.4,5.8,0.9,6.9,3.5c0.3,0.9,0.5,1.8,0.5,2.9c0.1,1,0,2.1,0,3.1c0,0.2,0,0.3,0,0.5H162v-6.4c0-0.7,0-1.6,0.1-2.3
            			c0.7-3.2,3.4-5.1,6.8-4.9c3,0.2,5.4,2.9,5.4,6c-0.2,1.7-0.2,3.4-0.2,5.1c1.6-0.2,2.9,0.2,4.1,1c0,0,0,0,0.1,0.1c0,0,0.1,0,0.2-0.1
            			c1.2-0.8,2.7-1.1,4.3-0.8C184.4,71.1,185.9,72.1,186.9,73.5z"/>
            		<path class="stAccesibilidad" d="M131.3,113h-18.7l-0.2-0.7c-0.2-0.5-0.2-0.9-0.2-1.1c0.2-2-0.3-3.7-1.1-5.7c-1.3-3.2-2.5-6.5-3.7-9.8
            			c-0.2-0.5-0.4-1.1-0.4-1.7V73.1c0-1,0.3-1.9,1-2.4c0.5-0.5,1.3-0.7,2-0.7c1.5,0.2,2.4,1.3,2.4,3v8.8h1.5l0-12.8
            			c0.2-1.4,1.3-2.5,2.7-2.5l0.1,0c1.5,0.2,2.5,1.2,2.5,2.7v12.7h1.5V65.8c0.2-1.6,1.3-2.7,2.7-2.7l0.1,0c1.5,0.2,2.5,1.2,2.5,2.7
            			c0.1,0.7,0,1.4,0,2.1c0,0.3,0,0.7,0,1.1v12.9c0.5,0,1,0,1.5,0c0,0,0-0.1,0-0.1V69.3c0.2-1.6,1.3-2.7,2.7-2.7
            			c1.5,0,2.7,1.2,2.7,2.7v21.1h1.5v-3.1c0-2.4,0.9-3.6,2.7-3.6s2.7,1.2,2.7,3.6c0,0.5,0,1,0,1.5c0,1,0,2,0,2.9
            			c0.2,3.2-0.9,5.9-1.9,7.8c-1.6,3.1-3.7,5.9-6.2,8.3c-0.3,0.3-0.4,0.6-0.4,1.1V113z M114.2,111h15.1v-2c0-1,0.3-1.8,1-2.5
            			c2.3-2.3,4.3-5,5.8-7.9c1.3-2.6,1.8-4.6,1.7-6.8c-0.1-1.1,0-2.1,0-3.1c0-0.5,0-1,0-1.5c0-1.6-0.4-1.6-0.7-1.6s-0.7,0-0.7,1.6v5.1
            			h-5.5V69.3c0-0.5-0.4-0.7-0.7-0.7c-0.5,0-0.7,0.4-0.7,0.8l0,0.9v11.5c0,0.4,0,0.9-0.1,1.4l-0.2,0.8l-0.9-0.1
            			c-1.1-0.1-2-0.1-3.2-0.1h-1v-1c0-0.1,0-0.1,0-0.2c0-0.1-0.1-0.3-0.1-0.5V69c0-0.4,0-0.8,0-1.1c0-0.7,0-1.3,0-2
            			c0-0.5-0.2-0.7-0.7-0.8c-0.4,0-0.6,0.4-0.7,0.8l0,1v17h-5.5V69.2c0-0.4-0.2-0.6-0.7-0.7c-0.3,0-0.6,0.3-0.6,0.7v14.6h-5.5V73
            			c0-0.9-0.3-1-0.6-1c-0.2,0-0.4,0-0.5,0.1c-0.2,0.2-0.3,0.5-0.3,1V94c0,0.3,0.1,0.6,0.2,0.9l0,0.1c1.2,3.2,2.4,6.6,3.7,9.8
            			C113.6,106.5,114.4,108.6,114.2,111z"/>
            		<path class="stAccesibilidad" d="M167.2,113.2v-1c0-0.4,0-0.8,0-1.1c0-0.7,0-1.4,0-2c-0.1-0.5-0.3-0.8-0.3-0.8c-2.9-3.2-5-6-6.6-8.9
            			c-0.9-1.8-1.8-4.2-1.7-7.1c0.1-1.2,0-2.4,0-3.5c0-0.6,0-1.2,0-1.8c0-1.7,1.1-3,2.7-3s2.7,1.3,2.7,3v3.8h1.5V66.5
            			c0-2.4,1.4-3.2,2.7-3.2c0.6-0.1,1.3,0.1,1.8,0.6c0.6,0.6,0.9,1.4,0.9,2.5V82h1.5v-5c0.2-1.7,1.2-2.7,2.7-2.7l0.1,0
            			c1.5,0.2,2.5,1.2,2.5,2.7v5h1.5v-4.8c0-1.8,1.1-2.9,2.7-2.9l0.1,0c1.6,0.2,2.5,1.2,2.5,2.9v4.7h1.5v-2c0-1.8,1-3,2.6-3
            			c1.6,0,2.7,1.2,2.7,3v14.2c0,0.4-0.1,0.8-0.2,1.1c0,0.1-0.1,0.2-0.1,0.3l0,0.1c-1.2,3.3-2.6,7-4.1,10.9c-0.6,1.4-0.8,2.6-0.7,3.9
            			l0,2.6h-1c-5.9,0-11.4,0-16.9,0.2L167.2,113.2z M161.3,85.8c-0.6,0-0.7,0.8-0.7,1c0,0.6,0,1.2,0,1.8c0,1.2,0,2.4,0,3.7
            			c-0.1,1.9,0.4,3.7,1.5,6.1c1.5,2.7,3.4,5.4,6.2,8.5c0.5,0.5,0.7,1.3,0.8,1.9l0,0.1c0.1,0.8,0,1.6,0,2.3c0,0,0,0,0,0
            			c4.9-0.2,9.7-0.2,14.9-0.2v-0.5c-0.1-1.5,0.2-3.1,0.9-4.7c1.5-3.9,2.9-7.5,4.1-10.8c0-0.1,0.1-0.3,0.1-0.4
            			c0.1-0.2,0.1-0.4,0.1-0.5V79.9c0-1-0.5-1-0.7-1c-0.2,0-0.6,0-0.6,1v4h-5.5v-6.7c0-0.7-0.3-0.9-0.6-0.9c-0.3,0-0.7,0.1-0.7,0.9V84
            			h-5.5v-7c0-0.4-0.2-0.6-0.7-0.7c-0.3,0-0.6,0.1-0.6,0.8l0,6.9h-5.5V66.4c0-0.7-0.2-1-0.3-1c-0.1,0-0.1-0.1-0.3-0.1
            			c-0.3,0-0.8,0-0.8,1.2v26.1H162v-5.8C162,86.6,161.9,85.8,161.3,85.8z"/>
            		<path class="stAccesibilidad" d="M158.6,71.9h-19v-5.3h19V71.9z M141.6,69.9h15v-1.3h-15V69.9z"/>
            		<path class="stAccesibilidad" d="M138,58.2h-5.3v-5.3h5.3V58.2z M134.7,56.2h1.3v-1.3h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M144.9,58.2h-5.3v-5.3h5.3V58.2z M141.6,56.2h1.3v-1.3h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M151.7,58.2h-5.3v-5.3h5.3V58.2z M148.4,56.2h1.3v-1.3h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M158.6,58.2h-5.3v-5.3h5.3V58.2z M155.3,56.2h1.3v-1.3h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M165.4,58.2h-5.3v-5.4h5.3V58.2z M162.1,56.2h1.3v-1.4h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M172.3,58.2H167v-5.4h5.3V58.2z M169,56.2h1.3v-1.4H169V56.2z"/>
            		<path class="stAccesibilidad" d="M179.1,58.2h-5.3v-5.4h5.3V58.2z M175.8,56.2h1.3v-1.4h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M186,58.2h-5.3v-5.3h5.3V58.2z M182.7,56.2h1.3v-1.3h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M192.9,58.3h-5.3v-5.4h5.3V58.3z M189.6,56.3h1.3v-1.4h-1.3V56.3z"/>
            		<path class="stAccesibilidad" d="M114.1,65h-5.3v-5.3h5.3V65z M110.8,63h1.3v-1.3h-1.3V63z"/>
            		<path class="stAccesibilidad" d="M141.5,65h-5.3v-5.3h5.3V65z M138.2,63h1.3v-1.3h-1.3V63z"/>
            		<path class="stAccesibilidad" d="M148.3,65.1h-5.2v-5.4h5.2V65.1z M145.1,63.1h1.2v-1.4h-1.2V63.1z"/>
            		<path class="stAccesibilidad" d="M155.2,65h-5.3v-5.3h5.3V65z M151.9,63h1.3v-1.3h-1.3V63z"/>
            		<path class="stAccesibilidad" d="M162,65.1h-5.3v-5.3h5.3V65.1z M158.7,63.1h1.3v-1.3h-1.3V63.1z"/>
            		<path class="stAccesibilidad" d="M182.6,65h-5.3v-5.3h5.3V65z M179.3,63h1.3v-1.3h-1.3V63z"/>
            		<path class="stAccesibilidad" d="M189.4,65.1h-5.3v-5.3h5.3V65.1z M186.1,63.1h1.3v-1.3h-1.3V63.1z"/>
            		<path class="stAccesibilidad" d="M196.3,65.1H191v-5.3h5.3V65.1z M193,63.1h1.3v-1.3H193V63.1z"/>
            		<path class="stAccesibilidad" d="M144.9,44.5h-5.3v-5.3h5.3V44.5z M141.6,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M138,44.5h-5.3v-5.3h5.3V44.5z M134.7,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M131.2,44.5h-5.3v-5.3h5.3V44.5z M127.9,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M124.4,44.5h-5.3v-5.4h5.3V44.5z M121.1,42.5h1.3v-1.4h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M117.5,44.5h-5.3v-5.3h5.3V44.5z M114.2,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M110.6,44.5h-5.3v-5.3h5.3V44.5z M107.3,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M151.7,44.5h-5.3v-5.3h5.3V44.5z M148.4,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M158.6,44.5h-5.3v-5.4h5.3V44.5z M155.3,42.5h1.3v-1.4h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M165.4,44.5h-5.3v-5.3h5.3V44.5z M162.1,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M172.3,44.5H167v-5.4h5.3V44.5z M169,42.5h1.3v-1.4H169V42.5z"/>
            		<path class="stAccesibilidad" d="M179.1,44.5h-5.3v-5.3h5.3V44.5z M175.8,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M186,44.5h-5.3v-5.3h5.3V44.5z M182.7,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M192.9,44.5h-5.3v-5.3h5.3V44.5z M189.6,42.5h1.3v-1.3h-1.3V42.5z"/>
            		<path class="stAccesibilidad" d="M114.1,51.3h-5.3V46h5.3V51.3z M110.8,49.3h1.3V48h-1.3V49.3z"/>
            		<path class="stAccesibilidad" d="M120.9,51.3h-5.3V46h5.3V51.3z M117.6,49.3h1.3V48h-1.3V49.3z"/>
            		<path class="stAccesibilidad" d="M127.8,51.3h-5.3V46h5.3V51.3z M124.5,49.3h1.3V48h-1.3V49.3z"/>
            		<path class="stAccesibilidad" d="M134.6,51.3h-5.3V46h5.3V51.3z M131.3,49.3h1.3V48h-1.3V49.3z"/>
            		<path class="stAccesibilidad" d="M141.4,51.4h-5.3v-5.3h5.3V51.4z M138.1,49.4h1.3v-1.3h-1.3V49.4z"/>
            		<path class="stAccesibilidad" d="M148.3,51.4H143v-5.3h5.3V51.4z M145,49.4h1.3v-1.3H145V49.4z"/>
            		<path class="stAccesibilidad" d="M155.2,51.3h-5.3V46h5.3V51.3z M151.9,49.3h1.3V48h-1.3V49.3z"/>
            		<path class="stAccesibilidad" d="M162,51.4h-5.3V46h5.3V51.4z M158.7,49.4h1.3V48h-1.3V49.4z"/>
            		<path class="stAccesibilidad" d="M168.9,51.4h-5.3v-5.3h5.3V51.4z M165.6,49.4h1.3v-1.3h-1.3V49.4z"/>
            		<path class="stAccesibilidad" d="M175.7,51.3h-5.3V46h5.3V51.3z M172.4,49.3h1.3V48h-1.3V49.3z"/>
            		<path class="stAccesibilidad" d="M182.6,51.3h-5.3V46h5.3V51.3z M179.3,49.3h1.3V48h-1.3V49.3z"/>
            		<path class="stAccesibilidad" d="M189.4,51.4h-5.3v-5.3h5.3V51.4z M186.1,49.4h1.3v-1.3h-1.3V49.4z"/>
            		<path class="stAccesibilidad" d="M196.3,51.3H191V46h5.3V51.3z M193,49.3h1.3V48H193V49.3z"/>
            		<path class="stAccesibilidad" d="M110.6,58.2h-5.3v-5.3h5.3V58.2z M107.3,56.2h1.3v-1.3h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M117.4,58.2h-5.3v-5.3h5.3V58.2z M114.1,56.2h1.3v-1.3h-1.3V56.2z"/>
            		<path class="stAccesibilidad" d="M124.4,58.3h-5.3v-5.4h5.3V58.3z M121.1,56.3h1.3v-1.4h-1.3V56.3z"/>
            		<path class="stAccesibilidad" d="M131.2,58.3h-5.3v-5.4h5.3V58.3z M127.9,56.3h1.3v-1.4h-1.3V56.3z"/>
            	</g>
            </g>
            </svg>
          </div>
          <div class="col-xs-12 col-md-9 colMetodoAcc">
            <h2 class="tituloMetodoAccesibilidad">Por teclado </h2>
            <p class="textoMetodoAccesibilidad">
              Utilizando determinadas teclas, el usuario puede trasladarse por la web con facilidad.

            </p>
          </div>
        </div>

      </div>

      <div class="col-xs-12">
        <h2 class="visuallyhidden">Descripcion de accesibilidad</h2>
        <p class="accesibilidadTexto">
          La accesibilidad Web significa que personas con capacidades diferentes,
          incapacidades transitorias y adultos mayores, entre otros, puedan hacer uso de la Web. <br />
          Al hablar de accesibilidad Web, se está haciendo referencia a un diseño Web que va a
          permitir que los usuarios puedan percibir, entender, navegar e interactuar con la
          Web de Gobierno Abierto, aportando a su vez contenidos. La accesibilidad Web también
          beneficia a otras personas, incluyendo aquellas de edad avanzada que han visto mermadas
          algunas de sus habilidades a consecuencia de la edad. <br /><br />
          Para cumplir con estos requisitos, en noviembre de 2010 en Argentina se sancionó la
          <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/175000-179999/175694/norma.htm" target="_blank" rel="noopener">Ley 26653</a>
          de “Acceso a la información pública”. El propósito de este sitio web es brindarle a los usuarios
          el acceso de distintas dependencias de la Administración Publica.
           El objetivo de <a href="https://gobiernoabierto.cordoba.gob.ar" target="_blank" rel="noopener">gobiernoabierto.cordoba.gob.ar</a> es que sea accesible para todas las
           personas sin distinguir su edad, sus capacidades, su conocimiento de Internet, la velocidad de
           su conexión ni el dispositivo que utiliza para navegar (computadora, tablet, celular económico o smartphone).
           Para ello, nos manejamos con los <a href="https://github.com/argob/estandares/blob/master/estandares-web.md#accesibilidad" target="_blank" rel="noopener">Estándares Web</a> de la Dirección Nacional de Servicios Digitales
           del Ministerio de Modernización. <br /><br />
          Además, queremos que sea compatible con la mayor cantidad de navegadores de Internet
          (varias versiones de Explorer, Chrome, Firefox, Safari, Edge, entre otros) y con las
          herramientas que utilizan las personas con disminución visual.<br /><br />
          Escribimos los textos para que todos /as los puedan comprender, sin palabras extrañas
          o innecesariamente difíciles.
          Si tenés algún inconveniente para encontrar algo o navegar en el sitio, ves algún error
          o te parece que fuimos pocos explícitos, <a href="mailto:gobiernoabierto@cordoba.gov.ar" target="_blank" rel="noopener">avisanos</a>
          y lo corregimos con agrado. Queremos que <a href="https://gobiernoabierto.cordoba.gob.ar" target="_blank" rel="noopener">gobiernoabierto.cordoba.gob.ar</a>
          sea fácil de usar y te resulte útil siempre.
        </p>

      </div>

    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script>
$(function() {
		$('.colMetodoAcc').matchHeight();
});
</script>
{% endblock %}
