{% extends './front-page-wrapper.html' %}

{% block title %} APIs {% endblock %}

{% block content %}
<section id="apis" class="base-header">

    {%with pageName='apis' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    {%with title='APIs' template_name=base_template|add:"/front-page-base-header.html" %}
         {% include template_name %}
    {%endwith%}

    <div class="row statisticsHome contadorDatos" id="contadorDatos">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 apis-description-page">
            <p class="text-center">
                APIs disponibles con información en tiempo real de los sistemas de información 
                utilizados en al Municipalidad de Córdoba
            </p>
        </div>
    </div>
</section>

<div class="row home-barra">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
</div>


<section class="apis-container container">

    <div class="container-fluid">

      <div class="row apis-links">
        <div class="col-md-6">
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/v2/transporte-publico/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Transporte público
                    </h3>
                </div>
            </a>
            <a href="https://cordobus.apps.cordoba.gob.ar/analisis/api/">
                <div class="dato-descargado even">
                    <h3 class="pt-10">
                        Cortes de boletos
                    </h3>
                </div>
            </a>
            <a href="https://cordobus.apps.cordoba.gob.ar/boletos/api/contrato-boletos/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Contratos de los boletos
                    </h3>
                </div>
            </a>
            <a href="https://cordobus.apps.cordoba.gob.ar/lineas/api/">
                <div class="dato-descargado">
                    <h3 class="pt-10">
                        Recorridos y líneas de transporte público
                    </h3>
                </div>
            </a>
            <a href="https://cordobus.apps.cordoba.gob.ar/paradas-colectivos/api/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Paradas y postes
                    </h3>
                </div>
            </a>
            <a href="https://cordobus.apps.cordoba.gob.ar/tracking/api/">
                <div class="dato-descargado">
                    <h3 class="pt-10">
                        Colectivos geolocalizados
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/datos-abiertos/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Datos abiertos
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/categorias-datos-abiertos/">
                <div class="dato-descargado">
                    <h3 class="pt-10">
                        Categorías datos abiertos
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/capas-de-mapas/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Capas de mapas publicados
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/v2/barrios/barrios/">
                <div class="dato-descargado">
                    <h3 class="pt-10">
                        Barrios
                    </h3>
                </div>
            </a>
 
        </div>
      
        <div class="col-md-6">

           <a href="https://gobiernoabierto.cordoba.gob.ar/api/v2/cpc/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        CPC
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/v2/ventanilla-unica/">
                <div class="dato-descargado">
                    <h3 class="pt-10">
                        Locales habilitados
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/aplicaciones-moviles/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Apps móviles
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/v2/software-municipal/apps-moviles/">
                <div class="dato-descargado">
                    <h3 class="pt-10">
                        Software libre
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/eventos-publicos/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Eventos públicos
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/agrupador-actividad/">
                <div class="dato-descargado">
                    <h3 class="pt-10">
                        Agrupador actividades en eventos públicos
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/actividad-publica/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Actividad pública
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/organizador-evento/">
                <div class="dato-descargado">
                    <h3 class="pt-10">
                        Organizador evento público
                    </h3>
                </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/api/lugar-actividad/">
                <div class="dato-descargado odd">
                    <h3 class="pt-10">
                        Lugar de actividad en evento público
                    </h3>
                </div>
            </a>


        </div>
    </div>
      
 </section>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
{% endblock %}


