{% extends './front-page-wrapper.html' %}

{% block title %} Aplicaciones móviles {% endblock %}

{% block content %}
<section id="apps" class="base-header">

    {%with pageName='apps' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    {%with title='Apps Móviles' template_name=base_template|add:"/front-page-base-header.html" %}
         {% include template_name %}
    {%endwith%}

    <div class="row statisticsHome contadorDatos" id="contadorDatos">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 apps-description-page">
            <p class="text-center">
              6 apps móviles
            </p>
        </div>
    </div>
</section>

<div class="row home-barra">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
</div>




<section id="aplicaciones" class="aplicaciones container">
    <div class="row apps-container">

        {% for app in apps %}

        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 grid-item text-center" id="app-{{forloop.counter}}">
            <div class="appContainer">
                <div class="row headerApp">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
                        <!--div class="icono {% if not app.activado %} deactivated {%endif%}" style="background-image: url('/static/website/{{website.template}}/img/apps/go.png')"></div-->
                        <div class="icono {% if not app.activado %} deactivated {%endif%}" style="background-image: url('/media/{{ app.logo }}')"></div>
                    </div>
                </div>
                <div class="row descApp">
                    <div class="col-xs-12">
                        <p class="descripcionApp text-justify">
                        {% if not app.activado %}
                            PRÓXIMAMENTE
                        {% else %}
                            {{ app.descripcion|default_if_none:"" }}
                            {% if app.mas_info_url %}
                                <a href="{{ app.mas_info_url }}" class="app-info-text">Más información</a>
                            {% endif %}
                        {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row downloadSection">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 text-center line-separator">

                    </div>
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 text-center">
                        <span class="descargar-text">
                            Descargala de
                        </span>
                    </div>
                </div>
                <div class="row downloadSection">
                    {% if app.activado %}
                        {% if app.web_version%}
                        <!--
                        <div class="col-sm-4">
                            <a href="{{ app.web_version }}" class="web">
                            </a>
                        </div>
                        -->
                        {% endif %}
                    {% endif %}
                    {% if app.activado %}
                        {% if app.android_market %}
                        <div class="col-xs-4 col-xs-offset-4 col-sm-offset-1 col-sm-5 text-center btn-container">
                            <a href="{{app.android_market}}" class="android">
                                <img class="img-responsive" src="/static/website/{{website.template}}/img/apps/playstore.svg"/>
                            </a>
                        </div>
                        {% endif %}
                        {% if app.ios_market %}
                        <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 col-sm-5 text-center btn-container">
                            <a href="{{app.ios_market}}" class="apple">
                                <img class="img-responsive" src="/static/website/{{website.template}}/img/apps/apple.svg"/>
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
{% block scripts %}

  <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
	<script type="text/javascript" src="/static/website/{{website.template}}/js/aplicaciones.js"></script>
	<script>
  $(document).ready(function(){
      $(".appContainer").matchHeight();
  });
  </script>

{% endblock %}
