{% extends extends_from %}

{% block title %} Arbolado {% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/arbolado/app/runtime.js"></script>
<script type="text/javascript" src="/static/arbolado/app/polyfills.js"></script>
<script type="text/javascript" src="/static/arbolado/app/styles.js"></script>
<script type="text/javascript" src="/static/arbolado/app/vendor.js"></script>
<script type="text/javascript" src="/static/arbolado/app/main.js"></script>
<script src="/static/boletines/js/jquery.matchHeight.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    $(function() {
        $('.colFile').matchHeight();
        $('.colHeader').matchHeight();
    });
</script>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="/static/boletines/css/animate.min.css">
<link rel="stylesheet" href="/static/arbolado/css/arbolado.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
<!-- <script src="/static/boletines/js/jquery.matchHeight.js"></script> -->
{% endblock %}
{% block content %}
<div class="container-fluid inFContainer">
    <app-root></app-root>
</div>

{% endblock %}
