{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">

{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="blockchain" class="blockchain">
    <div class="row">
      <div class="col-xs-12 tituloPag">
        <div class="row">
          <div class="col-xs-5 col-sm-3 col-lg-2 tituloContainer border-right">
            <div class="tituloSeccionSup">Certificación de datos</div>
          </div>
          <div class="col-xs-7 col-sm-4 col-lg-3">
            <div class="tituloContainer">
              <h1 class="tituloSeccion">Blockchain</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row border-bottom-section">
      <div class="col-xs-12 infoPM">
        <h2 class="tituloDatoBC">{{ documento.nombre }}</h2>
        <p class="registroDatoBC">Documento registrado en blockchain el: <strong>{{ documento.creado }}</strong></p>

        {% if documento.archivo_comprimido %}
        <p>
          El documento registrado en Blockchain puede descargarse a continuación: 
          <a class="linkDatoBC" href='{{documento.archivo_comprimido.url}}'>Descargar</a>.
          <br/>Te recomendamos que lo descargues para hacer tus validaciones de existencia e inmutabilidad en el futuro.
        </p>
        {% endif %}


        {% if documento.replicadatos_set.all|length > 0 %}
            <h3 class="subtituloDatoBC">Replicas externas del documento</h3>
            <p>Usamos replicas independientes del gobierno para mantener los datos disponibles más allá de las gestiones.</p>
            {% for replica in documento.replicadatos_set.all %}
            <a class="linkDatoBC" href='{{ replica.url_replica }}' target='_blank'>Replica en {{ replica.proveedor.nombre }}</a>
            {% endfor %}
        {% endif %}

        {% if documento.recursos_incluidos.all|length > 0 %}
          <h3 class="subtituloDatoBC">Recursos del portal de datos</h3>
          <p>El documento registrado en blockchain incluyen los siguientes recursos:</p>
            {% for recurso in documento.recursos_incluidos.all %}
              {% if not forloop.first %}, {% endif %}
              <a class="linkDatoBC" href='{{ recurso.version_dato.dato.get_absolute_url }}' target='_blank'>{{recurso.titulo}}</a>
            {% endfor %}
        {% endif %}
      </div>

      <div class="col-xs-12 infoPM">
        <h3 class="subtituloDatoBC">Verificación</h3>
        Para que puedas verificar que el documento no ha sido modificado tiene que realizar los siguientes pasos:
        <ol>
          <li>Descargar el documento inicial.</li>
          {% if documento.firmantes.all|length > 0 %}
          <li>Revisar las firmas</li>
          {% endif %}
          <li>Aplicar la función hash al documento (<a class="linkDatoBC" href='https://github.com/ModernizacionMuniCBA/hashear-documentos' target='_blank'>ayuda</a>)</li>
          <li>Verificar que el hash exista en la blockchain informada</li>
          {% if documento.archivo_verificacion %}
          <li>Archivo de certificación: 
              <a href='{{documento.archivo_verificacion.url}}' target='_blank'>{{ documento.archivo_verificacion.name }}</a>
          </li>
          {% endif %}

            {% if documento.smart_contract %}
              <li>Revisar el <i>Smart Contract</i> utilizado en el proceso
                {% if documento.smart_contract.url_tecnico %}
                  (<a class="linkDatoBC" href='{{ documento.smart_contract.url_tecnico }}'>vía web</a>)
                {% endif %}
              {% if documento.smart_contract.url_repo %}
                (vía <a class="linkDatoBC" href='{{ documento.smart_contract.url_repo }}'>su código fuente)</a>
              {% endif %}

            </li>
          {% endif %}

          {% if documento.info_extra_verificacion %}
            <li>{{ documento.info_extra_verificacion }}</li>
        {% endif %}
      </ol>


      </div>

      <div class="col-xs-12 infoPM">
        <h3 class="subtituloDatoBC">Funcion Hash usada</h3>
        <p><a class="linkDatoBC" href='{{ documento.funcion_hash.url }}' target='_blank'>{{documento.funcion_hash.nombre}}</a></p>
        <p><a class="linkDatoBC" href='https://github.com/ModernizacionMuniCBA/hashear-documentos' target='_blank'>Ayuda para funciones HASH</a></p>
        <p><b>Resultado:</b> <span class="hashRes">{{ documento.resultado_hash }}</span></p>

        {% if documento.firmantes.all|length > 0 %}
          <h3 class="subtituloDatoBC">Firmantes del documento</h3>
          <p>El documento final fue firmado digitalmente antes de subirse por:</p>
          <ul>
            {% for firma in documento.firmantes.all %}
            <li>
                <a class="linkDatoBC" href='{{firma.mas_info_url}}' target='_blank'>{{firma.nombre_firmante}}</a>.
                <br />Estado de la firma: {{firma.get_estado_display}}.
                <br />Clave pública: <b>{{firma.clave_publica}}</b>.
            </li>
            {% endfor %}
          </ul>

          {% if documento.sistema_firma %}
              <p>
                <b>Firmado vía:</b> {{ documento.sistema_firma.nombre }}
                {% if documento.sistema_firma.url_de_referencia %}
                (<a class="linkDatoBC" href='{{ documento.sistema_firma.url_de_referencia }}' target='_blank'>Más info</a>)
                {% endif %}
              </p>
          {% endif %}

          {% if documento.resultado_firma %}
              <p><b>Resultado de la firma:</b> {{ documento.resultado_firma }}</p>
          {% endif %}

        {% endif %}

      </div>
      <div class="col-xs-12 infoPM" id="descripcionPM">
        <h3 class="subtituloDatoBC">Datos útiles</h3>

        {% if blockchain %}
          <p>Subido a {{ blockchain.nombre }}

          {% if bloque.id_bloque %}
              {% if bloque.url_bloque %}
                  (<a class="linkDatoBC" href='{{ bloque.url_bloque }}'>bloque</a>)
              {% else %}
                  (bloque: {{ bloque.id_bloque }})
              {% endif %}
          {% endif %}
        </p>

        {% endif %}

        {% if wallet %}
            <p><b>Wallet usada:</b>
              {% if wallet.url_wallet %}
                  <a class="linkDatoBC" href='{{ wallet.url_wallet }}'>{{ wallet.direccion }}</a>
              {% else %}
                  {{ wallet.direccion }}
              {% endif %}
              </p>
        {% endif %}

        {% if documento.intermediario %}
            <p><b>Intermediradio:</b> {{ documento.intermediario.nombre_entidad }}
            {% if documento.intermediario.url %} (<a class="linkDatoBC"  href='{{ documento.intermediario.url }}'>ver</a>). {% endif %}
            </p>

            {% if documento.intermediario.url_verificacion_general %}
              <p><a class="linkDatoBC"  href='{{ documento.intermediario.url_verificacion_general }}'>Ver sistema de verificacion propio del intermediario</a></p>
            {% endif %}

        {% endif %}

        {% if documento.smart_contract %}
            <p><b><i>Smart Contract</i> vinculado</b>: {{ documento.smart_contract.nombre }}.</p>

            {% if documento.smart_contract.observaciones_publicas %}
              <p> {{ documento.smart_contract.observaciones_publicas }}. </p>
            {% endif %}

            {% if documento.smart_contract.url_repo %}
              <p><a class="linkDatoBC" href='{{ documento.smart_contract.url_repo }}'>Repositorio de código del Contrato</a></p>
            {% endif %}

            {% if documento.smart_contract.url_tecnico %}
              <p><a class="linkDatoBC"  href='{{ documento.smart_contract.url_tecnico }}'>Contrato en la Web</a></p>
            {% endif %}

        {% endif %}

        {% if documento.url_verificacion %}
            <p><b>URL verificación sugerida para el documento:</b> <a class="linkDatoBC" href='{{ documento.url_verificacion }}'>Ver</a></p>
        {% endif %}

      </div>

    </div>



  </section>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/sl.js"></script>{% endblock %}
