{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">

{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="blockchain" class="blockchain">
    <div class="row">
      <div class="col-xs-12">
        <div class="row datosGraph" id="datosParticles">
          <div class="after"></div>
          <div class="col-xs-12">
            <h2 class="bcTitle">Blockchain</h2>
          </div>
          <div class="col-xs-12 col-sm-7 col-sm-offset-5 index-alto datosGraphColumn">
            <div class="row">
              <div class="col-xs-12 datosTextoContainer">
                <p>
                  Blockchain es una tecnología de bases de datos descentralizada. Esto quiere decir que los registros allí almacenados <strong>no
                  están sujetos a una autoridad central</strong> que pueda decidir sobre la eliminación o modificación de ningún registro.
								</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="descripcion">
          <div class="texto">
            Blockchain es una tecnología de bases de datos descentralizada. Esto quiere decir que los registros allí almacenados <strong>no
            están sujetos a una autoridad central</strong> que pueda decidir sobre la eliminación o modificación de ningún registro.
            <br /><br/>
            Blockchain distribuye registros (que pueden representar transacciones o datos de muy variadas temáticas) entre muchos equipos
            pertenecientes a diferentes personas. <strong>Mientras más variadas son las manos que poseen esos equipos mas confiable es una red de
            computadoras almacenando una <i>cadena de bloques</i></strong> (blockchain).
            <br/><br/>
            No hay una única red blockchain, hay numerosas redes funcionando con variaciones. La más conocida es la red que sostiene a la moneda virtual
            (<a href='https://es.wikipedia.org/wiki/Criptomoneda' target='_blank'>criptomoneda</a>) Bitcoin.
            <br /><br/>
            Debido a que con la tecnología de hoy no es posible adulterar una <i>cadena de bloques</i> estas pueden ser muy útiles para grabar
            registros <strong>que persistan en el tiempo y no sean modificables</strong>.
            Blockchain se presenta como una buena opción para <strong>certificar la inmutabilidad</strong>
            de registros.
            <br/><br/>
            Con esta idea, el Boletín Oficial argentino ha
            <a href='https://www.boletinoficial.gob.ar/#!estatica/certificacionBlockchain' target='_blank'>comenzado a publicar</a> registros de
            cada edición. Lo mismo esta haciendo la
            <a href='https://www.cne.cl/prensa/prensa-2018/febrero-2018/comision-nacional-de-energia-se-convertira-en-la-primera-entidad-publica-en-utilizar-blockchain-en-chile/' target='_blank'>Comisión Nacional de Energía de Chile</a>.
            <br />
            La Municipalidad de Córdoba comenzo su experiencia en 2017 con esta misma idea: <strong>Dejar registros en
              blockchain</strong> que certifiquen que los datos más importantes de nuestro portal no han sido modificados.
            <!--
            <h3 class="tituloBC">Algunos datos que ya hemos certificado en Blockchain</h3>
            {% for doc in documentos_en_blockchain %}
              <a href='{{doc.get_absolute_url}}' target='_blank'>{{ doc }}</a><br/>
            {% endfor %}
            -->
          </div>
        </div>
      </div>



      <div class="col-xs-12 no-padding">
        <div class="infoBC">
          La implementación de Blockchain en la Municipalidad de Córdoba apunta a impedir que esta o
          futuras gestiones de gobierno modifiquen o eliminen datos críticos que han sido publicados.
           Otras organizaciones podrán contar con la posibilidad de auditar los datos que publicamos.
        </div>
      </div>
    </div>


    <div class="row bcInfo border-bottom-section">
      <div class="col-xs-12">
        <h3 class="tituloBC">Redes blockchains que estamos usando</h3>
        {% for blockchain in blockchains %}
        <div class="col-md-4 bcColumn center">
            <div class="bcContainer">
              {% if blockchain.url %}
              <a href='{{ blockchain.url }}' target='_blank' rel="noopener">{{ blockchain }}&nbsp; &nbsp; [Más info]</a>
              {% else %}
              <p>{{ blockchain }}</p>
              {% endif %}
            </div>
        </div>
        {% endfor %}
      </div>
      {% if proveedores_replica|length > 0 %}
      <div class="col-xs-12">
        <h3 class="tituloBC">Replicadores de datos</h3>
        <div class="row">
          <div class="col-md-8 bcColumn">
            <div class="textoBC">
              A modo de control adicional subimos datos a servidores externos (no bajo nuestro control)
              para mejorar la disponibilidad de estos datos críticos. Si te interesa controlar en el tiempo
              la inmutabilidad de los datos te sugerimos que guardes tu propia copia y seas un replicador más.
            </div>
          </div>
          <div class="col-md-4 bcColumn center">
            {% for prov in proveedores_replica %}
              <div class="bcContainer">
                {% if prov.url %}
                <a href='{{ prov.url }}' target='_blank' rel="noopener">{{ prov.nombre }} &nbsp; &nbsp; [Más info]</a>
                {% else %}
                <p>{{ prov.nombre }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-xs-12">
        <h3 class="tituloBC">Intermediarios que nos asisten</h3>
        <div class="row">
          <div class="col-md-8 bcColumn">
            <div class="textoBC">
              Lista de empresas que trabajan con tecnologías de blockchain que nos han asesorado y
              asistido para certificar datos en blockchain.
            </div>
          </div>
          <div class="col-md-4 bcColumn center">
            {% for intermediario in intermediarios %}
              <div class="bcContainer">
                {% if intermediario.url %}
                <a href='{{ intermediario.url }}' target='_blank' rel="noopener">{{ intermediario.nombre }} &nbsp; &nbsp; [Más info]</a>
                {% else %}
                <p>{{ intermediario.nombre }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>





    </div>

  </section>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/website/{{website.template}}/js/particles.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>

<script>
$(document).ready(function(){
	particlesJS('datosParticles',
	{
		"particles": {
			"number": {
				"value": 100,
				"density": {
					"enable": true,
					"value_area": 800
				}
			},
			"color": {
				"value": "#ffffff"
			},
			"shape": {
				"type": "circle",
				"stroke": {
					"width": 0,
					"color": "#000000"
				},
				"polygon": {
					"nb_sides": 5
				}
			},
			"opacity": {
				"value": 0.5,
				"random": false,
				"anim": {
					"enable": false,
					"speed": 1,
					"opacity_min": 0.4,
					"sync": false
				}
			},
			"size": {
				"value": 3,
				"random": true,
				"anim": {
					"enable": false,
					"speed": 40,
					"size_min": 0.1,
					"sync": false
				}
			},
			"line_linked": {
				"enable": true,
				"distance": 150,
				"color": "#ffffff",
				"opacity": 0.7,
				"width": 1
			},
			"move": {
				"enable": true,
				"speed": 2,
				"direction": "none",
				"random": false,
				"straight": false,
				"out_mode": "out",
				"bounce": false,
				"attract": {
					"enable": false,
					"rotateX": 600,
					"rotateY": 1200
				}
			}
		},
		"retina_detect": true
	});

});
$(function() {
		$('.cardProyectos .titulo').matchHeight();
    $('.cardProyectos .descripcion').matchHeight();
    $('.bcColumn').matchHeight();
});
</script>


{% endblock %}
