{% extends extends_from %}

{% block title %} Boletines Municipales {% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="/static/boletines/css/animate.min.css">
<link rel="stylesheet" href="/static/boletines/css/boletines.css">
<link rel="stylesheet" href="/static/boletines/css/boletines-responsiveness.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/static/boletines/js/boletinesApp.js"></script>
<script src="/static/boletines/js/boletinesAppController.js"></script>
<script src="/static/boletines/js/jquery.matchHeight.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid inFContainer" ng-app="boletinesMunicipales">
  <section id="boletines" class="boletines" ng-controller="boletinesController">
    <div class="row cover">
        <!-- <div class="cover"> -->
            <div class="col-xs-12">
              <h1 class="titBoletines">Boletines Municipales</h1>
            </div>
            <div class="col-xs-12 col-lg-6 col-lg-offset-3">
              <div class="row">
                <div class="col-xs-12 col-lg-8 colHeight">
                  <form name="myForm" id="myForm">
                  <div class="row">
                    <div class="col-xs-12">
                      <h2 class="titFiltros">Buscador específico con filtros</h2>
                    </div>
                  </div>
                  <div class="row rowInput">
                    <div class="col-xs-6">
                      <label class="titInput" for="iNumero">Número de Boletín</p>
                    </div>
                    <div class="col-xs-6">
                      <input name="numero" type="text" ng-model="boletinCode" placeholder="Número de Boletín" class="inputTexto" id="iNumero" ng-keyup="$event.keyCode == 13 ? search() : null">
                    </div>
                  </div>
                  <div class="row rowInput">
                    <div class="col-xs-6">
                      <label class="titInput" for="iAnio">Seleccione Año</p>
                    </div>
                    <div class="col-xs-6">
                      <div class="select_box">
                        <select ng-change="selectChange(selectedYearSelect)" id="iAnio" ng-model="selectedYearSelect" ng-options="x for x in years | orderBy:identity" class="inputTexto" ng-keyup="$event.keyCode == 13 ? search() : null"></select>
                      </div>
                    </div>
                  </div>
                  <div class="row rowInput">
                    <div class="col-xs-6">
                      <label class="titInput" for="iMes">Seleccione Mes</p>
                    </div>
                    <div class="col-xs-6">
                      <dl class="dropdownSelect">
                        <dt>
                        <a href="#">
                          <span class="hida">Todos</span>
                          <p class="multiSel"></p>
                        </a>
                        </dt>

                        <dd>
                            <div class="mutliSelect">
                                <ul>
                                    <li data="month" ng-repeat="month in showMonths">
                                        <input name="selectedMonths[]" ng-checked="selectedMonths.indexOf(month) != -1" ng-click="toggleCheck(month)"  type="checkbox" value="{$ month $}" ng-keyup="$event.keyCode == 13 ? search() : null"/>{$months[ month ] $}
                                    </li>
                                </ul>
                            </div>
                        </dd>
                        <script type="text/javascript">

                        $(document).on('click', ".dropdownSelect dt a", function(e) {
                          e.preventDefault();
                          $(".dropdownSelect dd ul").slideToggle('fast');
                        });

                        $(document).on('click', ".dropdownSelect dd ul li a", function(e) {
                          e.preventDefault();
                          $(".dropdownSelect dd ul").hide();
                        });

                        function getSelectedValue(id) {
                          return $("#" + id).find("dt a span.value").html();
                        }

                        $(document).bind('click', function(e) {
                          var $clicked = $(e.target);
                          if (!$clicked.parents().hasClass("dropdownSelect")) $(".dropdownSelect dd ul").hide();
                        });

                        $(document).on('click', '.mutliSelect input[type="checkbox"]', function() {
                          var months = {"01": "Enero", "02":"Febrero", "03": "Marzo", "04":"Abril", "05":"Mayo", "06":"Junio", "07":"Julio", "08":"Agosto", "09":"Septiembre", "10":"Octubre", "11":"Noviembre", "12":"Diciembre"};

                          var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
                            title = months[$(this).val()]+ ",";

                          if ($(this).is(':checked')) {
                            var html = '<span title="' + title + '">' + title + '</span>';
                            $('.multiSel').show();
                            $('.multiSel').append(html);
                            $(".hida").hide();
                          } else {
                            $('span[title="' + title + '"]').remove();
                            var ret = $(".hida");
                            $('.dropdownSelect dt a').append(ret);
                          }
                          if($('.multiSel')[0].childElementCount ==0){
                            $(".hida").show();
                            $('.multiSel').hide();
                          }
                        });
                        
                        </script>
                    </dl>
                      <!-- <input name="numer0" type="text" placeholder="Número de Boletín" class="inputTexto" id="iMes" ng-keyup="$event.keyCode == 13 ? search() : null"> -->
                    </div>
                  </div>
                  </form>
                </div>
                <div class="col-xs-12 col-lg-4 colHeight">
                  <div class="btnHolder">
                    <a ng-click="search()" class="btnForm btnBuscar">Buscar</a>
                    <a ng-click="clearForm()" class="btnForm btnCancelar">Cancelar</a>
                  </div>
                </div>
              </div>
              <div class="row rowBotones">
                <div class="col-xs-12">
                  <p class="descCover">En esta sección publicamos con fines informativos los Boletines Municipales.
En el Centro de Documentación de la Imprenta Municipal se encuentran archivados todos los ejemplares y pueden consultarse.
La información contenida en cada Boletín Municipal puede complementarse consultando el Digesto Municipal (Compilación ordenada de normas jurídicas de la Ciudad de Córdoba) <a href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/digesto-municipal/digesto/11" target="_blank">aquí</a>.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <a href="http://gobiernoabierto.cordoba.gob.ar/boletines-municipales/lista-de-boletines-municipales.csv" class="btnDescargarTodos btnCover" download>
                    Descargar todos los boletines (CSV)
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <a href="http://gobiernoabierto.cordoba.gob.ar/boletines-municipales/lista-de-boletines-municipales.xls" class="btnDescargarTodos btnCover" download>
                    Descargar todos los boletines (Excel)
                  </a>
                </div>
                <div class="col-xs-12 col-sm-12">
                  <a target='_blank' href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/digesto-municipal/digesto/11" class="btnDescargarTodos btnCover">
                    Descargar Boletines con resúmenes de texto
                  </a>
                </div>
              </div>
            </div>
        <!-- </div> -->
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-3 no-padding column verde" ng-click="filterYear('2018')">
        <h3>2018</h3>
        <a class="btnVerTodos" ng-click="filterYear('2018')">Ver Todos</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3 no-padding column rosa" ng-click="filterYear('2017')">
        <h3>2017</h3>
        <a class="btnVerTodos" ng-click="filterYear('2017')">Ver Todos</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3 no-padding column verdeOsc" ng-click="filterYear('2016')">
        <h3>2016</h3>
        <a class="btnVerTodos" ng-click="filterYear('2016')">Ver Todos</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3 no-padding column azul" ng-click="filterYear('Todos')">
        <h3>todos</h3>
        <a class="btnVerTodos" ng-click="filterYear('Todos')">Ver Todos</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 no-padding headerResults {$ selectedColor $}">
        <h2>Listado {$ selectedtextoYear $} de Boletines Municipales de Córdoba</h2>
        <h3>{$ selectedYear $}</h3>
      </div>
      <div class="col-xs-12 results {$ selectedColor $}">
        <div class="row" ng-if="boletines.length > 0">
          <div class="col-xs-12 col-lg-8">
            <div data="item" ng-repeat="item in boletines | orderBy:'-fecha'" class="rowBoletin">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-5">
                  <a href="{$ item.my_absolute_url $}" class="linkBoletin">
                    Boletín Municipal {$ item.codigo $} - {$ item.fecha | date :  "dd-MM-y" $}
                  </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-3">
                  <a href="{$ item.my_absolute_url $}" target="_blank" class="linkPDF">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Ver Boletín
                  </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-3">
                  <a href="{$ item.my_absolute_url $}" class="linkPDF" target="_blank" download>
                    Descargar Boletín
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-4">
            <div ng-if="selectedYear != 'Todos'">
              <a href="http://gobiernoabierto.cordoba.gob.ar/boletines-municipales/lista-de-boletines-municipales-{$ selectedYear $}.csv" class="btnDescargarTodos" download>
                Descargar todos los boletines {$ selectedYear $} - (CSV)
              </a>
              <a href="http://gobiernoabierto.cordoba.gob.ar/boletines-municipales/lista-de-boletines-municipales-{$ selectedYear $}.xls" class="btnDescargarTodos" download>
                Descargar todos los boletines {$ selectedYear $} - (Excel)
              </a>
            </div>
            <div ng-if="selectedYear == 'Todos'">
              <a href="http://gobiernoabierto.cordoba.gob.ar/boletines-municipales/lista-de-boletines-municipales.csv" class="btnDescargarTodos" download>
                Descargar todos los boletines (CSV)
              </a>
              <a href="http://gobiernoabierto.cordoba.gob.ar/boletines-municipales/lista-de-boletines-municipales.xls" class="btnDescargarTodos" download>
                Descargar todos los boletines (Excel)
              </a>
            </div>
            <a href="#" class="btnDescargarTodos btnLicencias">
              Licencia de Uso de Datos
            </a>
            <div class="col-xs-12" id="licenciaUso" style="display: none;">
              <p class="descCover">

              LICENCIA DE USO DE DATOS: El usuario puede remezclar, retocar y crear a partir esta obra
              (contenido o datos), incluso con fines comerciales, siempre y cuando den crédito y
              licencien sus nuevas creaciones bajo las mismas condiciones.<br/>
              Basada en la licencia
              <a href="https://creativecommons.org/licenses/by-sa/2.5/ar/">Creative Commons Atribución-CompartirIgual 2.5 Argentina (CC BY-SA 2.5 AR)</a>
              <br/><br/>Consultas sobre este dato a <a href="mailto:gobiernoabiertocba@gmail.com">gobiernoabiertocba@gmail.com</a>
              </p>
            </div>
            <script>
            $(".btnLicencias").on("click", function(e){
              e.preventDefault();
              $("#licenciaUso").slideToggle();
            });
            </script>
          </div>
        </div>
        <div ng-if="boletines.length == 0">
          <p class="linkBoletin">No hay resultados.</p>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
$(function() {
		$('.colHeight').matchHeight();
});
</script>
{% endblock %}
