{% extends './front-page-wrapper.html' %}

{% block title %} Código Abierto {% endblock %}

{% block content %}

<section id="codigo" class="base-header">

    {%with pageName='codigo' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    {%with title='Código Abierto' template_name=base_template|add:"/front-page-base-header.html" %}
         {% include template_name %}
    {%endwith%}

    <div class="row statisticsHome contadorDatos" id="contadorDatos">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 codigo-description-page">
            <p>
                Repositorios de herramientas desarrolladas en código abierto por la Municipalidad de Córdoba
            </p>
        </div>
    </div>
</section>

<div class="row home-barra">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
</div>

<section class="codigo-repositorios container">
    <div class="row">
        <div class="titulo-acceso-github">
            <span class="btn btn-primary" href="https://github.com/ModernizacionMuniCBA">
                Accedé al repositorio abierto en GitHub
            </span>
        </div>
    </div>

    <div class="row">
        <div class="codigo-repositorios-titulo">
            Repositorios de código abierto
        </div>
    </div>

    <div class="row datasets">

        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://github.com/ModernizacionMuniCBA/portal-de-mapas"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/mapas.svg"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://github.com/ModernizacionMuniCBA/Cuanto-tengo"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/cuanto-tengo.png"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://github.com/ModernizacionMuniCBA"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/otros.svg"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://gitlab.com/municipalidad-de-cordoba/Qhapax"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/qhapax.svg"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://gitlab.com/municba/cordobus-private"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/cordobus.svg"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://github.com/ModernizacionMuniCBA/agenda-cultural-de-cordoba">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/agenda.svg"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://github.com/ModernizacionMuniCBA/eventos-turismo"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/turismo.svg"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://github.com/ModernizacionMuniCBA/CBA147"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/cba147.png"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://gitlab.com/municipalidad-de-cordoba/Go"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/go.png"/>
            </a>
				</div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <a class="codigo-button" target="_blank" href="https://github.com/ModernizacionMuniCBA/feria-del-libro"> 
                <img class="img-responsive" src="/static/website/{{website.template}}/img/codigo/feria.svg"/>
            </a>
				</div>

    </div>

</section>


{% endblock %}
