<html lang="es">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Convenio: {{ convenio.nombre }}</title>

        <!-- Bootstrap -->
        <link href="/static/fichas/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
        <link href="/static/fichas/fichas.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/fichas/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
      <div class="container-fluid">
        <div class="fichaCredenciales">
          <div class="infoGralCredencial row">
            <div class="col-xs-12 col-md-5 infoColumna">
              <div class="nombreCredencialContainer">
                <h1 class="nombreCredencial">{{ convenio.nombre }}</h1>
                <div class="nameDivider"></div>
              </div>
            </div>
            <div class="col-xs-12 col-md-7 infoColumna detallesCont">
              <div class="detalles">
                {% if convenio.fecha_alta_convenio %}
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <p class="detallesTexto">Fecha del convenio</p>
                      <div class="detalle">
                        {{ convenio.fecha_alta_convenio }}
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="detalle">
                    <p>Sin detalles de la fecha del convenio</p>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>

              {% if convenio.observaciones_publicas %}
                <p class="descCredencial">
                  <span class="detallesTexto">Detalles del Convenio</span><br />
                  {{ convenio.observaciones_publicas }}
                </p>
              {% endif %}

            </div>
        </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="/static/fichas/js/jquery.matchHeight.js"></script>
      <script>
      $(function() {
          $('.infoColumna').matchHeight();
          $('.colCredencial').matchHeight();
      });
      </script>
    </body>
</html>