<html lang="es">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Convenios De Colaboración</title>

        <!-- Bootstrap -->
        <link href="/static/fichas/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
        <link href="/static/fichas/fichas.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/fichas/font-awesome/css/font-awesome.min.css">
    </head>
    <body>

      {% for convenio in convenios %}

        {{convenio.nombre}}

      {% endfor %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="/static/fichas/js/jquery.matchHeight.js"></script>
      <script>
      $(function() {
          $('.infoColumna').matchHeight();
          $('.colCredencial').matchHeight();
      });
      </script>
    </body>
</html>