<div role="tabpanel" class="tab-pane" id="{{categoria.slug}}">
  <div class="row subCatContainer">
    <div class="col-xs-12 col-sm-4 ">
      <div class="contadorCategorias" id="contadorDatos">
        <h3>{{categoria.nombre}}</h3>
        <p class="numeroCategorias count" data-min="0" data-max="{{ cantidad_recursos }}">0</p>
        <p class="numeroCategoriasAcl">
          Recursos de datos
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        {% if categoria.dependencias|length != 0 %}
            <div class="owl-carousel owl-theme">

              <div class="item">
                <div class="row nav-tabs" role="tablist" id="subCatTabs">
                  {% for categoriaAux in categoria.dependencias %}
                    <div class="col-xs-12 col-lg-4 subSubCategoriaCont subcat" role="tab">
                      <a id="{{categoria.slug}}_{{categoriaAux.slug}}_{{categoriaAux.id}}" href="#subcategoria_{{categoria.slug}}_{{categoriaAux.slug}}" aria-controls="subcategoria_{{categoria.slug}}_{{categoriaAux.slug}}" role="tab">
                        <div class="subSubCategoria">
                          {{categoriaAux.nombre}}
                        </div>
                      </a>

                    </div>
                    {% if forloop.counter == 18 %}
                        </div>
                      </div>
                      {% if not forloop.last %}
                      <div class="item">
                        <div class="row">
                      {% endif %}
                    {% endif %}
                    {% if forloop.last %}
                      {% for dato in categoria.datos %}
                        <div class="col-xs-12 col-lg-4 subSubCategoriaCont dato ">
                          <a href="#" id="{{categoria.slug}}_{{dato.slug}}_{{dato.id}}" data-link="{% url 'website.portaldatos.dato' categoria.portal.slug categoria.slug dato.slug dato.id %}" data-slug="{{dato.slug}}" class="linkDato">
                            <div class="subSubCategoria dato">
                              {{dato.titulo}}
                            </div>
                          </a>
                        </div>
                      {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                  {% endfor %}

            </div>
            <div class="infoPaginacionMetas" id="infoPaginacionMetas-{{categoria.slug}}_{{dato.slug}}_{{dato.id}}">#info</div>
            <script>
            $('.owl-carousel').on('initialized.owl.carousel changed.owl.carousel', function(e) {
                if (!e.namespace) return
                var carousel = e.relatedTarget
                $('#infoPaginacionMetas-{{categoria.slug}}_{{dato.slug}}_{{dato.id}}').text('Página ' + (carousel.relative(carousel.current())+1) + ' de ' + ((carousel.items().length)))
              })



            </script>
            {% endif %}

            {% if categoria.dependencias|length == 0 and categoria.datos|length != 0 %}
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="row">
                  {% for dato in categoria.datos %}
                    <div class="col-xs-12 col-lg-4 subSubCategoriaCont dato ">
                      <a href="#" id="{{categoria.slug}}_{{dato.slug}}_{{dato.id}}" data-link="{% url 'website.portaldatos.dato' categoria.portal.slug categoria.slug dato.slug dato.id %}" data-slug="{{dato.slug}}" class="linkDato">
                        <div class="subSubCategoria dato">
                          {{dato.titulo}}
                        </div>
                      </a>
                    </div>
                    {% if forloop.counter == 18 %}
                        </div>
                      </div>
                      {% if not forloop.last %}
                      <div class="item">
                        <div class="row">
                      {% endif %}
                    {% endif %}

                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="infoPaginacionMetas" id="infoPaginacionMetas-{{categoria.slug}}_{{dato.slug}}_{{dato.id}}">#info</div>
            <script>
            $('.owl-carousel').on('initialized.owl.carousel changed.owl.carousel', function(e) {
                if (!e.namespace) return
                var carousel = e.relatedTarget
                $('#infoPaginacionMetas-{{categoria.slug}}_{{dato.slug}}_{{dato.id}}').text('Página ' + (carousel.relative(carousel.current())+1) + ' de ' + ((carousel.items().length)))
              })

            </script>
            {% endif %}
    </div>
    <div class="col-xs-12 tab-content" id="tabsSubCat">
      {% for categoriaAux in categoria.dependencias %}

      <div role="tabpanel" class="tab-pane" id="subcategoria_{{categoria.slug}}_{{categoriaAux.slug}}">
        <div class="row">
          <div class="col-xs-12 subCatCont">
            <h3 class="tituloSubCat">{{categoriaAux.nombre}}</h3>
            {% if categoriaAux.datos|length != 0 %}
              {% for dato in categoriaAux.datos %}
              <div class="col-xs-12 col-sm-4 col-lg-3 subSubCategoriaCont dato ">
                <a href="#" id="{{categoria.slug}}_{{categoriaAux.slug}}_{{dato.slug}}_{{dato.id}}" data-link="{% url 'website.portaldatos.dato' categoria.portal.slug categoria.slug dato.slug dato.id %}" data-slug="{{dato.slug}}" class="linkSubCat">
                  <div class="subSubCategoria dato">
                    {{dato.titulo}}
                  </div>
                </a>
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


  </div>
</div>
