{# una categoria del portal de datos #}

{% extends extends_from %}

{% block title %}{{ dato.titulo }} {% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
{% endblock %}

{% block cardSociales %}
<meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
<meta name="author" content="Municipalidad de Córdoba">

<meta name="twitter:site" content="@GobAbiertoCBA">
<meta name="twitter:title" content="{{categoria.nombre}}">
<meta name="twitter:description" content="Portal de Datos Abiertos, Gobierno Abierto de la Ciudad de Córdoba">
<meta name="twitter:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-datos.png">

<meta property="og:title" content="{{categoria.nombre}}">
<meta property="og:description" content="Portal de Datos Abiertos, Gobierno Abierto de la Ciudad de Córdoba">
<meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-datos.png">
<meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/data/{{ portal.slug }}/">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="#PortalDeLaCiudad">
<meta name="twitter:image:alt" content="#PortalDeLaCiudad">
{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="lineamientos" class="datosAbiertos dAF container">

    <div class="row">
      <div class="col-xs-12 tituloPag">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/data/datos-abiertos">
                  <img class="img-responsive" src="/static/website/{{website.template}}/img/datos/home_datos.png"/>
                </a>
            </li>

          {% if dato.categoria.depende_de.depende_de %}

            <li class="breadcrumb-item">
              <a href="{% url 'website.portaldatos.categoria' dato.categoria.portal.slug dato.categoria.depende_de.depende_de.slug %}">{{dato.categoria.depende_de.depende_de}}</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{% url 'website.portaldatos.categoria' dato.categoria.portal.slug dato.categoria.depende_de.slug %}">{{dato.categoria.depende_de}}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              <a href="{% url 'website.portaldatos.categoria' dato.categoria.portal.slug dato.categoria.slug %}">{{dato.categoria}}</a>
            </li>

          {% elif dato.categoria.depende_de %}

            <li class="breadcrumb-item">
              <a href="{% url 'website.portaldatos.categoria' dato.categoria.portal.slug dato.categoria.depende_de.slug %}">{{dato.categoria.depende_de}}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              <a href="{% url 'website.portaldatos.categoria' dato.categoria.portal.slug dato.categoria.slug %}">{{dato.categoria}}</a>
            </li>

          {% else %}
            <li class="breadcrumb-item" aria-current="page">
              <a href="{% url 'website.portaldatos.categoria' dato.categoria.portal.slug dato.categoria.slug %}">{{dato.categoria}}</a>
            </li>

          {% endif %}

          </ol>
        </nav>

      </div>

      <div class="col-xs-12 infoDA collapse" id="descripcionPM">
        {{ portal.html|safe }}
      </div>

    </div>

    <div class="row categoria-title">
      <div class="col-xs-12 col-sm-12 text-left">
        <h2 class="title-text text-left">{{ dato.titulo }}</h2>
      </div>
    </div>
    <div class="row categoria-detail">
      <div class="col-xs-10 col-sm-10">
          {% if dato.html %}
          <div class="descripcion">
						{{dato.html | safe}}
					</div>
          {% endif %}
					<p class="actualizacion">
						<strong>Actualización</strong>: {{dato.get_periodicidad_display}}
					</p>
      </div>
    </div>

    <div class="row categoria-resources">
      <div class="col-xs-12 col-sm-12 categoria-resources-title-container">
        <span class="categoria-resources-title"> Recursos del dataset </span>
      </div>
    </div>
 

    <div class="row subCatContainer  file-links" id="{{dato.slug}}-main">
    {% for version in versiones %}
    {% with forloop.counter as outer_counter %}
     <div class="row resource-item"> 
        <div class="row itemFile collapsed" data-toggle="collapse" data-target="#version-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse1">

          <span class="title">{{ version.titulo|safe }}</span>
          <span class="expand-container"></span>
        </div>

        <div class="row dato-version-item-resources collapse descCollapse" id="version-{{ forloop.counter }}">
          <div class="col-sm-12 col-md-12 resource-description">

              <span class="subtitulo">
                {% for fuente in version.fuentes.all %}
                    {{ fuente.nombre }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
              </span>

              {% if version.html %}
                  <p class="file-describe">{{ version.html|safe }}</p>
              {% endif %}

          </div>
            {% for recurso in version.recursos %}
                <a class="file-link" href="{% firstof recurso.archivo.url recurso.url recurso.referencialink.url_externa recurso.googlesheetresource.url_externa %}" target="_blank">
                  <div class="col-md-4 col-sm-6 col-xs-12 file-card dato-version-item">
                      <div class="file-icon">
                          <span class="fa-stack fa">
                              <i class="fa fa-file fa-stack-2x file-{% firstof recurso.archivo.icon recurso.icon recurso.referencialink.icon recurso.googlesheetresource.icon %}"></i>
                                <span class="fa fa-stack-2x file-extension-container" >
                                    <span class="file-extension">
                                        {% if 'googlesheet' in recurso.googlesheetresource.icon or 'googlesheet' in recurso.referencialink.icon %}
                                            drive
                                        {% else %}
                                          {% firstof recurso.archivo.icon recurso.icon recurso.referencialink.icon recurso.googlesheetresource.icon %}
                                        {% endif %}
                                    </span>
                              </span>
                          </span>	
                      </div>

                      <div class="file-description">
                          <div class="itemFile collapsed" data-toggle="collapse" data-target="#version-{{outer_counter }}-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse1">
                            <div class="titulo">{{ recurso.titulo|safe }} {% if recurso.licencia %} <a target="_blank" href="https://creativecommons.org/licenses/by-sa/2.5/ar/"><br/><span class="licence text-mute"  data-toggle="tooltip" data-placement="top" title="Licencias">{{ recurso.licencia.titulo }}</span></a>{% endif %}</div>
                            <!--
                            <div class="titulo">{{ version.titulo|safe }}</div>

                            <div class="subtitulo">
                              {% for fuente in version.fuentes.all %}
                                  {{ fuente.nombre }}
                                  {% if not forloop.last %}, {% endif %}
                              {% endfor %}
                            </div>

                            {% if version.html %}
                                <p class="file-describe">{{ version.html|safe }}</p>
                            {% endif %}

                            {% if recurso.certificacion_blockchain.id %}
                                <div class="blockchain-link"> <a href='{% url "blockchain.documento" recurso.certificacion_blockchain.uid %}' target='_blank'>Blockchain <i class="fa fa-external-link"></i></a></div>
                            {% endif %}
                            -->
                          </div>
                      </div>

                    </div>
                  </a>

              {% endfor %}

          </div>
      </div>

      {% endwith %}
      {% endfor %}

      </div>


			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/masonry.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/datos.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/datos-cat.js"></script>
<script>
$("meta[property='og:url']").attr("content", location.toString());
</script>
{% endblock %}
