{% extends './front-page-wrapper.html' %}

{% load website_tags %} 
{% block title %}
    {{ portal.titulo }}
{% endblock %}

{% block cardSociales %}
    <meta name="description" content="Portal de Datos Abiertos de la Ciudad de Córdoba">
    <meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
    <meta name="author" content="Municipalidad de Córdoba">

    <meta name="twitter:site" content="@GobAbiertoCBA">
    <meta name="twitter:title" content="{{ cargo.oficina }} - Portal de la Ciudad de Córdoba">
    <meta name="twitter:description" content="{{ cargo.oficina }}{% if cargo.depende_de %} - {{ cargo.depende_de.oficina }}{% endif %} - Portal de Gobierno Abierto de la Ciudad de Córdoba">
    <meta name="twitter:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-datos.png">

    <meta property="og:title" content="Portal de Datos Abiertos de la Ciudad de Córdoba">
    <meta property="og:description" content="Portal de Datos Abiertos de la Ciudad de Córdoba">
    <meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-datos.png">
    <meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/data/{{ portal.slug }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="#PortalDeLaCiudad">
    <meta name="twitter:image:alt" content="#PortalDeLaCiudad">
{% endblock %}

{% block content %}
<section id="datos" class="base-header">

    {%with pageName='datos' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    {%with title='Datos Abiertos' template_name=base_template|add:"/front-page-base-header.html" %}
         {% include template_name %}
    {%endwith%}

    <div class="col-xs-12 statisticsHomeHolder datosGraphColumn">
        <div class="row statisticsHome contadorDatos" id="contadorDatos">
            <div class="col-xs-12 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2 col-lg-offset-4 col-lg-2">
                <div class="tarjetaDato">
                    <h3 class="titulo-tarjetaDato">Recursos de Datos</h3>
                    <p class="numero-tarjetaDato count" data-min="0" data-max="{{ total_recursos|stringformat:'d' }}">0</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                <div class="tarjetaDato">
                    <h3 class="titulo-tarjetaDato">Conjuntos de Datos</h3>
                    <p class="numero-tarjetaDato count" data-min="0" data-max="{{ series_datos|stringformat:'d' }}">0</p>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="row home-barra">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
</div>




<section id="lineamientos" class="datosAbiertos container">
    <div class="row datasets">
			{% for categoria in categorias %}
				{% if categoria.depende_de == None %}
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-4 text-center no-padding-horizontal">
            <div class="categoria-container">
                <a class="datos-abiertos-button" href="{% url 'website.portaldatos.categoria' portal.slug categoria.slug %}">
                    <img class="img-responsive {{ categoria.slug }}" src="/static/website/{{website.template}}/img/datos/{{categoria.slug}}.svg"/>
                </a>
            </div>
				</div>
				{% endif %}
			{% endfor %}

    </div>

    <div class="row listasContainerDatos">
      <div class="col-xs-12 col-md-4 lista-datos">
        <div class="tarjetaDato m-bottom text-center">
          <h2 class="titulo-destacado-tarjetaDato">Datos Más Visitados</h2>

					{% for dato in datos_mas_visitados %}
            <a href="{{ dato.get_absolute_url }}">
              <div class="dato-descargado {% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}">
  						<h3> {{dato.titulo | truncatechars:40}} </h3>
              {% if dato.fecha_ultima_version %}
                <p> {{dato.fecha_ultima_version |date:"d/m/Y" }} </p>
              {% else %}
                <p> &nbsp; </p>
              {% endif %}
  					</div>
          </a>
					{% endfor %}

        </div>
      </div>
      <div class="col-xs-12 col-md-4 lista-datos">
        <div class="tarjetaDato m-bottom text-center">
          <h2 class="titulo-destacado-tarjetaDato">Últimos Datos Subidos</h2>
          {% for dato in datos_ultimos %}
            <a href="{{ dato.get_absolute_url }}">
              <div class="dato-descargado {% if forloop.counter|divisibleby:2 %} odd {% else %} even {% endif %}">
              <h3> {{dato.titulo | truncatechars:40}} </h3>
              {% if dato.fecha_ultima_version %}
                <p> {{dato.fecha_ultima_version |date:"d/m/Y" }} </p>
              {% endif %}
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-12 col-md-4 lista-datos">
        <div class="tarjetaDato m-bottom text-center">
          <h2 class="titulo-destacado-tarjetaDato">Últimos Recursos Subidos</h2>
					{% for recurso in recursos_ultimos %}
          <a href="{{ recurso.version_dato.dato.get_absolute_url }}">
            <div class="dato-descargado {% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}">
  						<h3 class="pt-10"> {{recurso.titulo | truncatechars:40}} </h3>
  					</div>
          </a>
					{% endfor %}
        </div>
      </div>
    </div>
 

  </section>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/website/{{website.template}}/js/particles.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/datos.js"></script>

<script>
$(document).ready(function(){

});
$(function() {
		$('.contadorDatos').matchHeight();
});
</script>
{% endblock %}
