{# una categoria del portal de datos #}

{% extends extends_from %}

{% block title %}{{ categoria.nombre }} {% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
{% endblock %}

{% block cardSociales %}
<meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
<meta name="author" content="Municipalidad de Córdoba">

<meta name="twitter:site" content="@GobAbiertoCBA">
<meta name="twitter:title" content="{{categoria.nombre}}">
<meta name="twitter:description" content="Portal de Datos Abiertos, Gobierno Abierto de la Ciudad de Córdoba">
<meta name="twitter:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-datos.png">

<meta property="og:title" content="{{categoria.nombre}}">
<meta property="og:description" content="Portal de Datos Abiertos, Gobierno Abierto de la Ciudad de Córdoba">
<meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-datos.png">
<meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/data/{{ portal.slug }}/">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="#PortalDeLaCiudad">
<meta name="twitter:image:alt" content="#PortalDeLaCiudad">
{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="lineamientos" class="datosAbiertos dAF container">
    <div class="row">

      <div class="col-xs-12 tituloPag">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="/data/datos-abiertos">
                  <img class="img-responsive" src="/static/website/{{website.template}}/img/datos/home_datos.png"/>
              </a>
          </li>

          {% if not categoria.depende_de %}
          <li class="breadcrumb-item active">
              <a href="{% url 'website.portaldatos.categoria' categoria.portal.slug categoria.slug %}">{{categoria}}</a>
          </li>
          {% else %}
            {% if categoria.depende_de.depende_de %}
              <li class="breadcrumb-item">
                  <a href="{% url 'website.portaldatos.categoria' categoria.portal.slug categoria.depende_de.depende_de.slug %}">{{categoria.depende_de.depende_de}}</a>
              </li>

              <li class="breadcrumb-item">
                  <a href="{% url 'website.portaldatos.categoria' categoria.portal.slug categoria.depende_de.slug %}">{{categoria.depende_de}}</a>
              </li>

              <li class="breadcrumb-item active">
                  <a href="{% url 'website.portaldatos.categoria' categoria.portal.slug categoria.slug %}">{{categoria}}</a>
              </li>
            {% else %}
              <li class="breadcrumb-item">
                  <a href="{% url 'website.portaldatos.categoria' categoria.portal.slug categoria.depende_de.slug%}">{{categoria.depende_de}}</a>
              </li>

              <li class="breadcrumb-item active">
                  <a href="{% url 'website.portaldatos.categoria' categoria.portal.slug categoria.slug %}">{{categoria}}</a>
              </li>

            {% endif %}
          {% endif %}

        </ol>
      </nav>


  		</div>
      <div class="col-xs-12 infoDA collapse" id="descripcionPM">
  			{{ portal.html|safe }}
  		</div>

      <!--div class="row categoria-title">
        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 text-center">
          <h2 class="title-text text-center">{{ categoria.nombre }}</h2>
        </div>
      </div-->

      <div role="tabpanel" class="tab-pane" id="{{categoria.slug}}-main">
        <div class="row subCatContainer">


      {% for categoriaAux in categoria.dependencias %}
          <div class="col-xs-12 col-md-offset-2 col-md-8 listaAcceso">
            <div class="itemAcceso collapsed" data-toggle="collapse" data-target="#{{categoriaAux.slug}}-collapse" aria-expanded="false" aria-controls="{{categoriaAux.slug}}-collapse">
              <div class="title-container">
                  <h3 class="titulo">{{categoriaAux.nombre}}</h3>
              </div>
              <div class="text-right chevron-container">
              </div>
            </div>
            <div class="collapse descCollapse" id="{{categoriaAux.slug}}-collapse">
              <div class="col-sm-12 sub-category-container" >
                {% for categoriaSub in categoriaAux.dependencias %}
                  <div class="row sub-category-item">
                      <a class="subcategories col-md-12" href="{% url 'website.portaldatos.categoria' categoria.portal.slug categoriaAux.slug %}">
                          {{categoriaSub.nombre}}
                      </a>
                  </div>
                {% endfor %}

                {% for dato in categoriaAux.datos %}
                  <div class="row sub-category-item">
                      <a class="subcategories col-md-12"  href="{% url 'website.portaldatos.dato' categoria.portal.slug categoria.slug dato.slug dato.id %}" data-link="{% url 'website.portaldatos.dato' categoria.portal.slug categoria.slug dato.slug dato.id %}" data-slug="{{dato.slug}}" class="linkDato">
                          {{dato.titulo}}
                      </a>
                  </div>
                {% endfor %}

                </div>
            </div>
          </div>
      {% endfor %}

      {% if categoria.dependencias|length == 0 and categoria.datos|length != 0 %}

          <div class="col-xs-12 col-md-8 listaAcceso">
            <div class="itemAcceso" data-toggle="collapse" data-target="#{{categoria.slug}}-collapse" aria-expanded="false" aria-controls="{{categoria.slug}}-collapse">
              <div class="title-container">
                  <h3 class="titulo">{{categoria.nombre}}</h3>
              </div>
              <div class="text-right chevron-container">
              </div>
            </div>
            <div class="descCollapse" id="{{categoria.slug}}-collapse">
              <div class="col-sm-12 sub-category-container" >
                {% for dato in categoria.datos %}
                  <div class="row sub-category-item">
                      <a class="subcategories col-md-12"  href="{% url 'website.portaldatos.dato' categoria.portal.slug categoria.slug dato.slug dato.id %}" data-link="{% url 'website.portaldatos.dato' categoria.portal.slug categoria.slug dato.slug dato.id %}" data-slug="{{dato.slug}}" class="linkDato">
                          {{dato.titulo}}
                      </a>
                  </div>
                {% endfor %}

                </div>
            </div>
          </div>

      {% endif %}

        </div>

 
      </div>
    </div>
  </section>
</div>


{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/masonry.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/datos.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/datos-cat.js"></script>
<script>
$("meta[property='og:url']").attr("content", location.toString());
</script>
{% endblock %}
