{% extends extends_from %}

{% block title %}{{ web_funcionarios.titulo }}{% endblock %}


{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/cslider.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/circle.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
{% endblock %}

{% block content %}
  <center>
    <img src="/static/website/{{website.template}}/img/construccion.png" alt="En construcción" />
    <h3>En construcción</h3>
    <p>Pronto habrá mucho más contenido</p>
  </center>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/stickyfill.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/particles.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>

<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/jquery.connections.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/bootstrap-toolkit.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/organigrama-connections.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/animation.js"></script>


<script>
$(function() {
        $('.dependencias').matchHeight();
});
$(document).ready(function(){
    // var mtv = ( ($('#vice-foto').offset().top + $('#vice-foto').height()/2)-($('#intendente-foto').offset().top + $('#intendente-foto').height()/2))*2;
    var mtv = ( $('#intendente-foto-cont').height()/2 - $('#vice-foto-cont').height()/2);
    $('#vice-foto').css('margin-top', mtv);

    $(window).on('resize', function(){
        var c = $('connection');
        setInterval(function() {
            c.connections('update');
        }, 500);
        var mtv = ( $('#intendente-foto-cont').height()/2 - $('#vice-foto-cont').height()/2);
        $('#vice-foto').css('margin-top', mtv);
    });

    $('.owl-carousel').owlCarousel({
    loop:false,
    dots:false,
    center: true,
    margin:0,
    stagePadding: 150,
    nav:true,
    navText: ['<span class="fa fa-chevron-left" aria-hidden="true"></span>','<span class="fa fa-chevron-right" aria-hidden="true"></span>'],
    responsive:{
            0:{
                    items:1
            },
            600:{
                    items:1
            },
            1000:{
                    items:1
            }
        }
    })

    particlesJS('organigramaParticles',
    {
        "particles": {
            "number": {
                "value": 85,
                "density": {
                    "enable": true,
                    "value_area": 500
                }
            },
            "color": {
                "value": "#00a665"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#00a665"
                },
                "polygon": {
                    "nb_sides": 5
                }
            },
            "opacity": {
                "value": 0.3,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#00a665",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 2,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "retina_detect": true
    });
});
</script>
{% endblock %}
