{% extends './externals-wrapper.html' %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">

{% endblock %}

{% block content %}
<div class="container-fluid inFContainer external-container">
  <section id="external-wrapper" class="external-wrapper">
      <div class="container iframe-container">
          <div class="video-responsive">
               <iframe align="center" src="{{ target }}" allowFullScreen="true" marginheight="0" marginwidth="0"  frameborder="0" width="100%" height="100%" style="border: none;"></iframe>
          </div>
      </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/website/{{website.template}}/js/particles.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>

<script>

</script>


{% endblock %}
