{% load staticfiles %}{% load website_tags %}
<!DOCTYPE html>
<html lang="es">
{% block head %}

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1"> 

      {% block cardSociales %}
      <meta name="twitter:site" content="@GobAbiertoCBA">
      <meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
      <meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
      <meta name="author" content="Municipalidad de Córdoba">

      <meta name="twitter:site" content="@GobAbiertoCBA">
      <meta name="twitter:title" content="Portal de la Ciudad de Córdoba">
      <meta name="twitter:description" content="Gobierno Abierto de la Ciudad de Córdoba">
      <meta name="twitter:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-portal-home.png">

      <meta property="og:title" content="Portal de la Ciudad de Córdoba">
      <meta property="og:description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
      <meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-portal-home.png">
      <meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/">
      <meta name="twitter:card" content="summary_large_image">

      <meta property="og:site_name" content="#PortalDeLaCiudad">
      <meta name="twitter:image:alt" content="#PortalDeLaCiudad">
      {% endblock %}


      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>{% block title %}{% endblock %}</title>

      <link rel="shortcut icon" type="image/png" href="/static/website/{{website.template}}/favicons/android-icon-192x192" />

      <link rel="apple-touch-icon" sizes="57x57" href="/static/website/{{website.template}}/favicons/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/static/website/{{website.template}}/favicons/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/static/website/{{website.template}}/favicons/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/static/website/{{website.template}}/favicons/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/static/website/{{website.template}}/favicons/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/static/website/{{website.template}}/favicons/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/static/website/{{website.template}}/favicons/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/static/website/{{website.template}}/favicons/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/static/website/{{website.template}}/favicons/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192" href="/static/website/{{website.template}}/favicons/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/website/{{website.template}}/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/static/website/{{website.template}}/favicons/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/website/{{website.template}}/favicons/favicon-16x16.png">
      <link rel="manifest" href="/static/website/{{website.template}}/favicons/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/static/website/{{website.template}}/favicons/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">


      <!-- Bootstrap -->
      <link href="/static/website/{{website.template}}/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;900&display=swap" rel="stylesheet">
      <link href="/static/website/{{website.template}}/css/gaMuniCba.css" rel="stylesheet">

      <link href="/static/website/{{website.template}}/css/night_mode.css" rel="stylesheet">
      <link href="/static/website/{{website.template}}/css/high_contrast_mode.css" rel="stylesheet">
      <link href="/static/website/{{website.template}}/css/fontAccesibility.css" rel="stylesheet">
      <link href="/static/website/{{website.template}}/css/fontAccesibility-responsiveness.css" rel="stylesheet">
      <link href="/static/website/{{website.template}}/css/gaMuniCba-responsiveness.css" rel="stylesheet">

      <link rel="stylesheet" href="/static/website/{{website.template}}/css/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/website/{{website.template}}/css/line-awesome/css/line-awesome.min.css">
      <link rel="stylesheet" href="/static/website/{{website.template}}/css/font-awesome/css/all.min.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
      {% block custom_css %} {% endblock %}


  </head>
  {% endblock %}
    <body>
    {% block header_menu %}

    <section class="base-header">

    {%with pageName='' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    </section>


    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block footer %}
    <footer class="footer-gaMuniCba">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12 footer-logos">



              <div class="row _footer-logos-row">
                <div class="col-xs-2 col-sm-2 col-md-2 texto-derecha">
                  <div class="_logoFooter" style="width:244px;">

                    <figure class="wpb_wrapper vc_figure">
                      <a href="/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img src="https://www.cordoba.gob.ar/wp-content/uploads/2020/08/logo-multicolor.svg" class="vc_single_image-img attachment-full" alt="" height="51.159" width="51.885"></a>
                    </figure>
		

                  </div>
                </div>

                <div class="col-xs-1 col-sm-1 col-md-1 ">
                    <img width="19" height="106" src="/static/website/{{website.template}}/img/home/divisor-footer.png"/> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 texto-izquierda text-left">

                  <figure class="wpb_wrapper vc_figure">
                    <a href="/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img src="https://www.cordoba.gob.ar/wp-content/uploads/2020/08/logo-celeste-txt.svg" class="vc_single_image-img attachment-full" alt="" height="56.12" width="188.643"></a>
                  </figure>

                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 linksFooter">
              <div class="row">
                <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 lista-links copyr text-right externals-footer">
                    <p class="seguinos">
                      <strong>Seguinos en 
                        <a href="https://www.facebook.com/MuniCba/" target="_blank"> 
                          <span class="fab fa-facebook-square" style="color:#009ee2 !important"></span>
                        </a>
                        <a href="https://www.instagram.com/municba/" target="_blank"> 
                          <span class="fab fa-instagram" style="color:#009ee2 !important"></span>
                        </a>
                        <a href="https://twitter.com/MuniCba" target="_blank"> 
                          <span class="fab fa-twitter" style="color:#009ee2 !important"></span>
                        </a>
                        <a href="https://www.youtube.com/user/cordobagovar" target="_blank"> 
                          <span class="fab fa-youtube" style="color:#009ee2 !important"></span>
                        </a>
                      </strong>
                    </p>
                </div>
              </div>
              <div class="row hidden-xs">
                <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 lista-links copyr text-right">
                  <p><strong>Municipalidad de Córdoba<br/> Marcelo T. de Alvear 120, Córdoba. República Argentina <br/> <a href="mailto:gobiernoabiertocba@gmail.com">gobiernoabiertocba@gmail.com</a></strong> </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </footer>
        <div class="row footer-barra">
          <div class="col-xs-2 col-sm-2"></div>
          <div class="col-xs-2 col-sm-2"></div>
          <div class="col-xs-2 col-sm-2"></div>
          <div class="col-xs-2 col-sm-2"></div>
          <div class="col-xs-2 col-sm-2"></div>
          <div class="col-xs-2 col-sm-2"></div>
        </div>

    {% endblock %}

    {% block basic_scripts %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79840006-1', 'auto');
      ga('send', 'pageview');

      jQuery.expr.filters.offscreen = function(el) {
        var rect = el.getBoundingClientRect();
        return (
                 (rect.x + rect.width) < 0
                   || (rect.y + rect.height) < 0
                   || (rect.y+rect.height) > window.innerHeight
               );
      };
      $('#dropdownMenuTransparencia', '#dropdownMenuParticipacion').on('shown.bs.dropdown', function () {
        // do something…
        if($('.dropdown-menu.lvl1').is(':offscreen')){
          $('.navbar-gaMuniCba .nav.navbar-nav.navbar-right .dropdown-menu.lvl1 li a').css('padding', '5px 15px');
        }
      });


    </script>

    <script src="/static/website/{{website.template}}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="/static/website/{{website.template}}/js/search.js"></script>
    <script type="text/javascript" src="/static/website/{{website.template}}/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/static/website/{{website.template}}/js/js.cookie.js"></script>

    {% endblock %}
    {% block scripts %}

    {% endblock %}
    </body>
</html>
