{% extends extends_from %}

{% block title %} APP: {{ app.nombre }} {% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="aplicacioens" class="aplicaciones">
    
    <div class="col-xs-12">
        <div class="appContainer">
          <div class="row headerApp">
            <div class="col-xs-12">
              <div class="icono {% if not app.activado %}deactivated{%endif%}" style="background-image: url('/media/{{ app.logo }}')"></div>
            </div>
            <div class="col-xs-12 col-md-7">
              <h3 class="nombreApp">{{ app.titulo }}</h3>
							{% if app.activado %}
								{% if app.android_market %}
								<a href="{{app.android_market}}" class="btnDescarga android">
									Descargar <i class="fa fa-android" aria-hidden="true"></i>
								</a>
                                {% endif %}
                                {% if app.ios_market %}
                                    <a href="{{app.ios_market}}" class="btnDescarga apple">
                                        Descargar <i class="fa fa-apple" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
		                    {% endif %}
            </div>
          </div>
          <div class="row descApp">
            <div class="col-xs-12">
              <p class="descripcionApp">
								{% if not app.activado %}
									PRÓXIMAMENTE
								{% else %}
									{{ app.descripcion|default_if_none:"" }}
									{% if app.mas_info_url %}
									<a href="{{ app.mas_info_url }}" class="app-info-text">Más información</a>
									{% endif %}
								{% endif %}

              </p>
              {% if app.web_version %}
              <div style="height:40px">

              </div>
              {% endif %}
            </div>
          </div>

          {% if app.terminos_y_condiciones %}
          <div class="row descApp">
            <div class="col-xs-12">
              <p class="descripcionApp">{{ app.terminos_y_condiciones|safe }}</p>
            </div>
          </div>
          {% endif %}

          {% if app.politica_de_privacidad %}
          <div class="row descApp">
            <div class="col-xs-12">
              <p class="descripcionApp">{{ app.politica_de_privacidad|safe }}</p>
            </div>
          </div>
          {% endif %}
          
          <div class="row">
            {% if app.activado %}
              {% if app.web_version%}
              <a href="{{ app.web_version }}" class="btnDescarga web">
                Disponible en Web <i class="fa fa-globe" aria-hidden="true"></i>
              </a>
              {% endif %}
            {% endif %}
          </div>

        </div>
      </div>
	
    
  </section>
</div>

{% endblock %}
{% block scripts %}

  <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
	<script type="text/javascript" src="/static/website/{{website.template}}/js/masonry.min.js"></script>
	<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
	<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
	<script type="text/javascript" src="/static/website/{{website.template}}/js/aplicaciones.js"></script>
	<script>
  $(document).ready(function(){
  //   $('.grid').masonry({
  //     itemSelector: '.grid-item',
  // // use element for option
  // columnWidth: '.grid-sizer',
  // percentPosition: true
  //   });
  $(".appContainer").matchHeight();
  });
  </script>


{% endblock %}
