<div class="container-fluid inFContainer">
    <section class="z-high">
        <div class="row bg-white">

            <div class="col-xs-12 no-padding">
                <div class="imageHome">
                    <div class="col-xs-12 no-padding">
                        <div class="box" id="box">
                            <div class="col-xs-12 col-sm-12 text-center text-titulo-base-header-container">
                                <h1 class="text-titulo-base-header">{{title}}</h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>
</div>

