{% extends extends_from %}

{% block title %}{{ web_funcionarios.titulo }}{% endblock %}


{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/cslider.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/circle.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="organigrama" class="organigrama">
    <h2 class="visuallyhidden">Organigrama</h2>
    <div class="row  border-bottom-section">
      <div class="col-xs-12 hidden-md hidden-lg">
        <div class="organigrama" id="canvas">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
              <a class="org-link-funcionario" href="{% if web_funcionarios.cargo.en_funcion_activa %} {% url 'website.funcionarios.oficina' web_funcionarios.cargo.slug web_funcionarios.cargo.id %} {% else %} # {% endif %}">
                <div class="org-funcionario intendente">
                <div class="func-foto-cont" id="intendente-foto-cont">
                  <div class="func-foto" id="intendente-foto" style="background-image: url('{{ web_funcionarios.cargo.en_funcion_activa.funcionario.foto.thumbnail.700x700 }}');"></div>
                </div>
                <h3 class="org-func-cargo">{{ web_funcionarios.cargo.nombre }}</h3>
                <p class="org-func-nombre" id="intendente-nombre">{{ web_funcionarios.cargo.en_funcion_activa.funcionario.nombrepublico }}</p>
                </div>
              </a>

            </div>
            <div class="col-xs-4">
            <a class="org-link-funcionario" href="{% url 'website.funcionarios.oficina_arbol' dependencias.0.slug dependencias.0.id %}"><div class="org-funcionario viceintendente">
              <div class="func-foto-cont" id="vice-foto-cont">
                <div class="func-foto" id="vice-foto" style="background-image: url('{{ dependencias.0.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}');"></div>
              </div>
               <h3 class="org-func-cargo vice-no-separado">
                 {% if dependencias.0.en_funcion_activa.funcionario %}
                   {{ dependencias.0.en_funcion_activa.cargo_gen }}
                 {% else %}
                     {{dependencias.0.oficina }}
                 {% endif %}
               </h3>
              <p class="org-func-nombre">
                {% if dependencias.0.en_funcion_activa.funcionario %}
                  {{ dependencias.0.en_funcion_activa.funcionario.nombrepublico }}
                {% else %}
                  Sin funcionario designado
                {% endif %}
              </p>
            </div></a>
            </div>

          </div>
          <div class="row org-lista-funcionarios">
            <div class="col-xs-6" ><div style="height: 1px; width: 1px; margin: 0 auto; background-color: #46BA54;" id="izq-top-corner"></div></div>
            <div class="col-xs-6" ><div style="height: 1px; width: 1px; margin: 0 auto; background-color: #46BA54;" id="der-top-corner"></div></div>


            {% for dependencia in dependencias %}
              {% if not forloop.first %}
                {% if forloop.counter|divisibleby:2 %}

                <div class="col-xs-6 dependencias">
                  {% if dependencia.en_funcion_activa.funcionario %}
                  <a class="org-link-funcionario" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}">
                  {% else %}
                  <a class="org-link-funcionario" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}">
                  {% endif %}
                    <div class="org-funcionario funcionario">
                    <div class="func-foto-cont" id="izq-top-{{forloop.counter}}">
                      {% if dependencia.slug == "unidad-central-de-gestion" %}
                      <div class="func-foto" style="background-image: url('/static/website/{{website.template}}/img/ucg.jpg');"></div>
                      {% else %}
                      {% if dependencia.en_funcion_activa.funcionario.foto %}
                          <div class="func-foto" style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}');"></div>
                      {% else %}
                      <div class="func-foto" style="background-image: url('{{preferencias.default_persona_imagen}}');"></div>
                      {% endif %}
                      {% endif %}
                    </div>
                    <h3 class="org-func-cargo">
                      {% if dependencia.en_funcion_activa.funcionario %}
                        {{ dependencia.en_funcion_activa.cargo_gen }}
                      {% else %}
                          {{dependencia.oficina }}
                      {% endif %}
                    </h3>
                    <p class="org-func-nombre" id="izq-btm-{{forloop.counter}}">
                      {% if dependencia.en_funcion_activa.funcionario %}
                        {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}
                      {% else %}
                        Sin funcionario designado
                      {% endif %}
                    </p>
                  </div></a>
                </div>
                {% else %}
                <div class="col-xs-6 dependencias odd-column">
                  {% if dependencia.en_funcion_activa.funcionario %}
                  <a class="org-link-funcionario cp-right" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}">
                  {% else %}
                  <a class="org-link-funcionario cp-right" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}">
                  {% endif %}
                  <div class="org-funcionario funcionario">
                    <div class="func-foto-cont" id="der-top-{{forloop.counter}}">
                      {% if dependencia.slug == "unidad-central-de-gestion" %}
                      <div class="func-foto" style="background-image: url('/static/website/{{website.template}}/img/ucg.jpg');">
                        <img class="sr-only" src="/static/website/{{website.template}}/images/img.jpg" alt="Foto de la Unidad Central de Gestión" />
                      </div>
                      {% else %}
                      {% if dependencia.en_funcion_activa.funcionario.foto %}
                          <div class="func-foto" style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}');">
                            <img class="sr-only" src="{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}" alt="Foto de {% if dependencia.en_funcion_activa.funcionario %} {{ dependencia.en_funcion_activa.cargo_gen }} {% else %} {{dependencia.oficina }}{% endif %}, {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}" />
                          </div>
                      {% else %}
                      <div class="func-foto" style="background-image: url('{{preferencias.default_persona_imagen}}');">
                        <img class="sr-only" alt="Foto de {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}" src="{{preferencias.default_persona_imagen}}">
                      </div>
                      {% endif %}
                      {% endif %}
                    </div>
                    <h3 class="org-func-cargo">
                      {% if dependencia.en_funcion_activa.funcionario %}
                        {{ dependencia.en_funcion_activa.cargo_gen }}
                      {% else %}
                          {{dependencia.oficina }}
                      {% endif %}
                    </h3>
                    <p class="org-func-nombre" id="der-btm-{{forloop.counter}}">
                      {% if dependencia.en_funcion_activa.funcionario %}
                        {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}
                      {% else %}
                        Sin funcionario designado
                      {% endif %}
                    </p>
                  </div></a>
                </div>

                {% endif %}
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-4 no-padding">
        <a href="{% if web_funcionarios.cargo.en_funcion_activa %} {% url 'website.funcionarios.oficina' web_funcionarios.cargo.slug web_funcionarios.cargo.id %} {% else %} # {% endif %}">
          <div class="rootOrganigrama">
            <div class="fotoRootCont">
              <img class="fotoRoot" src="{{ web_funcionarios.cargo.en_funcion_activa.funcionario.foto.thumbnail.700x700 }}" alt="Foto del {{ web_funcionarios.cargo.nombre }}, {{ web_funcionarios.cargo.en_funcion_activa.funcionario.nombrepublico }}"/>
            </div>
            <div class="infoRoot">
              <h3 class="cargoRoot">{{ web_funcionarios.cargo.nombre }}</h3>
              <h3 class="nombreRoot">{{ web_funcionarios.cargo.en_funcion_activa.funcionario.nombrepublico }}</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="hidden-xs hidden-sm col-md-8 no-padding" id="organigramaParticles">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class='circle-container'>
							{% for dependencia in dependencias %}
                {% if forloop.counter0|divisibleby:5 and not forloop.first %}
                  </div>
                </div>
                <div class="item">
                  <div class='circle-container'>
                {% endif %}
                  <a href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}" class='deg{% cycle '1' '2' '3' '4' '5' %}'>
                    <div class="col-xs-12">
                      <div class="row orgFichaFuncionario">
                        <div class="col-xs-3 no-padding">
                          {% if dependencia.slug == "unidad-central-de-gestion" %}
                          <div class="orgFotoFuncionario">
                            <img src="/static/website/{{website.template}}/img/ucg.jpg" alt="Foto de la Unidad Central de Gestión" />
                          </div>
                          {% else %}
                          {% if dependencia.en_funcion_activa.funcionario.foto %}
                            <div class="orgFotoFuncionario">
                              <img src="{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}" alt="Foto de {% if dependencia.en_funcion_activa.funcionario %} {{ dependencia.en_funcion_activa.cargo_gen }} {% else %} {{dependencia.oficina }}{% endif %}, {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}" />
                            </div>
                          {% else %}
                            <div class="orgFotoFuncionario">
                              <img src="{{preferencias.default_persona_imagen}}" alt="Foto por defecto" />
                            </div>
                          {% endif %}
                          {% endif %}
                        </div>
                        <div class="col-xs-9">
                          <div class="orgTextoFuncionario">
                            <div class="orgCargoFuncionario">
                              {% if dependencia.en_funcion_activa.funcionario %}
                                {{ dependencia.en_funcion_activa.cargo_gen }}
                              {% else %}
                                  {{dependencia.oficina }}
                              {% endif %}
                            </div>
                            <div class="orgNombreFuncionario">
                              {% if dependencia.en_funcion_activa.funcionario %}
                                  {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}
                              {% else %}
                                Sin funcionario designado
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>

							{% endfor %}
            </div>
          </div>




        </div>

      </div>
    </div>
  </section>
</div>


{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/stickyfill.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/particles.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>

<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/jquery.connections.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/bootstrap-toolkit.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/organigrama-connections.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/animation.js"></script>


<script>
$(function() {
		$('.dependencias').matchHeight();
});
$(document).ready(function(){
	// var mtv = ( ($('#vice-foto').offset().top + $('#vice-foto').height()/2)-($('#intendente-foto').offset().top + $('#intendente-foto').height()/2))*2;
	var mtv = ( $('#intendente-foto-cont').height()/2 - $('#vice-foto-cont').height()/2);
	$('#vice-foto').css('margin-top', mtv);

	$(window).on('resize', function(){
		var c = $('connection');
		setInterval(function() {
			c.connections('update');
		}, 500);
		var mtv = ( $('#intendente-foto-cont').height()/2 - $('#vice-foto-cont').height()/2);
		$('#vice-foto').css('margin-top', mtv);
	});

	$('.owl-carousel').owlCarousel({
	loop:false,
	dots:false,
	center: true,
	margin:0,
	stagePadding: 150,
	nav:true,
	navText: ['<span class="fa fa-chevron-left" aria-hidden="true"></span>','<span class="fa fa-chevron-right" aria-hidden="true"></span>'],
	responsive:{
			0:{
					items:1
			},
			600:{
					items:1
			},
			1000:{
					items:1
			}
		}
	})

	particlesJS('organigramaParticles',
	{
		"particles": {
			"number": {
				"value": 85,
				"density": {
					"enable": true,
					"value_area": 500
				}
			},
			"color": {
				"value": "#00a665"
			},
			"shape": {
				"type": "circle",
				"stroke": {
					"width": 0,
					"color": "#00a665"
				},
				"polygon": {
					"nb_sides": 5
				}
			},
			"opacity": {
				"value": 0.3,
				"random": false,
				"anim": {
					"enable": false,
					"speed": 1,
					"opacity_min": 0.1,
					"sync": false
				}
			},
			"size": {
				"value": 3,
				"random": true,
				"anim": {
					"enable": false,
					"speed": 40,
					"size_min": 0.1,
					"sync": false
				}
			},
			"line_linked": {
				"enable": true,
				"distance": 150,
				"color": "#00a665",
				"opacity": 0.4,
				"width": 1
			},
			"move": {
				"enable": true,
				"speed": 2,
				"direction": "none",
				"random": false,
				"straight": false,
				"out_mode": "out",
				"bounce": false,
				"attract": {
					"enable": false,
					"rotateX": 600,
					"rotateY": 1200
				}
			}
		},
		"retina_detect": true
	});
});
</script>
{% endblock %}
