{% load humanize %}
{% load l10n %}

<div class="row">
  {% if ddjj %}
   <div class="col-xs-12 col-md-4 titDDJJ">
     <h3 class="tituloDDJJ">Declaración Jurada {{ ddjj.anio }}</h3>
   </div>
   <div class="col-xs-12 col-md-8 titDDJJ">
     <div class="row">
       <div class="col-xs-12 col-md-4">
         <p class="infoDDJJ total">
           Total declarado<br />
           {{ mi_moneda.simbolo }}{{ ddjj.total|intcomma }}
         </p>
       </div>
       <div class="col-xs-12 col-md-4">
         <p class="infoDDJJ">
           Bienes<br />
           {{ mi_moneda.simbolo }} {{ ddjj.total_bienes|intcomma }}
         </p>
       </div>
       <div class="col-xs-12 col-md-4">
         <p class="infoDDJJ">
           Deudas<br />
           {{ mi_moneda.simbolo }} {{ ddjj.total_deudas|intcomma }}
         </p>
       </div>
     </div>
   </div>
   <div class="col-xs-12 tableCont">
     <div class="table-responsive">
       <table class="table">
           <thead class="thead-default">
               <tr>
                   <th width="50%">Bien</th>
                   <th>Valor</th>
                   <th><center>De cónyuge</center></th>
                   <th><center>En el país</center></th>
               </tr>
           </thead>
           <tbody>
             {% for bien in ddjj.bienes %}
             <tr>
                 <td>{{ bien.tipo.nombre }}</td>
                 <td>{{ bien.moneda.simbolo }} {{ bien.valor|intcomma }}</td>
                 <td><center>{{ bien.es_de_conyuge|yesno:"Sí,No,-" }}</center></td>
                 <td><center>{{ bien.en_el_pais|yesno:"Sí,No,-" }}</center></td>
             </tr>
             {% endfor %}
         </tbody><tbody>
       </tbody></table>
   </div>
 </div>
 <div class="col-xs-12 tableCont">
   {% if ddjj.deuda_set.all %}
   <div class="table-responsive">
     <table class="table">
         <thead class="thead-default">
             <tr>
                 <th width="50%">Deuda</th>
                 <th>Valor</th>
                 <th><center>De cónyuge</center></th>
                 <th><center>En el país</center></th>
             </tr>
         </thead>
         <tbody>
           {% for deuda in ddjj.deudas %}
           <tr>
               <td>{% if deuda.con_entidad_financiera %}Con entidad financiera{% else %}Con entidad no financiera{% endif %}
               <td>{{ deuda.moneda.simbolo }} {{ deuda.valor|intcomma }}</td>
               <td><center>{{ deuda.es_de_conyuge|yesno:"Sí,No,-" }}</center></td>
               <td><center>{{ deuda.en_el_pais|yesno:"Sí,No,-" }}</center></td>
           </tr>
           {% endfor %}
       </tbody><tbody>
     </tbody></table>
 </div>
   {% else %}
   <p class="sinDeuda">Sin deuda registrada</p>
   {% endif %}
</div>
<div class="col-xs-12">
  <div class="row descargasCont">
    <!-- <div class="col-xs-12 col-sm-6">
      <p class="descargarArchivos">Descargar todos los archivos

        <span class="la-stack la-lg" title="icono">
          <span class="la la-circle-thin la-stack-2x la-inverse"></span>
          <span class="la la-download la-stack-1x la-inverse"></span>
        </span>
      </p>
    </div> -->
    <div class="col-xs-12 linksDescargas">
      <div class="descargas">
        <span>Descargar</span>
        <div class="botones">
          {% if ddjj.archivo %}
          <a href="/media/{{ ddjj.archivo }}">
            <div class="botonDescarga">
            .PDF
            </div>
          </a>
          {% endif %}
          <a href="{% url 'portaldedatos.declaraciones_juradas.declaracion_jurada' funcion.funcionario.slug ddjj.anio ddjj.id "csv" %}">
            <div class="botonDescarga">
            .CSV
            </div>
          </a>
          <a href="{% url 'portaldedatos.declaraciones_juradas.declaracion_jurada' funcion.funcionario.slug ddjj.anio ddjj.id "xls" %}">
            <div class="botonDescarga">
            .XLS
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<h3 class="sinDDJJ">Sin DDJJ registrada</h3>
{% endif %}
</div>
