{% extends extends_from %}
{% load humanize %}
{{ web_funcionarios.titulo }}


{% block title %}  {{ web_funcionarios.titulo }} {% endblock %}


{% block content %}



<section id="main" class="container">

    <div id="gob-title" class="row">
        <img src="/static/website/{{website.template}}/images/gob_title.png" class="img-responsive center-block">
    </div>
    <div class="row">
        <section class="box">
         <header>
            <div class="row">
                <div class="col-md-12 ">                    
                        <h3 class="tit-funcionarios">Portal de Funcionarios Publicos </h3>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-10 col-sm-9 heading-back">
                        <i><h4 class="subt-funcionarios">Organigrama Municipal</h4></i>
                    </div>
                    <div class="col-md-2 col-sm-3 subt-funcionarios volver" align="right">
                        {% for superior in cargo.superiores reversed %}
                            {% if forloop.last %}
                                {% if superior.nombre == 'Intendente' %}
                                    <a href="{% url 'website.funcionarios.home' 'portal-de-funcionarios-publicos' %}"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver</a>
                                {% else %} <!--ver esto para hacer funcionar el VOLVER -->
                                    <a href="{% url 'website.funcionarios.oficina' superior.slug superior.id %}"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
        </header>
            <div class="row">
                <div class="col-md-10 col-sm-9 heading-back">
                    <header>
                        <i><h4 class="subt-funcionarios">{{ web_funcionarios.sub_titulo }}</h4></i>
                    </header>
                </div>
                <div class="col-md-2 col-sm-3 subt-funcionarios volver" align="right">
                    <a href="javascript:history.back()"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver</a>
                </div>
            </div>
            <div class="row heading-banner-mg">
                <div class="col-md-12 col-xs-12">
                    <div class="col-xs-12 col-md-12 nopadding heading-banner">
                        <img src="/static/website/{{website.template}}/images/banderas.png" class="left-img"/>
                        <img src="/static/website/{{website.template}}/images/ddv-008.png" class="right-img"/>
                    </div>
                    <div class="clearfix"  style="background-color: #66CDC6;"></div>

                </div>
            </div>

            <div class="row breadcrums-mg">
                <div class="col-md-12">
                    <!-- BREADCRUM-->
                    <p> Gobierno Abierto > Funcionarios Publicos > Organigrama > Secretaria de Modernizacion</p>
                </div>
            </div>

            <section class="reparticion-body">
                
                <div class="row">
                    <div class="col-md-12">
                    <div  class="heading-reparticion" id="heading-section">
                    <h3 class="title">{{ funcion.cargo.nombre }}</h3>
                    </div>
                    </div>
                </div>
<br>
                <div class="row">                    
                    <div class="col-md-12 text-funcionarios">  
                    <div class="reparticion-text">                  
                       {{ funcion.cargo.html|default_if_none:""|safe|linebreaksbr}}
                    </div>
                    </div>
                </div>            

                <div class="row">                    
                    <div class="  col-md-12 ">
                        <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle btn-funcionarios pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dependencias <i class="glyphicon glyphicon-menu-down"></i>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              {% if dependencia.en_funcion_activa.funcionario %}
                                <li><a href="{% url 'website.funcionarios.persona' dependencia.en_funcion_activa.funcionario.slug dependencia.en_funcion_activa.funcionario.id %}" >jjaja</li>
                                {% endif %}
                                <li><a href="#">{{funcion.}}</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </div>
                        </div>
                </div>
        <section class="persona-body">
                <div class="row vertical-divider ">

                
                <div class="col-md-2 col-xs-4">
                    
                    <div class="row" >
                        <div class="col-md-12 circle-profile   " style="background-image: url('{{ funcion.funcionario.foto.thumbnail.300x300 }}'); float:none;">                       
                        </div>
                    </div>
                    <center><div class="row"  >
                        <div class="col-md-12 " >   
                                              
                          <button href="#datos" class="btn-datos" data-toggle="collapse" data-target="#datos"><span class="glyphicon glyphicon-menu-down"></span> Datos </button>

                          <div id="datos" class="collapse persona-datos ">
<br >
                            <div class="persona-datos-tit">Función Actual</div>
                            <div class="persona-datos-cargo"><i>{{funcion.cargo.nombre|lower}}</i></div>

                            <div class="persona-datos-tit">Desde</div>
                            <div class="persona-datos-cargo"><i>{{funcion.fecha_inicio}}</i></div>

                            <div class="persona-datos-tit">Sueldo</div>                            
                            <div class="persona-datos-cargo"><i>  
                            {{ sueldos_reales.0.mes|date:"N Y" }}                                                
                             </i></div>
                            <div class="persona-datos-cargo" style="font-weight: bold;"><i>  
                            {{sueldo_categoria.sueldo_bruto_moneda.simbolo}}
                             {{ sueldos_reales.0.sueldo_neto|intcomma}}
                             </i></div>

                             <div class="persona-datos-tit">Decreto de designación</div>
                             <button type="button" class=" btn-ver-datos">Ver</button>
                             <div class="persona-datos-tit">Declaración  &nbsp;Jurada</div>
                             <button type="button" class=" btn-ver-datos">Ver</button>                            
                          </div>
                        
                        </div>                       
                    </div></center>

                </div>
                <div class="col-md-8 col-xs-8">
                
                    <div class="persona-nombre">{{funcion.funcionario.nombre}} {{funcion.funcionario.apellido}}
                    </div>
                    
                    {% if comunicaciones_persona %}
                            <ul class="persona-comunicaciones">
                                {% for com in comunicaciones_persona %}
                                    <li class="persona-comunicaciones"><i>{{ com.tipo.nombre}}: <a href="{{com.absolute_url}}">{{ com.valor }}</a></i></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                    {% endif%}

                    {% if comunicaciones_cargo %}
                            <ul class="persona-comunicaciones">
                                {% for com in comunicaciones_cargo %}
                                    <li class="persona-comunicaciones"><i>Oficina: {{ com.tipo.nombre}}: <a href="{{com.absolute_url}}">{{ com.valor }}</a></i></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                    {% endif%}
                    
                    {{ persona.html|default_if_none:""|safe|linebreaksbr }}
                </div>

            </div>
            </section>


            </section>

           <!--  -->

        </section>

    </div>


</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
$(document).ready(function(){
  $("#datos").on("hide.bs.collapse", function(){
    $(".btn-datos").html('<span class="glyphicon glyphicon-menu-down"></span> Datos');
  });
  $("#datos").on("show.bs.collapse", function(){
   // $(".btn-datos").class()
    $(".btn-datos").html('<span class="glyphicon glyphicon-menu-up"></span> Datos');
  });
});
</script>
{% endblock %}
