{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">

{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="blockchain" class="blockchain">
    <div class="row">
      <div class="col-xs-12">
        <div class="row datosGraph" id="datosParticles">
          <div class="after"></div>
          <div class="col-xs-12">
            <h2 class="bcTitle"><center>GO</center></h2>
          </div>
          <div class="col-xs-12 col-sm-7 col-sm-offset-5 index-alto datosGraphColumn">
            <div class="row">
              <div class="col-xs-12 datosTextoContainer">
                <p>
                  <h1><strong>Gracias por registrarte en GO. Ya podes usar la app desde el celular.</strong></h1>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/website/{{website.template}}/js/particles.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>

<script>
$(document).ready(function(){
  particlesJS('datosParticles',
  {
    "particles": {
      "number": {
        "value": 100,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.4,
          "sync": false
        }
      },
      "size": {
        "value": 3,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.7,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 2,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "retina_detect": true
  });

});
$(function() {
    $('.cardProyectos .titulo').matchHeight();
    $('.cardProyectos .descripcion').matchHeight();
    $('.bcColumn').matchHeight();
});
</script>


{% endblock %}
