{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/css/jquery.timelineMe.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">

<link rel="stylesheet" href="/static/website/{{website.template}}/css/cslider.css">

<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">

  <section id="secciones-importantes">
    <div class="row border-bottom-blue">
      <div class="col-md-12  habs cardsImportantes">
        <div class="row">
          <div class="col-md-6 no-padding">
            <div class="cardsImpContainer">
              <div class="card-sImportante gray">
                <div class="title">
                  Jardines Maternales
                </div>
                <div class="icono">
                  <div class="card-icono">
                    <svg version="1.1" id="iconoJardinesMaternalesSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve" aria-labelledby="iconoJardinesMaternales">
                       <title id="iconoJardinesMaternales">Icono de jardines maternales</title>
                    <g>
                    	<path class="st0" d="M66.3,72.2c0,3,0,5.9,0,8.7c0,2,0,3.9,0,5.9c0,1.1-0.4,1.4-1.5,1.5c-0.8,0-1.6,0-2.4,0c-1.4,0-1.9-0.5-1.9-1.8
                    		c0-4.4,0-8.8,0-13.2c0-0.4,0-0.7,0-1.2c-6.3,0-12.7,0-19.1,0c0,0.3,0,0.6,0,0.9c0,4.5,0,9.1,0,13.6c0,1.1-0.4,1.6-1.6,1.6
                    		c-0.9,0-1.7,0-2.6,0c-1.3,0-1.6-0.3-1.6-1.6c0-2.8,0-5.6,0-8.4c0-0.3,0-0.7,0-1.3c-0.4,0.4-0.6,0.6-0.8,0.8
                    		c-3.4,3.4-6.7,6.7-10.1,10.1c-1.2,1.2-2.6,2.2-4.4,2.2c-2.4,0.1-4.7,0.1-7.1-0.2c-3.3-0.4-5.4-3.3-5.1-6.6c0.2-3.1,2.8-5.6,6.1-5.7
                    		c0.7,0,1.1-0.2,1.5-0.7c6.4-6.5,12.8-13,19.2-19.5c0.5-0.5,0.7-1,0.7-1.6c0-4.5,0-9,0-13.6c-1.6,0-3.2,0-4.8,0
                    		c-1,0-1.7-0.4-2.1-1.3c-0.4-0.9-0.3-1.8,0.4-2.6c0.2-0.2,0.5-0.4,0.7-0.6c6.4-5.1,12.9-10.2,19.3-15.3c0.6-0.4,0.7-0.9,0.7-1.6
                    		c0-3.2,0-6.5,0-9.7c0-1.2,0.3-1.4,1.4-1.4c2.9,0,5.8,0,8.7,0c0.4,0,1.1,0.2,1.2,0.5c0.2,0.3,0,0.9-0.3,1.3c-0.6,1-1.3,1.9-1.9,2.9
                    		c0.7,1,1.3,2,1.9,3c0.2,0.4,0.4,1,0.2,1.3c-0.2,0.3-0.8,0.5-1.2,0.5c-2.4,0-4.7,0-7.1,0c-0.3,0-0.7,0-1,0c-0.3,1.2-0.1,2,0.9,2.8
                    		c6.5,5.2,13,10.5,19.4,15.8c0.6,0.5,1.2,1.1,1.2,2c0,1.4-0.8,2.4-2.3,2.4c-1.6,0-3.3,0-5.1,0c0,0.4,0,0.8,0,1.2c0,4,0,8.1,0,12.1
                    		c0,0.7,0.2,1.1,0.7,1.4c8,5.5,15.9,10.9,23.8,16.4c0.1,0.1,0.2,0.1,0.2,0.2c0.5,0.3,1,0.7,0.7,1.3c-0.3,0.7-0.9,0.7-1.6,0.5
                    		c0,1,0,2,0,3c0,2.4,0,4.8,0,7.2c0,0.3,0.2,0.8,0.4,1c0.5,0.5,0.9,0.9,0.4,1.6c-0.5,0.6-1,0.3-1.6,0c-5.2-3.6-10.5-7.2-15.7-10.8
                    		C71.3,75.7,68.9,74,66.3,72.2z M60.6,55.7c0-0.5,0-0.8,0-1.2c0-3.9,0-7.8,0-11.7c0-1.1-0.4-1.9-1.1-2.7c-4.6-4.9-13.2-4.7-17.6,0.6
                    		c-0.3,0.3-0.5,0.9-0.5,1.3c0,4.2,0,8.5,0,12.7c0,0.3,0,0.6,0,1C47.8,55.7,54.1,55.7,60.6,55.7z M35.7,59.6
                    		c-0.4,0.4-0.6,0.6-0.8,0.8c-6.1,6.1-12.2,12.2-18.2,18.4c-0.6,0.7-1.3,0.9-2.2,0.9c-2.5,0-4.3,1.9-4.3,4.3c0,2.4,1.9,4.2,4.3,4.3
                    		c1.7,0,3.4,0,5,0c1.4,0,2.6-0.5,3.6-1.5c4-4,8.1-8,12.1-12c0.2-0.2,0.4-0.6,0.4-0.9C35.7,69.2,35.7,64.5,35.7,59.6z M66.3,40.4
                    		c1.6,0,3,0,4.5,0c0.3,0,0.6-0.2,0.9-0.3c-0.2-0.3-0.3-0.6-0.6-0.8c-3.6-3-7.3-5.9-10.9-8.9c-2.9-2.4-5.8-4.7-8.8-7.1
                    		c-0.2,0.1-0.4,0.3-0.6,0.4c-6.6,5.2-13.2,10.4-19.7,15.7c-0.1,0.1-0.3,0.2-0.4,0.3c-0.3,0.4-0.3,0.7,0.3,0.7c1.5,0,3,0,4.6,0
                    		c0-0.9,0-1.7,0-2.4c0-1,0.4-1.4,1.4-1.4c0.7,0,1.4,0,2.1,0c1.7,0,2,0.3,2.3,2c6.3-5.2,12.6-5.2,18.9,0c0.4-1.9,0.4-2,2.4-2
                    		c0.7,0,1.4,0,2.1,0c1,0,1.3,0.3,1.3,1.3C66.3,38.6,66.3,39.4,66.3,40.4z M41.5,57.6c0,4.2,0,8.3,0,12.3c6.4,0,12.7,0,19,0
                    		c0-4.2,0-8.2,0-12.3C54.1,57.6,47.8,57.6,41.5,57.6z M37.7,38.5c0,16,0,31.8,0,47.7c0.7,0,1.2,0,1.8,0c0-15.9,0-31.8,0-47.7
                    		C38.8,38.5,38.3,38.5,37.7,38.5z M62.5,38.5c0,16,0,31.8,0,47.7c0.6,0,1.2,0,1.8,0c0-15.9,0-31.8,0-47.7
                    		C63.7,38.5,63.1,38.5,62.5,38.5z M58.8,17.4c-0.5-0.7-0.8-1.3-1.2-1.8c-0.6-0.7-0.6-1.4,0-2.2c0.4-0.5,0.7-1.1,1.2-1.8
                    		c-2.3,0-4.5,0-6.8,0c0,1.9,0,3.8,0,5.7C54.2,17.4,56.4,17.4,58.8,17.4z M78.7,78.5c0-3.7,0-7.2,0-10.7c0-0.1,0-0.4-0.1-0.4
                    		c-0.9-0.6-1.7-1.2-2.7-1.9c0,3.7,0,7.1,0,10.6c0,0.2,0.1,0.5,0.3,0.6C76.9,77.2,77.7,77.8,78.7,78.5z M85.5,72.1
                    		c-0.1,0.2-0.1,0.4-0.1,0.5c0,3.3,0,6.7,0,10c0,0.2,0,0.5,0.2,0.6c0.8,0.6,1.7,1.2,2.7,1.9c0-3.7,0-7.2,0-10.7
                    		c0-0.2-0.1-0.4-0.2-0.5C87.3,73.3,86.4,72.7,85.5,72.1z M69,71.8c0-0.2,0.1-0.3,0.1-0.4c0-3.3,0-6.7,0-10c0-0.2,0-0.5-0.1-0.6
                    		c-0.8-0.6-1.7-1.2-2.7-1.9c0,3.7,0,7.1,0,10.6c0,0.2,0.1,0.5,0.3,0.6C67.3,70.6,68.2,71.2,69,71.8z M73.9,75.2c0-3.7,0-7.1,0-10.6
                    		c0-0.2,0-0.4-0.2-0.5c-0.8-0.6-1.7-1.2-2.7-1.9c0,3.7,0,7.2,0,10.7c0,0.2,0.1,0.5,0.3,0.6C72.2,74,73,74.5,73.9,75.2z M80.6,68.7
                    		c0,3.7,0,7.2,0,10.7c0,0.2,0,0.4,0.2,0.5c0.8,0.6,1.7,1.2,2.7,1.9c0-3.7,0-7.1,0-10.6c0-0.2-0.1-0.6-0.3-0.7
                    		C82.4,69.9,81.6,69.4,80.6,68.7z"/>
                    	<path class="st0" d="M54.7,30.7c-0.1,1.9-1.6,3.3-3.5,3.2c-1.8-0.1-3.2-1.6-3.2-3.4c0-1.9,1.6-3.4,3.4-3.3
                    		C53.3,27.3,54.8,28.8,54.7,30.7z M52.8,30.6c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4
                    		C52.2,32,52.8,31.3,52.8,30.6z"/>
                    	<path class="st0" d="M46.3,64.1c0-2.8,2.3-5.2,5.2-5.1c2.8,0,5.1,2.3,5.1,5.1c0,2.9-2.3,5.2-5.2,5.2C48.5,69.3,46.3,67,46.3,64.1z
                    		 M51.4,67.4c1.8,0,3.2-1.5,3.2-3.2c0-1.8-1.5-3.2-3.3-3.2c-1.8,0-3.2,1.4-3.2,3.2C48.2,65.9,49.6,67.4,51.4,67.4z"/>
                    </g>
                    </svg>
                  </div>
                </div>
                <div class="more">
                  <a href="https://www.cordoba.gob.ar/servicios/jardines-maternales/" target="_blank" rel="noopener" class="btn btnMore">Ver Más</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="cardsImpContainer">
              <div class="card-sImportante gray">
                <div class="title">
                  Controladores de Estacionamiento
                </div>
                <div class="icono">
                  <div class="card-icono">
                    <svg version="1.1" id="iconoEstacionamientoSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve" aria-labelledby="iconoEstacionamiento">
                       <title id="iconoEstacionamiento">Icono de controladores de estacionamiento</title>
                    <style type="text/css">
                    	.st1{enable-background:new    ;}
                      .stBlanco{fill:#FFFFFF;}
                    </style>
                    <g>
                    	<path class="st0" d="M94,84.7c0,0.3,0,0.5,0,0.7c-24.4,0-48.7,0-73.2,0c0-0.2,0-0.5,0-0.7C45.3,84.7,69.5,84.7,94,84.7z"/>
                    	<path class="st0" d="M49.6,70.9c1.9-2.7,3.8-5.3,5.6-7.9c0.5-0.8,1-1,2-0.7c2.5,0.8,5.1,1.6,7.6,2.3c2.4,0.7,4,2.7,4.1,5.2
                    		c0,0.4-0.2,0.9-0.5,1.1c-4.6,4.8-10.2,7.4-16.8,7.9c-7.9,0.6-14.7-1.9-20.5-7.4c-0.8-0.8-1-1.5-0.7-2.6c0.6-2.3,2-3.6,4.2-4.3
                    		c2.5-0.8,5-1.5,7.5-2.3c0.9-0.3,1.4-0.1,1.9,0.7C45.8,65.6,47.7,68.1,49.6,70.9z M49.5,77.6c6.5-0.1,12.1-2.2,16.9-6.5
                    		c1.2-1.1,1.4-2.1,0.3-3.3c-0.6-0.7-1.4-1.3-2.2-1.5c-2.4-0.8-4.8-1.5-7.2-2.2c-0.6-0.2-0.9,0-1.2,0.4c-1.8,2.5-3.6,5.1-5.4,7.6
                    		c-0.9,1.3-1.2,1.3-2.2,0c-1.8-2.5-3.6-5-5.3-7.5c-0.3-0.5-0.6-0.6-1.2-0.5c-2.4,0.8-4.7,1.4-7.1,2.2c-1.5,0.5-2.5,1.4-2.9,2.9
                    		c-0.2,0.7-0.1,1.1,0.4,1.6C37.2,75.2,43,77.4,49.5,77.6z"/>
                    	<path class="st0" d="M50.7,31.8c5.4,0.1,8.9,3.1,9.6,8.5c0.1,0.6,0.1,1.2,0.2,1.9c0,1,0,1.9,0.5,2.9c0.9,2,0,5.2-1.8,6
                    		c-1.5,0.7-2,1.9-2.5,3.1c-0.8,2-2,3.6-3.5,5c-1.9,1.8-5,1.8-7,0c-1.9-1.7-3.1-3.9-4-6.2c-0.3-0.7-0.6-1.4-1.5-1.6
                    		c-0.5-0.1-0.9-0.6-1.2-1c-1.4-1.7-1.6-4.2-0.6-6.2c0.1-0.3,0.1-0.7,0.1-1c0.1-1.5,0-3.1,0.4-4.6c0.9-3.4,3.6-5.1,6.7-6
                    		C47.5,32.2,49.1,32.1,50.7,31.8z M50.7,33.4c-1.3,0.2-2.6,0.3-3.9,0.6c-3.1,0.9-5.7,2.3-6.4,5.9c-0.2,1-0.2,2.1-0.1,3.2
                    		c0.1,0.9,0.5,1.8-0.6,2.4c-0.1,0-0.1,0.2-0.1,0.3c-0.3,1.5-0.1,2.9,1,4c0.2,0.2,0.6,0.5,0.9,0.4c0.7-0.1,1,0.3,1.3,0.9
                    		c0.5,1,1,2,1.4,3.1c0.6,1.6,1.6,2.8,2.8,3.9c1.5,1.4,3.7,1.3,5.2,0c1.9-1.7,2.8-3.9,3.8-6.1c0.4-0.9,0.6-2.1,2-1.8
                    		c0.1,0,0.1-0.1,0.2-0.1c1.5-0.8,2-3.9,0.8-5.1c-0.2-0.2-0.3-0.5-0.3-0.8c0-0.8,0.3-1.5,0.2-2.3C58.7,36.3,55.8,33.4,50.7,33.4z"/>
                    	<path class="st0" d="M64.3,49c0.2,0.3,0.5,0.7,0.7,1c0.8,1.6,1.4,3.2,2.6,4.6c1.2,1.3,3.4,1.3,4.5,0c1.2-1.3,1.8-2.9,2.5-4.5
                    		c0.3-0.6,0.5-1.2,1.4-1.2c1-0.1,1.6-2.5,0.9-3.5c-0.2-0.3-0.4-0.8-0.3-1.1c0.9-3.9-1.8-7.4-5.8-7.5c-3.3,0-5.4,0.9-7.3,3.1
                    		c-0.7-1.4-0.6-1.8,0.7-2.7c2.7-1.9,5.7-2.3,8.8-1.6c2.7,0.5,4.6,2.8,5,5.8c0.1,0.8,0.1,1.7,0.2,2.5c0,0.3,0.1,0.6,0.2,0.9
                    		c0.9,2.2,0.1,4.4-2,5.5c-0.3,0.1-0.5,0.5-0.6,0.8c-0.8,1.7-1.6,3.5-3.1,4.8c-1.6,1.5-4,1.5-5.7,0s-2.5-3.5-3.3-5.5
                    		c-0.2-0.4,0.2-1,0.3-1.5C64.1,49,64.2,49,64.3,49z"/>
                    	<path class="st0" d="M59.3,59.7c1.9-0.6,3.6-1.2,5.3-1.6c0.3-0.1,0.9,0.3,1.1,0.6c1.4,1.9,2.7,3.8,4.1,5.8c0.9-1.3,1.8-2.5,2.7-3.7
                    		c0.5-0.7,1-1.4,1.5-2.2c0.3-0.5,0.7-0.7,1.3-0.5c2.1,0.6,4.1,1.2,6.2,1.9c1.8,0.6,3,2.2,3,4c0,0.3-0.1,0.6-0.3,0.8
                    		c-3.1,3.3-6.9,5.3-11.4,6c-0.1,0-0.3,0-0.5,0c-0.1-0.4-0.1-0.8-0.2-1.3c0.9-0.2,1.7-0.4,2.5-0.6c3-0.7,5.6-2.3,7.9-4.4
                    		c0.6-0.6,0.8-1.2,0.3-1.7c-0.5-0.6-1.2-1.3-1.9-1.6c-1.6-0.6-3.3-1-5-1.6c-0.5-0.2-0.9-0.1-1.2,0.4c-1.3,1.9-2.6,3.7-4,5.6
                    		c-0.7,0.9-1,0.9-1.7,0c-1.2-1.7-2.5-3.4-3.6-5.2c-0.5-0.8-1-1-2-0.7C61.5,60.6,61.5,60.5,59.3,59.7z"/>
                    	<g>
                    		<path class="st0" d="M18.3,84.9c0-0.8,0-1.7,0-2.6c0-11.9,0-23.8,0-35.7c0-1.6-0.5-2.4-2.1-2.9C9.1,41.5,4.8,34.4,6,27
                    			c1-7,7.3-12.3,14.5-12.4c7.3-0.1,13.6,5.2,14.9,12.5c1.2,7-3,14.2-10,16.4c-2,0.6-2.4,1.5-2.4,3.4c0.1,11.6,0,23.2,0,34.8
                    			C23.1,85.6,22.6,85.9,18.3,84.9z M20.5,43.7c7.8,0.1,14.2-6.1,14.4-14c0.2-7.8-6.2-14.3-14-14.4c-7.8-0.1-14.2,6-14.3,13.7
                    			C6.4,37.2,12.5,43.6,20.5,43.7z M19.1,64.5c0,6,0,12,0,17.9c0,1.2,0,2.1,1.6,2.1s1.6-1,1.6-2.1c0-12,0-23.9,0-35.9
                    			c0-1.1,0.1-2.1-1.6-2.2c-1.8,0-1.7,1-1.7,2.2C19.1,52.6,19.1,58.6,19.1,64.5z"/>
                    		<circle class="st0" cx="20.6" cy="29.4" r="11.9"/>
                    		<g class="st1">
                    			<path class="stBlanco" d="M15.2,37.2V22.9h10.4v1.7h-8.5V29H25v1.7h-7.9v4.9h8.8v1.7H15.2z"/>
                    		</g>
                    	</g>
                    </g>
                    </svg>
                  </div>
                </div>
                <div class="more">
                  <a href="https://www.cordoba.gob.ar/servicios/sistemadeestacionamientomedido/" target="_blank" rel="noopener" class="btn btnMore">Ver Más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 no-padding">
            <div class="cardsImpContainer">
              <div class="card-sImportante gray">
                <div class="title">
                  Taxis y Remises
                </div>
                <div class="icono">
                  <div class="card-icono">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve" aria-labelledby="iconoTaxis">
                       <title id="iconoTaxis">Icono de taxi</title>
                    <g id="Layer_1">
                    	<g>
                    		<path class="st0" d="M27.1,66.9c-1.9,0-3.5-1.5-3.5-3.4c0-1.9,1.5-3.4,3.4-3.4c1.9,0,3.5,1.5,3.5,3.4
                    			C30.4,65.3,28.9,66.9,27.1,66.9z"/>
                    		<path class="st0" d="M71.1,67.5c-1.9,0-3.5-1.5-3.5-3.4c0-1.9,1.5-3.4,3.4-3.4c1.9,0,3.5,1.5,3.5,3.4
                    			C74.5,65.9,72.9,67.4,71.1,67.5z"/>
                    		<path class="st0" d="M46.1,32.8c0-0.6,0-1.1,0.1-1.6c0.2-1.2,1.2-1.9,2.4-1.9c1.1,0.1,1.9,0.9,2,2.1c0.1,1.7,0.1,1.7,1.8,1.9
                    			c2.3,0.2,4.7,0.5,7,0.7c1.3,0.1,2.3,0.7,3.2,1.6c2.2,2.4,4.4,4.8,6.7,7.1c0.6,0.6,1.6,1.1,2.5,1.3c5.2,0.9,10.4,1.7,15.5,2.5
                    			c3.6,0.6,5.5,2.9,6.7,6c0.9,2.3,1,4.7,0.6,7.2c-0.4,2.3-2.5,4.1-5.4,4.3c-3.1,0.2-6.2,0.2-9.3,0.2c-0.8,0-1.2,0.2-1.4,1.1
                    			c-0.7,3.6-4.1,6.2-7.7,6.2c-3.7,0-6.9-2.7-7.7-6.4c0-0.2-0.1-0.5-0.1-0.8c-9.2,0-18.5,0-27.8,0c-0.1,0.2-0.1,0.5-0.2,0.7
                    			c-0.8,3.8-4,6.4-7.8,6.4c-3.7,0-6.9-2.6-7.7-6.4c-0.2-0.8-0.5-0.9-1.2-0.9c-1.8,0-3.6,0-5.4,0c-2.5,0.1-4.5-1-5.7-3.1
                    			c-2.3-3.8-2.6-7.9-0.6-11.9c1.2-2.5,3.4-3.8,6.2-3.8c1.9,0,3.8,0,5.7,0c1.2,0,2.3-0.5,2.8-1.6c2.6-5.8,7.6-8.5,13.4-9.9
                    			c3.1-0.7,6.3-0.8,9.4-1.2C44.7,32.8,45.4,32.8,46.1,32.8z M90.6,49.2c-1.3-0.5-2.3-1-3.3-1.2c-5.1-0.9-10.3-1.7-15.4-2.5
                    			c-1.5-0.2-2.7-0.8-3.8-1.9c-2.1-2.3-4.3-4.7-6.6-6.9c-0.6-0.6-1.5-1.1-2.3-1.2c-3.7-0.5-7.5-0.9-11.2-1.1
                    			c-5.2-0.4-10.4,0-15.4,1.7c-4.4,1.5-8,3.9-10,8.3c-0.8,1.7-2.3,2.4-4.1,2.5c-1.8,0-3.7,0-5.5,0c-2.6,0-4.5,1.2-5.5,3.7
                    			c-1.1,2.7-0.9,5.4,0,8.2c0.2,0.7,0.6,1,1.4,1c3.5,0,6.9,0,10.4,0c0.8,0,1.3-0.2,1.8-0.9c3-4,8.7-4.3,12-0.6
                    			c1.1,1.2,1.7,2.9,2.5,4.4c0,0.2,0.3,0.3,0.5,0.3c8.7,0,17.3,0,26,0c0.7,0,1-0.2,1.1-0.9c0.8-3.3,2.8-5.4,6.1-6.1
                    			c3.3-0.7,6,0.5,8.1,3.1c0.3,0.4,0.9,0.7,1.4,0.7c3.9,0.1,7.8,0,11.8,0c3.1,0,3.1,0,3-3C93.4,55,93.4,55,91.8,55
                    			c-2.3,0-3.1-0.5-3.6-1.9C87.8,51.6,88.3,50.6,90.6,49.2z M27.3,57c-3.7,0-6.7,2.9-6.7,6.6c0,3.6,3,6.6,6.5,6.6
                    			c3.7,0,6.7-3,6.6-6.7C33.8,60,30.9,57,27.3,57z M77.5,63.7c0-3.7-2.9-6.7-6.6-6.7c-3.6,0-6.6,3-6.6,6.6c0,3.6,3,6.6,6.6,6.6
                    			C74.4,70.3,77.5,67.3,77.5,63.7z M78.5,61.1c0.3,2.2,0,1.8,2,1.8c2.2,0,4.5,0.1,6.7,0c1.3-0.1,2.7-0.5,4-0.9
                    			c0.4-0.1,0.8-0.5,1.3-0.9C87.6,61.1,83.1,61.1,78.5,61.1z M8.8,61.1c1.1,1.2,2.1,1.9,3.5,1.9c1.8,0,3.6,0,5.4,0
                    			c1.8,0,1.8,0,1.9-1.9C16.1,61.1,12.6,61.1,8.8,61.1z M93,53.6c-0.4-0.9-0.7-1.5-1-2.1c-0.3-0.8-1.1-0.8-1.7-0.6
                    			c-0.4,0.2-0.8,0.9-0.9,1.4c-0.1,0.7,0.5,1.2,1.3,1.2C91.4,53.7,92.1,53.6,93,53.6z M49.4,33.1c-0.4-1,0.4-2.1-0.9-2.3
                    			c-0.9-0.1-0.9,0.7-0.9,1.4C47.5,33.5,48.5,32.9,49.4,33.1z"/>
                    		<path class="st0" d="M54.8,46.2c-3.1,0-6.2,0-9.3,0c-1,0-1.3-0.3-1.3-1.3c0-2.5,0.1-4.9,0-7.4c0-1,0.4-1.3,1.3-1.2
                    			c4.5,0.4,8.9,0.7,13.4,1.1c0.4,0,0.8,0.4,1.1,0.8c1.8,2.2,3.5,4.3,5.2,6.6c0.2,0.3,0.3,0.7,0.4,1.1c-0.4,0.1-0.8,0.4-1.2,0.4
                    			C61.2,46.2,58,46.2,54.8,46.2z M45.6,44.7c6,0,11.8,0,17.8,0c-1.4-1.8-2.8-3.4-4-5.1c-0.5-0.7-1.1-1-1.9-1.1
                    			c-3-0.3-5.9-0.5-8.9-0.8c-1-0.1-1.9,0-2.9,0C45.6,40.1,45.6,42.4,45.6,44.7z"/>
                    		<path class="st0" d="M33.7,46.2c-2.4,0-4.7,0-7.1,0c-1.3,0-1.6-0.4-1.2-1.7c0.6-1.8,1.8-3.2,3.3-4.3c2.9-2.2,6.2-3.1,9.7-3.6
                    			c0.9-0.1,1.8-0.2,2.7-0.3c0.7-0.1,1.1,0.1,1.1,1c0,2.6,0,5.3,0,7.9c0,0.9-0.4,1.1-1.2,1C38.7,46.2,36.2,46.2,33.7,46.2z M27,44.8
                    			c4.7,0,9.3,0,13.9,0c0-2.4,0-4.7,0-7C35,37.9,28.3,40.8,27,44.8z"/>
                    	</g>
                    </g>
                    </svg>
                  </div>
                </div>
                <div class="more">
                  <a href="https://www.cordoba.gob.ar/servicios/movilidad/buscador-taxis-remises/" target="_blank" rel="noopener" class="btn btnMore">Ver Más</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="cardsImpContainer">
              <div class="card-sImportante gray">
                <div class="title">
                  Geriátricos
                </div>
                <div class="icono">
                  <div class="card-icono">
                    <svg version="1.1" id="iconoGeriatricosSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve" aria-labelledby="iconoGeriatricos">
                       <title id="iconoGeriatricos">Icono de geriátricos</title>
                    <g>
                    	<path class="st0" d="M70.2,59.9c-0.3-0.7-0.6-1.5-0.9-2.3c-1.3-3.1-3.7-4.6-6.9-4.7c-1.6,0-2.5-0.8-3.1-2.1
                    		C58,48.1,57.9,45,57.8,42c1.4-3,0.1-5.7-0.8-8.5c-0.1-0.3-0.2-0.6-0.3-0.8c-0.5-1.2-0.4-2.4-0.1-3.6c1.2-3.7,3.6-6.3,7.1-7.7
                    		c4.9-1.9,10-2,14.9-0.1c6.3,2.4,8.8,8.7,8.6,13.6c-0.1,1.8-0.9,3.6-1.2,5.5c-0.6,3.4-1,6.9-1.6,10.3c0,0.3-0.3,0.6-0.4,0.8
                    		l-0.1,0.1C79.4,54.3,74.8,57.1,70.2,59.9z M69.5,40.1c-0.3-0.6-0.6-1.1-1-1.6c-1.4-1.9-2.7-3.9-4.2-5.8c-1.1-1.4-2.7-2.2-4.7-2.4
                    		c-0.5,1.2-0.7,2.3-0.3,3.5c0.3,0.8,0.5,1.5,0.8,2.3c0.5,1.7,1.1,3.5,0.2,5.3c-0.1,0.2,0,0.4,0,0.6c0.1,1.2,0,2.4,0.2,3.6
                    		c0.2,1.3,0.6,2.6,1,3.9c0.2,0.5,0.5,0.9,1.2,0.9c3.2,0.1,5.6,1.6,7.3,4.2c0.4,0.7,0.8,1.4,1.3,2.1c2.4-1.5,4.7-3,7.1-4.6
                    		c-1.9-2.5-3.7-5-5.5-7.4c2-0.7,2.8-1.7,2.9-3.3c0-1.4-0.9-2.7-2.2-3.1C72.2,37.9,71,38.4,69.5,40.1z"/>
                    	<path class="st0" d="M94.8,80.7H57.4l0.1-0.7c1-6.8,3.7-12.9,8.1-18.6l0.5-0.6l0.4,0.6c0.9,1.3,1.7,2.5,2.5,3.7
                    		c5.7-4,11.3-8.1,16.2-11.7l0.4-0.3l0.3,0.4c6.2,7.6,9,16.2,8.7,26.5L94.8,80.7z M58.8,79.5h34.9c0.2-9.5-2.5-17.6-8.1-24.8
                    		c-4.9,3.6-10.6,7.7-16.3,11.7l-0.5,0.3l-0.3-0.5c-0.7-1.2-1.5-2.4-2.3-3.5C62.2,67.9,59.8,73.4,58.8,79.5z"/>
                    	<path class="st0" d="M42.6,80.8H5.3l0-0.5c-0.4-10.1,2.4-18.8,8.6-26.6l0.3-0.4l0.4,0.3C20,57.4,25.5,61.3,31,65.3
                    		c0.5-0.7,1-1.4,1.5-2.2l1.4-2.2l0.5,0.6c4.5,5.9,7.2,12,8.1,18.6L42.6,80.8z M6.3,79.6h34.9c-1-5.9-3.4-11.4-7.3-16.7l-0.5,0.8
                    		c-0.6,0.9-1.2,1.9-1.8,2.7l-0.3,0.5l-0.5-0.3c-5.4-4-11-7.9-16.4-11.8C8.7,62.1,6.1,70.3,6.3,79.6z"/>
                    	<path class="st0" d="M29.8,60c-1.7-1.1-3.4-2.2-5.1-3.3c-2.9-1.8-5.8-3.5-8.6-5.3c-0.3-0.2-0.6-0.6-0.6-0.9
                    		c-0.2-4.5-1.1-8.9-2.3-13.2c-1-3.4-0.4-6.5,1.1-9.5c2.4-4.9,6.5-7.2,11.8-7.8c2.9-0.3,5.9-0.2,8.7,0.7c4.4,1.4,7.5,4.2,8.7,8.8
                    		c0.2,0.9,0.1,2-0.1,2.9c-0.5,2.2-1.2,4.3-1.6,6.4c-0.2,0.8,0.2,1.7,0.3,2.6c0,0.2,0.2,0.4,0.2,0.7c0,2.7-0.3,5.5-1.4,8
                    		c-0.3,0.6-0.6,1.2-1,1.7c-0.4,0.7-1,1-1.9,1c-3.5,0.1-6,1.7-7.3,5C30.4,58.6,30.1,59.3,29.8,60z M40.9,30.2
                    		c-0.6-2.7-2.1-4.5-4.3-5.7c-3.9-2-8.1-2.2-12.3-1.3c-6.7,1.3-9.9,6.5-8.3,13.2c0.2,1,0.5,1.9,0.7,2.9c0.4,3.5,0.8,6.9,1.2,10.4
                    		c0,0.3,0.1,0.7,0.3,0.8c1.2,0.8,2.5,1.5,3.7,2.2c1.7-2.7,3.4-5.3,5.1-7.9c-1.7-0.4-2.8-1.5-2.8-3.4c0-1.4,0.9-2.6,2.2-3
                    		c1.8-0.6,3.1,0.2,4.1,1.7c0.2-0.4,0.4-0.7,0.6-0.9c1.1-1.7,2.2-3.4,3.4-5C35.9,31.9,37.9,30.3,40.9,30.2z"/>
                    </g>
                    </svg>
                  </div>
                </div>
                <div class="more">
                  <a href="https://www.cordoba.gob.ar/servicios/geriatricos/" target="_blank" rel="noopener" class="btn btnMore">Ver Más</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>
  {% endblock %}

{% block scripts %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/static/website/{{website.template}}/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script>
$(function() {
		$('.card-sImportante').matchHeight();
});
</script>
{% endblock %}
