{% extends './home.html' %} {% load website_tags %} {% block title %}{{ website.titulo }}{% endblock %} {% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/css/jquery.timelineMe.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animationsHome.css">

<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">

<link rel="stylesheet" href="/static/website/{{website.template}}/css/cslider.css">

<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css"> {% endblock %} {% block content %}
<section id="home" class="base-header">

    {%with pageName='home' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    <div class="container-fluid _inFContainer">
        <section class="z-high">
            <div class="row bg-white">

                <div class="col-xs-12 no-padding">
                    <div class="imageHome">
                        <div class="col-xs-12 no-padding">
                            <div class="box" id="box">
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
                                    <h2 class="text-titulo-home">Ciudad Transparente</h3>
                                </div>
                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
                                    <p class="text-subtitulo-home">
                                        ¡Buscá los datos abiertos publicados en nuestro portal!
                                    </p>
                                </div>

                                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
                                    <form action="/search" method="GET">
                                        <div class="search-home input-group">
                                            <input name="q" type="text" class="form-control search-form input-lg" placeholder="">
                                            <span class="input-group-btn">
                                <button type="submit" class="btn search-btn input-lg" data-target="#search-form">
                                    <i class="fa fa-search fa-2x"></i>
                                </button>
                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 statisticsHomeHolder">
                            <div class="row statisticsHome">
                                <div class="col-xs-12 col-sm-offset-4 col-sm-2">
                                    <div class="tarjetaDato">
                                        <h3 class="titulo-tarjetaDato">Recursos de Datos</h3>
                                        <p class="numero-tarjetaDato count" data-min="0" data-max="{{ total_recursos|stringformat:'d' }}">0</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                    <div class="tarjetaDato">
                                        <h3 class="titulo-tarjetaDato">Conjuntos de Datos</h3>
                                        <p class="numero-tarjetaDato count" data-min="0" data-max="{{ series_datos|stringformat:'d' }}">0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>

</section>

<div class="row home-barra">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
</div>

<div class="row row-secciones-importantes">
  <section id="secciones-importantes">
    <div class="col-md-offset-2 col-md-8 cardsImportantes">
      <div class="row">
        <div class="col-sm-6 col-md-4 cards-padding">
          <div class="cardsImpContainerSvg">
            <a href="https://www.cordoba.gob.ar/areas-de-gobierno/#areas_gobierno">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/areas.svg"/>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 cards-padding">
          <div class="cardsImpContainerSvg">
            <a href="/data/datos-abiertos">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/datos.svg"/>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 cards-padding">
          <div class="cardsImpContainerSvg">
            <a href="/visualizaciones/lista">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/visualizaciones.svg"/>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 cards-padding">
          <div class="cardsImpContainerSvg">
            <a href="/data/datos-abiertos/categoria/geografia-y-mapas">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/mapas.svg"/>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 cards-padding">
          <div class="cardsImpContainerSvg">
            <a href="https://gobiernoabierto.cordoba.gob.ar/propuesta-ciudadana/nueva-idea/" target="_blank" rel="noopener">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/participacion.svg"/>
            </a>
          </div>
        </div>

          <div class="col-sm-6 col-md-4 cards-padding">
            <div class="cardsImpContainerSvg">
              <a href="/data/datos-abiertos/categoria/declaraciones-juradas-de-funcionarios-gestion-2020-2023" target="_blank" rel="noopener">
                  <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/ddjj.svg"/>
              </a>
            </div>
        </div>
 

        <div class="col-sm-6 col-md-4 cards-padding">
          <div class="cardsImpContainerSvg">
            <a href="https://boletinmunicipal.cordoba.gob.ar/#/ciudadano" target="_blank" rel="noopener">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/boletin.svg"/>
            </a>
          </div>
        </div>

          <div class="col-sm-6 col-md-4 cards-padding">
            <div class="cardsImpContainerSvg">
              <a href="https://servicios.cordoba.gov.ar/DigestoWeb/Page/BuscarDocumento.aspx" target="_blank" rel="noopener">
                  <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/digesto.svg"/>
              </a>
            </div>
          </div>

        <div class="col-sm-6 col-md-4 cards-padding">
            <div class="cardsImpContainerSvg">
              <a href="https://gobiernoabierto.cordoba.gob.ar/acceso-informacion-publica/solicitud/" rel="noopener">
                  <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/solicitud.svg"/>
              </a>
            </div>
        </div>



        <div class="col-sm-6 col-md-4 cards-padding">
          <div class="cardsImpContainerSvg">
            <a href="https://gobiernoabierto.cordoba.gob.ar/apis" target="_blank" rel="noopener">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/apis.svg"/>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 cards-padding">
            <div class="cardsImpContainerSvg">
              <a href="https://gobiernoabierto.cordoba.gob.ar/software-publico/aplicaciones-moviles/" target="_blank" rel="noopener">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/apps.svg"/>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 cards-padding">
            <div class="cardsImpContainerSvg">
              <a href="https://gobiernoabierto.cordoba.gob.ar/software-libre" target="_blank" rel="noopener">
                <img class="img-responsive" src="/static/website/{{website.template}}/img/home/shortcuts/codigo.svg"/>
              </a>
            </div>
          </div>


      </div>
    </div>
  </section>
</div>

{% endblock %} {% block masBuscados %} {% endblock %} {% block scripts %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/static/website/{{website.template}}/js/anime.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.cslider.js"></script>
<!-- <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.waitforimages.js"></script> -->
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/animationsHome.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/index.js"></script>


{% endblock %}
