{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">

{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="institucional" class="institucional">
    <div class="row">
      <div class="col-xs-12 tituloPag">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-lg-2 tituloContainer border-right no-border-right-mobile">
            <div class="tituloSeccionSup">Transparencia</div>
          </div>
          <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="tituloContainer">
              <h1 class="tituloSeccion">Institucional</h1>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="row border-bottom-section">
      <div class="col-xs-12">
        <p class="institucionalTexto">
          Córdoba está ubicada en el centro de la Argentina, entre los 360 y
          480 metros sobre el nivel del mar, a 64° 11’ de longitud y 31° 24’
          de Latitud Sur. Respecto a otras ciudades de la región, se encuentra a
          1957 kilómetros de La Paz (Bolivia); a 1160 de Asunción(Paraguay); a
          1580 de San Pablo (Brasil); a 1050 de Montevideo (Uruguay) y a 1000
          kilómetros de Santiago de Chile.<br /><br />
          Fue fundada el 6 de julio de 1573 por don Jerónimo Luis de Cabrera,
          nacido en Sevilla, perteneciente a la corriente colonizadora del Perú.<br /><br />

          ​​Es la segunda ciudad más poblada después de Buenos Aires y la más
          extensa del país. La capital se constituye en un importante centro
          cultural, económico, educativo, financiero y de entretenimiento de
          la región.<br /><br />

          Por su ubicación, Córdoba constituye un gran nudo de
          comunicaciones aéreas y terrestres, tanto nacionales como
          internacionales. <br />
        </p>
        <div class="flickrSlider">
          <iframe title="Fotos de Córdoba" src="https://www.flickr.com/photos/158498840@N03/sets/72157687906825341/player" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
          <!-- <a data-flickr-embed="true"  href="https://www.flickr.com/photos/158498840@N03/albums/72157687906825341" title="Turismo."><img src="https://farm5.staticflickr.com/4447/38064877116_b3aeee9b73_z.jpg" width="640" height="426" alt="Turismo."></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script> -->
        </div>
      </div>

    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ciudad.js"></script>
{% endblock %}
