{% extends extends_from %}

{% block title %} Locales Habilitados {% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="/static/obras/css/animate.min.css">
<link rel="stylesheet" href="/static/obras/css/obras.css">
<link rel="stylesheet" href="/static/lhabilitados/style/lhab.css">

{% endblock %}

{% block content %}
<section id="main-new">
    <section>
        <div class="container-fluid">
            <div class="col-ld col-header">
                <h1 class="tituloObras">
                    <img src="/static/website/{{website.template}}/img/home/shop.svg" class="pulse infinite animated" height="75" alt="logo de nuestras obras"/>Locales Habilitados
                </h1>
                <p class="text-muted">
                    En esta sección podrás encontrar la base de locales habilitados por la Municipalidad de Córdoba usando la base 
                    de registro que surge de Ventanilla Única (en estado provisorio). Se registran y geolocalizan alrededor de 20 mil locales
                    activos comerciales, industriales y de servicios.<br/>La base de datos se irá actualizando regularmente de acuerdo a: Actualización
                    con nuevos locales habilitados, habilitaciones previo al sistema de Ventanilla Única, Limpieza y corrección de base de datos, Baja de
                    locales activos.<br/><br/>La base expuesta tiene fecha de diciembre de 2018.<br><br>
                    <a type="button" href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/locales_habilitados_2011-2018.csv" class="btn btn-success btn-block">Descargar CSV</a>
                </p>
            </div> 
            <div class="row marg10">
                <div class="col-md-6">
                    <div id="mapa"></div>
                </div>
                <div id="filtroMainCont" class="col-md-6">
                    <div id="filters_wrapper">
                        <div id="hab_filters">
                            <p class="tituloSelects">Filtros</p>
                            <div id="fc_cont">
                                <div class="fc_inputCont" data-type="cat"><input type="text" id="tb_fc_srch" placeholder="Buscar Categoría..." /></div>
                                <div id="filtroCategoria"></div>
                            </div>
                            <div id="fcs_cont">
                                <div class="fc_inputCont" data-type="subcat"><input type="text" id="tb_fcs_srch" placeholder="Buscar Sub categoría..."/></div>
                                <div id="sf_categoria"></div>
                            </div>
                        </div>
                        <div id="btn_srch" type="button" class="btn btn-success btn-block disabled">Buscar</div>
                        <div id="srch_res"></div>
                    </div>
                    <div id="bizDetails"></div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhFsFdUG-xV-ZJjMyudfbBue7qnsA-odM"></script>
    <script src="/static/lhabilitados/js/markerclusterer.js"></script>
    <script src="/static/lhabilitados/js/lhabilitados.js"></script>
<div class="lhabTootlip"></div>
</section>
{% endblock %}
