{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">

{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="nuestraCiudad" class="nuestraCiudad">
    <div class="row">
      <div class="col-xs-12 tituloPag">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-lg-2 tituloContainer border-right no-border-right-mobile">
            <div class="tituloSeccionSup">Transparencia</div>
          </div>
          <div class="col-xs-12 col-sm-9 col-lg-10">
            <div class="tituloContainer">
              <h1 class="tituloSeccion">Nuestra Ciudad CBA</h1>
              <a data-toggle="collapse" href="#descripcionPM" class="subtituloSeccion">¿Qué podemos encontrar?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 infoPM collapse" id="descripcionPM">
        La ciudad de Córdoba avanza en la difusión de datos públicos y nuestros
        equipos siguen produciendo y difundiendo información estadística y
        confiable. En ese camino, el Gobierno Abierto es una herramienta para
        la toma de decisiones, la generación de conocimiento y el empoderamiento
        social. No hay dudas de que una ciudadanía informada, es una ciudadanía
        con más herramientas para la participación.
      </div>
    </div>
    <div class="row caratulaNuestraCiudad">
      <div class="col-xs-12">
        <div class="row">
          <div class="hidden-xs hidden-sm col-md-6">
            <img src="/static/website/{{website.template}}/img/ciudad/ciudad.png" class="tossing imgCiudad" alt="Boceto de las calles de la ciudad de Córdoba"/>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="datoContainer text-left">
              <div class="tarjetaDato">
                <h3 class="titulo-tarjetaDato">Proyección Poblacional <br /> 2019</h3>
                <p class="numero-tarjetaDato count" data-min="0" data-max="1446201">0</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-6">
            <img src="/static/website/{{website.template}}/img/ciudad/ciudad.png" class="tossing imgCiudad visible-xs visible-sm" alt="Boceto de las calles de la ciudad de Córdoba"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <h3 class="nuestraCiudadCBA">Conocé tu ciudad mirando sus cifras</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row footerCaratulaNuestraCiudad">
      <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3 col-lg-6 col-lg-offset-6">
Aquí, usted podrá consultar la Guía Estadística de la Ciudad de Córdoba, una herramienta con información económica, demográfica, social, urbanística y ambiental. Además si necesita los datos utilizados los podrá descargar.      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 guiaEstadistica border-bottom-section">
        <h3 class="tituloGuiaEstadistica">RESÚMEN: Guía Estadística</h3>
        <h4 class="subtituloGuiaEstadistica">Córdoba Capital</h4>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-md-offset-1">
            <img src="/static/website/{{website.template}}/img/ciudad/portada_guia_2019.png"  class="img-responsive" alt="Tapa de la Guía Estadística"/>
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/Guia2019-version-final.pdf" download="timelineCiudadEnCifras" class="downloadFoto">
              <span class="visuallyHidden">Descargar Guía Estadística 2019</span>
              <span class="la-stack la-2x" title="Icono de descarga">
                <span class="la la-circle-o la-2x la-stack-2x"></span>
                <span class="la la-download la-stack-1x"></span>
              </span>
            </a>
          </div>
<!--           <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <img src="/static/website/{{website.template}}/img/ciudad/guia/1.png"  class="img-responsive" alt="Primera página de la Guía Estadística"/>
              </div>
              <div class="item">
                <img src="/static/website/{{website.template}}/img/ciudad/guia/2.png"  class="img-responsive" alt="Segunda página de la Guía Estadística"/>
              </div>
              <div class="item">
                <img src="/static/website/{{website.template}}/img/ciudad/guia/3.png"  class="img-responsive" alt="Tercera página de la Guía Estadística"/>
              </div>
              <div class="item">
                <img src="/static/website/{{website.template}}/img/ciudad/guia/4.png"  class="img-responsive" alt="Cuarta página de la Guía Estadística"/>
              </div>
              <div class="item">
                <img src="/static/website/{{website.template}}/img/ciudad/guia/5.png"  class="img-responsive" alt="Quinta página de la Guía Estadística"/>
              </div>
              <div class="item">
                <img src="/static/website/{{website.template}}/img/ciudad/guia/6.png"  class="img-responsive" alt="Sexta página de la Guía Estadística"/>
              </div>
              <div class="item">
                <img src="/static/website/{{website.template}}/img/ciudad/guia/7.png"  class="img-responsive" alt="Séptima página de la Guía Estadística"/>
              </div>
            </div>
          </div> -->
        </div>

        <div id="infoPaginacionGuia"></div>
      </div>

      <div class="col-xs-12 descargasCiudad">
        <h3 class="githubSectionTitle">Córdoba una ciudad en Cifras</h3>
        <h4 class="githubSectionSubtitle">Podés descargar las últimas ediciones</h4>
        <div class="row">

          <div class="col-xs-12 col-sm-5 linkContainer">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/Guia2019-version-final.pdf" class="link">
              <div class="descargaLink">
                <div class="nombre">
                  Guía 2019
                </div>
              </div>
              <div class="descargaContainer">
                <div class="descarga">
                  <i class="la la-download la-3x" aria-hidden="true"></i>
                  Descargar .pdf
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 col-sm-5 col-sm-offset-1 linkContainer">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/Guia_nueva_con_cambios_FINAL.pdf" class="link">
              <div class="descargaLink">
                <div class="nombre">
                  Guía 2017
                </div>
              </div>
              <div class="descargaContainer">
                <div class="descarga">
                  <i class="la la-download la-3x" aria-hidden="true"></i>
                  Descargar .pdf
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-5 linkContainer">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/C%C3%B3rdoba_una_ciudad_en_cifras_2014.pdf" class="link">
              <div class="descargaLink">
                <div class="nombre">
                  Guía 2014
                </div>
              </div>
              <div class="descargaContainer">
                <div class="descarga">
                  <i class="la la-download la-3x" aria-hidden="true"></i>
                  Descargar .pdf
                </div>
              </div>
            </a>
          </div>


          <div class="col-xs-12 col-sm-5 col-sm-offset-1 linkContainer">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/C%C3%B3rdoba_una_ciudad_en_cifras_2012.pdf" class="link">
              <div class="descargaLink">
                <div class="nombre">
                  Guía 2012
                </div>
              </div>
              <div class="descargaContainer">
                <div class="descarga">
                  <i class="la la-download la-3x" aria-hidden="true"></i>
                  Descargar .pdf
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-5 linkContainer">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/C%C3%B3rdoba_una_ciudad_en_cifras_2008.pdf" class="link">
              <div class="descargaLink">
                <div class="nombre">
                  Guía 2008
                </div>
              </div>
              <div class="descargaContainer">
                <div class="descarga">
                  <i class="la la-download la-3x" aria-hidden="true"></i>
                  Descargar .pdf
                </div>
              </div>
            </a>
          </div>


          <div class="col-xs-12 col-sm-5 col-sm-offset-1 linkContainer">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/C%C3%B3rdoba_una_ciudad_en_cifras_2007.pdf" class="link">
              <div class="descargaLink">
                <div class="nombre">
                  Guía 2007
                </div>
              </div>
              <div class="descargaContainer">
                <div class="descarga">
                  <i class="la la-download la-3x" aria-hidden="true"></i>
                  Descargar .pdf
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-5 linkContainer">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/C%C3%B3rdoba_una_ciudad_en_cifras_2006.pdf" class="link">
              <div class="descargaLink">
                <div class="nombre">
                  Guía 2006
                </div>
              </div>
              <div class="descargaContainer">
                <div class="descarga">
                  <i class="la la-download la-3x" aria-hidden="true"></i>
                  Descargar .pdf
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-offset-1 linkContainer">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/datos/C%C3%B3rdoba_una_ciudad_en_cifras_1995.pdf" class="link">
              <div class="descargaLink">
                <div class="nombre">
                  Guía 1995
                </div>
              </div>
              <div class="descargaContainer">
                <div class="descarga">
                  <i class="la la-download la-3x" aria-hidden="true"></i>
                  Descargar .pdf
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
      <div class="col-xs-12 infoDinamica border-bottom-section">
        <div class="row">
          <div class="col-xs-12 no-padding descInfoDinamica">
            Qué hicimos en materia de transparencia y acceso de la información pública en los últimos años.
          </div>
          <div class="col-xs-12 infografia">
            <img src="/static/website/{{website.template}}/img/ciudad/timeline.png" class="img-responsive" alt="Linea de tiempo de los logros en transparencia y gobierno abierto" />
            <a href="/static/website/{{website.template}}/img/ciudad/timeline.png" download="timelineCiudadEnCifras" class="downloadFoto">
              <span class="visuallyHidden">Descargar Infografía</span>
              <span class="la-stack la-2x" title="Icono de descarga">
                <span class="la la-circle la-stack-2x"></span>
                <span class="la la-download la-stack-1x la-inverse"></span>
              </span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/numberFormat.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ciudad.js"></script>
{% endblock %}
