{% extends extends_from %}

{% block title %} Obras de Terceros {% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="/static/obras/css/animate.min.css">
<link rel="stylesheet" href="/static/obras/css/obras-terceros.css">

{% endblock %}
{% block content %}
<section id="main-new">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
    <div id="obras">
        <muni-cards ref="cards"></muni-cards>
    </div>
    <div class="container selects">
        <div class="nav__label" style="margin-bottom: 50px;">
            <a href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/datos-geograficos-y-mapas/obras-activas-en-la-ciudad-de-cordoba/174" class="btn-iniciar">Descargar obras y frentes de obras en formatos reutilizables</a>
        </div>
    </div>
    <script>
    var map;
    var initMap = function() {
        let infowindow = new google.maps.InfoWindow();
        map = new google.maps.Map(document.getElementById("mapa"), {
            center: new google.maps.LatLng(-31.420116, -64.1910517),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
                {
                    featureType: "poi",
                    elementType: "labels",
                    stylers: [
                        { visibility: "off" }
                    ]
                }
            ]
        });

        map.data.setStyle(feature => {
            const SD_NAME = feature.getProperty('SD_NAME');
            return {
                strokeColor: tipos[feature.getProperty('tipo')]
            }
        });

        map.data.addListener('click', function(event) {
            let html = "";
            const nombre = event.feature.getProperty("nombre");

            let url =  "./estado-de-obra#obra-"+event.feature.getId();

            const progreso = event.feature.getProperty("porcentaje_completado");
            let htmlProgreso = ""
            switch(progreso) {
                case '100.00': htmlProgreso = "<p style='font-weight:500;margin-bottom:0'>Finalizado: " + progreso + " %</p>"; break;
                case '0.00': htmlProgreso = "<p style='font-weight:500;margin-bottom:0'>Por iniciar</p>"; break;
                default: htmlProgreso = "<p style='font-weight:500;margin-bottom:0'>En progreso: " + progreso + " %</p>"; break;
            }
            html = '<a style="text-decoration:none;margin-bottom:5px;display:block;" href="'+url+'"><strong style="color:#00a665 !important">'+nombre+'</strong></a>';
            html += htmlProgreso;
            html += event.feature.getProperty("monto") != 0 ? "<p style='font-size:12px;margin-bottom:0'>Inversión:</p> <p style='font-weight:500;margin-bottom:0'>$ " + parseFloat(event.feature.getProperty("monto")).toLocaleString()+"</p>" : "";
            html += "<div style='vertical-align:middle;display:inline-block;width:calc(100% - 30px)'><p style='font-size:12px;margin-bottom:0'>Tipo:</p><p style='font-weight:500;margin-bottom:0'>" + event.feature.getProperty("tipo")+"</p></div><div style='display:inline-block;width:30px;vertical-align:middle;text-align:right'><img style='width:100%' alt='"+event.feature.getProperty("tipo")+"' src='https://www.cordoba.gob.ar/wp-content/uploads/2017/11/"+event.feature.getProperty("tipo_id")+".png' /></div>";
            infowindow.setContent("<div style='width:200px;font-size:16px'>"+html+"</div>");
            infowindow.setPosition(event.latLng);
            infowindow.open(map);
        });
    }
    </script>

    <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
    <script type="text/javascript" src="/static/obras/js/animateNumber.js"></script>
    <script src="/static/obras/js/vueObras-terceros.js"></script>  
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhFsFdUG-xV-ZJjMyudfbBue7qnsA-odM&callback=initMap"></script>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/obras/terceros/app/runtime.js"></script>
<script type="text/javascript" src="/static/obras/terceros/app/polyfills.js"></script>
<script type="text/javascript" src="/static/obras/terceros/app/styles.js"></script>
<script type="text/javascript" src="/static/obras/terceros/app/vendor.js"></script>
<script type="text/javascript" src="/static/obras/terceros/app/main.js"></script>
<script src="/static/boletines/js/jquery.matchHeight.js"></script>
<script>
    $(function() {
        $('.colFile').matchHeight();
        $('.colHeader').matchHeight();
    });
</script>
{% endblock %}
