{% extends extends_from %}
{% block custom_css %}

  <link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">
  <link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">
  <link rel="stylesheet" href="/static/website/{{website.template}}/css/cslider.css">
  <link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
{% endblock %}

{% block title %}{# Plan de metas: #}{{ plan.titulo }}{% endblock %}

{% block content %}


<div class="container-fluid inFContainer">
  <section id="lineamientos" class="planMetas">
    <div class="row">
      <div class="col-xs-12 tituloPag">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-lg-2 tituloContainer border-right no-border-right-mobile">
            <div class="tituloSeccionSup">Transparencia</div>
          </div>
          <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="tituloContainer">
              <h1 class="tituloSeccion">Plan de Metas</h1>
              <a data-toggle="collapse" href="#descripcionPM"class="subtituloSeccion">¿Qué es un plan de metas?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 infoPM collapse" id="descripcionPM">
        {{ plan.html | safe }}
      </div>
    </div>

  {% for linea in lineamientos %}
    {% if not forloop.counter|divisibleby:2 %}
    <div class="row">
    {% endif %}
      <div class="col-xs-12 col-sm-6 no-padding">
        <div class="cardLineamiento {{linea.color_1}}">
          <!--div class="ltituloContainer">
            <div class="titulo">
              {% if not linea.color_1 == "desarrollo" %}
              {{ linea.titulo | slice:":7"}}
              <span class="lineamiento">{{ linea.titulo | slice:"7:"}}</span>
              {% else %}
              <span class="lineamiento">{{ linea.titulo }}</span>
              {% endif %}
            </div>
          </div-->
          <div class="componentesLista">
            {% for componente in linea.componente_set.all %}
            {# <!-- <a href="{% url 'website.plandemetas.componente' plan.slug linea.slug componente.id%}?TPL=template2017#componente-{{componente.id}}"> --> <!-- Version de prueba -->#}

            <a href="{% url 'website.plandemetas.componente' plan.slug linea.slug componente.id%}#componente-{{componente.id}}">  <!-- Version final -->
              <div class="componente">
                <p>
                  {{ componente.titulo }}
                </p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:2 %}
    </div>
    {% endif %}
  {% endfor %}
  </section>
</div>


{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
  <script type="text/javascript">

  $(function() {
      $('.cardLineamiento').matchHeight();
  });
  </script>


{% endblock %}
