{% extends extends_from %}
{% load website_tags %}
{% block custom_css %}

  <link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">

  <link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">
  <link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
{% endblock %}
{% block title %}{{ componente.titulo}} - {{ componente.lineamiento.titulo}} - {{ plan.titulo }}{% endblock %}

{% block cardSociales %}
<meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
<meta name="author" content="Municipalidad de Córdoba">

<meta name="twitter:site" content="@GobAbiertoCBA">
<meta name="twitter:title" content="{{ cargo.oficina }} - Portal de la Ciudad de Córdoba">
<meta name="twitter:description" content="{{ cargo.oficina }}{% if cargo.depende_de %} - {{ cargo.depende_de.oficina }}{% endif %} - Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta name="twitter:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-metas.png">

<meta property="og:title" content="{{ componente.lineamiento.titulo}} - {{ plan.titulo }} - Portal de la Ciudad de Córdoba">
<meta property="og:description" content="{{ componente.lineamiento.titulo}} - {{ plan.titulo }} - Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-metas.png">
<meta property="og:url" content="{% url 'website.plandemetas.componente' plan.slug componente.lineamiento.slug componente.id%}">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="#PortalDeLaCiudad">
<meta name="twitter:image:alt" content="#PortalDeLaCiudad">
{% endblock %}

{% block content %}

<!-- Begin page content -->
<div class="container-fluid inFContainer">
  <section id="lineamientos" class="planMetas">
    <div class="row">
      <div class="col-xs-12 tituloPag">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-lg-2 tituloContainer border-right no-border-right-mobile">
            <div class="tituloSeccionSup">Transparencia</div>
          </div>
          <div class="col-xs-12 col-sm-4 col-lg-3 border-right no-border-right-mobile">
            <div class="tituloContainer">
              {# <!-- <a href="{% url 'website.plandemetas' plan.slug%}?TPL=template2017"><h2 class="tituloSeccion">Plan de Metas</h2></a> --> #}
              <a href="{% url 'website.plandemetas' plan.slug%}"><h1 class="tituloSeccion">Plan de Metas</h1></a>

              <a data-toggle="collapse" href="#descripcionPM" class="subtituloSeccion">¿Qué es un plan de metas?</a>
            </div>
          </div>
          <div class="col-xs-5 col-sm-3 col-lg-3 border-right no-border-right-tablet">
            <a href="#componentesListaPM" data-toggle="collapse">
              <div class="tituloContainer">
                <div class="tituloLineamiento {{componente.lineamiento.color_1}}">
                  {% if not componente.lineamiento.color_1 == "desarrollo" %}
                  {{ componente.lineamiento.titulo | slice:":7"}}
                  <span class="lineamiento">{{ componente.lineamiento.titulo | slice:"7:"}}</span>
                  {% else %}
                  <span class="lineamiento">{{ componente.lineamiento.titulo }}</span>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-3">
            <div class="tituloContainer">
              <h3 class="tituloComponente">
                {{ componente.titulo }}
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 infoPM collapse" id="descripcionPM">
        {{ plan.html | safe }}
      </div>
      <div class="col-xs-12 collapse componentesListaPM" id="componentesListaPM">
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-7 col-lg-4 col-lg-offset-5">
            <div class="componentesLista">
              {% for componenteAux in componente.lineamiento.componente_set.all %}
              {# <!-- <a href="{% url 'website.plandemetas.componente' plan.slug lineamiento.slug componenteAux.id%}?TPL=template2017#componente-{{componenteAux.id}}"> --> <!-- Version de prueba -->#}
               <a href="{% url 'website.plandemetas.componente' plan.slug lineamiento.slug componenteAux.id%}#componente-{{componenteAux.id}}"> <!-- Version final -->
                <div class="componente">
                  <p>
                    {{ componenteAux.titulo }}
                  </p>
                </div>
              </a>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 no-padding">
        <div class="componenteInfo">
          {% if not componente.html_corto_web == None %}
          {{ componente.html_corto_web | safe }}
          {% else %}
          {{ componente.titulo }}
          {% endif %}
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="owl-carousel owl-theme objetivosList">
            {% for objetivo in componente.objetivos %}
            <a class="linkObjetivo" data-rel="{% url 'website.plandemetas.objetivo' plan.slug lineamiento.slug componente.id componente.id objetivo.id %}" href="#objetivos-{{componente.id}}-{{objetivo.id}}" id="objetivos-{{componente.id}}-{{objetivo.id}}">
              <div class="item objetivo">
                <h3>Objetivo <span class="numero">{{ forloop.counter }}</span></h3>
              </div>
            </a>
            {% endfor %}
        </div>
      </div>
      <div class="col-xs-12 no-padding">
        <div class="objetivoInfo empty" id="objetivoInfo">
        </div>
      </div>
      <div class="col-xs-12 no-padding border-bottom-section">
        <div id="metaInfo">
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}




{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/anime.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/metas.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>

<script>
$( document ).ready(function() {

  $('.owl-carousel.objetivosList').owlCarousel({
  loop:false,
  dots:false,
  margin:0,
  nav:true,
  navText: ['<i class="fa fa-chevron-left" aria-hidden="true"></i>','<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
  responsive:{
      0:{
          items:1
      },
      600:{
          items:2
      },
      1000:{
          items:3
      }
    }
  })
  var query = document.location.search;
  var getObjetivo = function (rel, obj, callback) {

        $.ajax({
            url: rel+query,
            cache: false,
            success: function (data) {
                $(obj).html(data);
                $(obj).removeClass('empty');
            },
            complete: function () {
                $('.loading-indicator').hide();
                animations();
                var string = url.split('#')[1];
                var type = string.split('-')[0];
                if(type == "objetivos"){
                  $(window).scrollTop($("#objetivoInfo").offset().top - 230);
                }
                $(obj).removeClass('empty');
                $("meta[property='og:url']").attr("content", location.toString());
                if(callback!=null){
                  var objeto = $('#objetivos-'+valorComponente+'-'+valorObjetivo);
                  var objeto = $('#objetivos-'+valorComponente+'-'+valorObjetivo+'-'+valorMeta);

                  var rel = objeto.data('rel');
                  console.log(rel);
                  getMeta(rel, "#metaInfo", null);
                }
            }
        });
    };

    var getMeta = function (rel, meta, callback) {
        $.ajax({
            url: rel+query,
            cache: false,
            success: function (data) {
                console.log(data);
                $(meta).html(data);
            },
            complete: function () {
                $('.loading-indicator').hide();
                $(meta).removeClass('empty');
                animationEstados();
                // $("#metaInfo").show("slow", scrollHash("#objetivoInfo"));
                $(window).scrollTop($("#metaInfo").offset().top - 100);
                $("meta[property='og:url']").attr("content", location.toString());
                if(callback!=null){
                  openMeta($(callback));
                }
            }
        });
    };

  var url = document.location.toString();




  if (url.match('#')) {
    var string = url.split('#')[1];
    var type = string.split('-')[0];
    var valorComponente = string.split('-')[1];
    var valorObjetivo = string.split('-')[2];
    var valorMeta = string.split('-')[3];
    $('#objetivos-'+valorComponente+'-'+valorObjetivo).children().addClass('active');
    if (type == "objetivos") {
      var objeto = $('#objetivos-'+valorComponente+'-'+valorObjetivo);
      var rel = objeto.data('rel');
      if (rel != undefined){
        $('#objetivo-info').html('<center><img src="/static/website/{{website.template}}/img/loading.gif" height="100px" class="loading-indicator" /></center>');
      }
      getObjetivo(rel,'#objetivoInfo', null);
    }else if (type == "metas") {
      var objeto = $('#objetivos-'+valorComponente+'-'+valorObjetivo);
      var rel = objeto.data('rel');
      if (rel != undefined){
        $('#objetivo-info').html('<center><img src="/static/website/{{website.template}}/img/loading.gif" height="100px" class="loading-indicator" /></center>');
      }
      getObjetivo(rel,'#objetivoInfo', 'meta');
    }
  }

  $('.linkObjetivo').on('click', function(e) {
    // e.preventDefault();
	  var rel = $(this).data('rel');
  	if (rel != undefined){
	  	$('#objetivoInfo').html('<center><img src="/static/website/{{website.template}}/img/loading.gif" height="100px" class="loading-indicator" /></center>');
  	}
    $(".item.objetivo").removeClass("active");
    $(this).children().addClass("active");
    $("metaInfo").html("");
    $("metaInfo").hide();;
    getObjetivo(rel,'#objetivoInfo', null);
    $('html, body').animate({
        scrollTop: $("#objetivoInfo").offset().top - 230
    }, 1500);
  });


// NUEVOS

$('#descripcionPM').on('show.bs.collapse', function (e) {
  $('#componentesListaPM').collapse('hide');
  // do something…
});
$('#componentesListaPM').on('show.bs.collapse', function () {
  $('#descripcionPM').collapse('hide');
  // do something…
})

});
</script>
{% endblock %}
