<!-- Main -->
<div class="titulo">
  {{objetivo.titulo}}
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="contadorMetas" id="contadorMetas">
      <h3>Metas</h3>
      <p class="numeroMetas count" data-min="0" data-max="{{metas|length}}">0</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="owl-carousel owl-theme metasListas">
      <div class="item">
        <div class="metasLista">
        {% for meta in metas %}
          <a class="linkMeta" href="#metas-{{componente.id}}-{{objetivo.id}}-{{meta.id}}" data-rel="{% url 'website.plandemetas.meta' plan.slug lineamiento.slug componente.id componente.id objetivo.id meta.id %}" id="objetivos-{{componente.id}}-{{objetivo.id}}-{{meta.id}}">
            <div class="meta">
              <p>
                {{ meta.titulo |truncatechars:70}}
              </p>
            </div>
          </a>
          {% if forloop.counter|divisibleby:4 %}
            </div>
          </div>
            {% if not forloop.last %}
            <div class="item">
              <div class="metasLista">
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="infoPaginacionMetas"></div>
  </div>
</div>

<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>

<script>
$( document ).ready(function() {
$('.owl-carousel.metasListas').on('initialized.owl.carousel changed.owl.carousel', function(e) {
    if (!e.namespace) return
    var carousel = e.relatedTarget
    $('.infoPaginacionMetas').text('Página ' + (carousel.relative(carousel.current())+1) + ' de ' + carousel.items().length)
})

$('.owl-carousel.metasListas').owlCarousel({
loop:false,
dots:false,
margin:0,
nav:true,
navText: ['<i class="fa fa-chevron-left" aria-hidden="true"></i>','<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
responsive:{
    0:{
        items:1
    },
    600:{
        items:1
    },
    1000:{
        items:1
    }
  }
})
  var query = document.location.search;
var getMeta = function (rel, meta, callback) {
    $.ajax({
        url: rel+query,
        cache: false,
        success: function (data) {
            $(meta).html(data);
            $("#metaInfo").slideDown();
            $(meta).removeClass('empty');
        },
        complete: function () {
            $('.loading-indicator').hide();
            animationEstados();
            // scrollHash("#metaInfo");
            $('html, body').animate({
                scrollTop: $("#metaInfo").offset().top - 100
            }, 1000);
            $("meta[property='og:url']").attr("content", location.toString());
            if(callback!=null){
              openMeta($(callback));
            }
        }

    });

};

$('.linkMeta').on('click', function(e) {
  var rel = $(this).data('rel');
  if (rel != undefined){
    $('#metaInfo').html('<center><img src="/static/website/{{website.template}}/img/loading.gif" height="100px" class="loading-indicator" /></center>');
  }
  getMeta(rel,'#metaInfo', null);
});

});
</script>
