<!-- Main -->

<div class="metaInfo">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3 class="tituloMeta">{{meta.titulo}}</h3>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="row estados">
        {% if meta.estado_de_avance == 10 %}
          <div class="col-xs-6 col-sm-3">
            <div class="estado activo">
              <div class="estadoCircle">
                <div class="svg-container">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve" aria-labelledby="e10Planta">
                  <title id="e10Planta">Imagen de una planta, indicando que este es el estado actual de la meta</title>

                  <g class="tallo">
                   <path class="st2" d="M18,23.3c0,0-0.2-5.8,3.5-9.8S27,8.2,24,3.4"/>
                  </g>
                  <g class="rightLeaf">
                    <path class="st2" d="M23.7,11.3c0,0,7.5-3.9,9.8,2.6C33.5,13.9,28.8,18.3,23.7,11.3z"/>
                  </g>
                  <g class="leftLeaf">
                    <path class="st2" d="M21.3,13.5c0,0-0.8-6.7-7.2-3.7C15.4,12.2,16.6,14.3,21.3,13.5z"/>
                  </g>
                  <g class="hand">
                   <rect x="6.3" y="23.7" class="st3" width="3.8" height="7.6"/>
                   <path class="st3" d="M12.1,23.7v6.7c0,0,2.4-1.2,4.1-1.1c1.3,0.1,5.9,2.6,9.6,2.1s8.3-4.7,8.2-5.4c-0.1-1.2-1.2-0.7-1.9-0.4
                     c-0.6,0.2-7.5,4.3-11.9,0.6c0,0,6.4,0.2,6.4-0.3c0-0.6-2.2-2.6-8.4-2.7C12.1,23.2,12.1,23.7,12.1,23.7z"/>
                  </g>
                  </svg>

                </div>
              </div>
              <p class="estadoTexto">
                No Iniciado
              </p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="estado noIniciado">
              <div class="estadoCircle">
                <div style="height: 100px; width: 100px;">
                </div>
              </div>
              <p class="estadoTexto">
                En Curso
              </p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="estado noIniciado">
              <div class="estadoCircle">
                <div style="height: 100px; width: 100px;">

                </div>
              </div>
              <p class="estadoTexto">
                Meta Alcanzada
              </p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="estado noIniciado">
              <div class="estadoCircle">
                <div style="height: 100px; width: 100px;">

                </div>
              </div>
              <p class="estadoTexto">
                Meta Superada
              </p>
            </div>
          </div>
        {% else %}
          {% if meta.estado_de_avance == 20 %}
          <div class="col-xs-6 col-sm-3">
            <div class="estado finalizado">
              <div class="estadoCircle">
                <div class="svg-container">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve"
                  aria-labelledby="e20Check">
                    <title id="e20Check">Imagen indicando que este es el estado de la meta ya ha sido cumplido</title>
                     <style type="text/css">
                     	.st5{fill:none;stroke:#6D6D6D;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                     </style>
                     <g class="checkPath">
                       <path class="st5" d="M152.9,213.5 242.7,303.4 451.9,95 	" stroke-dasharray="422.3554382324219" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                     </g>
                     <g class="circlePath">
                       <path class="st5" d="M437.1,225.7c1,8.1,1.5,16.3,1.5,24.6c0,107.6-87.2,194.8-194.8,194.8S49.1,357.9,49.1,250.3
                     		S136.3,55.6,243.9,55.6c41.1,0,79.1,12.7,110.6,34.4" stroke-dasharray="1060.26513671875" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                     </g>
                   </svg>
                </div>
              </div>
              <p class="estadoTexto">
                No Iniciado
              </p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="estado activo">
              <div class="estadoCircle">
                <div class="svg-container">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve" aria-labelledby="e20Planta">
                  <title id="e20Planta">Imagen de una planta, indicando que este es el estado actual de la meta</title>
                  <g class="tallo">
                   <path class="st2" d="M18,23.3c0,0-0.2-5.8,3.5-9.8S27,8.2,24,3.4"/>
                  </g>
                  <g class="rightLeaf">
                    <path class="st2" d="M23.7,11.3c0,0,7.5-3.9,9.8,2.6C33.5,13.9,28.8,18.3,23.7,11.3z"/>
                  </g>
                  <g class="leftLeaf">
                    <path class="st2" d="M21.3,13.5c0,0-0.8-6.7-7.2-3.7C15.4,12.2,16.6,14.3,21.3,13.5z"/>
                  </g>
                  <g class="hand">
                   <rect x="6.3" y="23.7" class="st3" width="3.8" height="7.6"/>
                   <path class="st3" d="M12.1,23.7v6.7c0,0,2.4-1.2,4.1-1.1c1.3,0.1,5.9,2.6,9.6,2.1s8.3-4.7,8.2-5.4c-0.1-1.2-1.2-0.7-1.9-0.4
                     c-0.6,0.2-7.5,4.3-11.9,0.6c0,0,6.4,0.2,6.4-0.3c0-0.6-2.2-2.6-8.4-2.7C12.1,23.2,12.1,23.7,12.1,23.7z"/>
                  </g>
                  </svg>

                </div>
              </div>
              <p class="estadoTexto">
                En Curso
              </p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="estado noIniciado">
              <div class="estadoCircle">
                <div style="height: 100px; width: 100px;">

                </div>
              </div>
              <p class="estadoTexto">
                Meta Alcanzada
              </p>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="estado noIniciado">
              <div class="estadoCircle">
                <div style="height: 100px; width: 100px;">

                </div>
              </div>
              <p class="estadoTexto">
                Meta Superada
              </p>
            </div>
          </div>
          {% else %}
            {% if meta.estado_de_avance == 30 %}
            <div class="col-xs-6 col-sm-3">
              <div class="estado finalizado">
                <div class="estadoCircle">
                  <div class="svg-container">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve"
                    aria-labelledby="e30Check1">
                      <title id="e30Check1">Imagen indicando que este es el estado de la meta ya ha sido cumplido</title>
                       <style type="text/css">
                       	.st5{fill:none;stroke:#6D6D6D;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                       </style>
                       <g class="checkPath">
                         <path class="st5" d="M152.9,213.5 242.7,303.4 451.9,95 	" stroke-dasharray="422.3554382324219" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                       <g class="circlePath">
                         <path class="st5" d="M437.1,225.7c1,8.1,1.5,16.3,1.5,24.6c0,107.6-87.2,194.8-194.8,194.8S49.1,357.9,49.1,250.3
                       		S136.3,55.6,243.9,55.6c41.1,0,79.1,12.7,110.6,34.4" stroke-dasharray="1060.26513671875" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                     </svg>
                  </div>
                </div>
                <p class="estadoTexto">
                  No Iniciado
                </p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="estado finalizado">
                <div class="estadoCircle">
                  <div class="svg-container">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve"
                    aria-labelledby="e30Check2">
                      <title id="e30Check2">Imagen indicando que este es el estado de la meta ya ha sido cumplido</title>
                       <style type="text/css">
                       	.st5{fill:none;stroke:#6D6D6D;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                       </style>
                       <g class="checkPath">
                         <path class="st5" d="M152.9,213.5 242.7,303.4 451.9,95 	" stroke-dasharray="422.3554382324219" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                       <g class="circlePath">
                         <path class="st5" d="M437.1,225.7c1,8.1,1.5,16.3,1.5,24.6c0,107.6-87.2,194.8-194.8,194.8S49.1,357.9,49.1,250.3
                       		S136.3,55.6,243.9,55.6c41.1,0,79.1,12.7,110.6,34.4" stroke-dasharray="1060.26513671875" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                     </svg>
                  </div>
                </div>
                <p class="estadoTexto">
                  En Curso
                </p>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3">
              <div class="estado activo">
                <div class="estadoCircle">
                  <div class="svg-container">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve" aria-labelledby="e30Planta">
                    <title id="e30Planta">Imagen de una planta, indicando que este es el estado actual de la meta</title>
                    <g class="tallo">
                     <path class="st2" d="M18,23.3c0,0-0.2-5.8,3.5-9.8S27,8.2,24,3.4"/>
                    </g>
                    <g class="rightLeaf">
                      <path class="st2" d="M23.7,11.3c0,0,7.5-3.9,9.8,2.6C33.5,13.9,28.8,18.3,23.7,11.3z"/>
                    </g>
                    <g class="leftLeaf">
                      <path class="st2" d="M21.3,13.5c0,0-0.8-6.7-7.2-3.7C15.4,12.2,16.6,14.3,21.3,13.5z"/>
                    </g>
                    <g class="hand">
                     <rect x="6.3" y="23.7" class="st3" width="3.8" height="7.6"/>
                     <path class="st3" d="M12.1,23.7v6.7c0,0,2.4-1.2,4.1-1.1c1.3,0.1,5.9,2.6,9.6,2.1s8.3-4.7,8.2-5.4c-0.1-1.2-1.2-0.7-1.9-0.4
                       c-0.6,0.2-7.5,4.3-11.9,0.6c0,0,6.4,0.2,6.4-0.3c0-0.6-2.2-2.6-8.4-2.7C12.1,23.2,12.1,23.7,12.1,23.7z"/>
                    </g>
                    </svg>

                  </div>
                </div>
                <p class="estadoTexto">
                  Meta Alcanzada
                </p>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3">
              <div class="estado noIniciado">
                <div class="estadoCircle">
                  <div style="height: 100px; width: 100px;">

                  </div>
                </div>
                <p class="estadoTexto">
                  Meta Superada
                </p>
              </div>
            </div>
            {% else %}
            <div class="col-xs-6 col-sm-3">
              <div class="estado finalizado">
                <div class="estadoCircle">
                  <div class="svg-container">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve"
                    aria-labelledby="e40Check1">
                      <title id="e40Check1">Imagen indicando que este es el estado de la meta ya ha sido cumplido</title>
                       <style type="text/css">
                       	.st5{fill:none;stroke:#6D6D6D;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                       </style>
                       <g class="checkPath">
                         <path class="st5" d="M152.9,213.5 242.7,303.4 451.9,95 	" stroke-dasharray="422.3554382324219" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                       <g class="circlePath">
                         <path class="st5" d="M437.1,225.7c1,8.1,1.5,16.3,1.5,24.6c0,107.6-87.2,194.8-194.8,194.8S49.1,357.9,49.1,250.3
                       		S136.3,55.6,243.9,55.6c41.1,0,79.1,12.7,110.6,34.4" stroke-dasharray="1060.26513671875" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                     </svg>
                  </div>
                </div>
                <p class="estadoTexto">
                  No Iniciado
                </p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="estado finalizado">
                <div class="estadoCircle">
                  <div class="svg-container">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve"
                    aria-labelledby="e40Check2">
                      <title id="e40Check2">Imagen indicando que este es el estado de la meta ya ha sido cumplido</title>
                       <style type="text/css">
                       	.st5{fill:none;stroke:#6D6D6D;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                       </style>
                       <g class="checkPath">
                         <path class="st5" d="M152.9,213.5 242.7,303.4 451.9,95 	" stroke-dasharray="422.3554382324219" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                       <g class="circlePath">
                         <path class="st5" d="M437.1,225.7c1,8.1,1.5,16.3,1.5,24.6c0,107.6-87.2,194.8-194.8,194.8S49.1,357.9,49.1,250.3
                       		S136.3,55.6,243.9,55.6c41.1,0,79.1,12.7,110.6,34.4" stroke-dasharray="1060.26513671875" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                     </svg>
                  </div>
                </div>
                <p class="estadoTexto">
                  En Curso
                </p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="estado finalizado">
                <div class="estadoCircle">
                  <div class="svg-container">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve"
                    aria-labelledby="e40Check3">
                      <title id="e40Check">Imagen indicando que este es el estado de la meta ya ha sido cumplido</title>
                       <style type="text/css">
                       	.st5{fill:none;stroke:#6D6D6D;stroke-width:30;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                       </style>
                       <g class="checkPath">
                         <path class="st5" d="M152.9,213.5 242.7,303.4 451.9,95 	" stroke-dasharray="422.3554382324219" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                       <g class="circlePath">
                         <path class="st5" d="M437.1,225.7c1,8.1,1.5,16.3,1.5,24.6c0,107.6-87.2,194.8-194.8,194.8S49.1,357.9,49.1,250.3
                       		S136.3,55.6,243.9,55.6c41.1,0,79.1,12.7,110.6,34.4" stroke-dasharray="1060.26513671875" style="stroke-dashoffset: 0px; stroke: rgb(255, 255, 255);"></path>
                       </g>
                     </svg>
                  </div>
                </div>
                <p class="estadoTexto">
                  Meta Alcanzada
                </p>
              </div>
            </div>


            <div class="col-xs-6 col-sm-3">
              <div class="estado activo">
                <div class="estadoCircle">
                  <div class="svg-container">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve" aria-labelledby="e40Planta">
                    <title id="e40Planta">Imagen de una planta, indicando que este es el estado actual de la meta</title>
                    <g class="tallo">
                     <path class="st2" d="M18,23.3c0,0-0.2-5.8,3.5-9.8S27,8.2,24,3.4"/>
                    </g>
                    <g class="rightLeaf">
                      <path class="st2" d="M23.7,11.3c0,0,7.5-3.9,9.8,2.6C33.5,13.9,28.8,18.3,23.7,11.3z"/>
                    </g>
                    <g class="leftLeaf">
                      <path class="st2" d="M21.3,13.5c0,0-0.8-6.7-7.2-3.7C15.4,12.2,16.6,14.3,21.3,13.5z"/>
                    </g>
                    <g class="hand">
                     <rect x="6.3" y="23.7" class="st3" width="3.8" height="7.6"/>
                     <path class="st3" d="M12.1,23.7v6.7c0,0,2.4-1.2,4.1-1.1c1.3,0.1,5.9,2.6,9.6,2.1s8.3-4.7,8.2-5.4c-0.1-1.2-1.2-0.7-1.9-0.4
                       c-0.6,0.2-7.5,4.3-11.9,0.6c0,0,6.4,0.2,6.4-0.3c0-0.6-2.2-2.6-8.4-2.7C12.1,23.2,12.1,23.7,12.1,23.7z"/>
                    </g>
                    </svg>

                  </div>
                </div>
                <p class="estadoTexto">
                  Meta Superada
                </p>
              </div>
            </div>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="lineaBase">
            {{ meta.linea_base|default_if_none:"" | safe |striptags }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="metaInfoTabla">
    {% if indicadores %}
      {% for indicador in indicadores %}
      <div class="row hidden-md hidden-lg">
        <h3 class="metaTablaTituloIndicador">{{ indicador.indicador}}</h3>
        <div class="col-xs-12 col-sm-3">
          <h3 class="metaTablaTitulo">2016</h3>
          <p class="metaTablaTexto">{{ indicador.avance_2016.valor_indicador|default_if_none:" - " | safe }}</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <h3 class="metaTablaTitulo">2017</h3>
          <p class="metaTablaTexto">{{ indicador.avance_2017.valor_indicador|default_if_none:" - " | safe }}</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <h3 class="metaTablaTitulo">2018</h3>
          <p class="metaTablaTexto">{{ indicador.avance_2018.valor_indicador|default_if_none:" - " | safe }}</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <h3 class="metaTablaTitulo disabled">2019</h3>
          <p class="metaTablaTexto">En curso</p>
        </div>
      </div>
      {% endfor %}

      <div class="row hidden-xs hidden-sm">
        <h3 class="metaTablaTituloIndicador">{{ indicador.indicador}}</h3>
        <div class="col-sm-4">
          <h3 class="metaIndicadores">Indicadores</h3>
        </div>
        <div class="col-sm-8">
          <div class="col-sm-3">
            <h3 class="metaTablaTitulo">2016</h3>
          </div>
          <div class="col-sm-3">
            <h3 class="metaTablaTitulo">2017</h3>
          </div>
          <div class="col-sm-3">
            <h3 class="metaTablaTitulo">2018</h3>
          </div>
          <div class="col-sm-3">
            <h3 class="metaTablaTitulo disabled">2019</h3>
          </div>
        </div>

      </div>
      {% for indicador in indicadores %}
      <div class="row indicadorRow">
        <div class="col-sm-4">
          <h3 class="textoIndicador">{{ indicador.indicador}}</h3>
        </div>
        <div class="col-sm-8">
          <div class="col-sm-3">
            <p class="metaTablaTexto">{{ indicador.avance_2016.valor_indicador|default_if_none:" - " | safe }}</p>
          </div>
          <div class="col-sm-3">
            <p class="metaTablaTexto">{{ indicador.avance_2017.valor_indicador|default_if_none:" - " | safe }}</p>
          </div>
          <div class="col-sm-3">
            <p class="metaTablaTexto">{{ indicador.avance_2018.valor_indicador|default_if_none:" - " | safe }}</p>
          </div>
          <div class="col-sm-3">
            <p class="metaTablaTexto">En curso</p>
          </div>
        </div>
      </div>

      {% endfor %}
    {% else %}
    <h3 class="metaTablaTituloIndicador">No se han definido indicadores para esta meta</h3>

    {% endif %}
    <div class="row">
      <div class="col-xs-12">
        <div class="observaciones">
          <strong>Observaciones</strong>: {% if meta.observaciones_generales %}
                          {{ meta.observaciones_generales| default:"Sin definir aún" | safe  }}
                          {% endif %}
        </div>
      </div>
      <div class="col-xs-12">
        <a href="#" class="closeMeta">
            <i class="fa fa-chevron-up" aria-hidden="true" title="Cerrar Meta"></i><span class="sr-only">Cerrar meta</span>
        </a>
      </div>
    </div>
  </div>

  <script>
  $('.closeMeta').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({
        scrollTop: $("#objetivoInfo").offset().top - 230
    }, 1000);
    $("#metaInfo").slideUp();
    // $("#metaInfo").html("");
    var url = document.location.toString();
    var string = url.split('#')[1];
    var type = string.split('-')[0];
    var valorComponente = string.split('-')[1];
    var valorObjetivo = string.split('-')[2];
    history.pushState({}, '', url.split('#')[0]+"#objetivo-"+valorComponente+"-"+valorObjetivo);
    $("meta[property='og:url']").attr("content", location.toString());
  });
  $('.estado.activo .estadoCircle').on('click',function(e){
    e.preventDefault();
    manoAnimation();
  });

  </script>
