{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }}{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/css/jquery.timelineMe.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animate.css">

<link rel="stylesheet" href="/static/website/{{website.template}}/css/cslider.css">

<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">

  <section id="secciones-importantes">
    <div class="row border-bottom-blue">
      <div class="col-md-12  habs cardsImportantes">
        <div class="row">
          <div class="col-md-6 no-padding">
            <div class="cardsImpContainer">
              <div class="card-sImportante gray">
                <div class="title">
                  Obras de terceros
                </div>
                <div class="icono">
                  <div class="card-icono">
					  <img src="/static/obras/images/terceros/icon.png" alt="Obras de terceros" />
                  </div>
                </div>
                <div class="more">
                  <a href="/obras-de-terceros" target="_blank" rel="noopener" class="btn btnMore">Ver Más</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 no-padding">
            <div class="cardsImpContainer">
              <div class="card-sImportante gray">
                <div class="title">Nuestros Árboles</div>
                <div class="icono">
                  <div class="card-icono">
                    <img src="/static/arbolado/img/treeFilled.png" alt="Nuestros Árboles" />
                  </div>
                </div>
                <div class="more">
                  <a href="/arbolado" target="_blank" rel="noopener" class="btn btnMore">Ver Más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 no-padding">
            <div class="cardsImpContainer">
              <div class="card-sImportante gray">
                <div class="title">
                  Nuestras Obras
                </div>
                <div class="icono">
                  <div class="card-icono">
                    <img src="/static/obras/images/logo.png" alt="Nuestras Obras" />
                  </div>
                </div>
                <div class="more">
                  <a href="/avance-de-obras" target="_blank" rel="noopener" class="btn btnMore">Ver Más</a>
                </div>
              </div>
            </div>
		      </div>
          <div class="col-sm-6 col-md-6 no-padding">
            <div class="cardsImpContainer">
              <div class="card-sImportante gray">
                <div class="title">
                  Locales Habilitados
                </div>
                <div class="icono">
                  <div class="card-icono">
                    <img src="/static/website/{{website.template}}/img/home/shop.png" alt="Locales Habilitados" />
                  </div>
                </div>
                <div class="more">
                  <a target="_blank" href="/locales-habilitados" class="btn btnMore">Ver Más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
  {% endblock %}

{% block scripts %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/static/website/{{website.template}}/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script>
$(function() {
		$('.card-sImportante').matchHeight();
});
</script>
{% endblock %}
