{% extends extends_from %}

{% block title %}{{ cargo.nombre }}{% endblock %}


{% block custom_css %}
<link rel="stylesheet" href="/static/website/{{website.template}}/css/animations.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/cslider.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/css/circle.css">
<link rel="stylesheet" href="/static/website/{{website.template}}/js/owlcarousel/assets/owl.carousel.min.css">
{% endblock %}

{% block cardSociales %}
<meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
<meta name="author" content="Municipalidad de Córdoba">

<meta name="twitter:site" content="@GobAbiertoCBA">
<meta name="twitter:title" content="{{ cargo.oficina }}">
<meta name="twitter:description" content="{% if cargo.depende_de %} - {{ cargo.depende_de.oficina }}{% endif %} - Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta name="twitter:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-arbol.png">

<meta property="og:title" content="{{ cargo.oficina }}">
<meta property="og:description" content="{% if cargo.depende_de %} - {{ cargo.depende_de.oficina }}{% endif %} - Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-arbol.png">
<meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/"> <!-- ver que poner como link aca -->
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="#PortalDeLaCiudad">
<meta name="twitter:image:alt" content="#PortalDeLaCiudad">
{% endblock %}

{% block content %}
<div class="container-fluid inFContainer">
  <section id="organigrama" class="organigrama">
    <div class="row">
      <div class="col-xs-12 hidden-md hidden-lg">
        <div class="organigrama" id="canvas">
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              <a class="org-link-funcionario" href="{% if cargo.en_funcion_activa %} {% url 'website.funcionarios.oficina' cargo.slug cargo.id %} {% else %} # {% endif %}">
                <div class="org-funcionario intendente">
                <div class="func-foto-cont" id="intendente-foto-cont">
                  <div class="func-foto" id="intendente-foto" style="background-image: url('{{ cargo.en_funcion_activa.funcionario.foto.thumbnail.700x700 }}');"></div>
                </div>
                <h3 class="org-func-cargo">{{ cargo.nombre }}</h3>
                <p class="org-func-nombre" id="intendente-nombre">{{ cargo.en_funcion_activa.funcionario.nombrepublico }}</p>
                </div>
              </a>
            </div>


          </div>
          <div class="row org-lista-funcionarios">
            {% if dependencias|length == 1 %}
              {% for dependencia in dependencias %}
                <div class="row org-lista-funcionarios">
                  <div class="col-xs-6" ><div style="height: 1px; width: 1px; margin: 0 auto; background-color: #46BA54;" id="izq-top-corner"></div></div>
                  <div class="col-xs-6 " ><div style="height: 1px; width: 1px; margin: 0 auto; background-color: #46BA54;" id="der-top-corner"></div></div>

                  <div class="col-xs-12 dependencias">
                    <a class="org-link-funcionario" href="{% url 'website.funcionarios.oficina_arbol' dependencia.slug dependencia.id %}"><div class="org-funcionario funcionario">
                      <div class="func-foto-cont" id="izq-top-1">
                        {% if dependencia.en_funcion_activa.funcionario.foto %}
                            <div class="func-foto" style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}');"></div>
                        {% else %}
                        <div class="func-foto" style="background-image: url('{{preferencias.default_persona_imagen}}');"></div>
                        {% endif %}
                      </div>
                      <h3 class="org-func-cargo">{% if dependencia.en_funcion_activa %}
                        {{ dependencia.en_funcion_activa.cargo_gen }}
                      {% else %}
                          {{dependencia.oficina }}
                      {% endif %}</h3>
                      <p class="org-func-nombre" id="izq-btm-1">{% if dependencia.en_funcion_activa %}
                        {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}
                      {% else %}
                        Sin funcionario designado
                      {% endif %}</p>
                    </div></a>
                  </div>
                </div>
              {% endfor %}
            {% else %}
            <div class="col-xs-6" ><div style="height: 1px; width: 1px; margin: 0 auto; background-color: #46BA54;" id="izq-top-corner"></div></div>
            <div class="col-xs-6" ><div style="height: 1px; width: 1px; margin: 0 auto; background-color: #46BA54;" id="der-top-corner"></div></div>
              {% for dependencia in dependencias %}
                  {% if forloop.counter|divisibleby:2 %}
                  <div class="col-xs-6 dependencias odd-column">
                    <a class="org-link-funcionario cp-right" href="">
                    <div class="org-funcionario funcionario">
                      <div class="func-foto-cont" id="der-top-{{forloop.counter}}">
                        {% if dependencia.slug == "unidad-central-de-gestion" %}
                        <div class="func-foto" style="background-image: url('/static/website/{{website.template}}/images/ucg.jpg');"></div>
                        {% else %}
                        {% if dependencia.en_funcion_activa.funcionario.foto %}
                            <div class="func-foto" style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}');"></div>
                        {% else %}
                        <div class="func-foto" style="background-image: url('{{preferencias.default_persona_imagen}}');"></div>
                        {% endif %}
                        {% endif %}
                      </div>
                      <h3 class="org-func-cargo">
                        {% if dependencia.en_funcion_activa %}
                          {{ dependencia.en_funcion_activa.cargo_gen }}
                        {% else %}
                            {{dependencia.oficina }}
                        {% endif %}
                      </h3>
                      <p class="org-func-nombre" id="der-btm-{{forloop.counter}}">
                        {% if dependencia.en_funcion_activa %}
                          {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}
                        {% else %}
                          Sin funcionario designado
                        {% endif %}
                      </p>
                    </div></a>
                  </div>

                {% else %}
                <div class="col-xs-6 dependencias">
                  <a class="org-link-funcionario" href="">
                  <div class="org-funcionario funcionario">
                    <div class="func-foto-cont" id="izq-top-{{forloop.counter}}">
                      {% if dependencia.slug == "unidad-central-de-gestion" %}
                      <div class="func-foto" style="background-image: url('/static/website/{{website.template}}/images/ucg.jpg');"></div>
                      {% else %}
                      {% if dependencia.en_funcion_activa.funcionario.foto %}
                          <div class="func-foto" style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}');"></div>
                      {% else %}
                      <div class="func-foto" style="background-image: url('{{preferencias.default_persona_imagen}}');"></div>
                      {% endif %}
                      {% endif %}
                    </div>
                    <h3 class="org-func-cargo">
                      {% if dependencia.en_funcion_activa %}
                        {{ dependencia.en_funcion_activa.cargo_gen }}
                      {% else %}
                          {{dependencia.oficina }}
                      {% endif %}
                    </h3>
                    <p class="org-func-nombre" id="izq-btm-{{forloop.counter}}">
                      {% if dependencia.en_funcion_activa %}
                        {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}
                      {% else %}
                        Sin funcionario designado
                      {% endif %}
                    </p>
                  </div></a>
                </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-4 no-padding">
        <a href="{% url 'website.funcionarios.oficina' cargo.slug cargo.id %}">
          <div class="rootOrganigrama">
            <div class="fotoRootCont">
              <img class="fotoRoot" src="{{ cargo.en_funcion_activa.funcionario.foto.thumbnail.700x700 }}" />
            </div>
            <div class="infoRoot">
              <h3 class="cargoRoot">{{ cargo.nombre }}</h3>
              <h3 class="nombreRoot">{{ cargo.en_funcion_activa.funcionario.nombrepublico }}</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="hidden-xs hidden-sm col-md-8 no-padding" id="organigramaParticles">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class='circle-container'>
              {% for dependencia in dependencias %}
                {% if forloop.counter|divisibleby:6 %}
                  </div>
                </div>
                <div class="item">
                  <div class='circle-container'>
                {% endif %}
                    <a href="{% if dependencia.en_funcion_activa %}{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}{% else %}#{% endif %}" class='{% if dependencias|length == 1%}deg3{% else %}deg{% cycle '1' '2' '3' '4' '5' %}{% endif %}'>
                    <div class="col-xs-12">
                      <div class="row orgFichaFuncionario">
                        <div class="col-xs-3 no-padding">
                          {% if dependencia.slug == "unidad-central-de-gestion" %}
                          <div class="orgFotoFuncionario" style="background-image: url('/static/website/{{website.template}}/images/ucg.jpg');"></div>
                          {% else %}
                          {% if dependencia.en_funcion_activa.funcionario.foto %}
                              <div class="orgFotoFuncionario" style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}');"></div>
                          {% else %}
                          <div class="orgFotoFuncionario" style="background-image: url('{{preferencias.default_persona_imagen}}');"></div>
                          {% endif %}
                          {% endif %}
                        </div>
                        <div class="col-xs-9">
                          <div class="orgTextoFuncionario">
                            <div class="orgCargoFuncionario">
                              {% if dependencia.en_funcion_activa %}
                                {{ dependencia.en_funcion_activa.cargo_gen }}
                              {% else %}
                                  {{ dependencia.oficina }}
                              {% endif %}
                            </div>
                            <div class="orgNombreFuncionario">
                              {% if dependencia.en_funcion_activa %}
                                  {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}
                              {% else %}
                                Sin funcionario designado
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
							{% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/stickyfill.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/particles.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>

<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/jquery.connections.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/bootstrap-toolkit.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/organigrama-connections.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/organigrama/animation.js"></script>


<script>
$(function() {
		$('.dependencias').matchHeight();
});
$(document).ready(function(){
	// var mtv = ( ($('#vice-foto').offset().top + $('#vice-foto').height()/2)-($('#intendente-foto').offset().top + $('#intendente-foto').height()/2))*2;
	var mtv = ( $('#intendente-foto-cont').height()/2 - $('#vice-foto-cont').height()/2);
	$('#vice-foto').css('margin-top', mtv);

	$(window).on('resize', function(){
		var c = $('connection');
		setInterval(function() {
			c.connections('update');
		}, 500);
		var mtv = ( $('#intendente-foto-cont').height()/2 - $('#vice-foto-cont').height()/2);
		$('#vice-foto').css('margin-top', mtv);
	});

	$('.owl-carousel').owlCarousel({
	loop:false,
	dots:false,
	center: true,
	margin:0,
	stagePadding: 150,
	nav:true,
	navText: ['<span class="fa fa-chevron-left" aria-hidden="true"></span>','<span class="fa fa-chevron-right" aria-hidden="true"></span>'],
	responsive:{
			0:{
					items:1
			},
			600:{
					items:1
			},
			1000:{
					items:1
			}
		}
	})

	particlesJS('organigramaParticles',
	{
		"particles": {
			"number": {
				"value": 85,
				"density": {
					"enable": true,
					"value_area": 500
				}
			},
			"color": {
				"value": "#00a665"
			},
			"shape": {
				"type": "circle",
				"stroke": {
					"width": 0,
					"color": "#00a665"
				},
				"polygon": {
					"nb_sides": 5
				}
			},
			"opacity": {
				"value": 0.3,
				"random": false,
				"anim": {
					"enable": false,
					"speed": 1,
					"opacity_min": 0.1,
					"sync": false
				}
			},
			"size": {
				"value": 3,
				"random": true,
				"anim": {
					"enable": false,
					"speed": 40,
					"size_min": 0.1,
					"sync": false
				}
			},
			"line_linked": {
				"enable": true,
				"distance": 150,
				"color": "#00a665",
				"opacity": 0.4,
				"width": 1
			},
			"move": {
				"enable": true,
				"speed": 2,
				"direction": "none",
				"random": false,
				"straight": false,
				"out_mode": "out",
				"bounce": false,
				"attract": {
					"enable": false,
					"rotateX": 600,
					"rotateY": 1200
				}
			}
		},
		"retina_detect": true
	});
});
</script>
{% endblock %}
