{% extends extends_from %}
{% load humanize %}
{% load l10n %}

{% block title %}
    {{ cargo.oficina }}
    {% if cargo.depende_de %} -
        {{ cargo.depende_de.oficina }}
    {% endif %}
{% endblock %}

{% block cardSociales %}
<meta http-equiv="refresh" content="5;URL=https://www.cordoba.gob.ar/areas-de-gobierno/#areas_gobierno">

<meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
<meta name="author" content="Municipalidad de Córdoba">

<meta name="twitter:site" content="@GobAbiertoCBA">
<meta name="twitter:title" content="{{ cargo.oficina }} - Portal de la Ciudad de Córdoba">
<meta name="twitter:description" content="{{ cargo.oficina }}{% if cargo.depende_de %} - {{ cargo.depende_de.oficina }}{% endif %} - Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta name="twitter:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-arbol.png">

<meta property="og:title" content="{{ cargo.oficina }}{% if cargo.depende_de %} - {{ cargo.depende_de.oficina }} {% endif %} - Portal de la Ciudad de Córdoba">
<meta property="og:description" content="{{ cargo.oficina }}{% if cargo.depende_de %} - {{ cargo.depende_de.oficina }}{% endif %} - Portal de Gobierno Abierto de la Ciudad de Córdoba">
<meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/screen-arbol.png">
<meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/"> <!-- ver que poner como link aca -->
<meta name="twitter:card" content="summary_large_image">

<meta property="og:site_name" content="#PortalDeLaCiudad">
<meta name="twitter:image:alt" content="#PortalDeLaCiudad">
{% endblock %}

{% block content %}
<div class="container-fluid inFContainer ficha border-bottom-section">
  <section id="ficha-funcionario" class="fichaFuncionario ">
    <div class="row ">
      <div class="col-xs-12 fotoContainer">
        <div class="row">
          <div class="col-xs-12 infoFuncionario">
            <div class="row">
              <div class="col-xs-12 col-md-7 datosFuncionario">
                <div class="nombreFuncionarioContainer">
                  <h2 class="nombreFuncionario">{{ funcion.funcionario.nombrepublico }}</h2>
                  <div class="nameDivider"></div>
                </div>

                <h3 class="tituloFuncionario">{{ cargo.nombre }}</h3>
              </div>
              <div class="col-xs-12 col-md-5">
                <p class="tituloSueldo">Sueldo neto de {{ sueldos_reales.0.mes|date:"F"}} {% if sueldos_reales.0.mes|date:"n" == '6' or  sueldos_reales.0.mes|date:"n" == '12' %}<span class="aguinaldo">(incluye aguinaldo)</span>{% endif %}<br /></p>
                <p class="sueldo">{{sueldo_categoria.sueldo_bruto_moneda.simbolo}}{{ sueldos_reales.0.sueldo_neto|intcomma}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {% if funcion.funcionario.foto %}
          <div class="col-xs-12 col-md-6 imgFuncionario sticky">
            <img src="{{ funcion.funcionario.foto.thumbnail.1000x1000 }}" alt="Foto de {{ cargo.nombre }}, {{ funcion.funcionario.nombrepublico }}"/>
            <a download="{{funcion.funcionario.nombrepublico.split|join:"_"}}.jpg" href="/media/{{ funcion.funcionario.foto }}" class="downloadFoto">
              <span class="visuallyhidden">Descargar foto</span>
              <span class="la-stack la-2x" title="Icono de descarga">
                <span class="la la-circle-thin la-stack-2x la-inverse"></span>
                <span class="la la-download la-stack-1x la-inverse"></span>
              </span>
            </a>

          {% else %}
          <div class="col-xs-12 col-md-6 imgFuncionario sticky">
            <img src="{{preferencias.default_persona_imagen}}"alt="Foto por defecto para {{ cargo.nombre }}, {{ funcion.funcionario.nombrepublico }}" />
          {% endif %}
          </div>
          <div class="col-xs-12 col-md-6 descFuncionario">
            <h3 class="tituloOficina">{{ cargo.oficina }}</h3>
            <div class="descripciones">
              <h4 class="tituloDescripcion">¿Quién Soy?</h4>
              <div class="descripcion">
              {{ funcion.funcionario.html|default:"No cargado aún"|safe }}
              </div>
              <div class="nameDivider"></div>
              <h4 class="tituloDescripcion">¿Qué hacemos en esta oficina?</h4>
              <div class="descripcion">
                <p>
                  {{ funcion.cargo.html|default:"No cargado aún"|safe }}
                </p>
              </div>
            </div>
            <div class="nameDivider"></div>
            <div class="footerDesc">
              <div class="smFuncionario">
                  {% if cargo.categoria.permite_audiencia %}
                      <a href="{% url 'audienciafuncionarios.solicitud' funcion.funcionario.slug funcion.funcionario.id %}" class="btnAudiencias">Pedir Audiencia</a>
                  {% endif %}
                  {% if comunicaciones_persona %}

                    {% for com in comunicaciones_persona %}
                      {% if not com.privado%}
                        <a href="{{com.absolute_url}}">
                        {% if com.tipo.nombre|lower == 'blog'%}
                          <span class="fa-stack fa-lg" title="Link al blog del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-rss fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'email'%}
                          <span class="fa-stack fa-lg" title="Link al email del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-envelope-o fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower  == 'skype'%}
                          <span class="fa-stack fa-lg" title="Link a Skype del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-skype fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'twitter'%}
                          <span class="fa-stack fa-lg" title="Link al Twitter del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-twitter fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'facebook personal'%}
                          <span class="fa-stack fa-lg" title="Link al Facebook del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-facebook fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'facebook fanpage'%}
                          <span class="fa-stack fa-lg" title="Link al Facebook del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-facebook fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'web'%}
                          <span class="fa-stack fa-lg" title="Link a la web del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-globe fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'teléfono' or com.tipo.nombre|lower  == 'celular' %}
                          <span class="fa-stack fa-lg" title="Link a telefono del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-phone fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'linkedin' %}
                          <span class="fa-stack fa-lg" title="Link a LinkedIn del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-linkedin fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        </a>
                      {% endif %}
                    {% endfor %}
                  {% endif%}
                  {% if comunicaciones_cargo %}

                    {% for com in comunicaciones_cargo %}
                      {% if comunicaciones_cargo %}
                        <a href="{{com.absolute_url}}">
                        {% if com.tipo.nombre|lower == 'blog'%}
                          <span class="fa-stack fa-lg" title="Link al blog del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-rss fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'email'%}
                          <span class="fa-stack fa-lg" title="Link al email del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-envelope-o fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower  == 'skype'%}
                          <span class="fa-stack fa-lg" title="Link a Skype del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-skype fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'twitter'%}
                          <span class="fa-stack fa-lg" title="Link al Twitter del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-twitter fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'facebook personal'%}
                          <span class="fa-stack fa-lg" title="Link al Facebook del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-facebook fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'facebook fanpage'%}
                          <span class="fa-stack fa-lg" title="Link al Facebook del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-facebook fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'web'%}
                          <span class="fa-stack fa-lg" title="Link a la web del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-globe fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'teléfono' or com.tipo.nombre|lower  == 'celular' %}
                          <span class="fa-stack fa-lg" title="Link a telefono del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-phone fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        {% if com.tipo.nombre|lower == 'linkedin' %}
                          <span class="fa-stack fa-lg" title="Link a LinkedIn del Funcionario: {{com.valor}}">
                            <span class="fa fa-circle fa-stack-2x"></span>
                            <span class="fa  fa-linkedin fa-stack-1x fa-inverse"></span>
                          </span>
                        {% endif%}
                        </a>
                      {% endif%}
                    {% endfor %}
                  {% endif%}
              </div>

              <div class="qrFuncionario">
                <a href="#"><img src="{{ qr_image }}" height="100" alt="código QR"/></a>
              </div>
              <div class="dirFuncionario">
                {% for direccion in cargo.direccioncargo_set.all %}
                {% if direccion.latitud %}
                <a target="blank"
                href='http://maps.google.com/maps?q=loc:{{ direccion.latitud|unlocalize }},{{ direccion.longitud|unlocalize }}'>
                {% else %}
                <a href="#">
                {% endif %}
                <span class="fa fa-map-marker"></span> {{ direccion.calle|default_if_none:"" }} {{ direccion.numero|default_if_none:"" }} {{ direccion.piso|default_if_none:"" }}</a>
                {% endfor %}
                <!-- <a href="#"><span class="fa fa-map-marker"></span> Avenida Marcelo T. de Alvear 120 planta baja</a> -->
              </div>
            </div>
            <div style="height:100px;">
            </div>
            <div class="documentosContainer btns">
              <div class="bb1p">
                <div class="col-xs-12 no-padding">
                  <div class="documentosFuncionario">
                    <div role="tablist">
                      <a href="#ddjj" aria-controls="ddjj" role="tab" class="tabLink">
                        <div class="col-xs-6 no-padding btnDocumento">
                        Declaraciones Juradas
                        </div>
                      </a>
                      <a href="#designacion" aria-controls="designacion" role="tab" class="tabLink">
                        <div class="col-xs-6 no-padding btnDocumento">
                        Designación
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row documentosContainer bg">

          <div class="tab-content">

            <div class="col-xs-12 ddjj tab-pane" role="tabpanel" id="ddjj">
            {%with ddjj=ddjj.0 template_name=base_template|add:"/funcionario_declaracion.html" %}
                 {%include template_name%}
            {%endwith%}
            <div class="row">
              <div class="col-xs-12 ddjjAnteriores">
                <p class="titleDdjjAnt"> > Declaraciones de años anteriores</p>
                <div class="ddjjAnterior" role="tablist">
                {% for dj in ddjj %}
                  {% if dj.anio != ddjj.0.anio %}
                    <div role="presentation"><a href="#ddjj-{{dj.anio}}" aria-controls="ddjj-{{dj.anio}}" role="tab" class="year">{{dj.anio}} <i class="fa fa-angle-down"></i></a></div>
                  {% endif %}
                {% endfor %}
                </div>
                <div class="tab-content">
                  {% for dj in ddjj %}
                    {% if dj.anio != ddjj.0.anio %}
                      <div role="tabpanel" class="tab-pane" id="ddjj-{{dj.anio}}">
                        {%with ddjj=dj template_name=base_template|add:"/funcionario_declaracion.html" %}
                             {%include template_name%}
                        {%endwith%}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
            <div class="col-xs-12 tab-pane designacion" id="designacion" role="tabpanel">
              <div class="row">
                <div class=" col-xs-12 col-sm-6 col-lg-2 titDes">
                  <h3 class="tituloDes">Designación</h3>
                </div>
                <div class=" col-xs-12 col-sm-6 titDes">
                  <p class="infoDes">
                    Fecha de Inicio<br />
                    {{ funcion.fecha_inicio|date:"j F Y"}}
                  </p>
                </div>
              </div>
              {% if cargo.requiere_decreto_designacion %}
                  {% if funcion.decreto_pdf %}
                  <div class="row descargasCont">
                    <div class="col-xs-12">
                      <a href="/media/{{ funcion.decreto_pdf }}" class="descargarArchivos">Descargar archivo
                        <span class="la-stack la-lg" title="descarga de decreto de designacion">
                          <span class="la la-circle-thin la-stack-2x la-inverse"></span>
                          <span class="la la-download la-stack-1x la-inverse"></span>
                        </span>
                      </a>
                    </div>

                  </div>
                  {% else %}
                  <p class="sinDeuda">Decreto de designación no cargado</p>
                  {% endif %}
              {% else %}
              <p class="sinDDJJ">Este cargo no requiere decreto de designación</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if dependencias|length > 0 %}
    <div class="row dependencias">
      <div class="col-xs-12">
        <h2 class="dependenciasTitle">Dependencias</h2>
        <div class="dependenciasTitleArrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
      </div>
        {% for dependencia in dependencias %}

        <div class="col-xs-12 col-sm-6 fichaDependenciaContainer">
          {% if forloop.counter|divisibleby:2 %}
          <div class="fichaDependencia right">
          {% else %}
          <div class="fichaDependencia ">
          {% endif %}

            <div class="recuadroDependencia"></div>
            <div class="grillaDependencia"></div>
            <a href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}">
              {% if dependencia.en_funcion_activa.funcionario.foto %}
              <div class="fotoFuncionarioDependecia">
                <img src="{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.600x600}}" alt="Foto de {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}" />
              </div>
              {% else %}
              <div class="fotoFuncionarioDependecia">
                <img src="{{preferencias.default_persona_imagen}}" alt="Foto de {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}" />
              </div>
              {% endif %}
              <div class="fotoFuncionarioDependeciaOverlay"></div>
            </a>
            <div class="infoDependenciaContainer">
              <a href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}">
                <div class="infoDependencia">
                  <h3 class="nombreFuncionarioDependencia">{{ dependencia.en_funcion_activa.funcionario.nombrepublico }} </h3>
                  <p class="oficinaFuncionarioDependencia">{{ dependencia.oficina }}</p>
                </div>
              </a>
            </div>
          </div>
          {% if not forloop.counter|divisibleby:2 %}
          <div class="dividerDependenciasContainer fichaDependenciaContainer hidden-xs">
            <div class="dividerDependencias"></div>
          </div>
          {% endif %}
        </div>
        {% endfor %}

        </div>
    {% else %}
    <div class="row dependencias">
      <div class="col-xs-12">
      </div>
    </div>
    {% endif %}

  </section>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/stickyfill.min.js"></script>

<script>
$(function() {
    $('.fichaDependenciaContainer').matchHeight();
    $('.titDDJJ').matchHeight();
    $('.titDes').matchHeight();
    $('.btnDocumento').matchHeight();
    $('.colFunc').matchHeight();
});
$(document).ready(function(){
  var elements = $('.sticky');
  Stickyfill.add(elements);

  if($('.imgFuncionario').outerHeight() > $('.descFuncionario').outerHeight()){
    $('.descFuncionario').outerHeight($('.imgFuncionario').outerHeight());
  }
  $('.tabLink').click(function (e) {
    e.preventDefault();
    if($(this).hasClass("active")){
      $(this).removeClass("active");
      $($(this).attr('href')).removeClass("active").addClass("fade");
    }else{
      $('.tabLink').removeClass("active");
     $(this).addClass("active");
     $(this).tab('show');
    }
  });
  $('.year').click(function (e) {
    e.preventDefault();
    if($(this).hasClass("active")){
      var href = $(this).attr('href');
      $(href).removeClass("active");
      $(this).removeClass("active");
      $('.ddjjAnterior').find('.fa-angle-up').addClass('fa-angle-down').removeClass('fa-angle-up');

    }else{
      $('.year').removeClass("active");
      $(this).addClass("active");
      $(this).tab('show');
      $('.ddjjAnterior').find('.fa-angle-up').addClass('fa-angle-down').removeClass('fa-angle-up');
      $(this).children('.fa-angle-down').addClass('fa-angle-up').removeClass('fa-angle-down');
    }
  });
});
$(window).on('resize', function(){
  if($('.imgFuncionario').outerHeight() > $('.descFuncionario').outerHeight()){
    $('.descFuncionario').outerHeight($('.imgFuncionario').outerHeight());
  }
});
</script>
{% endblock %}
