{% extends extends_from %}
{% load humanize %}

{% block title %}  Búsqueda - {{ query }} {% endblock %}

{% block content %}

<div class="container-fluid inFContainer searchPage border-bottom-blue">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<section id="main" >
				<h1 class="searchTitle">¡Hola vecino!</h1>
				<form method="get" action=".">
					<div class="input-group">
						<span class="input-group-btn">
								<button class="btn" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
						<input type="text" name="q" value="{{ query }}" class="form-control searchResultsInput" placeholder="Buscar...">
					</div>
				</form>
				<div class="resultados">
					<div class="headerSearch">
						<span class="explorar">Explorar</span>
						<div class="divider"></div>
						<span class="resCounter">{{page_obj.object_list|length}} resultados</span>
					</div>
					<div class="searchResults">
						{% if query %}
							{% for result in page_obj.object_list %}

								{% if result.model_name == "persona" %}
									<a href="{{ result.object.get_absolute_url|safe }}">
										<div class="row resultado">
											<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 resultIconCont resultRow">
												<div class="resultIcon" style="background-image: url('{{ result.object.foto.thumbnail.300x300 }}')">
												</div>
											</div>
											<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 resultRow">
												<h2 class="tituloResultado">{{ result.object.nombre }} {{ result.object.apellido }}</h2>
											</div>
										</div>
									</a>
								{% elif result.model_name == "cargo" %}
									{% if result.object.en_funcion_activa %}
										<a href="{{ result.object.get_absolute_url|safe }}">
											<div class="row resultado">
												<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 resultIconCont resultRow">
													<div class="resultIcon" style="background-image: url('{{ result.object.en_funcion_activa.funcionario.foto.thumbnail.300x300 }}')">
													</div>
												</div>
												<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 resultRow">
													<h2 class="tituloResultado">{{ result.object.en_funcion_activa.cargo_gen|title }}</h2>
													<p class="textoResultado">
														{{ result.object.en_funcion_activa.funcionario.nombrepublico }}
													</p>
												</div>
											</div>
										</a>
									{% endif %}
								{% elif result.model_name == "plandemetas" or result.model_name == "componente" or result.model_name == "lineamiento" or result.model_name == "meta" or result.model_name == "objetivo" %}
									<a href="{{ result.object.get_absolute_url|safe }}">
										<div class="row resultado">
											<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 resultIconCont resultRow">
												<div class="resultIcon">
													<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
														 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
													<g>
														<path class="st0" d="M24,55c-1.4,0-2.8,0.6-3.8,1.6c-1,1-1.6,2.4-1.6,3.8c0,1.4,0.6,2.8,1.6,3.8c1,1,2.4,1.6,3.8,1.6
															c1.4,0,2.8-0.6,3.8-1.6c1-1,1.6-2.4,1.6-3.8c0-1.4-0.6-2.8-1.6-3.8C26.7,55.6,25.4,55,24,55z"/>
														<path class="st0" d="M24,80.9c-1.4,0-2.8,0.6-3.8,1.5c-1,1-1.6,2.4-1.6,3.8c0,1.4,0.6,2.8,1.6,3.8c1,1,2.4,1.6,3.8,1.6
															c1.4,0,2.8-0.6,3.8-1.6c1-1,1.6-2.4,1.6-3.8c0-1.4-0.6-2.8-1.6-3.8C26.7,81.4,25.4,80.9,24,80.9z"/>
														<polygon class="st0" points="25.6,41.2 13.5,24.8 16.2,22.8 25.9,35.7 51,8.5 53.6,10.9 	"/>
														<rect x="42.2" y="35.4" class="st0" width="44.3" height="3.5"/>
														<rect x="33.3" y="58.8" class="st0" width="53.2" height="3.5"/>
														<rect x="36" y="84.4" class="st0" width="50.6" height="3.5"/>
													</g>
													</svg>
												</div>
											</div>
											<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 resultRow">
												<h2 class="tituloResultado">{{ result.object|title }}</h2>
												{% if result.object.descripcion %}
												<p class="textoResultado">
													{{ result.object.descripcion }}
												</p>
												{% endif %}
											</div>
										</div>
									</a>
 			 	        {% elif result.model_name == "categoriaportaldatos" or esult.model_name == "tagdatos" or result.model_name == "versiondato" or result.model_name == "datoportal" or result.model_name == "recurso" or result.model_name == "archivo" or result.model_name == "archivoimagen" or result.model_name == "archivopdf" or result.model_name == "archivocsv" or result.model_name == "archivoxls" or result.model_name == "archivokml" or result.model_name == "archivokmz" or result.model_name == "archivodoc" or result.model_name == "webservice" or result.model_name == "basededatos" or result.model_name == "referencialink" %}
									<a href="{{ result.object.get_absolute_url|safe }}">
										<div class="row resultado">
											<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 resultIconCont resultRow">
												<div class="resultIcon">
													<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
														 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
													<g id="padlock-open_4_">
														<g id="Padlock_x5F_Open_4_">
															<g>
																<path class="st0" d="M67.7,14.7c-9.7,0-17.7,7.9-17.7,17.7v13.2H21.3c-3.6,0-6.6,3-6.6,6.6v26.5c0,3.6,3,6.6,6.6,6.6h35.3
																	c3.6,0,6.6-3,6.6-6.6V52.2c0-3.7-3-6.6-6.6-6.6h-2.2V32.3c0-7.3,5.9-13.2,13.2-13.2c7.3,0,13.2,5.9,13.2,13.2v13.2
																	c0,1.2,1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2V32.3C85.3,22.6,77.4,14.7,67.7,14.7z M56.6,50c1.2,0,2.2,1,2.2,2.2v26.5
																	c0,1.2-1,2.2-2.2,2.2H21.3c-1.2,0-2.2-1-2.2-2.2V52.2c0-1.2,1-2.2,2.2-2.2H56.6z M39,72.1c2.4,0,4.4-2,4.4-4.4
																	c0-1.6-0.9-3-2.2-3.8v-5c0-1.2-1-2.2-2.2-2.2c-1.2,0-2.2,1-2.2,2.2v5c-1.3,0.8-2.2,2.2-2.2,3.8C34.6,70.1,36.5,72.1,39,72.1z"/>
															</g>
														</g>
													</g>
													</svg>
												</div>
											</div>
											<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 resultRow">
												<h2 class="tituloResultado">{{ result.object|title }}</h2>
												{% if result.object.descripcion %}
												<p class="textoResultado">
													{{ result.object.descripcion }}
												</p>
												{% endif %}
											</div>
										</div>
									</a>
	             	{% else %}
								 <a href="{{ result.object.get_absolute_url|safe }}">
	 								<div class="row resultado">
	 									<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 resultIconCont resultRow">
	 										<div class="resultIcon" style="background-image: url('{{ result.object.imagen.url }}')">
	 										</div>
	 									</div>
	 									<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 resultRow">
	 										<h2 class="tituloResultado">{{ result.object|title }}</h2>
	 										{% if result.object.descripcion %}
	 										<p class="textoResultado">
	 											{{ result.object.descripcion }}
	 										</p>
	 										{% endif %}
	 									</div>
	 								</div>
	 							</a>
								{% endif %}

							{% endfor %}

							{% if page_obj.has_previous or page_obj.has_next %}
									<div class="row">
										<nav aria-label="paginas">
										<ul class="pager">
											 <li class="previous {% if not page_obj.has_previous %} disabled {% endif %}">{% if page_obj.has_previous %}<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{% else %}<a>{% endif %}<span aria-hidden="true">&larr;</span> Anterior</a></li>
											 <li class="next {% if not page_obj.has_next %} disabled {% endif %}">{% if page_obj.has_next %}<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% else %}<a>{% endif %}Siguiente <span aria-hidden="true">&rarr;</a></li>
											</ul>
										</nav>
									</div>
							{% endif %}
					{% endif %}
					</div>
				</div>

			</section>
		</div>
	</div>
</div>
{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script>
$(function() {
		$('.resultRow').matchHeight();
});
</script>
{% endblock %}


</script>
{% endblock %}
