{% extends extends_from %}

{% block title %}{{ seccion.titulo_texto }}{% endblock %}

{% block content %}
<section id="main" class="container"> 
    <div class="row"> 
        <section class="box"> 
            <header>
                <div class="row">
                    <div class="col-md-10 ">
                        <h3 class="tit-funcionarios">{{ seccion.titulo_texto }}</h3>
                    </div>
                    <div class="col-md-2 col-sm-3 subt-funcionarios subt-funcionarios-seccion volver" align="right"> <a href="javascript:history.back()"> <img class="back-button top-back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>

                </div>
                
            </header>
            
            <div class="row"> 
                <div class="col-md-12 text-funcionarios"> {{ seccion.html|safe }} <!-- Esto es el HTML que se pone en el Admin de Django--> 
                </div>
                <div class="col-md-3 col-sm-12"> {# subsecciones de esta seccion si hubiera #}
                    {% if secciones %}
                    <h4 class="subt-funcionarios">Más en esta sección</h4>
                    <ul>
                        {% for secc in secciones %}
                        <li> <a href='{{ secc.get_url }}'>{{ secc.titulo_corto }}</a> </li>
                        {% endfor %}
                    </ul>
                    {% endif %} </div>
        		</div>
            <div class="row nopadding">
                <div class="col-md-12 col-xs-12 volver-footer bot-m volver "> <a href="javascript:history.back()"> <img class="back-button" src="/static/website/{{website.template}}/images/back.png" /> Volver</a> </div>
            </div>
        </section>
    </div>
</section>
	<script>
	    $(function () {
	        $.backstretch([
		        {% if seccion.titulo_slug_web == "geo-portal" %}
	            "/static/website/{{website.template}}/images/geo-portal.jpg",
	            {% else %}
	            	 {% if seccion.titulo_slug_web == "software-publico-libre" %}
	            	  "/static/website/{{website.template}}/images/software.jpg",
	            	 {% else %}
	            	 	{% if seccion.titulo_slug_web == "democracia-participativa" %}
	            	 	 "/static/website/{{website.template}}/images/participacion-vecinal-2.jpg",
	            	 	{% else %}
	            	 	"/static/website/{{website.template}}/images/bg/slide-5.jpg",
	            	 	{% endif %}
	            	 {% endif %}
				{% endif %}	 
	        ]);
	    });
	    var input = $( ":button" ).addClass( "btn btn-default secciones" );
	    var input2 = $( ":submit" ).addClass( "btn btn-default secciones" );
	    $('img').each(function(){
		    if (!$(this).hasClass('back-button')){
				$(this).removeAttr( 'style' );
				$(this).addClass('img-responsive'); 
			}
	    });
	</script>
{% endblock %}