{% extends './front-page-wrapper.html' %}

{% load website_tags %}

{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}

{% block content %}

<section id="informacion-publica" class="base-header">

    {%with pageName='informacion-publica' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    {%with title='Acceso a la información Pública' template_name=base_template|add:"/front-page-base-header.html" %}
         {% include template_name %}
    {%endwith%}

    <div class="row statisticsHome contadorDatos" id="contadorDatos">
        <div class="col-xs-12 col-sm-offset-1 col-sm-9 apis-description-page">
            <p class="text-center">
                Existen dos vías para ingresar una solicitud de acceso a la información pública. El trámite en ambos casos es fácil y gratuito.
            </p>
        </div>
    </div>
</section>

<div class="row home-barra">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
</div>



<div class="container inFContainer">
  <section id="infoPublica" class="infoPublica">
    <div class="row via-container">
        <div class="col-sm-12 col-md-12">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-left">
                    <img class="via-web informacion-img" src="/static/website/{{website.template}}/img/informacion/web.svg"/>
                </div>
                <div class="col-sm-9 col-md-10">
                    <span class="informacion-via-title">
                        Vía Web
                    </span>
                    <p class="informacion-via-description">
                        Podés realizar el trámite vía internet
                    </p>
                </div>
            </div>
            <div class="row">
              <a href="#form-solicitud-header">
                <span class="col-sm-6 btn btn-via-download"> Solicitar información </span>
              </a>
            </div>
        </div>
    </div>

    <div class="row via-container">
        <div class="col-sm-12 col-md-12">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-left">
                    <img class="via-escrito informacion-img" src="/static/website/{{website.template}}/img/informacion/escrito.svg"/>
                </div>
                <div class="col-sm-9 col-md-10">
                    <span class="informacion-via-title">
                        Por escrito
                    </span>
                    <p class="informacion-via-description">
                        Primero se debe sacar turno en el <a target="_blank" href="https://servicios2.cordoba.gov.ar/MuniOnlineLogin/#/Login/Panel">turnero digital municipal</a>. Luego se debe descargar el formulario, completarlo y presentarlo en la Dirección de Atención al Vecino (planta baja) del Palacio 6 de Julio (Avenida Marcelo T. de Alvear 120) de lunes a viernes de 8:30 a 13:30.
                    </p>
                </div>
            </div>
            <div class="row">
              <a href="/static/website/{{website.template}}/docs/acceso-informacion-publica/Formulario_Acceso_Informacion_Publica.pdf" target="_blank">
                <span class="col-sm-6 btn btn-via-download"> Descargá el formulario</span>
              </a>
            </div>
        </div>
    </div>

    <div class="row via-container">
        <p class="informacion-via-description">
            Para conocer más detalles sobre la solicitud de acceso a la información pública hace click <a target="_blank" href="https://guiadetramites.cordoba.gob.ar/#/ciudadano/tramite/432">aquí.</a>
        </p>
    </div>


    <div class="row">
      <div class="col-xs-12 normativaVigente text-left">
          Normas Vigentes
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 listaNormativas border-bottom-section">
        <div class="col-xs-12 lista-normas">
          <div class="tarjetaDato m-bottom">
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/DECRETO_856_REGLAM.pdf" target="_blank"  rel="noopener" class="linkContainer">
              <div class="row">
                <div class="col-xs-12 datoInfo">
                  <div class="dato-descargado">
                    <h3> Abril 2016 </h3>
                    <p> Se modifica el Decreto 1.245 Decreto 856 </p>
                  </div>
                </div>
              </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/DECRETO_N_1245_REGLAM.pdf" target="_blank" rel="noopener" class="linkContainer">
              <div class="row">
                <div class="col-xs-12 datoInfo">
                  <div class="dato-descargado nodd">
                    <h3> Mayo 2012</h3>
                    <p>Se reglamenta la Ordenanza 11.877 con el Decreto 1.245 </p>
                  </div>
                </div>
              </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/ORDENANZA_11877_MODF.pdf" target="_blank" rel="noopener" class="linkContainer">
              <div class="row">
                <div class="col-xs-12 datoInfo">
                  <div class="dato-descargado">
                    <h3> Noviembre 2010 </h3>
                    <p> La Ordenanza N 11.877 modifica la Ordenanza 10.560 y se crea la oficina de acceso de la información (Art 6). </p>
                  </div>
                </div>
              </div>
            </a>
            <a href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/ORDENANZA_10560.pdf" target="_blank" rel="noopener" class="linkContainer">
              <div class="row">
                <div class="col-xs-12 datoInfo">
                  <div class="dato-descargado nodd">
                    <h3> Noviembre 2002 </h3>
                    <p> Ordenanza 10.560. Primera Ordenanza de Acceso a la Información en la Municipalidad de Córdoba.  </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>















    <div class="row" id="form-solicitud-header">
        <h3 class="formularioTitle">{{titulo}}</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">

        <form method="post" class="formSolicitud" id="form-solicitud">
          {% csrf_token %}
          {% for field in form %}
              {% if not field.label|lower == "html" and not field.label|lower == "observaciones internas" and not field.label|lower == "nro expediente" %}
              <div class="row form-group">
                  <div class="col-xs-12">
                    <label for="{{ field.id_for_label }}" class="visuallyhidden">{{ field.label }}</label>
                    {{ field }}
                  </div>
                  <div class="col-sm-12 error" id="{{ field.id_for_label }}-error"> {{ field.errors }} </div>
                  {% if field.help_text %}
                  <div class="col-sm-12">
                  <p class="help">{{ field.help_text|safe }}</p>
                  </div>
                  {% endif %} </div>
              {% endif %}
          {% endfor %}
            <center>
            <img id="loadingpost" style="display:None" src="/static/website/{{website.template}}/img/loading.gif" height="100px" width="133px" class="loading-indicator" alt="Indicador de carga"/>
            </center>
            <button type="submit" id="submitbtn" class="btn buttonSend">Enviar</button>
        </form>


        <div class="mensajeEnviar" id="errorEnviar" style="display:none">
          <div class="row">
              <div class="col-md-12"><i>
                  <h3>Ha ocurrido un error al enviar tu propuesta! </h3>
                  </i></div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <p>Por favor, intentá de nuevo.</p>
              </div>
          </div>
        </div>
        <div class="mensajeEnviar" id="successEnviar" style="display:none">
          <div class="row">
              <div class="col-md-12"><i><h3>Gracias por dejarnos tu idea! </h3></i></div>
          </div>
          <div class="row">
                <div class="col-md-12"><p>A la brevedad un funcionario la revisará y te pondrá en contacto contigo.</p></div>
          </div>
        </div>
      </div>

<!--
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <div class="formPersonal">
          <a href="https://gobiernoabierto.cordoba.gob.ar/media/cdn/Formulario_Acceso_Informaci%C3%B3n_P%C3%BAblica.pdf" class="titulo">Descargar Formulario Personal</a>
          <h4 class="subtitulo">Si deseas hacer tu pedido de forma personal</h4>
          <div class="owl-carousel owl-theme descargaForm">
            <div class="item">
              Deposita su Formulario Tipo Impreso en la Oficina de Atención al Vecino ubicada en planta baja de la explanada del Palacio 6 de julio de la Municipalidad de Córdoba,
Marcelo T. de Alvear 120 - Planta Baja.
            </div>
            <div class="item">
              Ante cualquier consulta no dude en hacer su consulta a:<br />
                Teléfono: 0351-428 56 00 (interno 1021/1030)<br />
                Marcelo T. de Alvear 120 - Planta Baja
            </div>
            <div class="item">
              Secretaría de Modernización, Comunicación y Desarrollo Estratégico<br />
              Dirección de Gobierno Abierto, Acceso a la Información Pública y Estadísticas y Censos<br />
              E-mail: <a href="mailto:gobiernoabiertocba@gmail.com" target="_blank" rel="noopener">gobiernoabiertocba@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 listaAcceso">
        <div class="itemAcceso" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
          <h3 class="titulo">Conocé la Legislación</h3>
          <h4 class="subtitulo">Normativa</h4>
          <div class="collapse descCollapse" id="collapse1">
            <p>
            Ley Nacional Nº 27.275 <br />
            (Decreto reglamentario 206/2017)<br /><br />

            Ley Provincial Nº 8.803<br /><br />
            Ordenanza Municipal Nº 10.560 modificada por la Ordenanza Nº 11.877<br />
            Decreto Nº 1245/12<br />
            Decreto Nº 856/16<br /><br />

            Ley Nacional de protección de datos personales Nº 25326    <br />
            </p>
          </div>
        </div>

        <div class="itemAcceso" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
          <h3 class="titulo">Organismos de Control</h3>
          <h4 class="subtitulo">Funciones y Misión</h4>
          <div class="collapse descCollapse" id="collapse2">
            <p>
            OFICINA DE ACCESO A LA INFORMACIÓN PÚBLICA <br /><br />
            Creada en el año 2012 mediante decreto nº 1245/12<br /><br />
            Actualmente dentro de la órbita de la Secretaría de Modernización, Comunicación y Desarrollo Estratégico.
            </p>
          </div>
        </div>
        <div class="itemAcceso" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          <h3 class="titulo">Solicitá Información</h3>
          <h4 class="subtitulo">La información es fácil</h4>
          <div class="collapse descCollapse" id="collapse3">
          <p>
            NO toda la información que posee el Municipio es pública.<br /><br />
              Para reclamos utilizá la app #CBA147.<br /><br />
              Verificá si la información que necesitas se encuentra publicada como dato abierto. <a href="/data/datos-abiertos">(ver link)</a>
          </p>
          </div>
        </div>
        <div class="itemAcceso" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          <h3 class="titulo">Glosario</h3>
          <h4 class="subtitulo">Conceptos vinculados al acceso</h4>
          <div class="collapse descCollapse" id="collapse4">
            <p>
            <span class="glosario-entrada">INFORMACIÓN</span>: conjunto organizado de datos procesados, que constituyen un mensaje que cambia el estado de conocimiento del sujeto o sistema que recibe de dicho mensaje.<br /><br />
            <span class="glosario-entrada">INFORMACIÓN PÚBLICA</span>: es el conjunto de datos producidos en el marco de la actividad del servicio público.<br /><br />
            <span class="glosario-entrada">INFORMACIÓN PRIVADA</span>: es un tipo de información que la ley no permite divulgar ya que afecta la intimidad personal, la seguridad nacional o simplemente es excluida por la ley.<br /><br />
            <span class="glosario-entrada">INFORMACIÓN INTERNA</span>: es la que circula al interior de la Administración. Busca llevar un mensaje para mantener la coordinación entre las distintas reparticiones y dentro de las mismas.<br /><br />
            <span class="glosario-entrada">INFORMACIÓN EXTERNA</span>: es la que se genera par diferentes vías externas.<br /><br />
            <span class="glosario-entrada">INFORMACIÓN DIRECTA</span>: es la que proporciona los datos que se buscan de forma inmediata, sin necesidad de recurrir a otra fuente.<br /><br />
            <span class="glosario-entrada">INFORMACIÓN INDIRECTA</span>: no es proporcionada directamente por una fuente sino que se encuentra después de revisar las sugerencias de los documentos idóneos de contenerla.<br /><br /><br />

            <span class="glosario-entrada">ACTO DE GOBIERNO</span>: actos de contenido político dictados por el Poder Ejecutivo<br /><br />
            <span class="glosario-entrada">ACTO ADMINISTRATIVO</span>: La decisión general o especial que, en ejercicio de sus funciones, toma la autoridad administrativa, y que afecta a derechos, deberes e intereses de particulares o de entidades públicas.<br /><br />
            <span class="glosario-entrada">HECHO ADMINISTRATIVO</span>: se concretan en comportamientos materiales, es decir, en el ejercicio de una actividad física de órganos de la administrativo; pueden ser realizados con independencia de un acto administrativo anterior, o pueden ser cumplidos incluso para declarar la voluntad de la administración, en cuyo supuesto tales hechos pueden tener valor de declaración tácita de la voluntad administrativa.<br /><br />
            <span class="glosario-entrada">DATO</span>: es el hecho, concepto, instrucción, carácter o conjunto de caracteres, que se expresa por sí mismo, representado de una manera apropiada para que sea comunicado, transmitido o procesado por seres humanos o por medios automáticos, y al cual se le asigna o se les puede asignar un significado.<br /><br />
            <span class="glosario-entrada">Información</span>: Es el conjunto de datos organizado de forma tal que tenga valor o significado en algún contexto.<br /><br />
            <span class="glosario-entrada">Comunidad de información</span>: Es el agrupamiento de representantes de instituciones que comparten un interés sobre datos de uso común en la prestación de sus respectivos servicios.<br /><br />
            <span class="glosario-entrada">Metadato</span>: Es la información que describe las características de determinado dato, explicándolo en un determinado contexto de uso.<br /><br />
            <span class="glosario-entrada">Dato público</span>: Es cualquier dato generado en el ámbito gubernamental, o que se encuentre bajo su guarda, y que no tenga su acceso restringido por ninguna legislación específica.<br /><br />
            <span class="glosario-entrada">Dato Abierto</span>: Es el dato público disponibilizado en un medio digital, bajo una licencia abierta y utilizando para ello un formato estándar abierto.<br /><br />
            <span class="glosario-entrada">Formato Abierto</span>: Es el formato de archivo no propietario, cuya especificación esté documentada públicamente o sea de libre conocimiento e implementación y que esté libre de patentes o de cualquier otra restricción legal o económica en cuanto a su utilización.<br /><br />
            <span class="glosario-entrada">Licencia Abierta</span>: Es el acuerdo de provisión de datos que conceda amplio acceso para que cualquier persona los utilice, los reutilice y los distribuya, estando sujeto a las siguientes condiciones:
            <ol>
              <li>
                Que el dato no sea alterado,
              </li>
              <li>
                Que no se desnaturalice su sentido,
              </li>
              <li>
                Que se cite la fuente,
              </li>
              <li>
                Que se mencione la fecha de la última actualización,
              </li>
              <li>
                Que sea compartido bajo la misma licencia.
              </li>
            </ol><br />


            <span class="glosario-entrada">FORMATOS DIGITALES ABIERTOS</span>: aquellos  formatos  que  mejor  faciliten  su
            utilización,  procesamiento  y  redistribución  por  parte  del  solicitante.
            </p>
          </div>
        </div>
        <div class="itemAcceso" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          <h3 class="titulo">Material de Consulta</h3>
          <h4 class="subtitulo">Información en el mundo</h4>
          <div class="collapse descCollapse" id="collapse5">
            <p>
              <ul>
                <li>
                  Directrices para la elaboración de legislación nacional sobre el acceso a la información, la participación del público y el acceso a la justicia en asuntos ambientales. Consejo de UNEP en la Decisión SS.XI/5, parte A de 26 de Febrero 2010. <a href="https://www.bing.com/search?q=%E2%80%A2Directrices+para+la+elaboraci%C3%B3n+de+legislaci%C3%B3n+nacional+sobre+el+acceso+a+la+informaci%C3%B3n,+la+participaci%C3%B3n+del+p%C3%BAblico+y+el+acceso+a+la+justicia+en+asuntos+ambientales.+Consejo+de+UNEP+en+la+Decisi%C3%B3n+SS.XI%2F5,+parte+A+de+26+de+Febrero+2010.&FORM=IE8SRC" target="_blank" rel="noopener">(ver link)</a>
                </li><br />
                <li>
                  Ley modelo OEA
                  <a target="_blank" href="http://www.oas.org/es/sla/ddi/acceso_informacion_ley_modelo.asp" rel="noopener">(ver link)</a>
                </li><br />
                <li>
                  Declaración de Principios - <strong>Documento WSIS-03/GENEVA/4-S</strong> 12 de mayo de 2004 – Cumbre Mundial sobre la Sociedad de la Información Ginebra 2003 – Tunez 2005.
                  <a target="_blank" href="http://www.itu.int/net/wsis/docs/geneva/official/dop-es.html" rel="noopener">(ver link)</a>
                </li><br />
                <li>
                  AG/RES. 2514 (XXXIX-O/09) Asamblea General de la OEA - ACCESO A LA INFORMACIÓN PÚBLICA: Fortalecimiento de la Democracia (Aprobada en la cuarta sesión plenaria, celebrada el 4 de junio de 2009)
                  <a target="_blank" href="https://www.bing.com/search?q=AG%2FRES.+2514+(XXXIX-O%2F09)+Asamblea+General+de+la+OEA+-+ACCESO+A+LA+INFORMACI%C3%93N+P%C3%9ABLICA%3A+FORTALECIMIENTO+DE+LA+DEMOCRACIA+(Aprobada+en+la+cuarta+sesi%C3%B3n+plenaria,+celebrada+el+4+de+junio+de+2009)&FORM=IE8SRC" rel="noopener">(ver link)</a>
                </li><br />
                <li>
                  OEA/Ser.Q - 26 de febrero al 9 de marzo de 2007 - CJI/doc.25/00 rev.2 - San Salvador, El Salvador 7 febrero 2007 DERECHO DE LA INFORMACIÓN: Acceso y Protección de la Información  Y Datos Personales en Formato Electrónico.
                  <a target="_blank" href="https://www.bing.com/search?q=%E2%80%A2OEA%2FSer.Q+-+26+de+febrero+al+9+de+marzo+de+2007+-+CJI%2Fdoc.25%2F00+rev.2+-+San+Salvador,+El+Salvador+7+febrero+2007+DERECHO+DE+LA+INFORMACI%C3%93N%3A+ACCESO+Y+PROTECCI%C3%93N+DE+LA+INFORMACI%C3%93N++Y+DATOS+PERSONALES+EN+FORMATO+ELECTR%C3%93NICO.&FORM=IE8SRC" rel="noopener">(ver link)</a>
                </li><br />
                <li>
                  Comentarios y guía de implementación para la ley modelo interamericana sobre acceso a la información - Consejo Permanente de la OEA/ser.g Organización de los Estados Americanos cp/cajp-2841/10 - Comisión de Asuntos Jurídicos y Políticos.
                  <a target="_blank" href="https://www.bing.com/search?q=%E2%80%A2COMENTARIOS+Y+GU%C3%8DA+DE+IMPLEMENTACI%C3%93N+PARA+LA+LEY+MODELO+INTERAMERICANA+SOBRE+ACCESO+A+LA+INFORMACI%C3%93N+-+CONSEJO+PERMANENTE+DE+LA+OEA%2FSer.G+ORGANIZACI%C3%93N+DE+LOS+ESTADOS+AMERICANOS+CP%2FCAJP-2841%2F10+-+COMISI%C3%93N+DE+ASUNTOS+JUR%C3%8DDICOS+Y+POL%C3%8DTICOS.&FORM=IE8SRC" rel="noopener">(ver link)</a>
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="itemAcceso" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          <h3 class="titulo">Responsable de Acceso</h3>
          <h4 class="subtitulo">Equipo de Trabajo</h4>
          <div class="collapse descCollapse" id="collapse6">
            <p>
              Licenciado Facundo Nicolás Barrionuevo <br />
              Director de Gobierno Abierto, Acceso a la Información Pública, Estadísticas y Censos <br />
              Contacto > <a href="https://gobiernoabierto.cordoba.gob.ar/funcionarios/oficina/direccion-de-gobierno-abierto-acceso-a-la-informacion-publica-y-estadisticas-y-censos/298" target="_blank" rel="noopener">Aquí</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-md-offset-2">
        <div class="solicitaInfoDiv">
          <h3 class="titulo">Solicitá Información PÚBLICA <span class="online">ON-LINE</span></h3>
          <div class="pasoInfo">
            <div class="numero pasoDiv">
              1)
            </div>
            <div class="texto pasoDiv">
              Completá el formulario
            </div>
          </div>
          <div class="pasoInfo">
            <div class="numero pasoDiv">
              2)
            </div>
            <div class="texto pasoDiv">
              Te respondemos a tu <br />e-mail.
            </div>
          </div>
          <div class="btnTramiteContainer">
            <a href="#" data-target="form-solicitud" class="btnTramite">Comenzar Trámite</a>
          </div>
        </div>
        <div class="pediInfoDiv">
          <h3 class="titulo">Pedí información personalmente</h3>
          <p class="texto">
            Acercate a las mesas de tu <span class="cpc">CPC</span> más cercano. <br />
            Horario: De lunes a viernes de 9 a 17 hs.
          </p>
        </div>
      </div>

-->
<!--
          <div class="col-xs-12 textoAIP">
            <div class="col-xs-12">
              <p class="descripcionAIP">
								En 2016 se modernizan los canales de recepción del Formulario Tipo con el objetivo de facilitar el ejercicio de solicitud de pedidos, ahora se pueden realizar pedidos vía web, además de poder hacerlo físicamente dejando el formulario tipo en la Oficina de Atención al Vecino ubicado en planta baja de la explanada del Palacio 6 de julio de la Municipalidad de Córdoba.
								<br />
En la misma línea la Municipalidad de Córdoba es miembro fundador de la Red Federal de Acceso a la Información Pública desde el año 2014.
              </p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 contLogoAIP">
                <a href="https://redfederalaip.com.ar/" target="_blank" rel="noopener">
                  <img src="/static/website/{{website.template}}/img/acceso/aip.png" class="img-responsive imgAIP" alt="Logo de la Red Federal de Acceso a la Información Pública"/>
                </a>
                <p class="socioRFAIP">
                  La ciudad de Córdoba es socio fundador de la Red Federal de Acceso a la Información Pública.
                </p>
              </div>

            </div>
          </div>
        </div>
-->
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/turnToBS.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/form-handler.js"></script>




<script type="text/javascript">
$('.carousel').carousel();

$(function() {
		$('.pasoDiv').matchHeight();
		$('.datoInfo').matchHeight();
});
</script>

<script>
$(document).ready(function(){

	$('.owl-carousel').owlCarousel({
	loop:false,
	dots:true,
	margin:0,
	slideBy: 1,
	nav:true,
	navText: ['<span class="fa fa-chevron-left" aria-hidden="true"></span>','<span class="fa fa-chevron-right" aria-hidden="true"></span>'],
	responsive:{
			0:{
					items:1
			},
			600:{
					items:1
			},
			1000:{
					items:1
			}
		}
	})
	$(".circuloPasoMarker").on('click',function(e){
		e.preventDefault();
		console.log($(this).data().target);
		$(".circuloPaso").removeClass('active');
		$(".circuloPasoMarker").removeClass('active');
		$('#'+$(this).data().target).addClass('active');
		$(this).addClass('active');
	});
	$(".linkCirculoPaso").on('click',function(e){
		e.preventDefault();
		console.log($(this).data().target);
		$(".circuloPaso").removeClass('active');
		$(".circuloPasoMarker").removeClass('active');
		$('#'+$(this).data().target).addClass('active');
		$(this).children('.circuloPaso').addClass('active');
	});
	$(".btnTramite").on('click',function(e){
		e.preventDefault();
		$('html, body').animate({
				scrollTop: $("#"+$(this).data().target).offset().top-310
		 }, 2000);
	});
	// $(".top").on("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd",
	//    function(e){
	//       // do something here
	//       $(this).off(e);
	//       $(".sqGA").removeClass('logo-loading');
	//    });
});
</script>
{% endblock %}
