{% extends extends_from %}
{% load website_tags %}
{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}

{% block content %}
<div class="container-fluid inFContainer audiencia">
  <div class="row  border-bottom-section">
    <div class="col-xs-12 formAIP">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
          <h1 class="formularioTitle">{{titulo}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-7">

          <form method="post" class="formSolicitud" id="form-solicitud">
            {% csrf_token %}
            {% for field in form %}
                {% if not field.label|lower == "html" and not field.label|lower == "observaciones internas" and not field.label|lower == "nro expediente" %}
                <div class="row form-group">
                    <div class="col-xs-12">
                      <label for="{{ field.id_for_label }}" class="visuallyhidden">{{ field.label }}</label>
                      {{ field }}
                    </div>
                    <div class="col-sm-12 error" id="{{ field.id_for_label }}-error"> {{ field.errors }} </div>
                    {% if field.help_text %}
                    <div class="col-sm-12">
                    <p class="help">{{ field.help_text|safe }}</p>
                    </div>
                    {% endif %} </div>
                {% endif %}
            {% endfor %}
              <center>
              <img id="loadingpost" style="display:None" src="/static/website/{{website.template}}/img/loading.gif" height="100px" width="133px" class="loading-indicator" alt="Indicador de carga"/>
              </center>
              <button type="submit" id="submitbtn" class="btn buttonSend">Enviar</button>
          </form>
          <center>
            <img id="loadingpost" style="display:None" src="/static/website/{{website.template}}/img/loading.gif" height="100px" width="133px" class="loading-indicator" alt="Indicador de carga"/>
          </center>
          <div class="mensajeEnviar" id="errorEnviar" style="display:none">
              <div class="row">
                  <div class="col-md-12"><i>
                      <h3>Ha ocurrido un error al enviar tu propuesta! </h3>
                      </i></div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <p>Por favor, intentá de nuevo.</p>
                  </div>
              </div>
            </div>
            <div class="mensajeEnviar" id="successEnviar" style="display:none">
              <div class="row">
                  <div class="col-md-12"><i><h3>Gracias por dejarnos tu idea! </h3></i></div>
              </div>
              <div class="row">
                    <div class="col-md-12"><p>A la brevedad un funcionario la revisará y te pondrá en contacto contigo.</p></div>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-1">
          <div class="formPersonal">
            <h2 class="formularioTitle">Información sobre el funcionario</h2>
            <div class="subtitulo">
              <a href="{{funcion.get_absolute_url}}" class="nombre">{{funcion.funcionario}}</a>
              <a href="{{funcion.get_absolute_url}}" class="cargo">{{funcion.cargo}}</a>
            </div>
            <a href="{{funcion.get_absolute_url}}">
              <div class="imagen">
                {% if funcion.funcionario.foto %}
                  <img src="{{ funcion.funcionario.foto.thumbnail.500x500 }}" class="img-responsive" alt="Foto de {{ cargo.nombre }}, {{ funcion.funcionario.nombrepublico }}"/>
                {% endif %}
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/website/{{website.template}}/js/turnToBS.js"></script>
<script src="/static/website/{{website.template}}/js/jquery.form.js"></script>
<script src="/static/website/{{website.template}}/js/form-handler.js"></script>

{% endblock %}
