{% extends './front-page-wrapper.html' %}

{% load website_tags %}

{% block title %}{{ website.titulo }} | {{ website.subtitulo }}{% endblock %}

{% block content %}

<section id="participacion" class="base-header">

    {%with pageName='participacion' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    {%with title='Participación Ciudadana' template_name=base_template|add:"/front-page-base-header.html" %}
         {% include template_name %}
    {%endwith%}

</section>

<div class="row home-barra">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
</div>



<div class="container inFContainer participacion-container">
    <section id="participacionCiudadana" class="participacionCiudadana">
        <div class="row participacion-title">
            <div class="col-xs-12 no-padding desc">
                Formas de participación
            </div>
        </div>

        <div class="row participacion-section text-center">
            <div class="col-sm-offset-1 col-sm-10">

                <h3 class="participacion-section-title">Centros de Participación Comunal (C.P.C)</h3>

                <p class="participacion-section-description text-justify">
                  La descentralización se inscribe como un programa sustantivo de la
                    impostergable tarea iniciada por el municipio de Córdoba referida
                    a la modernización del Estado y su aparato administrativo.
                    Actualmente la ciudad cuenta con 13 Centros de Participación
                    Comunal (CPC): Arguello, Centro América, Pueyrredón, Villa el
                    Libertador, Empalme, Colón, Ruta 20, Monseñor Pablo Cabrera,
                    Rancagua, Mercado de la Ciudad, Chalet San Felipe, San Vicente
                    y Guiñazu. En todos ellos los vecinos pueden realizar trámites
                    administrativos que antes se encontraban centralizados, además de
                    participar en actividades culturales, sociales, deportivas y
                    vecinales.

                </p>
                <div class="descargasContainer">
                    <a href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/centros-de-participacion-comunal-cpc">
                      <span class="btn" >Accedé a los datos abiertos de Presupuesto Participativo</span>
                    </a>
                </div>

            </div>
        </div>


        <div class="row participacion-section text-center">
            <div class="col-sm-offset-1 col-sm-10">
                <h3 class="participacion-section-title">Juntas de Participación Vecinal</h3>

                <p class="participacion-section-description text-justify">
                    Las Juntas de Participación Vecinal son institutos púbicos
                    municipales de gestión asociada entre los CPC, los centros
                    vecinales, las comisiones de vecinos, las instituciones educativas
                    y religiosas y las organizaciones sin fines de lucro de la
                    sociedad civil; compuestas en partes iguales por entidades
                    vecinales y por organizaciones de la sociedad civil.
                    <br /><br />
                    Esta instancia de funcionamiento está prevista en el marco normativo y
                    su propósito fundamental es hacer efectiva la gestión asociada
                    entre el gobierno municipal y la ciudadanía, captando las
                    necesidades barriales, traduciéndolo en propuestas concretas y
                    ejecutando oportunamente dichas acciones en diferentes temáticas
                    manteniendo permanente diálogo con las Juntas de Participación
                    Vecinal.
                </p>
                <div class="descargasContainer">
                    <a href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/juntas-de-participacion-vecinal">
                      <span class="btn">Accedé a los datos abiertos de Juntas de Participación Vecinal</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row participacion-section text-center">
            <div class="col-sm-offset-1 col-sm-10">
                <h3 class="participacion-section-title">Centros Vecinales</h3>

                <p class="participacion-section-description text-justify">
                    Los Centros Vecinales son asociaciones de vecinos sin fines de
                    lucro, con participación en la gestión del gobierno Municipal,
                    representativas de los vecinos del barrio y/o sector de su
                    jurisdicción, constituidos para la satisfacción de sus necesidades
                    comunes y el mejoramiento de de su calidad de vida, sobre la base de
                    principios de participación democrática, colaboración mutua y
                    solidaridad vecinal (Definición – Principios / Ordenanza 10.713).
                 </p>
                <div class="descargasContainer">
                    <a href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/centros-vecinales">
                      <span class="btn">Accedé a los datos abiertos de Centros Vecinales</span>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section class="iniciativas container">
        <div class="row participacion-title">
            <div class="col-xs-12">
                <h3 class="participacion-ultimas-iniciativas">Últimas iniciativas participativas</h3>
            </div>
        </div>
        <div class="row" id="posts">
            {% for iniciativa in iniciativas %}
                <div class="card-iniciativa col-sm-4 col-md-4"> 
                    <div class="card-container">
                        <div class="row card-iniciativa-image"> 
                            <div class="col-sm-12 text-center">
                                <a target="_blank" href="{{ iniciativa.url }}">
                                    <div class="image-container">
                                        <div>
                                                <img class="img-responsive center-block" src="/media/{{ iniciativa.imagen }}" alt="{{iniciativa.titulo}}" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row card-iniciativa-titulo"> 
                            <div class="col-sm-12 text-center">
                                <a target="_blank" href="{{ iniciativa.url }}">
                                    {{ iniciativa.titulo }}
                                </a>
                            </div>
                        </div>
                        <div class="row card-iniciativa-description"> 
                            <div class="col-sm-12 text-center">
                                <p class="text-center">
                                {{ iniciativa.descripcion | truncatechars:150  }}
                                </p>
                            </div>
                        </div>
                        <div class="row card-iniciativa-footer"> 
                            <div class="col-sm-6 text-left"> 
                                {{ iniciativa.fecha | date:'d/m/Y'}}
                            </div>
                            <div class="col-sm-6 text-right"> 
                                <a class="btn btn-iniciativa" target="_blank" href="{{ iniciativa.url }}">LEER MÁS +</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </section>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    let pageIndex = 1;
    let moreItems = true;

    function nextHandler() {
      return fetch('{% url 'propuestaciudadana.iniciativas' %}?page='+pageIndex)
        .then(response => response.json())
        .then((body) => {
          const data = body.results
          if (data.length === 0) {
              moreItems = false;
              return;
          }

          if (data.length < 3) {
              moreItems = false;
          }

          $.each(data, function(i, iniciativa) {
            let item = createItem(iniciativa);
            $('#posts').append(item);
          });

        })
        .catch(function(error) {
            moreItems = false;
        });
    }

    $(window).scroll(function() {
        console.log(($(window).scrollTop() + $(window).height()) + ' -> ' + ($(document).height() - 10));
        if($(window).scrollTop() + $(window).height() > ($(document).height() - 10)) {
          if (moreItems) {
              pageIndex = pageIndex + 1;
              nextHandler();
          }
        }
    });

});
</script>


<script type="text/javascript" src="/static/website/{{website.template}}/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/turnToBS.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/moment.min.js"></script>
<script type="text/javascript" src="/static/website/{{website.template}}/js/pCiudadana.js"></script>

{% endblock %}
