{% if dependencia.activado %}
<div class="row">
	{% if indent %}
	<div class="col-lg-6 col-md-6 col-md-offset-{{ indent }} col-sm-12 col-xs-12 dependencias">
	{% else %}
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 dependencias">
	{% endif %}
		<div class="col-md-5 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0 height_parent" align="right">    
		{% if dependencia.en_funcion_activa %}
		    <a target="_self" class="nombre" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}" >
			    {% if dependencia.en_funcion_activa.funcionario.foto %}
					<div class="circle-profile circle-profile-{{c_class}}" style="background-image: url('{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.200x200 }}');"></div>
				{% else %}
					<div class="circle-profile circle-profile-{{c_class}}" style="background-image: url('{{preferencias.default_persona_imagen}}')"></div>
				{% endif %}
		    </a>
        {% else %}
            <a class="nombre">
                <div class="circle-profile circle-profile-{{c_class}}" style="background-image: url('{{preferencias.default_persona_imagen}}')"></div>
            </a>
        {% endif %}
		</div>  
		<div class="col-md-7 col-sm-8 col-xs-12 cargo-info parent" >
			<div class="row profile-info-title ">
				<div class="col-md-12 " id="categoria-link">
				{% if dependencia.en_funcion_activa %}
					<a target="_self" class="categoria" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}" >{{ dependencia.en_funcion_activa.cargo_gen }}</a>
				{% else %}
				    <a class="categoria" >{{ dependencia.oficina }}</a>
				{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				{% if dependencia.en_funcion_activa %}
					<a target="_self" class="nombre" href="{% url 'website.funcionarios.oficina' dependencia.slug dependencia.id %}" ><i>{{ dependencia.en_funcion_activa.funcionario.nombrepublico }}</i></a>
				{% else %}
					<a class="nombre"><i>Sin funcionario designado</i></a>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

	{% if dependencia.dependencias_directas|length > 0 %}
         {%for ch in dependencia.dependencias_directas %}
         	<div class="depende_de">
	         {% with y=forloop.counter|stringformat:"s" %}
	              {%with dependencia=ch indent=indent|add:2  c_class=c_class|add:'-'|add:y template_name=base_template|add:"/tree_funcionarios.html" %}
	                   {%include template_name%}
	              {%endwith%}
	         {%endwith%}
         	</div>
         {%endfor%}
    {%endif%}

{% endif %}