{% extends './front-page-wrapper.html' %}

{% block title %} Visualizaciones {% endblock %}

{% block content %}

<section id="visualizaciones" class="base-header">

    {%with pageName='visualizaciones' template_name=base_template|add:"/front-page-menu.html" %}
         {% include template_name %}
    {%endwith%}

    {%with title='Visualizaciones' template_name=base_template|add:"/front-page-base-header.html" %}
         {% include template_name %}
    {%endwith%}

</section>

<div class="row home-barra">
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
    <div class="col-xs-2 col-sm-2"></div>
</div>

<section id="viz" class="viz mt30">

    <div class="row vizBody border-bottom-section">

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

            <div class="row grid">

            {% for viz in visualizaciones %}

                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-6 col-lg-4 grid-item">

                    <div class="vizContainer {% if not viz.activado %} disabled {% endif %}" >
                        <div class="tituloViz">
                        {% if viz.activado %}
                            {% if viz.interna %}
                                <a target='_blank' href="/externals?target={{ viz.url }}">{{ viz.titulo }}</a>
                            {% else %}
                                <a target='_blank' href="{{ viz.url }}">{{ viz.titulo }}</a>
                            {% endif %}
                        {% else %}
                            <span>{{ viz.titulo }}</span>
                        {% endif %}
                        </div>
                        <div class="imagenVizCont">
                        {% if viz.activado %}
                            {% if viz.interna %}
                                <a target='_blank' href="/externals?target={{ viz.url }}">
                                    <!--img class="img-responsive imagenViz" src="/static/website/{{website.template}}/img/viz/example2.png" alt="Imagen de la visualizacion 1: {{viz.titulo}}"/-->
                                    <img class="img-responsive imagenViz" src="/media/{{ viz.logo }}" alt="Imagen de la visualizacion 1: {{viz.titulo}}"/>
                                </a>
                            {% else %}
                                <a target='_blank' href="{{ viz.url }}">
                                    <!--img class="img-responsive imagenViz" src="/static/website/{{website.template}}/img/viz/imagen.png" alt="Imagen de la visualizacion 1: {{viz.titulo}}"/-->
                                    <img class="img-responsive imagenViz" src="/media/{{ viz.logo }}" alt="Imagen de la visualizacion 2: {{viz.titulo}}"/>
                                </a>
                            {% endif %}
                        {% else %}
                            <img class="img-responsive imagenViz" src="/media/{{ viz.logo }}" alt="Imagen de la visualizacion 3: {{viz.titulo}}"/>
                        {% endif %}
                        </div>
                        <div class="descripcionViz">
                            <div class="row descripcion-text">
                            {{ viz.descripcion|default_if_none:""|truncatechars:200 }}

                            </div>
                            {% if not viz.url == None %}
                            <div class="row">
                                <div class="col-xs-offset-8 col-xs-4 col-sm-offset-10 col-sm-2 no-padding-horizontal">
                                {% if viz.activado %}
                                    {% if viz.interna %}
                                        <a target='_blank' href="/externals?target={{ viz.url }}">
                                            <img class="ver-mas-img img-responsive" src="/static/website/{{website.template}}/img/viz/ver-mas.svg"/>
                                        </a>
                                    {% else %}
                                        <a target='_blank' href="{{ viz.url }}">
                                            <img class="ver-mas-img img-responsive" src="/static/website/{{website.template}}/img/viz/ver-mas.svg"/>
                                        </a>
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>


                    </div>

                </div>

            {% endfor %}

            </div>

        </div>

    </div>

</section>



{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>

<script>
$(document).ready(function(){
    $('.vizContainer').matchHeight();
    $('.tituloViz').matchHeight();
});
</script>
{% endblock %}
