Hemos recibido tu pedido de información pública <b>{{ usuario }}</b>.
<br />
A continuación analizaremos este pedido para validar que cumpla con los requisitos.
<br />
Tu código de identificación interna es <b>AI-{{ pk }}</b>. Podremos usarlo para referirnos a este 
pedido en particular.
<br />
Si el pedido fue formulado correctamente le daremos curso legal, no obstante si en caso contrario se detecta alguna irregularidad nos pondremos en contacto con usted para corregir la solicitud.
<br />
El detalle que recibimos es:
<br />
<b>{{ titulo }}</b>
<br />
<i>{{ descripcion }}</i>
<br />
<br />
Muchas gracias por contactarte con el equipo de la Municipalidad de Córdoba
<br />
<a href="https://gobiernoabierto.cordoba.gob.ar">Portal de Gobierno Abierto</a>
