Hemos recibido datos anómalos en Obras Públicas.
<br />
A continuación se listan las obras con una breve descripción de los errores:
<br />

{% for obra in errores %}
  <i>{{ obra }}</i>
  <br />
{% endfor %}
<br />
<b>Municipalidad de Córdoba</b>
<br />
<a href="https://gobiernoabierto.cordoba.gob.ar">Portal de Gobierno Abierto</a>