Hemos recibido tu pedido de audiencia <b>{{ usuario }}</b>.
<br />
A continuación analizaremos este pedido para validar que cumpla con los requisitos.
<br />
Tu código de identificación interna es <b>AUD-{{ pk }}</b>. Podremos usarlo para referirnos a este 
pedido en particular.
<br />
Si el pedido NO fue formulado correctamente te lo notificaremos, caso contrario comenzaremos 
formalmente la tramitación del pedido.
<br />
El detalle que recibimos es:
<br />
<b>{{ titulo }}</b>
<br />
<i>{{ descripcion }}</i>
<br />
<br />
Muchas gracias por contactarte con el equipo de la Municipalidad de Córdoba
<br />
<a href="https://gobiernoabierto.cordoba.gob.ar">Portal de Gobierno Abierto</a>