Hemos recibido tu idea <b>{{ usuario }}</b>.
<br />
A continuación la analizaremos para validar que cumpla con los requisitos.
<br />
Tu código de identificación interna es <b>IDEA-{{ pk }}</b>. Podremos usarlo para referirnos a esta 
idea en particular.
<br />
Si la idea NO fue formulada correctamente te lo notificaremos, caso contrario comenzaremos 
formalmente su análisis.
<br />
El detalle que recibimos es:
<br />
<b>{{ titulo }}</b>
<br />
<i>{{ descripcion }}</i>
<br />
<br />
Muchas gracias por contactarte con el equipo de la Municipalidad de Córdoba
<br />
<a href="https://gobiernoabierto.cordoba.gob.ar">Portal de Gobierno Abierto</a>