@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.map {
  height: 100%;
  width: 100%;
}

.mapTitle{
    text-align: center;
    background-color: #009059;
    padding: 0px;
    margin: 0;
    color: #FFF;
    font-family: 'Roboto';
}

.menuTop{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.rowTitle {
  margin: 0;
}

.logoGA{
  margin: 0px;
  font-family: "Circular", sans-serif;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  font-size: 1.55em;
  line-height: 0.85em;
  vertical-align: 3px;
  margin-left: 7.5px;
}
.logoGAG{
  width: 40px;
  display: inline-block;
}
.logoGAG .stGA{
  fill: #FFF;
}

.logo-147 {
  width: 60%;
  max-width: 60%;
  height: auto;
  position: absolute;
}


ol-rotate {
    top: 3em;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}


#info {
    z-index: 5;
    opacity: 0;
    position: absolute;
    bottom: 0;
    margin-left:10px;
    margin: 0;
    background: rgba(0,60,136,0.7);
    color: white;
    border: 0;
    transition: opacity 100ms ease-in;
    display:none;
}

@media screen and (max-width:840px) {
  #layers-box {
    z-index: 4;
    opacity: 1;
    position: absolute;
    right: -3%;
    margin-top:6%;
    margin-right:-3.9%;
    width:20%;
    max-width: 20%;
  }
}

@media screen and (min-width:840px) {
  #layers-box {
    z-index: 4;
    opacity: 1;
    position: absolute;
    right: -3%;
    margin-top:3%;
    margin-right:-3.9%;
    width:20%;
    max-width: 20%;
  }
}
}

.layers-list {
    color: #313435 !important;
}
.layer-item {
    border-bottom:1px solid rgba(0,0,0,.0625) !important
}

.layer-item-icon {
    right:.5em;
}

.sidebar {s
    overflow: scroll;
    position: absolute;
    top: 75px;
    bottom: 0;
}

.viajes-lista table tbody tr:not(.no-records-found) {
    cursor: pointer;
}