 <div class="pull-right">
                <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Exportar
            <span class="caret"></span>
          </button>

                <ul class="dropdown-menu" aria-labelledby="dLabel">

                    <li><a href="{{ request.path }}?export_as=csv">CSV</a></li>
                    <li><a href="{{ request.path }}?export_as=xls">XLS</a></li>
                </ul>

            </div>
            </div>