{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableros sobre Portal de datos Municipal</h1>
        </div>
    </div>
    <div class="row">
        {% include "backend/tableros/portaldedatos/panel_datos.html" %}
        {% include "backend/tableros/portaldedatos/panel_versiones.html" %}
        {% include "backend/tableros/portaldedatos/panel_recursos.html" %}
        {% include "backend/tableros/portaldedatos/panel_desactualizados.html" %}

    </div>
</div>
{% endblock %}
