<div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ desactualizados_totales }}</div>
                    <div>Series desactualizadas</div>
                </div>
            </div>
        </div>

        <a href="{% url 'backend.tableros.desactualizados' %}">
            <div class="panel-footer">
                <span class="pull-left">detalles</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>

    </div>
</div>