{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Versiones de datos publicadas <small>{{ objects_count }}</h1>

            {% include "backend/tableros/portaldedatos/export_table_buttons.html" %}
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Categoría</th>
                    <th>Dato</th>
                    <th>Versión</th>
                    <th>fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.dato.categoria.nombre}}</td>
                    <td>{{object.dato.titulo }}</td>
                    <td>{{object.titulo}}</td>
                    <td>{{object.fecha}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Sin resultados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
    {% if is_paginated %}
    <div class="pagination pull-right">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'backend.tableros.versionesdedatos' %}?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}
            <span class="page-current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'backend.tableros.versionesdedatos' %}?page={{ page_obj.next_page_number }}">próxima</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}