{% extends "fobi/generic/form_entry_submitted.html" %}


{% block navbar-header %}
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  {% block dashboard-menu-item %}
  <a class="navbar-brand">
    <img src="/static/website/bootstrap3b/css/logo.png" class="logoMuni"/>
  </a>
  {% endblock dashboard-menu-item %}

</div>
{% endblock navbar-header %}

{% block navbar-menu-content %}
{% endblock navbar-menu-content %}

{% block navbar-menu-right-content %}
{% endblock navbar-menu-right-content %}
