{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block favicon %}
        <link rel="shortcut icon" href="{% block favicon-image %}{% endblock favicon-image %}">
    {% endblock favicon %}

    <title>{% block page-title %}{% endblock page-title %} | {% block site-title %}{% endblock site-title %}</title>
    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'bootstrap3/css/bootstrap.css' %}" rel="stylesheet"> -->
    <!-- <link href="/static/website/bootstrap3b/css/forms.css" rel="stylesheet"> -->
    {% block stylesheets %}


    {% endblock stylesheets %}

    {% block layout-stylesheets %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/fobi.core.css' %}" rel="stylesheet">
    {% endblock layout-stylesheets %}

    {% block extra-stylesheets %}{% endblock extra-stylesheets %}

    {% block head-javascripts %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock head-javascripts %}

    {% block extra-head-javascripts %}{% endblock extra-head-javascripts %}

    {% block extrahead %}{% endblock extrahead %}
  </head>

  <body{% block body-attrs %}{% if theme %} class="theme {{ theme.html_class }}"{% endif %}{% endblock body-attrs %}>
    {% block content-wrapper %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      {% block messages-wrapper %}
          {% include "fobi/snippets/messages_snippet.html" %}
      {% endblock messages-wrapper %}
      <!-- Main component for a primary marketing message or call to action -->

      {% block content %}

      {% endblock content %}

    </div> <!-- /container -->

    {% endblock content-wrapper %}

    {% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    {% endblock javascripts %}

    {% block theme-javascripts %}{% endblock theme-javascripts %}

  </body>
</html>
