{% extends fobi_theme.base_view_template %}

{% load i18n %}

{% block page-title %}{% if form_entry.title %}{{ form_entry.title }}{% else %}{% trans "View form" %}{% endif %}{% endblock page-title %}

{% block navbar-menu-content %}
<li>
    <a href="{% url 'fobi.edit_form_entry' form_entry.pk %}">{% trans "Edit" %}</a>
</li>

<li class="active">
    <a href="{% url 'fobi.view_form_entry' form_entry.slug %}">{% trans "View" %}</a>
</li>
{% endblock navbar-menu-content %}

{% block navbar-menu-right-content %}
    <li class="active">
        <a href="{% url 'fobi.dashboard' %}">{% trans "Forms" %}</a>
    </li>
    <li>
        <a href="{% url 'fobi.form_wizards_dashboard' %}">{% trans "Wizards" %}</a>
    </li>
{% endblock navbar-menu-right-content %}

{% block content %}
    {% include fobi_theme.view_form_entry_ajax_template %}
{% endblock content %}

{% block sidebar-wrapper %}
{% endblock sidebar-wrapper %}
