{% extends "base.html" %}

{% block head_metas %}{{ block.super }}{% endblock %}

{% block styles %}
    <!-- Timeline CSS -->
    <link href="/static/backend/dist/css/timeline.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/backend/bower_components/morrisjs/morris.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <!-- Morris Charts JavaScript -->
    <script src="/static/backend/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/backend/bower_components/morrisjs/morris.min.js"></script>
    <!-- <script src="/static/backend/js/morris-data.js"></script> -->
{% endblock %}

{% block base_content %}

{% block content %}
{% block descripcion%}{% endblock %}
{% endblock %}

{% endblock %}
