{% extends "base.html" %}

{% block styles %}
    <!-- Timeline CSS -->
    <link href="/static/backend/dist/css/timeline.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/backend/bower_components/morrisjs/morris.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <!-- Morris Charts JavaScript -->
    <script src="/static/backend/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/backend/bower_components/morrisjs/morris.min.js"></script>
    <!-- <script src="/static/backend/js/morris-data.js"></script> -->
{% endblock %}

{% block base_content %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'backend.index' %}">Municipalidad de Córdoba</a>
            </div>

            {% include "backend/menu/menutop.html" %}

            {% include "backend/menu/menulat.html" %}

        </nav>

        {% block content %}{% endblock %}
    </div>
{% endblock %}