{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bienvenido</h1>
        </div>
    </div>
    <div class="row">


    </div>
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock %}