{% extends "backend/base_app.html" %}
{% load staticfiles %}

{% block title %}Personas{% endblock %}

{% block content %}
<div id="page-wrapper">

    <div class="row">

        <div class="col-sm-12">
            <h1 class="page-header">Personas <small><span class="badge">{{ cantidad }}</span></small>

                {% if perms.add_funcion %}
                <div class="btn-group pull-right" role="group" aria-label="List bar">
                    <a href="{% url 'backend-personas-create' %}" class="btn btn-success">Agregar</a>
                </div>
                {% endif %}
            </h1>
        </div>
    </div>


<div class="row">
{% for object in object_list %}
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{{  object.foto.crop.340x240 }}" alt="{{ object.nombre_publico }}">
      <div class="caption"> <!--  style='height: 240px; max-height: 240px;'> -->
        <h3>{{ object.nombre }} {{ object.apellido }}
            {% if object.en_funciones %}
                <i class="fa fa-check fa-fw"></i>
            {%else%}
                <i class="fa fa-ban fa-fw" data-toggle="tooltip" data-placement="bottom" title="Sin función activa" data-original-title="Sin función activa"></i>
            {% endif %}
        </h3>
        {% if object.en_funciones %}
        <p><span class="label label-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ object.en_funciones.cargo_gen }}"><i class="fa fa-tag fa-fw"></i> {{ object.en_funciones.cargo_gen|truncatechars:30}}</span></p>
        {% else %}
        <p>Ultima mod: {{ object.ultima_modificacion}}</p>
            
        {% endif %}
        <div>
            <a type="button" href="{% url 'backend-personas-detail' object.id %}" class="btn btn-info">Detalles</a>
            {% if perms.funcionarios.change_funcion %}<a type="button" href="{% url 'backend-personas-update' object.id %}" class="btn btn-warning">Modificar</a>{% endif %}
            {% if perms.funcionarios.delete_funcion %}<a type="button" href="{% url 'backend-personas-delete' object.id %}" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i></a>{% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

        {% if is_paginated %}
        <div class="pagination pull-right">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'backend-personas-list' %}?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'backend-personas-list' %}?page={{ page_obj.next_page_number }}">siguiente</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}
{% block scripts %}
<script>
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    $('.tooltip').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
</script>
{% endblock %}
