{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <form  id="categoryForm" class="form-horizontal" method="post" >

    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Persona "{{ object }}" <small>Eliminar</small>

                <div class="btn-group pull-right" role="group" aria-label="List bar">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a href="{% url 'backend-personas-list' %}" class="btn btn-link">Cancelar</a>
                </div>
            </h1>
        </div>
    </div>

        <div class="row">
            {% csrf_token %}
            <p>Texto fruta mostrando los objetos que se borrarian si borraramos este objeto.</p>
            <p>Hacer las validaciones pertinenentes para ver si efectivamente se puede eliminar, así directamente mostramos que no se puede</p>
            <p>Realmente desea eliminar a <b>{{ object }}</b> ?</p>
        </div>
    </form>
</div>
{% endblock %}
