{% extends "backend/base_app.html" %}

{% block title %}Personas{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <legend>{{ object }}</legend>
        Datos del funcionario
    </div>
</div>
{% endblock %}