{% extends "backend/base_app.html" %}
{% load crispy_forms_tags %}

{% block title %}Personas{% endblock %}

{% block content %}
<div id="page-wrapper">
    <form  class="form" method="post" >

    <div class="row">

        <div class="col-sm-8 col-md-6">
            <h1 class="page-header">Personas <small>Crear/Editar</small>

            <div class="btn-group pull-right" role="group" aria-label="List bar">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'backend-personas-list' %}" class="btn btn-link">Cancelar</a>
            </div>
            </h1>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-8 col-md-6">
                {% crispy form %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
