<!DOCTYPE html>
<html lang="es">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <style>
            table {
                border-spacing: 1em;
                border-collapse: collapse;
                width: 100%;
            }
            td {
               border: 1px solid black;
               padding: 10px;
            }
            p, table {margin-top: 20px}
            h1 {font-size: 24px;}
            h2 {font-size: 20px;}
            #logo {
                max-width: 200px;
                float: left;}

        </style>

    </head>

    <body>
        <img id="logo" src="https://gobiernoabierto.cordoba.gob.ar/media/cdn/logo-muni-cba.png" />
        <h1 align="center">FORMULARIO TIPO</h1>
        <h1 align="center">OFICINA DE ACCESO A LA INFORMACIÓN PÚBLICA</h1>

        <p>
        Según los términos de la ordenanza Nº10.560 y su modificatoria Nº11.877 la información solicitada ante
         la Oficina de Acceso a la Información Pública de la Municipalidad de Córdoba tendrá carácter de
          gratuidad total. En los casos en que la solicitud se refiera a información que el Municipio no
           cuente al momento de efectuarse el pedido, el Municipio no está obligado a crear o producir información nueva.
        </p>

        <table>
        <tr><td>Expediente</td><td>{{ solicitud.nro_expediente|default:"NO DEFINIDO AUN"}} (ID:{{ solicitud.id }})</td></tr>
        <tr><td>Titulo </td><td>{{ solicitud.titulo }} </td></tr>
        <tr><td>Descricpion </td><td>{{ solicitud.descripcion|default_if_none:"" }} </td></tr>
        <tr><td>Solicitante </td><td>{{ solicitud.nombre_persona }} {{ solicitante.tipo_id }} {{ solicitante.unique_id|default_if_none:"" }} </td></tr>
        <tr><td>Domicilio </td><td>{{ solicitud.domicilio|default_if_none:"" }} </td></tr>
        <tr><td>Tipo </td><td>{{ solicitud.get_tipo_org_general_display|default_if_none:"" }} {{ solicitud.nombre_org|default_if_none:"" }} </td></tr>
        <tr><td>Tema </td><td>{{ solicitud.tema_general|default_if_none:"" }} </td></tr>
        <tr><td>Motivo </td><td>{{ solicitud.motivo|default_if_none:"" }}. {{ solicitud.motivo_txt }} </td></tr>
        <tr><td>Creado </td><td>{{ solicitud.creado }} </td></tr>
        </table>

        <p>
        La Municipalidad tiene plazo de hasta diez (10) días hábiles administrativos, contados a
        partir del día siguiente al de presentación en la Municipalidad. Dicho plazo solo podrá
        prorrogarse por única vez, por un lapso máximo de otros diez (10) hábiles y de modo
        excepcional, mediante Resolución previa al vencimiento del mismo y debidamente fundada
        y dirigida a la La Oficina de Acceso de Información Pública (Despacho de la Secretaría
        de Modernización, Comunicación y Desarrollo Estratégico).
        </p>

        <p>
        La Oficina de Acceso de Información Pública cuenta con un representante en cada secretaría,
        formalmente designado por cada secretario, este representante es el encargado de enviar a
        las dependencias finales que serán las encargadas de recopilar la información solicitada. La dependencia encargada
        deberá responder el formulario de dos maneras, si obviar nunguna de ellas:
            <ul>
            <li>Deberá enviar su respuesta por e-mail en formatos digitales y re utilizables, enviándo un correo electrónico al representante con copia a "gobiernoabiertocba@gmail.com"
                <ul>
                <li>Planillas de cálculo (Excel o similares)</li>
                <li>Editor de texto (Word o similares)</li>
                <li>Evitar el envio el de uso de PDF cuando no se necesario</li>
                <li>No fotografíar hojas de papel para el envío electrónico</li>
                </ul>
            </li>
             <li>Además deberá enviar la respuesta impresa con la firma del secretario o subsecretario a cargo, documento que
                 deberá ser enviado a La Oficina de Acceso de Información Pública (Despacho
                 de la Secretaría de Modernización, Comunicación y Desarrollo Estratégico).
                 En caso que las respuestas sean muy amplias hablar con su representante antes de imprimir y enviar físicamente la respuesta.</li>
            </ul>


        <b>Bajo ningún motivo la dependencia deberá responder el formulario directamente a la persona solicitante de información.</b>


        </p>

    </body>

</html>
