{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableros de control</h1>
        </div>
    </div>
    <div class="row">
        {% include "backend/tableros/funcionarios/panel_cargos_sin_html.html" %}
        {% include "backend/tableros/funcionarios/panel_funcionarios_sin_html.html" %}
        {% include "backend/tableros/funcionarios/panel_funcionarios_sin_foto.html" %}
        {% include "backend/tableros/funcionarios/panel_funcionarios_sin_decreto.html" %}
        {% include "backend/tableros/funcionarios/panel_cargos_sin_funcionario.html" %}
        {% include "backend/tableros/funcionarios/panel_funcionarios_sin_ddjj.html" %}
        {% include "backend/tableros/audiencias/panel_solicitudes_audiencias.html" %}
        {% include "backend/tableros/ideas/panel_propuestas_ciudadanas.html" %}
        {% include "backend/tableros/acceso_info_publica/panel_acceso_informacion.html" %}
    </div>
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock %}