{% extends "backend/base.html" %}

{% block content %}

<div id="page-wrapper">

   {% include "backend/row0.html" %}

    <div class="row">

        <div class="col-lg-6">
            <form action="/your-name/" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {# Include the visible fields #}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>

                {% endfor %}
                <button type="submit" class="btn btn-default">Guardar y subir datos</button>
            </form>
        </div>

        <div class="col-lg-6">

        </div>

    </div>
</div>

{% endblock %}
