{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cargos sin descripcion pública <small>{{ objects_count }} de {{ total }} (Cargos activos)</small></h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            {% for object in object_list %}
            <tr>
                <td>
                <a target="_blank" href="{% url 'admin:funcionarios_cargo_change' object.id %}">{{object.nombre}}</a> - 
                {% if object.depende_de %}
                (<a target="_blank" href="{% url 'admin:funcionarios_cargo_change' object.depende_de.id %}">{{ object.depende_de.oficina }}</a>) - 
                {% else %}
                No depende de otro cargo - 
                {% endif  %}
                {% if object.en_funcion_activa %}
                <a target="_blank" href="{{ object.en_funcion_activa.get_absolute_url }}">{{ object.en_funcion_activa.funcionario }}</a>
                {% else %}
                SIN FUNCIONARIO DESIGNADO
                {% endif %}
                </td>
            </tr>

            {% empty %}
            <tr><td>Sin resultados</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
    {% if is_paginated %}
    <div class="pagination pull-right">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'backend-tablero-cargos-sin-html' %}?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}
            <span class="page-current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'backend-tablero-cargos-sin-html' %}?page={{ page_obj.next_page_number }}">próxima</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}
