{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Funcionarios sin DDJJ {{ anio }}<small>{{ objects_count }} de {{ total }}</h1>
        </div>
    </div>
    <div class="row" style="max-height: 300px; overflow: scroll;">
        <table class="table table-hover">
            <tr>
                <th>Funcionario</th><th>Cargo</th><th>Secretaría</th><th>Errores</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{ object.nombre.funcionario.nombre }} {{ object.nombre.funcionario.apellido }}</td>
                <td>{{ object.nombre.cargo.nombre }}</td>
                <td>{{ object.nombre.cargo.area_gobierno }}</td>
                <td>{% for error in object.errores %}<span class="label label-danger">{{ error }}</span>{% endfor %}</td>
            </tr>
            {% empty %}
            <tr><td>Sin resultados</td></tr>
            {% endfor %}
        </table>
    </div>

    <div class="row" style="max-height: 300px; overflow: scroll;">
        <table class="table table-hover">
            <tr>
                <th>Secretaria</th><th>OK</th><th>Falta</th><th>% faltante</th>
            </tr>
            {% for secretaria, values in por_secretaria.items %}
            <tr>
                <td>{{ secretaria }}</td>
                <td>{{ values.ok }}</td>
                <td>{{ values.falta }}</td>
                <td>{{ values.porc_malos}} %</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
