{% extends "backend/base_app.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Funcionarios sin Decreto <small>{{ objects_count }} de {{ total }}</h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <tr>
                <th>Funcionario</th><th>Cargo</th><th>Secretaría</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td><a target="_blank" href="{{ object.get_absolute_url }}">{{ object.funcionario.nombre }} {{ object.funcionario.apellido }}</a></td>
                <td>{{ object.cargo.nombre }}</td>
                <td>{{ object.cargo.area_gobierno }}</td>

            </tr>
            {% empty %}
            <tr><td>Sin resultados</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
    {% if is_paginated %}
    <div class="pagination pull-right">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'backend-tablero-funcionarios-sin-decreto' %}?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}
            <span class="page-current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'backend-tablero-funcionarios-sin-decreto' %}?page={{ page_obj.next_page_number }}">próxima</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}