 @media (min-width: 375px) {
   .navbar-gaMuniCba{
     /* max-height: 75px; */
   }
}
/* Media Queries */
/*Small devices (landscape phones, 424px and up)*/
@media (min-width: 424px) {
  .kpx_login{
    padding: 20px 40px;
    margin: 20px;
    margin-top: 0;
  }
}
/*Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand{
    margin-left: 0px !important;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .menuLogo{
    /* margin-left: -15px; */
  }
  .navbar-gaMuniCba .navbar-brand{
    /* margin-left: 0px; */
    margin-top: 0px;
  }
  .menuLogo{
    width: 60px;
    margin-top: 5px;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
  .navbar .container {
      width: 1270px;
    }
}

@media (min-width: 1700px) {
  .navbar .container {
      width: 1570px;
    }
} */
