a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none;
}

/*
    @hiercelik - hiercelik.net
    @koalapix - koalapix.com
*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);

@font-face {
  font-family: Circular;
  font-weight: 500;
  src: url("../fonts/circular-medium.ttf");
}
@font-face {
  font-family: Circular;
  font-weight: 400;
  src: url("../fonts/circular-book.ttf");
}

@media (min-width: 768px) {
    .kpx_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.login a {
    /* color: #00a665; */
}
.loginForm{
  background-color: #f8f8f8;
}
.login a:hover,
.navbar-default.navbar-gaMuniCba .navbar-nav>li>a:hover {
    color: #00a665;
    text-decoration: none;
}

.kpx_login .kpx_authTitle {
    text-align: center;
    margin: 10px 10px 20px;
}

.kpx_login .kpx_socialButtons a {
    color: white;
/ / In yourUse @body-bg opacity: 0.9;
}

.kpx_login .kpx_socialButtons a:hover {
    color: white;
    opacity: 1;
}

.kpx_login .kpx_socialButtons .kpx_btn-facebook {
    background: #3b5998;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-facebook:hover {
    background: #172d5e
}

.kpx_login .kpx_socialButtons .kpx_btn-facebook:focus {
    background: #fff;
    color: #3b5998;
    border-color: #3b5998;
}

.kpx_login .kpx_socialButtons .kpx_btn-twitter {
    background: #00aced;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-twitter:hover {
    background: #043d52
}

.kpx_login .kpx_socialButtons .kpx_btn-twitter:focus {
    background: #fff;
    color: #00aced;
    border-color: #00aced;
}

.kpx_login .kpx_socialButtons .kpx_btn-google-plus {
    background: #c32f10;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-google-plus:hover {
    background: #6b1301
}

.kpx_login .kpx_socialButtons .kpx_btn-google-plus:focus {
    background: #fff;
    color: #c32f10;
    border-color: #c32f10
}

.kpx_login .kpx_socialButtons .kpx_btn-soundcloud {
    background: #ff8800;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-soundcloud:hover {
    background: #c73e04
}

.kpx_login .kpx_socialButtons .kpx_btn-soundcloud:focus {
    background: #fff;
    color: #ff8800;
    border-color: #ff8800
}

.kpx_login .kpx_socialButtons .kpx_btn-github {
    background: #666666;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-github:hover {
    background: #333333
}

.kpx_login .kpx_socialButtons .kpx_btn-github:focus {
    background: #fff;
    color: #666666;
    border-color: #666666
}


.kpx_login .kpx_socialButtons .kpx_btn-instagram {
    background: #e95950;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-instagram:hover {
    background: #cd486b;
}

.kpx_login .kpx_socialButtons .kpx_btn-instagram:focus {
    background: #fff;
    color: #e95950;
    border-color: #e95950;
}

.kpx_login .kpx_socialButtons .kpx_btn-steam {
    background: #878787;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-steam:hover {
    background: #292929
}

.kpx_login .kpx_socialButtons .kpx_btn-steam:focus {
    background: #fff;
    color: #878787;
    border-color: #878787
}

.kpx_login .kpx_socialButtons .kpx_btn-pinterest {
    background: #cc2127;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-pinterest:hover {
    background: #780004
}

.kpx_login .kpx_socialButtons .kpx_btn-pinterest:focus {
    background: #fff;
    color: #cc2127;
    border-color: #cc2127
}

.kpx_login .kpx_socialButtons .kpx_btn-vimeo {
    background: #1ab7ea;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-vimeo:hover {
    background: #162221
}

.kpx_login .kpx_socialButtons .kpx_btn-vimeo:focus {
    background: #fff;
    color: #1ab7ea;
    border-color: #1ab7ea
}

.kpx_login .kpx_socialButtons .kpx_btn-lastfm {
    background: #c3000d;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-lastfm:hover {
    background: #5e0208
}

.kpx_login .kpx_socialButtons .kpx_btn-lastfm:focus {
    background: #fff;
    color: #c3000d;
    border-color: #c3000d
}

.kpx_login .kpx_socialButtons .kpx_btn-yahoo {
    background: #400191;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-yahoo:hover {
    background: #230052
}

.kpx_login .kpx_socialButtons .kpx_btn-yahoo:focus {
    background: #fff;
    color: #400191;
    border-color: #400191
}

.kpx_login .kpx_socialButtons .kpx_btn-vk {
    background: #45668e;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-vk:hover {
    background: #1a3352
}

.kpx_login .kpx_socialButtons .kpx_btn-vk:focus {
    background: #fff;
    color: #45668e;
    border-color: #45668e
}

.kpx_login .kpx_socialButtons .kpx_btn-spotify {
    background: #7ab800;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-spotify:hover {
    background: #3a5700
}

.kpx_login .kpx_socialButtons .kpx_btn-spotify:focus {
    background: #fff;
    color: #7ab800;
    border-color: #7ab800
}

.kpx_login .kpx_socialButtons .kpx_btn-linkedin {
    background: #0976b4;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-linkedin:hover {
    background: #004269
}

.kpx_login .kpx_socialButtons .kpx_btn-linkedin:focus {
    background: #fff;
    color: #0976b4;
    border-color: #0976b4
}

.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon {
    background: #eb4924;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon:hover {
    background: #943019
}

.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon:focus {
    background: #fff;
    color: #eb4924;
    border-color: #eb4924
}

.kpx_login .kpx_socialButtons .kpx_btn-tumblr {
    background: #35465c;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-tumblr:hover {
    background: #142030
}

.kpx_login .kpx_socialButtons .kpx_btn-tumblr:focus {
    background: #fff;
    color: #35465c;
    border-color: #35465c
}

.kpx_login .kpx_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.kpx_login .kpx_loginOr .kpx_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.kpx_login .kpx_loginOr .kpx_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.kpx_login .kpx_loginForm .input-group.i {
    width: 2em;
}

.kpx_login .kpx_loginForm .help-block {
    color: red;
}

@media (min-width: 768px) {
    .kpx_login .kpx_forgotPwd {
        text-align: right;
        margin-top: 10px;
    }
}

/* Estilos de GA */
.navbar-gaMuniCba{
  background-color: #FFF !important;
  border-bottom: 1px solid #EEEEEE;
  min-width: 235px;
}
.navbar-gaMuniCba .navbar-nav>li>a{
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-gaMuniCba .nav>li{
  display: inline-block;
}
.sqGA{
  min-width: 160px;
  height: 75px;
  background-color: #00a665;
  display: inline-block;
  color: #FFF;
  overflow: hidden;
  padding: 17.5px 7px;
  text-align: center;
}
.logoGAG{
  width: 40px;
  display: inline-block;
}
.logoGAG .stGA{
  fill: #FFF;
}
.sqGA.inverse .logoGAG .stGA{
  fill: #00a665;
}
.logoGA{
  margin: 0px;
  font-family: "Circular", sans-serif;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  font-size: 1.55em;
  line-height: 0.85em;
  vertical-align: 3px;
  margin-left: 7.5px;
}
.navbar-gaMuniCba .navbar-brand{
  width: 60px;
  height: 75px;
  padding: 0;
  margin-top: 7.5px;
  margin-left: 15px;
}
.square{
  height: 75px;
  display: inline-block;
}
.menuLogo{
  width: 50px;
  display: inline-block;
}

.menuLogo .st0{fill:#00a665;}
.navbar-gaMuniCba .navbar-header{
  min-width: 235px;
  height: 75px;
  display: inline-block;
}
.navbar-gaMuniCba .navbar-nav{
  display: inline-block;
  float: right!important;
  margin: 0;
}
.navbar-gaMuniCba .infoLogin{
  margin-top: 12.5px;
}

/* Cambios para diseño */
.kpx_login{
  border: 1px solid #FFF;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.29);
  padding: 20px;
  margin: 0px;
  margin-bottom: 10px;
}

.btn-block{
  margin: 10px 0px;
  width: 100%;
  border-radius: 0;
}

.text-center{
  text-align: center;
}

.btn-muniCba{
  background-color: #00a665;
  color: #FFFFFF;
  height: 60px;
border-radius: 0;
  border:0;
  margin-top: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-muniCba:active,
.btn-muniCba:focus,
.btn-muniCba:hover{
  background-color: #007446;
  color: #FFF !important;
  outline: none;
  box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.loginForm input,
.registrationForm input{
  border-radius: 0;
  color: #636362;
  font-weight: 400;
}

/* Cambios para registro */
.jumbotron{
  font-family: 'Circular', sans-serif;
}
