{% extends "backend/base_app.html" %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart1);

        function drawChart1() {
          var data = google.visualization.arrayToDataTable({{ errores_tipo|safe }});
          var options = {
            title: 'Errores de tipo',
            curveType: 'function',
            legend: { position: 'bottom'},
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_errores_tipo'));

          chart.draw(data, options);
          drawChart2();
        }

        function drawChart2() {
          var data = google.visualization.arrayToDataTable({{ resultados_lineas|safe }});
  
          var options = {
            title: 'Resultados pedidos de colectivos',
            curveType: 'function',
            legend: { position: 'bottom'},
            bar: { groupWidth: '75%' },
            isStacked: true,
            timezone: -3,
          };
  
          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_resultados_lineas_1'));
  
          chart.draw(data, options);
          drawChart3();
        }

        function drawChart3() {
          var data = google.visualization.arrayToDataTable({{ resultados_lineas|safe }});
  
          var options = {
            title: 'Resultados pedidos de colectivos %',
            curveType: 'function',
            legend: { position: 'bottom'},
            bar: { groupWidth: '75%' },
            isStacked: 'percent',
            timezone: -3,
          };
  
          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_resultados_lineas_2'));
  
          chart.draw(data, options);
        }

      </script>
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Estadisticas sobre Transporte</h1>
            <p>Últimos {{ minutos }} minutos</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="chrt_errores_tipo" style="width: 100%; height: 500px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="chrt_resultados_lineas_2" style="width: 100%; height: 500px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="chrt_resultados_lineas_1" style="width: 100%; height: 500px"></div>
        </div>
    </div>

</div>
{% endblock %}
