{% extends "backend/base_app_mini_mobile.html" %}

{% block head_metas %}
{{ block.super }}
<meta name="ask-mobile" content="Si">
<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>

        $(document).ready(function(){
            setInterval("location.reload(true)", 120000);

            load_charts();
            
        });


        function  load_charts() {
            var us = {{ usuarios_go_totales }};
            var us_24 = {{ usuaron_go_ult_24_hs }};
            var us_7 = {{ usuaron_go_ult_semana }};
            
            var data = [
            {"cantidad": us - us_7 , "name": "No usaron la app"},
            {"cantidad": us_7, "name": "Si usaron la app"},
            ];
            var attributes = [
                {"name": "No usaron la app", "hex": "#ff0059"},
                {"name": "Si usaron la app", "hex": "#009059"}
            ];

            
            d3plus.viz()
            .container("#chart_div")
            .data(data)
            .type("pie")
            .id("name")
            .attrs(attributes)
            .color("hex")
            .size("cantidad")
            .labels({"text": "cantidad"})
            .legend({"labels": true, "text": true})
            .background("#f8f8f8")
            .format("es_ES")
            .draw();


            var data = [
            {"cantidad": us - us_24 , "name": "No usaron la app"},
            {"cantidad": us_24, "name": "Si usaron la app"},
            ]
            var attributes = [
                {"name": "No usaron la app", "hex": "#ff0059"},
                {"name": "Si usaron la app", "hex": "#009059"}
            ]
                
            d3plus.viz()
            .container("#chart_div2")
            .data(data)
            .type("pie")
            .id("name")
            .attrs(attributes)
            .color("hex")
            .size("cantidad")
            .labels({"text": "cantidad"})
            .legend({"labels": true, "text": true})
            .background("#f8f8f8")
            .draw();
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row menuTop">
        <div class="col-sm-12 nopadding">
            <h2 class="goBackendTitle">Go: {{ usuarios_go_totales }} Usuarios</h2>
        </div>
    </div>
    <div class="row contentData">
        <div class="col-sm-6">
            <h4>{{ usuaron_go_ult_semana }} personas usaron Go esta semana ({{ porc_ult_semana }} %)</h4>
            <div id="chart_div" style="width: 100%; height: 300px;" ></div>
        </div>
        <div class="col-sm-6">
            <h4>{{ usuaron_go_ult_24_hs }} personas usaron Go hoy ({{ porc_ult_24_hs }} %)</h4>
            <div id="chart_div2" style="width: 100%; height: 300px;" ></div>
        </div>
    </div>
</div>
{% endblock %}
