{% extends "backend/base_app_mini_mobile.html" %}

{% block head_metas %}
{{ block.super }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart'],'language': 'es-AR'});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      $(document).ready(function(){
        setInterval("location.reload(true)", 900000);
        drawChart();
      });


      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Dia');
        data.addColumn('number', 'Activos');
        // data.addColumn('number', 'No activos');
        // data.addColumn({type: 'string', role: 'annotation'});
        // data.addColumn({type: 'string', role: 'style' });
        data.addRows({{lista_data|safe}});

        var options = {
          legend: { position: 'top', maxLines: 3 },
          bar: { groupWidth: '75%' },
          // isStacked: true,
      };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

<body>
{% block content %}
<div class="container-fluid">
    <div class="row menuTop">
        <div class="col-sm-12 nopadding">
            <!-- <h2 class="goBackendTitle">Go: {{ registrados }} Usuarios registrados</h2> -->
            <h2 class="goBackendTitle">Go: Usuarios activos</h2>
        </div>
    </div>
    <div class="row contentData">
        <div class="col-sm-6">
            <div id="chart_div" style="width: 100vw; height:100vh"></div>
        </div>
    </div>
</div>
{% endblock %}
</body>