{% extends "backend/base_app.html" %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart1);
        

        function drawChart1() {
          var hour_formatter = new google.visualization.DateFormat({ pattern: "d/M, HH'h"}); 
          var data = google.visualization.arrayToDataTable({{ lista_nuevos|safe }});
  
          var options = {
            title: 'Nuevos usuarios',
            curveType: 'function',
            legend: { position: 'bottom'},
            vAxis: { gridlines: { count: 4 } },
            timezone: -3,
            vAxis: {title: 'Nuevos usuarios'},
            hAxis: {title: 'Momento', format: "d/M, HH"},
          };
          hour_formatter.format(data, 0);

          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_nuevos'));
  
          chart.draw(data, options);

          drawChart2();
        }

        function drawChart2() {
          var hour_formatter = new google.visualization.DateFormat({ pattern: "d/M, HH'h"}); 
          var data = google.visualization.arrayToDataTable({{ lista_acciones_por_periodo|safe }});
  
          var options = {
            title: 'Usos API',
            curveType: 'function',
            legend: { position: 'bottom'},
            vAxis: { gridlines: { count: 4 } },
            timezone: -3,
            vAxis: {title: 'Acciones'},
            hAxis: {title: 'Momento', format: "d/M, HH"},
          };

          hour_formatter.format(data, 0);
  
          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_usos'));
  
          chart.draw(data, options);

          drawChart3();
        }

        function drawChart3() {
          var hour_formatter = new google.visualization.DateFormat({ pattern: "d/M, HH'h"}); 
          var data = google.visualization.arrayToDataTable({{ lista_valoraciones_por_periodo|safe }});
  
          var options = {
            title: 'Valoraciones',
            curveType: 'function',
            legend: { position: 'bottom'},
            bar: { groupWidth: '75%' },
            isStacked: true,
            timezone: -3,
          };
          hour_formatter.format(data, 0);
  
          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_valoraciones'));
  
          chart.draw(data, options);
          drawChart4();
        }

        function drawChart4() {
            var hour_formatter = new google.visualization.DateFormat({ pattern: "d/M, HH'h"}); 
            var data = google.visualization.arrayToDataTable({{ lista_valoraciones_por_periodo|safe }});

          var options = {
            title: 'Valoraciones (%)',
            curveType: 'function',
            legend: { position: 'bottom'},
            bar: { groupWidth: '75%' },
            isStacked: 'percent',
            timezone: -3,
          };
          hour_formatter.format(data, 0);

          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_valoraciones_perc'));

          chart.draw(data, options);
          drawChart5();
        }

        function drawChart5() {
          var us = {{ usuarios_go_totales }};
          var us_24 = {{ usuaron_go_ult_24_hs }};
          var us_7 = {{ usuaron_go_ult_semana }};
          
          var data = google.visualization.arrayToDataTable([
              ['Usuarios', 'Cantidad'],
              ['No usaron última semana', us - us_7],
              ['Si usaron ultima semana', us_7],
          ]);
  
          var options = {
            title: 'Usuarios de la app última semana',
            pieHole: 0.2,
            pieSliceText: 'value',

            };
        
          var chart = new google.visualization.PieChart(document.getElementById('chart_us7'));
          
          chart.draw(data, options);

          var data = google.visualization.arrayToDataTable([
              ['Usuarios', 'Cantidad'],
              ['No usaron últimas 24 hs', us - us_24],
              ['Si usaron ultimas 24 hs', us_24]
          ]);
  
          var options = {
            title: 'Usuarios de la app últimas 24 hs',
            pieHole: 0.2,
            pieSliceText: 'value',

            };
        
          var chart = new google.visualization.PieChart(document.getElementById('chart_us24'));
          
          chart.draw(data, options);
        }

      </script>
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tableros sobre Transporte</h1>
        </div>
    </div>
    <div class="row">
        {% include "backend/tableros/transporte/panel_unidades_activas.html" %}
        {% include "backend/tableros/transporte/panel_usuarios.html" %}
        {% include "backend/tableros/transporte/panel_ult_24_hs.html" %}
        {% include "backend/tableros/transporte/panel_ult_semana.html" %}
        {% include "backend/tableros/transporte/panel_acciones.html" %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="chrt_nuevos" style="width: 100%; height: 500px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="chrt_usos" style="width: 100%; height: 500px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="chart_us7" style="width: 100%; height: 500px"></div>
        </div>
        <div class="col-lg-6">
            <div id="chart_us24" style="width: 100%; height: 500px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="chrt_valoraciones" style="width: 100%; height: 500px"></div>
        </div>
        <div class="col-lg-6">
            <div id="chrt_valoraciones_perc" style="width: 100%; height: 500px"></div>
        </div>
    </div>

</div>
{% endblock %}
