{% extends "backend/base_app.html" %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart1);

        function drawChart1() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Estado');
          data.addColumn('number', 'Opiniones');
          data.addColumn({type: 'string', role: 'annotation'});
          data.addRows({{mensajes_directos_agrupados|safe}});
          
          var options = {
            title: 'Mensajes Directos ({{ total_mensajes_directos }})',
            curveType: 'function',
            legend: { position: 'bottom'},
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_msj_1'));

          chart.draw(data, options);
          drawChart2();
        }

        function drawChart2() {
          
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Estado');
          data.addColumn('number', 'Opiniones');
          data.addColumn({type: 'string', role: 'annotation'});
          data.addRows({{mensajes_grupales_agrupados|safe}});

          var options = {
            title: 'Mensajes Agrupados ({{ total_mensajes_grupales }})',
            curveType: 'function',
            legend: { position: 'bottom'},
            bar: { groupWidth: '75%' },
            isStacked: true,
            timezone: -3,
          };
  
          var chart = new google.visualization.ColumnChart(document.getElementById('chrt_msj_2'));
  
          chart.draw(data, options);
          
        }

      </script>
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mensajes en Go</h1>
            <p>Últimos {{ minutos }} minutos</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="chrt_msj_1" style="width: 100%; height: 500px"></div>
        </div>
        <div class="col-lg-6">
            <div id="chrt_msj_2" style="width: 100%; height: 500px"></div>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
      <h3>Mensajes Directos</h3>
    {% for mensaje in mensajes_directos %}
        <p>Mensaje <b>{{ mensaje.titulo }}</b> directo a {{ mensaje.usuario.user.username }} soft {{ mensaje.usuario.software.titulo }}: {{ mensaje.get_estado_display }}</p>
    {% endfor %}
      </div>
      <div class="col-lg-6">
        <h3>Mensajes Grupales</h3>
    {% for mensaje in mensajes_grupales %}
        <p>Mensaje <b>{{ mensaje.mensaje.mensaje.titulo }}</b> grupal a {{ mensaje.usuario.user.username }} soft {{ mensaje.usuario.software.titulo }}: {{ mensaje.get_estado_display }}</p>
    {% endfor %}
      </div>
    </div>

</div>
{% endblock %}
