<div class="col-lg-2 col-md-2">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-left">
                    <div class="huge">{{ colectivos_activos_registrados }} / {{ colectivos_en_punta_de_linea }}</div>
                    <div>Colectivos activos y en punta de línea</div>
                </div>
            </div>
        </div>
        
        <a href="">
        <a href="{% url 'backend.tableros.transporte.unidades_activas' %}">
            <div class="panel-footer">
                <span class="pull-left">detalles</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        
        
    </div>
</div>