<div class="col-lg-2 col-md-2">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-left">
                    <div class="huge">{{ usuaron_go_ult_semana }}</div>
                    <div>Usuarios activos: 
                        <i><b>ultima semana</b></i></div>
                </div>
            </div>
        </div>
        
        <!--
        <a href="{% url 'admin:log_usuarios_logusuario_changelist' %}?codigo_accion={{ accion.codigo_accion }}">
            
            <div class="panel-footer">
                <span class="pull-left">detalles</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        -->
        
    </div>
</div>