{% extends "backend/base_app.html" %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'gauge']});
        google.charts.setOnLoadCallback(drawChart1);
        

        function drawChart1() {
          
          var prc = 100 * {{colectivos_activos_registrados}} / ({{colectivos_activos_registrados}} + {{colectivos_en_punta_de_linea}});
          var data = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['% sistema', prc]
          ]);
  
          var options = {
            width: 300, height: 300,
            redFrom: 0, redTo: 20,
            yellowFrom:20, yellowTo: 70,
            greenFrom:70, greenTo:100,
            minorTicks: 20
            };
        
          var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
          chart.draw(data, options);

          var data = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['colectivos', {{colectivos_activos_registrados}}]
          ]);
  
          var options = {
            width: 300, height: 300,
            redFrom: 0, redTo: 200,
            yellowFrom:200, yellowTo: 650,
            greenFrom:650, greenTo:900,
            minorTicks: 20, max:900
            };
        
          var chart = new google.visualization.Gauge(document.getElementById('chart_div2'));
  
          chart.draw(data, options);

          
        }

        
      </script>
{% endblock %}

{% block content %}
<div id="page-wrapper">
    
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ colectivos_activos_registrados }} colectivos activos / {{ colectivos_en_punta_de_linea }} en punta de línea</h3>
            <p>
                <button type="button"
                    class="btn btn-primary"
                    onClick="window.location.reload()"
                    >Refrescar</button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="chart_div" style="width: 100%"></div>
        </div>
        <div class="col-lg-6">
                <div id="chart_div2" style="width: 100%"></div>
        </div>
    </div>

</div>
{% endblock %}
