{% extends "backend/base_app_mini_mobile_descripcion.html" %}
{% load l10n %}

{% block styles %}
<link href="/static/backend/dist/css/gaugeMeter.css" rel="stylesheet">
{% endblock %}

{% block head_metas %}
{{ block.super }}

<style>
    #chart_div3 b{
        font-size: 1.2em !important;
    }
    #chart_div4 b{
        font-size: 1em !important;
    }
</style>

<meta name="ask-mobile" content="Si">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="/static/backend/js/GaugeMeter.js"></script>
    <script>
        $(document).ready(function(){
            var prc = {{ porc_activo|unlocalize }};
            var size = $(window).height() / 2;
            $("#chart_div").gaugeMeter({percent:prc*100, size:size});

            var prc = {{ porc_pta_de_linea|unlocalize }};
            var size = $(window).height() / 2;
            $("#chart_div2").gaugeMeter({percent:prc*100, size:size});

            var prc = {{ porc_no_logueado|unlocalize }};
            var size = $(window).height() / 2;
            $("#chart_div3").gaugeMeter({percent:prc*100, size:size});

            var prc = {{ porc_adaptados_activos|unlocalize }};
            var size = $(window).height() / 2;
            $("#chart_div4").gaugeMeter({percent:prc*100, size:size});

            setInterval("location.reload(true)", 120000);
        });
    </script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 nopadding">
            <h2 class="goBackendTitle">INDICADORES DE TRANSPORTE EN TIEMPO REAL - COMO % DE LA FLOTA TOTAL</h2>
        </div>
    </div>
    <div class="row">
        <div>
            <div style="display: grid; grid-template-columns: 50% 50%" >
            <div id="chart_div" class="GaugeMeter"
                                data-append="%"
                                data-width="15"
                                data-size="300"
                                data-style="Arch"
                                data-animate_gauge_colors="true"
                                data-animate_text_colors="true"
                                data-text_size="0.22"
                                data-stripe=1
                                data-label="{{ colectivos_activos_registrados }} activos"></div>
            <div style="align-self: center; ">Indica las unidades activas prestando servicio y lo expresa como porcentaje del total de la flota. Se descuenta la proporción de flota que se considera reserva.</div>
            </div>


            <div style="display: grid; grid-template-columns: 50% 50%" >
            <div id="chart_div2" class="GaugeMeter"
                                data-append="%"
                                data-width="15"
                                data-size="300"
                                data-style="Arch"
                                data-animate_gauge_colors="true"
                                data-animate_text_colors="true"
                                data-text_size="0.22"
                                data-stripe=1
                                data-theme="Green-Gold-Red"
                                data-label="{{ colectivos_en_punta_de_linea }} pta línea"></div>
            <div style="align-self: center; ">Indica las unidades que están en punta de línea y lo expresa como porcentaje del total de la flota. Se descuenta la proporción de flota que se considera reserva.</div>
            </div>
        </div>

    </div>
    <div class="row">
        <div>
            <div style="display: grid; grid-template-columns: 50% 50%">
                <div id="chart_div3" class="GaugeMeter"
                                    data-append="%"
                                    data-width="15"
                                    data-size="300"
                                    data-style="Arch"
                                    data-animate_gauge_colors="true"
                                    data-animate_text_colors="true"
                                    data-text_size="0.22"
                                    data-stripe=1
                                    data-label="{{ colectivos_activos_no_registrados }} sin loguear"></div>
                <div style="align-self: center; ">Indica las unidades sin loguear y lo expresa como porcentaje del total de la flota. Se descuenta la proporción de flota que se considera reserva. El proceso de logueo lo realiza el chofer del colectivo al momento de iniciar un recorrido. De no hacerlo la municipalidad detecta que hay una unidad en la calle pero no puedo asociarlo a una línea y recorrido puntual.</div>

                <div id="chart_div4" class="GaugeMeter"
                                    data-append="%"
                                    data-width="15"
                                    data-size="300"
                                    data-style="Arch"
                                    data-animate_gauge_colors="true"
                                    data-animate_text_colors="true"
                                    data-text_size="0.22"
                                    data-stripe=1
                                    data-label="{{ adaptados_activos }} Adaptados activos"></div>
                <div style="align-self: center; ">Indica las unidades adaptadas que están prestando servicio y lo expresa como porcentaje del total de la flota. Se descuenta la proporción de flota que se considera reserva.</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
