{% extends "backend/base_app_mini_mobile.html" %}
{% load l10n %}

{% block styles %}
<link href="/static/backend/dist/css/gaugeMeter.css" rel="stylesheet">
{% endblock %}

{% block head_metas %}
{{ block.super }}
<meta name="ask-mobile" content="Si">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="/static/backend/js/GaugeMeter.js"></script>
    <script>
        $(document).ready(function(){
            var prc = {{ porc_activo|unlocalize }};
            var size = $(window).height() / 2;
            $("#chart_div").gaugeMeter({percent:prc*100, size:size});

            var prc = {{ porc_pta_de_linea|unlocalize }};
            var size = $(window).height() / 2;
            $("#chart_div2").gaugeMeter({percent:prc*100, size:size});

            var prc = {{ porc_no_logueado|unlocalize }};
            var size = $(window).height() / 3;
            $("#chart_div3").gaugeMeter({percent:prc*100, size:size});

            var prc = {{ porc_adaptados_activos|unlocalize }};
            var size = $(window).height() / 3;
            $("#chart_div4").gaugeMeter({percent:prc*100, size:size});

            /*
            var prc = {{ porc_adaptados_en_servicio|unlocalize }};
            var size = $(window).height() / 2.7;
            $("#chart_div5").gaugeMeter({percent:prc*100, size:size});
            */
            setInterval("location.reload(true)", 120000);
        });
    </script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 nopadding">
            <h2 class="goBackendTitle">Go: Transporte. {{ colectivos_totales }} unidades</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div id="chart_div" class="GaugeMeter"
                                data-append="%"
                                data-width="15"
                                data-style="Arch"
                                data-animate_gauge_colors="true"
                                data-animate_text_colors="true"
                                data-text_size="0.22"
                                data-stripe=1
                                data-label="{{ colectivos_activos_registrados }} activos"></div>
        </div>
        

        <div class="col-sm-6">
            <div id="chart_div2" class="GaugeMeter"
                                data-append="%"
                                data-width="15"
                                data-style="Arch"
                                data-animate_gauge_colors="true"
                                data-animate_text_colors="true"
                                data-text_size="0.22"
                                data-stripe=1
                                data-theme="Green-Gold-Red"
                                data-label="{{ colectivos_en_punta_de_linea }} pta línea"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div style="text-align: center;font-weight: bold;">{{ colectivos_activos_no_registrados }} sin loguear</div>
            <div id="chart_div3" class="GaugeMeter"
                                data-append="%"
                                data-width="10"
                                data-style="Arch"
                                data-animate_gauge_colors="true"
                                data-animate_text_colors="true"
                                data-text_size="0.22"
                                data-stripe=1
                                data-label=""></div>
        </div>
        

        <div class="col-sm-6">
            <div style="text-align: center;font-weight: bold;">{{ adaptados_activos }} Adaptados activos</div>
            <div id="chart_div4" class="GaugeMeter"
                                data-append="%"
                                data-width="10"
                                data-style="Arch"
                                data-animate_gauge_colors="true"
                                data-animate_text_colors="true"
                                data-text_size="0.22"
                                data-stripe=1
                                data-label=""></div>
        </div>
        
        <!-- 
        <div class="col-sm-4">
            <div style="text-align: center;font-weight: bold;">{{ adaptados_en_servicio }} Adaptados totales</div>
            <div id="chart_div5" class="GaugeMeter"
                                data-append="%"
                                data-width="10"
                                data-style="Arch"
                                data-animate_gauge_colors="true"
                                data-animate_text_colors="true"
                                data-text_size="0.22"
                                data-stripe=1
                                data-label=""></div>
        </div>
        -->
    </div>

</div>

{% endblock %}
