<html lang="es">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="twitter:site" content="@GobAbiertoCBA">
        <meta name="description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta name="keywords" content="Gobierno Abierto, Transparencia, datos abierto, participación, colaboración">
        <meta name="author" content="Municipalidad de Córdoba">

        <meta property="og:title" content="Portal de la Ciudad de Córdoba">
        <meta property="og:description" content="Portal de Gobierno Abierto de la Ciudad de Córdoba">
        <meta property="og:image" content="https://gobiernoabierto.cordoba.gob.ar/media/cdn/PortalDeLaCiudad.png">
        <meta property="og:url" content="https://gobiernoabierto.cordoba.gob.ar/">
        <meta name="twitter:card" content="summary_large_image">

        <meta property="og:site_name" content="#PortalDeLaCiudad">
        <meta name="twitter:image:alt" content="#PortalDeLaCiudad">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Asociado: {{ asociado.nombre }} {{ asociado.apellido }}</title>

        <!-- Bootstrap -->
        <link href="/static/fichas/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
        <link href="/static/fichas/fichas.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/fichas/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
      <div class="container-fluid">
        <div class="fichaGuia">
          <div class="infoGralGuia row">
            <div class="col-xs-12 ">
              <div class="nombreGuiaContainer">
                <h1 class="nombreGuia">{{ asociado.nombre }} {{ asociado.apellido }}</h1>
                <div class="nameDivider"></div>
              </div>
              <h2 class="habilitacionGuia">Asociado a Cooperativa de Estacionamiento habilitado en la Ciudad de Córdoba</h2>
            </div>

          </div>
          <div class="masInfoGuia row">
            {% if asociado.foto %}
            <div class="col-xs-12 col-md-5 no-padding imgGuia colGuia" style="background-image: url('{{ asociado.foto.thumbnail.1000x1000 }}'); " title="Foto de asociado {{ asociado.nombrepublico }}">
            {% else %}
            <!-- <div class="col-xs-12 col-md-5 no-padding imgGuia" style="background-image: url('{{ asociado.foto.thumbnail.1000x1000 }}'); "> -->
            {% endif%}

            </div>
            <div class="col-xs-12 col-md-7 infoDescGuia colGuia">
              <p class="descGuia">
                <br />Nombre: <span class="strong">{{ asociado.nombre }}</span>
                <br />Apellido: <span class="strong">{{ asociado.apellido }}</span>
                <br />DNI: <span class="strong">{{ asociado.unique_id }}</span>
                <br />Cooperativa: <span class="strong">{{ asociado.cooperativa.nombre }}</span>
                <br /><br />{{ asociado.html|safe |striptags}}
              </p>

              <div class="comunicaciones">
                <h3 class="viasCom">Vías de comunicación</h3>
                {% for com in comunicaciones.all %}
                  <a href="{{com.absolute_url}}">
                  {% if com.tipo.nombre == 'Blog'%}
                    <span class="fa-stack fa-2x" title="Link al blog del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-rss fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                  {% if com.tipo.nombre == 'Email'%}
                    <span class="fa-stack fa-2x" title="Link al email del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-envelope-o fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                  {% if com.tipo.nombre == 'Skype'%}
                    <span class="fa-stack fa-2x" title="Link a Skype del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-skype fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                  {% if com.tipo.nombre == 'Twitter'%}
                    <span class="fa-stack fa-2x" title="Link al Twitter del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-twitter fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                  {% if com.tipo.nombre == 'Facebook personal'%}
                    <span class="fa-stack fa-2x" title="Link al Facebook del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-facebook fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                  {% if com.tipo.nombre == 'Facebook fanpage'%}
                    <span class="fa-stack fa-2x" title="Link al Facebook del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-facebook fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                  {% if com.tipo.nombre == 'Web'%}
                    <span class="fa-stack fa-2x" title="Link a la web del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-globe fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                  {% if com.tipo.nombre == 'Teléfono'%}
                    <span class="fa-stack fa-2x" title="Link a teléfono del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-phone fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                  {% if com.tipo.nombre == 'Celular'%}
                    <span class="fa-stack fa-2x" title="Link a celular del Guía">
                      <span class="fa fa-circle fa-stack-2x"></span>
                      <span class="fa  fa-phone fa-stack-1x fa-inverse"></span>
                    </span>
                  {% endif%}
                {% endfor %}
              </div>
              <a class="qrGuia" href="{{ qr_download }}" download="{{ Asociado.nombrepublico|slugify }}-QR.png">
                  <img src="{{ qr_image }}" alt="DESCARGAR QR Asociado {{ asociado.nombrepublico }}"  />
              </a>
            </div>
        </div>

        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="/static/website/{{website.template}}/js/jquery.matchHeight.js"></script>
      <script>
      $(function() {
          $('.colGuia').matchHeight();
      });
      </script>
    </body>
</html>
