<h1>Datos de funcionario</h1>
<h2>{{ persona.nombre }} {{ persona.apellido }}</h2>

<p>
    Cargo: {{ funcion.cargo }} ({% if funcion.activo %}activo desde {{ funcion.fecha_inicio }}{% else %}INACTIVO{% endif %})

    {% if area %}
    <br />Secretaría {{ area }}
    {% endif %}

</p>
<p><b>Víás de comunicación personal</b>
    {% if comunicaciones_persona %}
    
        {% for c in comunicaciones_persona %}
            <br /><b>{{ c.tipo }}</b>: {{ c.valor }} ({{ c.privado|yesno:"PRIVADO,PUBLICO" }})
        {% endfor %}
    {% else %}
        <br />No hay vías de comunicaciones personales cargadas en el sistema
    {% endif %}
</p>
<p><b>Víás de comunicación del cargo</b>
    {% if comunicaciones_cargo %}
        
        {% for c in comunicaciones_cargo %}
            <br /><b>{{ c.tipo }}</b>: {{ c.valor }} ({{ c.privado|yesno:"PRIVADO,PUBLICO" }})
        {% endfor %}
    {% else %}
        <br />No hay vías de comunicaciones del cargo cargadas en el sistema
    {% endif %}
</p>