{# Protocolo municipal completo en PDF #}<!DOCTYPE html>
<html lang="es">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Protocolo {{ titulo }}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <style>
            body {
              font-family: 'Lato', sans-serif;
              font-size: 1em;
            }

            h1 {
              font-size: 5em;
              color: #FFFFFF;
              font-weight: 900;
              margin-top: 300px;
              margin-bottom: 75px;
              text-transform: uppercase;
            }
            h2 {
              font-size: 3em;
              font-weight: 400;
              margin-bottom: 75px;
              text-transform: uppercase;
            }
            h3 {
              font-size: 2em;
            }
            h4 {
              font-size: 20px;
              padding-left: 40px;
              padding-right: 40px;
            }
            h5 {
              font-size: 18px;
            }
            h6 {
              font-size: 15px;
            }
            .com-muni {
                font-size: 1.75em;
                margin-top: 2px;
                line-height: normal;
                color: #FFF;
                text-decoration: none;
            }
            .com-muni .tipo{
                font-size: 0.85em;
                margin-right: 20px;
            }
            #logo {
                max-width: 50%;
                display: block;
                margin: 0px auto;
                margin-bottom: 75px;
              }

            .funcionario.mainPage{
              display: block;
              margin: 5px;
              page-break-inside: avoid;
              margin-left: 15px;
              margin-right: 15px;
              border-top: 1px solid #23CF5F;
              padding: 20px 5px;
              width: 100%;
            }

            .dependencias .funcionario {
              display: block;
              margin: 5px;
              page-break-inside: avoid;
              margin-left: 15px;
              margin-right: 15px;
              border-top: 1px solid #23CF5F;
              padding: 20px 5px;
              width: 90%;
              }

            .dependencias .funcionario:first-of-type{
                display: block;
                margin: 5px;
                padding: 5px 25px;
                border-top: none;
                width: 100%;
                page-break-inside: avoid;
                margin-left: -5px;
                margin-right: 35px;
            }

            .fotofunc {
                float:left;
                height:200px;
                width: 200px;
                border: 1px solid #C5C5C5;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 30px;
              }

            p {
                line-height: normal;
                margin: 0px;
                padding: 0px;
            }
            .col-lg-2{
              display: inline-table;
              width: 16.6666%;
              margin: 0;
            }
            .col-lg-10{
              display: inline-table;
              width: 83.333%;
              margin: 0;
            }
            .secretariatitle {
                display: block;
                width: 100%;
                float:left;
                border-top: 10px solid #23CF5F;
                background-color: #006B5E;
                color: #FFFFFF;
                padding: 10px 50px;
                margin: 50px 0 20px 0;
                margin-left: -30px;
                font-weight: 400;
                font-size: 2em;
            }
            .margin-secretariatitle{
              margin-bottom: 30px;
            }
            .secretariatitle.intendente{
              font-size: 2.5em;
            }
            .oficina{
              font-size: 1.5em;
              line-height: 1em;
              color: #009059;
              margin-top: 0px;
              font-weight: 400;
            }
            .nombreFuncionario{
              font-size: 1.5em;
              font-weight: 700;
              margin-top: 15px;
              margin-bottom: 5px;
              color: #555555;
            }
            .dependenciaOficina{
              font-style: italic;
              color: #6D6D6D;
            }
            .tipoComunicacion{
              font-size: 1em;
              font-weight: 400;
              color: #555555;
            }
            .tipoComunicacion .valor{
              font-weight: 600;
              vertical-align: 10px;
            }
            .direccionFunc{
              font-style: italic;
              font-weight: 400;
              font-size: 1.25em;
              margin-top: 5px;
            }

        /***Always insert a page break before the element***/
               .pb_before {
                   page-break-before: always !important;
               }

        /***Always insert a page break after the element***/
               .pb_after {
                   page-break-after: always !important;
               }

        /***Avoid page break before the element (if possible)***/
               .pb_before_avoid {
                   page-break-before: avoid !important;
               }

        /***Avoid page break after the element (if possible)***/
               .pb_after_avoid {
                   page-break-after: avoid !important;
               }

        /* Avoid page break inside the element (if possible) */
               .pbi_avoid {
                   page-break-inside: avoid !important;
               }
            .cover{
              position: relative;
              text-align: center;
              background-color: #009059;
              width: 100%;
              height: 100%;
              margin: 0px;
              padding: 5px 30px 0 30px;
              color: #FFFFFF;
              margin-bottom: -90px;
              margin-left: -10px;
            }
            .normal-page{
              margin: 0px;
              overflow: visible;
            }
            .tipoTD{
              text-align: right;
            }
            .valorTD{
              text-align: left;
            }
            .tablaCom{
              display: inline-block;
              max-width: 800px;
            }
            .socialIcon{
              margin: 2px;
            }
            .dependencias{
              page-break-before: always;
              page-break-inside: avoid;
              width: 100%;
            }
        </style>

    </head>

    <body>
        <div class="cover">
          <div class="coverContent">
            <h1>Protocolo</h1>
            <h2 class="protocolo">Autoridades Municipales</h2>

            <img id="logo" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/media/logos/logo-muni-blanco-transparente.png" />

            <table class="tablaCom">
              <tr>
                <th>
                </th>
                <th>
                </th>
              </tr>

            </table>
            <div class="pb_before">
            </div>
          </div>
        </div>

        <div class="normal-page">
          <div class="pb_before">
          </div>
          <div class='funcionario mainPage'>
              <h1 class="secretariatitle intendente">{{ funcion.cargo.oficina }}</h3>
              <table>
                <th>
                  <td>
                  </td>
                  <td>
                  </td>
                </th>
                <tr>
                  <td>
              <div class="fotofunc" style="background-image: url('{% if funcion.funcionario.foto %}{{ funcion.funcionario.foto.thumbnail.200x200 }}{% else %}{{ preferencias.default_persona_imagen }}{% endif %}')">

              </div>
            </td>
            <td>
          <a class="oficina" target="_blank"
              href="{{ funcion.get_url_produccion }}" >{{ funcion.cargo_gen }}</a>


                      <p class="nombreFuncionario"><i>{{ funcion.funcionario.nombre }} {{ funcion.funcionario.apellido }}</i></p>

                      {% with co=funcion.comunicaciones %}
                          {% for comunicacion in co.persona %}
                            <p class="tipoComunicacion">
                              {% if comunicacion.tipo.nombre == 'Blog'%}
                                <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/blog.png" height="30"/>
                                <span class="valor">
                                  <a href="{{ comunicacion.absolute_url }}">{{ comunicacion.valor }}</a>
                                </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Email'%}
                              <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/mail.png" height="30"/>
                              <span class="valor">
                                <a href="mailto:{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                              </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Skype'%}
                                <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/skype.png" height="30"/>
                                <span class="valor">
                                  <a href="skype:{{ comunicacion.valor }}?chat">{{ comunicacion.valor }}</a>
                                </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Twitter'%}
                                <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/twitter.png" height="30"/>
                                <span class="valor">
                                  <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                                </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Linkedin'%}
                                <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/linkedin.png" height="30"/>
                                <span class="valor">
                                  <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                                </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Facebook personal'%}
                                <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/facebook.png" height="30"/>
                                <span class="valor">
                                  <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                                </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Facebook fanpage'%}
                                <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/facebook.png" height="30"/>
                                <span class="valor">
                                  <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                                </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Web'%}
                                <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/web.png" height="30"/>
                                <span class="valor">
                                  <a href="{{ comunicacion.absolute_url }}">{{ comunicacion.valor }}</a>
                                </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Teléfono'%}
                                <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/phone.png" height="30"/>
                                <span class="valor">
                                  <a href="tel:+54{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                                </span>
                              {% endif%}
                              {% if comunicacion.tipo.nombre == 'Celular' or comunicacion.tipo.nombre == 'Celular Corporativo'%}
                              <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/celular.png" height="30"/>
                              <span class="valor">
                                <a href="tel:+54{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                              </span>
                              {% endif%}
                             </p>
                          {% endfor %}
                      {% endwith %}

                  {% with co=funcion.comunicaciones %}
                      {% for comunicacion in co.cargo %}
                        <p class="tipoComunicacion">
                        {% if comunicacion.tipo.nombre == 'Blog'%}
                          <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/blog.png" height="30"/>
                          <span class="valor">
                            <a href="{{ comunicacion.absolute_url }}">{{ comunicacion.valor }}</a>
                          </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Email'%}
                        <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/mail.png" height="30"/>
                        <span class="valor">
                          <a href="mailto:{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                        </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Skype'%}
                          <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/skype.png" height="30"/>
                          <span class="valor">
                            <a href="skype:{{ comunicacion.valor }}?chat">{{ comunicacion.valor }}</a>
                          </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Twitter'%}
                          <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/twitter.png" height="30"/>
                          <span class="valor">
                            <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                          </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Linkedin'%}
                          <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/linkedin.png" height="30"/>
                          <span class="valor">
                            <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                          </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Facebook personal'%}
                          <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/facebook.png" height="30"/>
                          <span class="valor">
                            <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                          </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Facebook fanpage'%}
                          <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/facebook.png" height="30"/>
                          <span class="valor">
                            <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                          </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Web'%}
                          <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/web.png" height="30"/>
                          <span class="valor">
                            <a href="{{ comunicacion.absolute_url }}">{{ comunicacion.valor }}</a>
                          </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Teléfono'%}
                          <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/phone.png" height="30"/>
                          <span class="valor">
                            <a href="tel:+54{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                          </span>
                        {% endif%}
                        {% if comunicacion.tipo.nombre == 'Celular' or comunicacion.tipo.nombre == 'Celular Corporativo'%}
                        <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/celular.png" height="30"/>
                        <span class="valor">
                          <a href="tel:+54{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                        </span>
                        {% endif%}
                       </p>
                       {% endfor %}
                  {% endwith %}

                  {% for direccion in dependencias.direccioncargo_set.all %}
                      <p class="direccionFunc">{{ direccion.calle|default_if_none:"" }} {{ direccion.numero|default_if_none:"" }} {{ direccion.piso|default_if_none:"" }}</p>
                  {% endfor %}
                </td>
              </tr>
            </table>

          </div>
          <div class="pb_before">
          </div>
          {% if dependencias|length > 0 %}
              {% with indent=0 %}
                  {% for dependencia in dependencias %}
                      <div class="dependencias">
                        {%include "funcionarios/tree_funcionarios.html" %}
                      </div>
                  {% endfor %}
              {% endwith %}
          {% else %}
              <h2>No hay dependencias que Mostrar</h2>
          {% endif %}
        </div>


    </body>

</html>
