{% if dependencia.activado %}
<div class='funcionario'>

  {% if indent == 0 %}
      <h1 class="secretariatitle">{{ dependencia.oficina }}</h3>
  {% else %}
  <div class="margin-secretariatitle">
  </div>
  {% endif %}
  <table>
    <tr>
      <td>
        <div class="fotofunc" style="background-image: url('{% if dependencia.en_funcion_activa.funcionario.foto %}{{ dependencia.en_funcion_activa.funcionario.foto.thumbnail.200x200 }}{% else %}{{ preferencias.default_persona_imagen }}{% endif %}')">
        </div>
      </td>
      <td>
        {% if dependencia.en_funcion_activa %}
        <a class="oficina" target="_blank" href="{{ dependencia.en_funcion_activa.get_url_produccion }}" >{{ dependencia.en_funcion_activa.cargo_gen }}</a>
        
        {% else %}
        
        <a class="oficina" target="_blank" href="#" >{{ dependencia.nombre }}</a>
        
        {% endif %}
        
        {% if not dependencia.es_cargo_secundario %}
            <p class="dependenciaOficina">
              ({{ dependencia.area_gobierno.oficina }})
            </p>
        {% endif %}

                <p class="nombreFuncionario">
                  <i>
                    {% if dependencia.en_funcion_activa %}
                      {{ dependencia.en_funcion_activa.funcionario.nombrepublico }}
                    {% else %}
                      Sin funcionario designado
                    {% endif %}
                  </i>
                </p>

                {% with co=dependencia.en_funcion_activa.comunicaciones %}
                    {% for comunicacion in co.persona %}
                <p class="tipoComunicacion">
                  {% if comunicacion.tipo.nombre == 'Blog'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/blog.png" height="30"/>
                    <span class="valor">
                      <a href="{{ comunicacion.absolute_url }}">{{ comunicacion.valor }}</a>
                    </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Email'%}
                  <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/mail.png" height="30"/>
                  <span class="valor">
                    <a href="mailto:{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                  </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Skype'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/skype.png" height="30"/>
                    <span class="valor">
                      <a href="skype:{{ comunicacion.valor }}?chat">{{ comunicacion.valor }}</a>
                    </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Twitter'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/twitter.png" height="30"/>
                    <span class="valor">
                      <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                    </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Linkedin'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/linkedin.png" height="30"/>
                    <span class="valor">
                      <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                    </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Facebook personal'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/facebook.png" height="30"/>
                    <span class="valor">
                      <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                    </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Facebook fanpage'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/facebook.png" height="30"/>
                    <span class="valor">
                      <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                    </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Web'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/web.png" height="30"/>
                    <span class="valor">
                      <a href="{{ comunicacion.absolute_url }}">{{ comunicacion.valor }}</a>
                    </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Teléfono'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/phone.png" height="30"/>
                    <span class="valor">
                      <a href="tel:+54{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                    </span>
                  {% endif%}
                  {% if comunicacion.tipo.nombre == 'Celular' or comunicacion.tipo.nombre == 'Celular Corporativo'%}
                  <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/celular.png" height="30"/>
                  <span class="valor">
                    <a href="tel:+54{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                  </span>
                  {% endif%}
                 </p>
                    {% endfor %}
                {% endwith %}

            {% with co=dependencia.en_funcion_activa.comunicaciones %}
                {% for comunicacion in co.cargo %}
                  <p class="tipoComunicacion">
                    {% if comunicacion.tipo.nombre == 'Blog'%}
                      <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/blog.png" height="30"/>
                      <span class="valor">
                        <a href="{{ comunicacion.absolute_url }}">{{ comunicacion.valor }}</a>
                      </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Email'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/mail.png" height="30"/>
                    <span class="valor">
                      <a href="mailto:{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                    </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Skype'%}
                      <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/skype.png" height="30"/>
                      <span class="valor">
                        <a href="skype:{{ comunicacion.valor }}?chat">{{ comunicacion.valor }}</a>
                      </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Twitter'%}
                      <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/twitter.png" height="30"/>
                      <span class="valor">
                        <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                      </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Linkedin'%}
                      <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/linkedin.png" height="30"/>
                      <span class="valor">
                        <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                      </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Facebook personal'%}
                      <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/facebook.png" height="30"/>
                      <span class="valor">
                        <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                      </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Facebook fanpage'%}
                      <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/facebook.png" height="30"/>
                      <span class="valor">
                        <a href="{{comunicacion.absolute_url}}">{{ comunicacion.valor }}</a>
                      </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Web'%}
                      <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/web.png" height="30"/>
                      <span class="valor">
                        <a href="{{ comunicacion.absolute_url }}">{{ comunicacion.valor }}</a>
                      </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Teléfono'%}
                      <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/phone.png" height="30"/>
                      <span class="valor">
                        <a href="tel:+54{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                      </span>
                    {% endif%}
                    {% if comunicacion.tipo.nombre == 'Celular' or comunicacion.tipo.nombre == 'Celular Corporativo'%}
                    <img class="socialIcon" src="https://modernizacionmunicba.github.io/guia-estilos-y-web/assets/images/social/celular.png" height="30"/>
                    <span class="valor">
                      <a href="tel:+54{{ comunicacion.valor }}">{{ comunicacion.valor }}</a>
                    </span>
                    {% endif%}
                   </p>
                {% endfor %}
            {% endwith %}

            {% for direccion in dependencia.direccioncargo_set.all %}
                <p class="direccionFunc">{{ direccion.calle|default_if_none:"" }} {{ direccion.numero|default_if_none:"" }} {{ direccion.piso|default_if_none:"" }}</p>
            {% endfor %}
      </td>
    </tr>
  </table>
</div>

    {% if dependencia.dependencias_directas|length > 0 %}
         {%for ch in dependencia.dependencias_directas %}
            {%with dependencia=ch indent=indent|add:1 %}
               {%include "funcionarios/tree_funcionarios.html" %}
            {%endwith%}
         {%endfor%}
    {%endif%}

{% endif %}
