{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
{% block head %}
  <title>Mapa Transporte Urbano de Pasajeros - Ciudad de Córdoba</title>
  <meta name="viewport" content="initial-scale=1.0">

  <link href='https://fonts.googleapis.com/css?family=Lato:200,400,400i,500,700' rel='stylesheet' type='text/css'>
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>  
  
  <link rel="stylesheet" href="{% static "/transportepublico/css/base-map-transporte.css" %}">

{% endblock %}
</head>
<body>
  
{% block content %}
{% csrf_token %}
<div id="all">

    <div id='map'></div>
    {% block filtros %}
    <div id="div_filtros">
        <select id="select_filtros" multiple>
            <option value=0>TODOS</option>
        </select>
    </div>
    {% endblock %}
  </div>
{% endblock %}


{% block tail %}

  <script src="{% static "/transportepublico/js/base-map-transporte.js" %}" async defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQo8tzairuaD9QOtuAre786w_fru46O4Q&callback=initMap" async defer></script>
  <script type='text/javascript'>
    var static_folder = '{% static "/transportepublico/" %}';
    var url_editar_parada = "{% url 'admin:transportepublico_paradatransportepublico_change' 0 %}";
    var url_editar_poste = "{% url 'admin:transportepublico_posteparadatransportepublico_change' 0 %}";
    var url_editar_recorrido = "{% url 'admin:transportepublico_recorridolineatransportepublico_change' 0 %}";
  </script>
  
{% endblock %}

</body>
</html>
