{% extends "transportepublico/base-map-transporte.html" %}
{% load staticfiles %}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static "/transportepublico/css/editar-bondis-en-mapa.css" %}">
{% endblock %}

{% block filtros %}

<div id="div_filtro_recorridos">
    <select id="select_filtro_recorridos" multiple>
        
    </select>
</div>

{% endblock %}

{% block tail %}
    {{block.super}}
    <script src="{% static "/transportepublico/js/editar-bondis-en-mapa.js" %}"></script>
    <script src="{% static "/transportepublico/js/paradas.js" %}"></script>
    
    <div class="modal fade" id="div_editar_parada" tabindex="-1" role="dialog" aria-labelledby="div_editar_parada_label" aria-hidden="true"></div>
    </div>
{% endblock %}



  