{% extends "backend/base_app.html" %}
{% load staticfiles %}

{% block title %}Acceso a la Información Pública{% endblock %}
{% block styles %}
    <link href="/static/backend/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"  rel="stylesheet">
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">

        <div class="col-sm-12">
            <h1 class="page-header">Acceso a la información Pública
                <div class="btn-group pull-right" role="group" aria-label="List bar">
                    <a href="{% url 'backend.fotos.crear' %}" class="btn btn-success">Agregar</a>
                </div>
            </h1>
        </div>
    </div>


<div class="row">

<table id="accesoinfopublica_table" width="100%" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>#Exp</th>
                <th>Tema</th>
                <th>Estado</th>
                <th>Canal</th>
                <th>Creado</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>
{% endblock %}
{% block scripts %}
<script src="/static/backend/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="/static/backend/bower_components/datatables/media/js/dataTables.bootstrap.min.js"></script>
<script src="/static/backend/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

<script>
$(document).ready(function() {
    $('#accesoinfopublica_table').DataTable( {
        "processing": true,   
        'serverSide' :true,
        "deferRender": true,           
        "iDisplayLength": 25,
        "paging": true,
        "bLengthChange": false,
        "ajax": {
            "url": '/api/accesoinfopublica/?format=json',
            "dataSrc": "results",
        },columns: [
            { "data": "id"},
            { "data": "titulo"},
            { "data": "nro_expediente"},
            { "data": "tema_general.nombre"},
            { "data": "estado"},
            { "data": "canal_de_envio"},
            { "data": "creado"},
            { "data": "", "render": function(data, type, row){
                return '<div class="btn-group" role="group" aria-label="..."> \
                         <a href="'+row.backend_url+'" class="btn btn-primary btn-xs" role="button"><i class="fa fa-pencil fa-fw"></i></a>\
                         <a href="'+row.backend_url+'" class="btn btn-danger btn-xs" role="button"><i class="fa fa-trash fa-fw"></i></a>\
                        </div>';
                return '<a href="'+row.backend_url+'">Edit</a>'
                }},
        ],
        "language": {'url': "//cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"},
    } );
} );
</script>
{% endblock %}
