{% extends "login_base.html" %}
{% block title %}Desconectado{% endblock %}
{% block content %}
  <h1>Desconectado</h1>
  <p>Te has desconectado correctamente. Ahora podes <a href="{% url 'login.login' %}">iniciar sesion nuevamente</a>.</p>
{% endblock %}