{% extends "login_base.html" %}
{% load bootstrap3 %}
{% block title %}Iniciar sesion{% endblock %}
{% block loginclass %}loginForm{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <div class="kpx_login">
            <h3 class="kpx_authTitle">Iniciar sesion o <a href="{% url 'login.register' %}">Registrarse</a></h3>
            <div class="row kpx_socialButtons">
<!--               <div class="col-xs-6 col-md-4">
                  <a href="{% url "social:begin" "facebook" %}" class="btn btn-lg btn-block kpx_btn-facebook"
                     data-toggle="tooltip" data-placement="top"
                     title="Facebook">
                      <i class="fa fa-facebook-official fa-2x"></i>
                      <span class="hidden-xs"></span>
                  </a>
              </div> -->
              <div class="col-xs-6 col-md-4">
                  <a href="{% url "social:begin" "twitter" %}" class="btn btn-lg btn-block kpx_btn-twitter"
                     data-toggle="tooltip" data-placement="top"
                     title="Twitter">
                      <i class="fa fa-twitter fa-2x"></i>
                      <span class="hidden-xs"></span>
                  </a>
              </div>
              <div class="col-xs-6 col-md-4">
                  <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-lg btn-block kpx_btn-google-plus"
                     data-toggle="tooltip" data-placement="top"
                     title="Google Plus">
                      <i class="fa fa-google-plus-official fa-2x"></i>
                      <span class="hidden-xs"></span>
                  </a>
              </div>
              <div class="col-xs-6 col-md-4">
                  <a href="{% url "social:begin" "github" %}" class="btn btn-lg btn-block kpx_btn-github"
                     data-toggle="tooltip" data-placement="top"
                     title="GitHub">
                      <i class="fa fa-github fa-2x"></i>
                      <span class="hidden-xs"></span>
                  </a>
              </div>
<!--               <div class="col-xs-6 col-md-4">
                  <a href="{% url "social:begin" "instagram" %}" class="btn btn-lg btn-block kpx_btn-instagram"
                     data-toggle="tooltip" data-placement="top"
                     title="Instagram">
                      <i class="fa fa-instagram fa-2x"></i>
                      <span class="hidden-xs"></span>
                  </a>
              </div> -->
            </div>

            <div class="row kpx_row-sm-offset-3 kpx_loginOr">
                <div class="col-xs-12 col-sm-6">
                    <hr class="kpx_hrOr">
                    <span class="kpx_spanOr">o</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 ">
                    <form class="kpx_loginForm" action="{% url 'login.login' %}" autocomplete="off" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <hr/>
                        <p class="text-center"><a href="{% url "login.password_reset" %}">Olvidaste tu contraseña?</a></p>
                        {% buttons %}
                            <button type="submit" class="btn btn-lg btn-block btn-muniCba"><i
                                    class="fa fa-sign-in"></i>
                                Iniciar sesion
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>

        </div>
      </div>
    </div>


{% endblock %}
