{% extends "login_base.html" %}
{% block title %}Restablecimiento de contraseña{% endblock %}
{% block content %}
  <h1>Contraseña establecida</h1>
  <p>Tu contraseña ha sido establecida. Podes <a href="{% url 'login.login' %}">iniciar sesion ahora</a></p>
{% endblock %}