{% extends "login_base.html" %}
{% block title %}Contraseña cambiada{% endblock %}
{% block content %}
  <h1>Contraseña cambiada</h1>
  <p>Tu contraseña se ha cambiado correctamente.</p>
 {% endblock %}