{% extends "login_base.html" %}
{% load bootstrap3 %}
{% block title %}Restablecer su contraseña{% endblock %}
{% block loginclass %}registrationForm{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Restablecer su contraseña</h1>
    </div>
    {% if validlink %}
        <p>Por favor ingrese su contraseña dos veces:</p>
        <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-lg btn-muniCba">
                    Cambiar mi contraseña
                </button>
            {% endbuttons %}
        </form>
    {% else %}
        <p>El enlace de restablecimiento de contraseña no era valido, posiblemente porque ya se utilizo. Solicite un nuevo restablecimiento de contraseña.</p>
    {% endif %}

{% endblock %}
