{% extends "login_base.html" %}
{% block title %}Restablecer su contraseña{% endblock %}
{% block content %}
  <h1>Restablecer su contraseña</h1>
  <p>Te hemos enviado por correo electronico las instrucciones para configurar tu contraseña.</p>
  <p>Si no recibe un correo electronico, asegurese de haber ingresado la direccion con la que se registro.</p>
{% endblock %}