{% extends "login_base.html" %}
{% load bootstrap3 %}
{% block title %}Restablecer su contraseña{% endblock %}
{% block loginclass %}registrationForm{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Olvidaste tu contraseña?</h1>
        <p>Ingrese su correo electronico para obtener una nueva contraseña.</p>
    </div>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-lg btn-muniCba">
                Mandar mail
            </button>
        {% endbuttons %}
    </form>

{% endblock %}
