{% extends "login_base.html" %}
{% load bootstrap3 %}
{% block title %}Cambiar contraseña{% endblock %}
{% block loginclass %}registrationForm{% endblock %}
{% block content %}
  <h1>Cambia tu contraseña</h1>
  <p>Use el formulario de abajo para cambiar su contraseña.</p>
    <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-lg btn-muniCba">
                    Cambiar
                </button>
            {% endbuttons %}
        </form>
{% endblock %}
