.theme.theme-bootstrap3b .logoMuni{
  width: 50px;
}
.theme.theme-bootstrap3b .navbar-inverse .navbar-collapse,
.theme.theme-bootstrap3b .navbar-inverse{
  background-color: #009059;
}
.theme.theme-bootstrap3b .page-header{
  color: #009059;
}
.theme.theme-bootstrap3b  input[type=text],
.theme.theme-bootstrap3b  input[type=number],
.theme.theme-bootstrap3b  input[type=date],
.theme.theme-bootstrap3b  select{
  height: 200px;
}
.theme.theme-bootstrap3b  input[type=text],
.theme.theme-bootstrap3b  input[type=number],
.theme.theme-bootstrap3b  input[type=date],
.theme.theme-bootstrap3b  textarea{
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #009059;
  font-size: 1.15em;
  font-style: italic;
  color: #636362;
  font-weight: 400;
}

.theme.theme-bootstrap3b  .checkbox label,
.theme.theme-bootstrap3b  input[type=checkbox],
.theme.theme-bootstrap3b  .radio label{
  font-size: 1.15em;
  font-style: italic;
  color: #636362;
  font-weight: 400;
}

.theme.theme-bootstrap3b select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('arrow.svg');
    padding: .5em;
    padding-right: 1.5em;
    border-radius: 0;
    margin-top: 5px;
    border: 1px solid #009059;
}


.theme.theme-bootstrap3b .control-label{
  font-size: 1.25em;
}
.theme.theme-bootstrap3b .help-block{
  color: #009059;

}

.theme.theme-bootstrap3b .btn.btn-primary{
  background-color: #009059;
  padding: 10px;
  width: calc(75% - 10px);
  color: #FFF;
  font-style: italic;
  font-size: 1.75em;
  border-radius: 0;
  float: right;
  margin-top: 10px;
}
.theme.theme-bootstrap3b label.wrap {
    position: relative;
    display: block;
}
.theme.theme-bootstrap3b ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #636362;
}
.theme.theme-bootstrap3b ::-moz-placeholder { /* Firefox 19+ */
  color: #636362;
}
.theme.theme-bootstrap3b :-ms-input-placeholder { /* IE 10+ */
  color: #636362;
}
.theme.theme-bootstrap3b :-moz-placeholder { /* Firefox 18- */
  color: #636362;
}

.theme.theme-bootstrap3b footer p{
  font-size: 1.1em;
  font-style: italic;
}
