@font-face {
  font-family: 'RecursosMuni';
  src:  url('fonts/RecursosMuni.eot?orazmk');
  src:  url('fonts/RecursosMuni.eot?orazmk#iefix') format('embedded-opentype'),
    url('fonts/RecursosMuni.ttf?orazmk') format('truetype'),
    url('fonts/RecursosMuni.woff?orazmk') format('woff'),
    url('fonts/RecursosMuni.svg?orazmk#RecursosMuni') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-file-"], [class*=" icon-file-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RecursosMuni' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-csv:before {
  content: "\e907";
}
.icon-file-api:before {
  content: "\e908";
}
.icon-file-kml:before {
  content: "\e900";
}
.icon-file-shp:before {
  content: "\e901";
}
.icon-file-kmz:before {
  content: "\e902";
}
.icon-file-json:before {
  content: "\e903";
}
.icon-file-viz:before {
  content: "\e904";
}
.icon-file-odt:before {
  content: "\e905";
}
.icon-file-ods:before {
  content: "\e906";
}
.icon-file:before,
.icon-file-file:before {
  content: "\e924";
}
.icon-file-txt:before,
.icon-file-text:before {
  content: "\e926";
}
.icon-file-image:before,
.icon-file-img:before,
.icon-file-png:before,
.icon-file-jpg:before,
.icon-file-jpeg:before {
  content: "\e927";
}
.icon-file-map:before {
  content: "\e947";
}
.icon-file-web:before {
  content: "\e9c9";
}
.icon-file-link:before {
  content: "\e9cb";
}
.icon-file-googlesheet:before {
  content: "\ea8f";
}
.icon-file-github:before {
  content: "\eab0";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-doc:before,
.icon-file-docx:before,
.icon-file-word:before  {
  content: "\eae1";
}
.icon-file-xls:before,
.icon-file-xlsx:before,
.icon-file-excel:before {
  content: "\eae2";
}
