Estimado/a {{ usuario.user.first_name }}:<br/>

Desde la <strong>Secretaría de Modernización, Comunicación y Desarrollo Estratégico</strong> y por solicitud del <strong>Intendente</strong>, nos ponemos en contacto a fin de dar cumplimiento a la Ordenanza Nº 11.942 del <strong>Plan de Metas de Gobierno</strong>, la cual establece en su artículo tercero la presentación de <u>Informes de cumplimiento anual.</u><br/>
<strong><u>La medición correspondiente al año en curso se debe entregar antes del próximo 10 de Diciembre.</u></strong><br/>
A fin de cumplir con esta evaluación anual del <a href='https://gobiernoabierto.cordoba.gob.ar/plan-de-metas/plan-de-metas-2016-2019'>Plan de Metas </a> y resumen final de gestión solicitamos lo siguiente:<br/>
<u>1.</u> La actualización del <strong>ESTADO DE AVANCE</strong> y <strong>LA MEDICIÓN ESPECIFÍCA AL AÑO 2019</strong> de las metas correspondientes a:<br/> <ul>
  {% for oficina in usuario.oficinas_autorizadas_metas.all %}
    <li>{{ oficina.oficina }}</li>
  {% endfor %}
  </ul>
y las <strong>OBSERVACIONES</strong> si las hay.<br/>
<strong><u>La fecha límite para la carga de estos datos en el sistema de Plan de Metas es el 30 de Octubre, sin excepción.</u></strong> Todas aquellas metas que no hayan sido actualizadas a esa fecha se darán por no cumplidas.<br/>
Asimismo, a efectos de incorporar los datos que pudieran haber surgido sobre la marcha y que sean considerados relevantes poner a consideración de la ciudadanía:<br/>
<u>2.</u> Aquellas METAS que su área considere que deben estar reflejadas en el Plan de Metas de Gobierno, con sus correspondientes indicadores y líneas de base y medición.<br/>
<u>3.</u> Un listado de ACCIONES (actividades) que su área haya realizado y que no estén
contempladas dentro del Plan de Metas de Gobierno.<br/>
En estos dos últimos casos, esta Secretaría evaluará la pertinencia de cada propuesta para su posible incorporación.<br/>
Finalmente, le informamos que hemos relacionado cada meta de su área con los Objetivos de Desarrollo Sostenible, adjuntamos un <a href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/">listado de los ODS </a> para su información.<br/>
Por consultas, puede comunicarse con Laura Massari en
dirdesarrolloestrategico@gmail.com o al mail massarilaura@hotmail.com o a los internos 1030 y 1021 <br/>

A continuación, acercamos el acceso y listado de metas de su área para facilitar la actualización del contenido.<br/>
<strong>Su usuario de carga es: {{ usuario.user.username }}<br/>
Si olvidó su clave puede solicitarla: <a href='https://gobiernoabierto.cordoba.gob.ar/accounts/password_reset/'>AQUÍ</a>
<br/>Podes acceder al sistema desde: <a href='https://gobiernoabierto.cordoba.gob.ar/admin'>AQUÍ</a></strong>


<br/>Su usuario tiene acceso para modificar las variaciones anuales de las metas bajo responsabilidad directa de tu oficina.
<br/>Estas son las metas a su cargo:
<ul>
    {% for meta in metas %}
        <li><b style='color: blue'>{{ meta.titulo }}</b></li>
        <li>ESTADO ACTUAL: <span style='color: red'>{{ meta.get_estado_de_avance_display }}</span></li>
        <li>INDICADORES:
    <ul>
        {% for indicador in meta.indicadores %}
            <li> {{ indicador.indicador }}. VALOR ACTUAL: <span style='color: red'>{{ indicador.valor_indicador }}</span></li>
        {% endfor %}
   </ul>
    {% endfor %}
</ul>


Saludos Cordiales,<br/><br/>

Equipo Plan de Metas.