Hola {{ usuario.user.first_name }} nos ponemos en contacto contigo como encargado de las metas de: 
  <ul>
  {% for oficina in usuario.oficinas_autorizadas_metas.all %}
    <li>{{ oficina.oficina }}</li>
  {% endfor %}
  </ul>
<br />Para notificarle que como encargado de las 
 <a href='https://gobiernoabierto.cordoba.gob.ar/plan-de-metas/plan-de-metas-2016-2019'>metas</a> ya podes acceder a realizar los cambios anuales de ellas.
<br />No respondas a este email, cualquier duda a <a href='mailto:{{ email_responsable }}'>{{ email_responsable }}</a>
<br />Te recordamos que SIN EXCEPCION el VIERNES 11 de Enero deberán estar ya cargadas los resultados de la medición 2018.
<br />Cualquier consulta no duden en comunicarse con la 
<a href='mailto:{{ email_responsable }}'>Dirección de Desarrollo Estratégico</a> o al interno 1030.

<br />Podes acceder al sistema desde <a href='https://gobiernoabierto.cordoba.gob.ar/admin'>aquí</a>.
<br />Usuario: {{ usuario.user.username }}
<br />Clave: la que se te entregó el año pasado o la que elegiste en su reemplazo.
<br /><b><a href='https://gobiernoabierto.cordoba.gob.ar/accounts/password_reset/'>SI TE OLVIDASTE LA CLAVE ingresá ACÁ</a></b>
<br />
<br />Tu usuario tiene acceso modificar las variaciones anuales de las metas bajo responsabilidad directa de tu oficina.
<br />Estas son las metas a tu cargo:
<ul>
{% for meta in metas %}
 <li><b style='color: blue'>{{ meta.titulo }}</b></li>
 <li>ESTADO ACTUAL: <span style='color: red'>{{ meta.get_estado_de_avance_display }}</span></li>
  <li>INDICADORES:
  <ul>
  {% for indicador in meta.indicadores %}
   <li> {{ indicador.indicador }}. VALOR ACTUAL: <span style='color: red'>{{ indicador.valor_indicador }}</span></li>
   {% endfor %}
   </ul>
  {% endfor %}
  </ul>
  
<br />Para cada meta debes:
  <ul>
 <li>Actualizar el estado de avance si corresponde</li>
 <li> Agregar observaciones de este año. No incluir datos 
        de años anteriores ni un titulo que diga "2018", 
        eso se hace automáticamente. Colocar solo observaciones nuevas.</li>
 </ul>
<br />En cada meta, en la parte inferior verás cada uno de los indicadores con que se monitorea la meta.
<br />Para cada indicador debes actualizar el valor (si corresponde) completano e "Nuevo valor del indicador propuesto". Si no hay cambios en el indicador puedes dejarlo vacío.

<br />En caso de que se requieran más usuarios podes solicitarlos. En este caso es necesario que nos envíes nombre, apellido y mail de alguna otra persona que uds crea pertinente que obtenga usuario y contraseña.
<br />
<br />Saludos
<br />
<br /><b>Dirección De Desarrollo Estratégico & Dirección de Sistemas de Información</b>
<br /><b>Secretaría de Modernización, Comunicación y Desarrollo Estratégico</b>
<br /><b>Municipalidad de Córdoba</b>