Hola {{ usuario.user.first_name }} te escribimos para 
<b>agradecerte por tu particpación</b> en el Plan de Metas 
de nuestra Ciudad.

<br />Hemos terminado el compendio anual de los avances de cada meta y sus indicadores gracias a tu colaboración.
<br />Podés ver el informe anual 
<a href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/plan-de-metas/plan-de-metas-completo/49">aquí</a>
<br />

<div style="clear: both;"></div>
<a href="https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos/categoria/plan-de-metas/plan-de-metas-completo/49">
  <img src="https://gobiernoabierto.cordoba.gob.ar/media/cdn/Selecci%C3%B3n_1551.png" style="max-width: 300px; clear: both; padding: 5px; border: 1px solid black; clear: both;"/>
</a>

<br />Tambien poder ver y buscar todas las metas del plan en 
 <a href='https://gobiernoabierto.cordoba.gob.ar/plan-de-metas/plan-de-metas-2016-2019'>este sitio web</a>.

<div style="clear: both;"></div>
<a href="https://gobiernoabierto.cordoba.gob.ar/plan-de-metas/plan-de-metas-2016-2019">
  <img src="https://gobiernoabierto.cordoba.gob.ar/media/cdn/Selecci%C3%B3n_1552.png" style="max-width: 300px; clear: both; padding: 5px; border: 1px solid black; clear: both;"/>
</a>
 
<br />Córdoba es una de las pocas ciudades de Argentina y latinoamérica que organiza sus objetivos a 
  largo plazo de esta forma abierta, transparente y con control de la ciudadanía. 
  <br /><br />
<b>Estamos muy contentos de llegar a este tercer informe anual de avances con tu participación.</b>
<br />
<br />GRACIAS!
<br />
<br />Saludos
<br />
<br /><b>Secretaría de Modernización, Comunicación y Desarrollo Estratégico</b>
<br /><b>Municipalidad de Córdoba</b>