{#PDF plan de metas temporal #}<!DOCTYPE html>
<html lang="es">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ plan.titulo }}</title>

        <!-- DESCOMENTAR PARA PROD -->

        <!-- <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> -->
        <style>
            /* latin */

        /* EL @FONT-FACE ES PARA PROBAR LOCALMENTE CON WKHTMLTOPDF  */

        @font-face {
          font-family: 'Abel';
          font-style: normal;
          font-weight: 400;
          src: local('Abel Regular'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v10/MwQ5bhbm2POE2V9BPQ.woff2) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        body { font-family: 'Abel', sans-serif; }

        table {
            border-spacing: 1em;
            border-collapse: collapse;
            width: 100%;
            page-break-inside: avoid;
        }

        .imagenes-linkeadas {
            display: inline-block;
            text-align: center;
            margin: 5px 10px;
        }
        .imagenes-linkeadas:hover {
            background-color: unset !important;
        }
        .imagenes-linkeadas > img {
            width: 70px;
            height: 70px;
        }
        .objetitle {
            page-break-inside: avoid;
        }

        td {
            border: 1px solid black;
            padding: 10px;
        }
        p, table {margin-top: 20px}
        h1 {font-size: 140px; margin: 160px 0;}
        h2 {font-size: 50px; margin: 90px 0; page-break-before:always;}
        h3 {font-size: 35px; margin: 50px 0;}
        h4 {font-size: 20px; padding-left: 40px; padding-right: 40px;}
        h5 {font-size: 18px;}
        h6 {font-size: 15px;}

        #logo {
            max-width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;}

        .hm p, .hm div{
            margin: 0px;
            padding: 0px;
            }

        .mgtop {
            margin-top: 65px;
        }

        </style>

    </head>

    <body>
        <h1 align="center">{{ plan.titulo }}</h1>
        <img id="logo" src="https://gobiernoabierto.cordoba.gob.ar/media/cdn/logo-muni-cba.png" />

        <!-- <p> {{ plan.html|safe }} </p> -->

        {% for linea in plan.lineamientos %}

        <h2 align="center">Lineamiento estratégico: <b>{{ linea.titulo }}</b></h2>
        <hr style="border-top: 7px double {{ linea.color_1}};">
        <p> {{ linea.html|safe }}</p>

        {% for comp in linea.componentes %}

        <h3 align="center">Componente: <b>{{ comp.titulo }}</b></h3>
        <p> {{ comp.html|safe }}</p>

        {% for obj in comp.objetivos %}
        <section class="objetitle">
            <hr style="border-top: 2px solid black;" class="mgtop">
            <h4>Objetivo: <b>{{ obj.titulo }}</b></h4>
            <hr style="border-top: 2px solid black;">
        </section>
            {% for meta in obj.metas %}

        <table>

        <tr><td colspan=5 style="background-color: {{ linea.color_1 }}">
            <span>Meta N° {{ forloop.counter }}: <b>{{ meta.titulo }} </b></span>
        </td></tr>

        <tr>
           <td>ODS</td>
           <td colspan=4>
                {% for imagenes in meta.ods.all %}
               <a href="{{imagenes.link_ods}}" class="imagenes-linkeadas"> <img src="{{imagenes.imagen_ods.url}}"/> </a>
                {% endfor %}
            </td>
        </tr>

        <!-- Imprimimos en el pdf el nuevo estado de avance -->
        <tr><td>Estado de avance </td>
            <td colspan=4> {{ meta.estado_de_avance_estimado_mydisplay }}</td></tr>

        <tr><td style="width:30%">Línea de base</td>
            <td colspan=4 class="hm"> {{ meta.linea_base|safe }}</td></tr>

        <tr style="background-color: #f5f5f5">
            <td><b>Indicador</b></td>
            <td>Meta acumulada al 2016</td>
            <td>Meta acumulada al 2017</td>
            <td>Meta acumulada al 2018</td>
            <td>Meta acumulada al 2019</td>
        </tr>
        {% if meta.indicadores %}
            {% for indicador in meta.indicadores %}
                <tr>
                    <td style="width:30%"><b>{{ indicador.indicador|default_if_none:"Sin datos"|safe }} </b></td>

                    <td style="width:15%"> {{ indicador.avance_2016.valor_indicador|default_if_none:" - "|safe }} </td>
                    <td style="width:15%"> {{ indicador.avance_2017.valor_indicador|default_if_none:" - "|safe }} </td>
                    <td style="width:15%"> {{ indicador.avance_2018.valor_indicador|default_if_none:" - "|safe }} </td>

                    <!-- Ya se grabaron los datos nuevos -->
                    <td style="width:15%"> {{indicador.valor_indicador|default_if_none:" - "|safe}}</td>
<!--                     {% if indicador.new_valor_indicador %}
                        <td style="width:15%"> {{indicador.new_valor_indicador}}</td>
                    {% else %}
                        <td style="width:15%"> Sin datos</td>
                    {% endif %} -->

                </tr>
            {% endfor %}
        {% endif %}

        <tr><td>Observaciones </td>
            <td colspan=4 class="hm">
                <p>{{ meta.observaciones_generales|safe }}</p>
                <p><h6>2018</h6></p>
                {% if meta.new_observaciones_generales %}
                    <p>{{ meta.new_observaciones_generales|safe }}</p>
                {% else %}
                    <p>Sin observaciones</p>
                {% endif %}
            </td></tr>
                </table>
                    {% endfor %}

                {% endfor %}

            {% endfor %}


        {% endfor %}
    </body>

</html>
