{# TEST PDF plan de metas completo #}<!DOCTYPE html>
<html lang="es">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ plan.titulo }}</title>
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        <style>
            body { font-family: 'Abel', sans-serif; }
            
            table {
                border-spacing: 1em;
                border-collapse: collapse;
                width: 100%;
                page-break-inside: avoid;
            }
            
            .objetitle {
                page-break-inside: avoid;
                }
                
            td {
               border: 1px solid black;
               padding: 10px;
            }
            p, table {margin-top: 20px}
            h1 {font-size: 140px; margin: 160px 0;}
            h2 {font-size: 50px; margin: 90px 0; page-break-before:always;}
            h3 {font-size: 35px; margin: 50px 0;}
            h4 {font-size: 20px; padding-left: 40px; padding-right: 40px;}
            h5 {font-size: 18px;}
            h6 {font-size: 15px;}
                        
            #logo {
                max-width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;}

            .hm p, .hm div{
                margin: 0px;
                padding: 0px;
                }

            .mgtop {
                margin-top: 65px;
                }
            
        </style>
        
    </head>
    
    <body>
        <h1 align="center">{{ plan.titulo }}</h1>
        <img id="logo" src="https://gobiernoabierto.cordoba.gob.ar/media/cdn/logo-muni-cba.png" />
        
        <!-- <p> {{ plan.html|safe }} </p> -->

        {% for linea in plan.lineamientos %}
        
            <h2 align="center">Lineamiento estratégico: <b>{{ linea.titulo }}</b></h2>
            <hr style="border-top: 7px double {{ linea.color_1}};">
            <p> {{ linea.html|safe }}</p>

            {% for comp in linea.componentes %}
        
                <h3 align="center">Componente: <b>{{ comp.titulo }}</b></h3>
                <p> {{ comp.html|safe }}</p>

                {% for obj in comp.objetivos %}
                <section class="objetitle">
                    <hr style="border-top: 2px solid black;" class="mgtop">
                    <h4>Objetivo: <b>{{ obj.titulo }}</b></h4>
                    <hr style="border-top: 2px solid black;">
                </section>
                    {% for meta in obj.metas %}

                        <table>

        <tr><td colspan=5 style="background-color: {{ linea.color_1 }}">Meta: <b>{{ meta.titulo }}</b></td></tr>
        <!-- Nos fijamos si hay nuevo titulo. Si hay lo resaltamos en rojo para chequearlo -->
        {% if meta.new_titulo%}
            <tr><td colspan=5 style="background-color: #FD0707">Meta:<b>{{ meta.new_titulo }}</b></td></tr>
        {% endif %}

        <tr><td>Estado de avance </td>
            <td colspan=4> {{ meta.get_estado_de_avance_display }}</td></tr>
        <!-- Si hay nuevo estado de avance lo resaltamos en rojo -->
        <tr><td style="background-color: #FD0707">Estado de avance </td>
            <td colspan=4 style="background-color: #FD0707"> {{ meta.get_new_estado_de_avance_display }}</td></tr>

        <tr><td style="width:30%">Línea de base</td>
            <td colspan=4 class="hm"> {{ meta.linea_base|default_if_none:"Sin línea de base"|safe }}</td></tr>
        <!-- Nos fijamos si hay nueva linea base. Si hay lo resaltamos en rojo para chequearlo -->
        {% if meta.new_linea_base %}
            <tr><td style="width:30%; background-color: #FD0707">Línea de base</td>
            <td colspan=4 class="hm" style="background-color: #FD0707"> {{ meta.new_linea_base|safe }}</td></tr>
        {% endif %}

        <tr style="background-color: #f5f5f5">
            <td><b>Indicador</b></td>
            <td>Meta acumulada al 2016</td>
            <td>Meta acumulada al 2017</td>
            <td>Meta acumulada al 2018</td>
            <td>Meta acumulada al 2019</td>
        </tr>
                        {% if meta.indicadores %}
                            {% for indicador in meta.indicadores %}
                                <tr>
                                    <td style="width:30%"><b>{{ indicador.indicador }} </b>
                                    <b style="background-color: #FD0707">
                                        {{ indicador.new_indicador}}
                                    </b>
                                    </td>
                                    
                                    <td style="width:15%"> {{ indicador.avance_2016.valor_indicador|default_if_none:" - "|safe }} </td>
                                    <td style="width:15%"> {{ indicador.avance_2017.valor_indicador|default_if_none:" - "|safe }} </td>
                                    <td style="width:15%"> {{ indicador.avance_2018.valor_indicador|default_if_none:" - "|safe }} </td>
                                    
                                    <!-- <td style="width:15%"> {{ indicador.valor_indicador }}</td> -->
                                    {% if indicador.new_valor_indicador %}
                                        <td style="width:15%;background-color: #FD0707"> {{indicador.new_valor_indicador}}</td>
                                    {% else %}
                                        <td style="width:15%;background-color: #FD0707"> Sin datos</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        {% endif %}
        
        <tr><td>Observaciones </td>
            <td colspan=4 class="hm"> {{ meta.observaciones_generales|default_if_none:"Sin observaciones"|safe }}</td></tr>
        <!-- Nos fijamos si hay nuevas observaciones generales. Si hay lo resaltamos en rojo para chequearlo -->
        {% if meta.new_observaciones_generales %}
            <tr><td style="background-color: #FD0707">Observaciones 2018</td>
            <td colspan=4 class="hm" style="background-color: #FD0707"> {{ meta.new_observaciones_generales|safe }}</td></tr>
        {% endif %}

                        </table>
                    {% endfor %}
                    
                {% endfor %}
    
            {% endfor %}
        

        {% endfor %}
    </body>
    
</html>