{% extends 'base.html' %}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Acceso</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="loginf" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Usuario" name="username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Clave" name="password" type="password" value="">
                            </div>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-lg btn-success btn-block" id="loginb">Ingresar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}