<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Proyecto Qhapax, Municipalidad de Córdoba">
    <meta name="author" content="Municipalidad de Córdoba">
    {% block head_metas %}{% endblock %}
    <title>{% block title %}Municipalidad de Córdoba | Proyecto Qhapax{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/backend/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/backend/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/static/backend/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {% block styles %}{% endblock %}

    <!-- Custom CSS -->
    <link href="/static/backend/dist/css/sb-admin-2.css" rel="stylesheet">
</head>

<body>
    {% block base_content %}{% endblock %}

    <!-- jQuery -->
    <script src="/static/backend/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/backend/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/backend/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/backend/dist/js/sb-admin-2.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block scripts %}{% endblock %}
</body>

</html>
