{# PDF de Actividades Publicas #}<!DOCTYPE html>
<html lang="es">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ titulo }}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <style>
            body { font-family: 'Lato', sans-serif; }
            .cover{
              padding-top: 400px;
            }
            h1{
              text-align: center;
              font-size: 8em;
              margin: 0;
              color: #00a665;
              text-transform: uppercase;
            }

            .agendaTitulo{
              font-size: 3.75em;
              text-align: center;
              margin: 0;
            }

            .periodo{
              font-size: 2.5em;
              text-align: center;
              margin: 0;
              margin-top: 40px;
            }

            .titProx{
              font-size: 2em;
              text-align: left;
              padding-top: 30px;
              text-transform: uppercase;
              font-weight: 900;
              color: #00a665;
            }
            /***Always insert a page break before the element***/
            .pb_before {
              page-break-before: always !important;
            }

            /***Always insert a page break after the element***/
            .pb_after {
              page-break-after: always !important;
            }

            /***Avoid page break before the element (if possible)***/
            .pb_before_avoid {
              page-break-before: avoid !important;
            }

            /***Avoid page break after the element (if possible)***/
            .pb_after_avoid {
              page-break-after: avoid !important;
            }

            /* Avoid page break inside the element (if possible) */
            .pbi_avoid {
              page-break-inside: avoid !important;
            }

            .headerActividad{
              min-height: 90px;
              background-color: #00a665;
              color: #FFFFFF;
              position: relative;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-box-pack: center;
              -webkit-box-align: left;

              display: -moz-box;
              -moz-box-orient: vertical;
              -moz-box-pack: center;
              -moz-box-align: left;

              display: box;
              box-orient: vertical;
              box-pack: center;
              box-align: left;
            }
            .actividad{
              border-bottom: 5px solid #00a665;
            }
            .titActividad{
              font-size: 1.35em;
              margin: 0;
              padding: 10px;
            }

            .titActLeft{
              width:  78%;
              display: inline-block;
              margin: 0;
              text-align: left;
              padding: 5px;
            }

            .titActRight{
              width: 22%;
              display: inline-block;
              margin: 0;
              text-align: right;
              right: 0;
              position: absolute;
              top: 0;
              height: 70px;
              background-color: #008e55;
              border-left: 2px solid #007546;
              padding: 10px;
            }

            .fechaAct{
              display: inline-block;
              text-align: left;
              margin: 0;
              margin-right: 10px;
              margin-left: 5px;
            }
            .fechaAct .text{
              font-style: italic;
            }

            .fechaAct .date{
              font-size: 1.15em;
              margin: 0;
              padding: 0;
              font-weight: 600;
            }
            .fechaAct .time{
              font-size: 1.15em;
              margin: 0;
              padding: 0;
              font-weight: 600;
            }
            .actDescription{
              font-size: 1.1em;
              padding: 10px;
            }

            .lugarAct{
              background-color: #008e55;
              padding: 10px;
              color: #FFF;
              font-size: 1.25em;
              border-top: 2px solid #007546;
            }

        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>

    <body>
      <div class="cover">
        <div class="coverContent">
          <h1>Agenda</h1>
          <h2 class="agendaTitulo">{{ titulo }}</h2>

          <p class="periodo">
            {% if desde and hasta %}
              Periodo: {{ desde }} - {{ hasta }}
            {% elif desde %}
              Periodo: desde {{ desde }}
            {% else %}
              Periodo: hasta {{ hasta }}
            {% endif %}
          </p>

          <div class="pb_before">
          </div>
        </div>
      </div>

        <h3 class="titProx">Próximas Actividades:</h3>
      
            {% for actividad in actividades %}
            <div class="actividad pbi_avoid">
              <div class="headerActividad">
                <div class="titActLeft">
                  <h4 class="titActividad">{{ actividad }}</h4>
                </div>
                <div class="titActRight">
                  <div class="fechaAct">
                    <div class="text">
                      Inicia
                    </div>
                    <div class="date">
                      {{actividad.inicia |date:'d/m/y' }}
                    </div>
                    <div class="time">
                      {{actividad.inicia |date:'H:i' }}
                    </div>
                  </div>
                  <div class="fechaAct">
                    <div class="text">
                      Finaliza
                    </div>
                    <div class="date">
                      {{actividad.termina |date:'d/m/y' }}
                    </div>
                    <div class="time">
                      {{actividad.termina |date:'H:i' }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="lugarAct">
                Lugar: <strong>{{actividad.lugar.nombre}} </strong> ({{actividad.lugar.direccion}})
              </div>

              <div class="actDescription">
                {{ actividad.descripcion|safe }}
              </div>

            </div>
            {% endfor %}

    </body>


</html>
