<h1>Proximas Actividades</h1>

{% for act in actividades %}

    <h2>{{ act.titulo }}</h2>
    {% if act.imagen %}
        <img src="{{ act.imagen.crop.240x140 }}" style="float:left; padding:10px;" />
    {% endif %}
    <br />Descripción: {{ act.descripcion|safe }}
    <br /> Desde {{ act.inicia }} hasta {{ act.termina }}

    <h3>Lugar: {{ act.lugar.nombre }} </h3>
    <br />{{ act.lugar.email|default_if_none:"" }} {{ act.lugar.telefono|default_if_none:"" }}
    <br />Direccion: {{ act.lugar.direccion }}
    <br />Descripcion: {{ act.lugar.descripcion|safe }}
    
    
{% endfor %}
