.splash{
  top:0;
  left:0;
  background-color: #00A665;
  z-index: 1002;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}



.logo-animation {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: -100px;
}

.letters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 230px;
}

.letter {
  position: relative;
  width: 162px;
  height: 162px;
}

#roundSquare{
  position: absolute;
  width: 200px;
  height: 230px;
  margin-left: 1px;
}
#lineSquare{
  position: absolute;
  width: 32px;
  height: 83px;
  overflow: hidden;
  left: 157px;
  top: 63px;
  transform-origin: bottom left;
}
#textoLogo{
  position: absolute;
  width: 300px;
  height: 134px;
  top: 90px;
  left: 224px;
}
#logoMuni{
  width: 300px;
  height: 358px;
  /* position: absolute; */
  /* left: -75px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: -48px;
  background-color: #00A665;
}
#logoMuni .border,
#logoMuni .inside{
  width: 300px;
  height: 358px;
  position: absolute;
  top: -48;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/*
#logoMuni{
  width: 150px;
  height: 181px;
  position: absolute;
  top: 25px;
  margin-left: auto;
  margin-right: auto;
}
#logoMuni .border,
#logoMuni .inside{
  width: 150px;
  height: 181px;
  position: absolute;
  top: 0;
  left: 0;
} */

#textoLogoMuni{
  width: 358px;
  position: absolute;
  left: 150px;
  top: 75px;
  margin-left: auto;
  margin-right: auto;
}
.logoMuni{
  position: absolute;
  width: 500px;
}

.fireworks{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.first,
.second{
  fill: none;
}
.logoSquare{
  position: relative;
  width: 200px;
  margin: 0 auto;
}

@media (min-width: 375px) {

}
/* Media Queries */
/*Small devices (landscape phones, 424px and up)*/
@media (min-width: 424px) {
  #textoLogo{
      left: 224px;
  }
}
/*Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #textoLogo{
    left: 224px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1700px) {
  .navbar .container {
      width: 1570px;
    }
}

@media (min-width: 992px) {

}
