/**
 * Position icons into circle (SO)
 */
.circle-container {
	position: absolute;
  z-index: 9;
	width: 10px;
  margin-left: -30px;
	margin-top: -25px;
	height: 100%;
}
.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	/*width: 4em; */
  /*height: 4em;*/
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
}
.circle-container img { display: block; width: 100%; }
.deg3 { transform: translate(16em); }

.deg4 { transform: rotate(30deg) translate(17em) rotate(-30deg); }
.deg5 { transform: rotate(60deg) translate(18em) rotate(-60deg); }

.deg1 { transform: rotate(300deg) translate(18em) rotate(-300deg); }
.deg2 { transform: rotate(330deg) translate(17em) rotate(-330deg); }




.circle-container a:hover:before { opacity: 1; }

.circle-container:hover a:after { opacity: 1; }
.circle-container a:hover:after { opacity: .3; }
