/*
    Author     : Gaston F. Ramirez
*/

.a2x .navbar-gaMuniCba .nav.navbar-nav.navbar-right li a,
.a2x .tarjetaDato .dato-descargado p,
.a2x .card-sImportante .info,
.a2x .card-sImportante .btnMore,
.a2x .descargas .botonDescarga,
.a2x .infoPublica .help,
.a2x .textLineamiento p,
.a2x .participacionCiudadana .help,
.a2x .explorar,
.a2x .resCounter,
.a2x .searchResults .resultado p,
.a2x .organigrama .org-funcionario .org-func-nombre{
  font-size: 1.35em !important;
}

.a2x .datosAbiertos .cardProyectos .texto,
.a2x .datosAbiertos .descargas span,
.a2x .datosAbiertos .datoFinal .licencias .textoLicencias,
.a2x .navbar-gaMuniCba .nav.navbar-nav.navbar-right .dropdown-menu.lvl1 li a,
.a2x .searchResultsInput,
.a2x .cardLineamiento .componentesLista .componente p,
.a2x .componentesListaPM .componentesLista .componente p,
.a2x .metasLista .meta p,
.a2x .metaInfo .estado .estadoTexto
{
  font-size: 1.5em;
}


.a2x .tarjetaDato .dato-descargado h3,
.a2x .institucional .institucionalTexto,
.a2x .accesibleTitulo,
.a2x .infoPM,
.a2x .nuestraCiudad .descargaLink .nombre,
.a2x .nuestraCiudad .descarga,
.a2x #paginacionProyectos,
.a2x #paginacionCharts,
.a2x .infoPaginacionMetas,
.a2x #infoPaginacionGuia,
.a2x .datosAbiertos .subSubCategoria,
.a2x .datosAbiertos .tituloPag .tituloSubCategoria,
.a2x .datosAbiertos .tituloPag .tituloSubSubCategoria,
.a2x .datosAbiertos .actualizacion,
.a2x .infoPublica .listaAcceso .itemAcceso .descCollapse,
.a2x .infoPublica .verLink,
.a2x .infoPublica .formPersonal .descargaForm,
.a2x .infoPublica .formSolicitud input,
.a2x .infoPublica .formSolicitud select.dropdown,
.a2x .infoPublica .formSolicitud textarea,
.a2x .itemPC .texto,
.a2x .itemPC .leerMas,
.a2x .participacionCiudadana .descargas span,
.a2x .documentosContainer .descargas span,
.a2x .participacionCiudadana .formSolicitud .panel-default>.panel-heading a,
.a2x .participacionCiudadana .formSolicitud input[type=text],
.a2x .participacionCiudadana .formSolicitud input[type=email],
.a2x .participacionCiudadana .formSolicitud select.dropdown,
.a2x .participacionCiudadana .formSolicitud textarea,
.a2x .softwareLibre .githubLink .nombre,
.a2x .accesiblidadTexto,
.a2x .searchTitle,
.a2x .tituloResultado
{
  font-size: 1.6em;
  line-height: 1em;
}

.a2x .subtituloSeccion,
.a2x .componenteInfo,
.a2x .objetivoInfo .titulo,
.a2x .metaInfo .lineaBase,
.a2x .tituloSeccionSup{
  font-size: 1.75em;
  line-height: 1em;
}
.a2x .tituloLineamiento{
  font-size: 3em;
}
.a2x .tituloComponente{
  font-size: 2em;
}
.a2x .datosAbiertos .infoDA{
  font-size: 1.5em;
}
.a2x .organigrama .org-funcionario .org-func-cargo{
  font-size: 1.15em;
  line-height: 1em;
}
.a2x .imageHome .texto-imageHome,
.a2x .tarjetaDato .titulo-destacado-tarjetaDato,
.a2x .texto-newsCard,
.a2x .footerCaratulaNuestraCiudad,
.a2x .nuestraCiudad .guiaEstadistica .subtituloGuiaEstadistica,
.a2x .datosAbiertos .datosTextoContainer,
.a2x .datosAbiertos .datasets .boton,
.a2x .datosAbiertos .datoFinal .tituloDato,
.a2x .datosAbiertos .datoFinal .licencias .tituloLicencias,
.a2x .infoPublica .footerCaratula,
.a2x .infoPublica .listaAcceso .itemAcceso .subtitulo,
.a2x .infoPublica .pediInfoDiv .texto,
.a2x .infoPublica .descripcionAIP,
.a2x .infoPublica .socioRFAIP,
.a2x .infoPublica .formPersonal .titulo,
.a2x .infoPublica .formPersonal .subtitulo,
.a2x .metaInfoTabla .textoIndicador,
.a2x .metaInfoTabla .observaciones,
.a2x .viz .vizContainer .descripcionViz,
.a2x .viz .vizContainer .verMasViz,
.a2x .aplicaciones .datosTextoContainer,
.a2x .aplicaciones .appContainer .btnDescarga,
.a2x .aplicaciones .appContainer .descripcionApp,
.a2x .participacionCiudadana .datosTextoContainer,
.a2x .participacionCiudadana .comoParticipar .cpSubtitulo,
.a2x .participacionCiudadana .comoParticipar .cpTexto,
.a2x .democracyOS .texto
{
  font-size: 2em;
  line-height: 1em;
}
.a2x .aplicaciones .nombreApp{
      word-wrap: break-word;
}

.a2x .softwareLibre .githubSectionTitle,
.a2x .nuestraCiudad .githubSectionTitle,
.a2x .softwareLibre .githubSectionSubtitle,
.a2x .nuestraCiudad .githubSectionSubtitle,
.a2x .nuestraCiudad .descInfoDinamica,
.a2x .infoPublica .normativaVigente,
.a2x .datosAbiertos .tarjetaDato.small .titulo-tarjetaDato,
.a2x .datosAbiertos .headerQueSeHizo h2,
.a2x .datosAbiertos .headerQueSeHizo h3,
.a2x .datosAbiertos .cardProyectos .titulo,
.a2x .datosAbiertos .tituloPag .tituloCategoria
.a2x .infoPublica .aclaracionPasos,
.a2x .infoPublica .formularioTitle,
.a2x .viz .vizContainer .tituloViz,
.a2x .aplicaciones .appContainer .nombreApp,
.a2x .participacionCiudadana .desc,
.a2x .softwareLibre .infoSL
{
  font-size: 2.25em;
}

.a2x .imageHome .bvd-imageHome,
.a2x .statisticsHome .tarjetaDato .titulo-tarjetaDato,
.a2x .tarjetaDato .titulo-tarjetaDato,
.a2x .datosAbiertos .contadorCategorias .numeroCategoriasAcl,
.a2x .infoPublica .listaAcceso .itemAcceso .titulo,
.a2x .infoPublica .solicitaInfoDiv .titulo,
.a2x .infoPublica .pediInfoDiv .titulo,
.a2x .infoPublica .buttonSend,
.a2x .objetivosList .item.objetivo h3,
.a2x .participacionCiudadana .comoParticipar .cpTitulo,
.a2x .participacionCiudadana .buttonSend,
.a2x .nav-buscar .form-control
{
  font-size: 2.3em;
}

.a2x .tituloContainer{
  margin-bottom: 10px;
}
.a2x .caratulaNuestraCiudad .tarjetaDato{
  margin-right: 0px;
}
.a2x .caratulaNuestraCiudad .tarjetaDato .numero-tarjetaDato{
  font-size: 5em;
}
.a2x .participacionCiudadana .formularioTitle,
.a2x .card-sImportante .title{
  font-size: 2.25em;
}
.a2x .habs .card-sImportante .title{
  font-size: 1.85em;
}

.a2x .imageHome .hola-imageHome,
.a2x .vecinoBg h3,
.a2x .tituloSeccion,
.a2x .nuestraCiudad .guiaEstadistica .tituloGuiaEstadistica,
.a2x .datosAbiertos .headerDato .tituloDato,
.a2x .itemPC .titulo,
.a2x .democracyOS .titulo{
  font-size: 3em;
  line-height: 1.25em;
}

.a2x .datosAbiertos .contadorCategorias h3{
  font-size: 3.25em;
}

.a2x .vecinoBg a{
  font-size: 2.5em;
  padding:0px 10px;
  word-wrap: break-word;
}

.a2x .aplicaciones .modernos{
  font-size: 2.5em;
}

.a2x .tarjetaDato .numero-tarjetaDato{
  font-size: 9em;
}
.a2x .aplicaciones .tarjetaDato .numero-tarjetaDato{
  font-size: 16em;
}
.a2x .participacionCiudadana .tarjetaDato .numero-tarjetaDato{
  font-size: 12em;
}
.a2x .participacionCiudadana .tarjetaDato.cpc .numero-tarjetaDato{
  font-size: 15em;
}

.a2x .datosAbiertos .tarjetaDato.small .numero-tarjetaDato{
  font-size: 13em;
}

.a2x .main-menu a{
  font-size: 1.25em;
}
.a2x .numero-grande,
.a2x .datosAbiertos .tarjetaDato .numero-tarjetaDato,
.a2x .a2x .tarjetaDato .numero-tarjetaDato{
  font-size: 15em!important;
}
.a2x .institucional .tituloSeccion,
.a2x .institucional .subtituloSeccion
{
  text-align: center !important;
}

.a2x .fichaFuncionario .nombreFuncionario,
.a2x .fichaFuncionario .sueldo{
  font-size: 3em;
}
.a2x .fichaFuncionario .tituloFuncionario,
.a2x .fichaFuncionario .tituloDescripcion,
.a2x .documentosContainer .ddjj .infoDDJJ,
.a2x .documentosContainer .designacion .infoDes,
.a2x .dependenciasTitle,
.a2x .fichaDependencia .nombreFuncionarioDependencia{
  font-size: 2.25em;
}

.a2x .descFuncionario .tituloOficina,
.a2x .documentosContainer .documentosFuncionario .btnDocumento,
.a2x .documentosContainer .descargarArchivos,
.a2x .documentosContainer .ddjjAnteriores h3,
.a2x .documentosContainer .ddjjAnteriores .ddjjAnterior .year,
.a2x .fichaDependencia .oficinaFuncionarioDependencia{
  font-size: 2em;
}
.a2x .descFuncionario .tituloDescripcion,
.a2x .documentosContainer .ddjj .tituloDDJJ,
.a2x .documentosContainer .designacion .tituloDes,
.a2x .fichaFuncionario .tituloSueldo{
  font-size: 2.5em;
}

.a2x .documentosContainer .ddjj .tableCont{
  font-size: 1.5em;
}
.a2x .descFuncionario .descripcion p{
  font-size: 1.75em;
}
