@media (min-width: 375px) {
    .vice-no-separado {
        display: inherit;
    }
    .vice-separado {
        display: none !important;
    }
    div.org-funcionario.intendente div.func-foto-cont {
        max-width: 200px;
    }
    div.org-funcionario.viceintendente div.func-foto-cont {
        max-width: 80px;
    }
    .org-lista-funcionarios .org-funcionario .func-foto-cont {
        max-width: 90px;
        margin-top: 20px;
    }
    .bg-green-cont {
        font-size: 0.9em;
    }
    h3.noticias {
        font-size: 3em;
        margin-top: 27px;
    }
    .nav-buscar .form-control {
        font-size: 1.6em;
        height: 40px;
    }
    #nav-close {
        visibility: hidden;
    }
    .nav-expander.is-open {
        display: inline-block;
    }
    .tituloSeccionSup {
        font-size: 1.15em;
    }
    .tituloSeccion {
        font-size: 1.75em;
    }
    .subtituloSeccion {
        font-size: 1.25em;
        margin-top: -5px;
    }
    .datosAbiertos .datasets {
        padding: 50px 0px;
    }

}

@media (min-width: 424px) {
    .cardLineamiento .ltituloContainer .titulo {
        padding: 20px 50px;
    }
    div.org-funcionario.viceintendente div.func-foto-cont {
        max-width: 80px;
    }
    .org-lista-funcionarios .org-funcionario .func-foto-cont {
        max-width: 70px;
    }
    .nuestraCiudad .nuestraCiudadCBA {
        font-size: 4.5em;
    }
    h3.noticias {
        font-size: 4em;
        margin-top: 27px;
    }
    .bg-green-cont {
        font-size: 1em;
    }
    .nuestraCiudad .tarjetaDato .numero-tarjetaDato {
        font-size: 6em;
        margin-bottom: 30px;
    }
    .aplicaciones .modernos {
        font-size: 3em;
    }
    .logo-home {
        padding-left: 15px; 
    }
}

@media (min-width: 544px) {}

@media (min-width: 768px) {
    .blockchain .bcTitle {
        font-size: 7.5em;
    }
    .objetivoInfo,
    .metaInfo {
        padding: 20px 50px;
    }
    .participacionCiudadana .g-recaptcha {
        margin-left: 0px;
    }
    .aplicaciones .tarjetaDato .titulo-tarjetaDato {
        font-size: 3em;
    }
    .aplicaciones .tarjetaDato .numero-tarjetaDato {
        font-size: 13em;
    }
    .aplicaciones .modernos {
        font-size: 4em;
    }
    .cardLineamiento .componentesLista {
        padding: 20px 50px;
    }
    .modoAccesibleContainer {
        height: 60px;
    }
    .navbar-gaMuniCba-accesible {
        height: 60px;
    }
    .modoAccesible,
    .modoTextoAccesible {
        height: 50px;
    }
    .datosAbiertos .tarjetaDato .numero-tarjetaDato {
        font-size: 13em;
    }
    .dependenciasTitle {
        margin-top: 0px;
    }
    .dependencias {
        padding: 50px;
    }
    .institucional .flickrSlider {
        margin-left: 100px;
        margin-right: 100px;
    }
    .institucional .institucionalTexto {
        padding: 0px 100px;
    }
    div.org-funcionario.viceintendente div.func-foto-cont {
        max-width: 150px;
    }
    div.org-funcionario.intendente div.func-foto-cont {
        max-width: 300px;
    }
    .org-lista-funcionarios .org-funcionario .func-foto-cont {
        max-width: 150px;
    }
    .participacionCiudadana .comoParticipar {
        padding: 20px 30px;
    }
    .masBuscado {
        padding: 0px 50px;
    }
    .itemPC {
        padding: 0px 100px;
    }
    .participacionCiudadana .tarjetaDato.tarjetaBordeXS {
        border-bottom: none;
    }
    .nuestraCiudad .tarjetaDato .numero-tarjetaDato {
        font-size: 7em;
        margin-bottom: 30px;
    }
    .dropdown-menu.lvl1:after {
        position: absolute;
        top: -12px;
        right: 14%;
        display: inline-block;
        border-right: 11px solid transparent;
        border-bottom: 11px solid #009EE2;
        border-left: 11px solid transparent;
        content: '';
    }
    .infoPublica .aclaracionPasos {
        font-size: 1.75em;
    }
    .infoPublica .listaAcceso {
        padding: 30px 0px 20px 100px;
    }
    .infoPublica .formAIP {
        padding: 30px 100px;
    }
    .infoPublica .listaNormativas {
        padding: 0px;
    }
    .infoPublica .textoAIP {
        padding: 0px 50px;
    }
    .nuestraCiudad .tarjetaDato {
        margin-right: 100px;
    }
    .softwareLibre .githubSection,
    .nuestraCiudad .descargasCiudad {
        padding: 50px;
    }
    .dependencias .fichaDependenciaContainer {
        margin-bottom: 120px;
    }
    .dependencias .fichaDependenciaContainer:last-child {
        margin-bottom: 120px;
    }
    .fichaDependencia .grillaDependencia {
        left: 0px;
        width: 210px;
    }
    .fichaDependencia.right .grillaDependencia {
        right: 0px;
        width: 210px;
    }
    .datosAbiertos .datosAbiertosLogoContainer {
        min-height: 300px;
    }
    .planMetas .cardLineamiento.desarrollo {
        margin-bottom: 0px;
    }
    .tituloPag .border-right.no-border-right-mobile {
        border-right: 2px solid #009EE2;
    }
    .metaInfoTabla {
        padding: 50px 50px;
        padding-bottom: 0px;
    }
    .tituloLineamiento {
        margin: 0 auto;
    }
    .no-border-b-tablet {
        border-bottom: none;
    }
    .nav-buscar {
        height: 90px;
    }
    .nav-buscar .form-control {
        font-size: 1.8em;
    }
    .layer.trama.trama-8 {
        width: 300px;
        height: 300px;
        top: 165px;
        left: 900px;
    }
    .logoFooter {
        margin-top: 11px;
    }
    .border-768-r {
        border-right: 1px solid #BBBBBB;
    }
    .border-768-b {
        padding-bottom: 10px;
        border-bottom: 1px solid #BBBBBB;
    }
    .layer.trama.trama-5 {
        width: 250px;
        height: 250px;
        top: 0px;
        left: 300px;
    }
    .layer.trama.introduccion {
        height: 550px;
    }
    #l1 {
        padding-left: 50px;
        padding-top: 50px;
    }
    .newsCard {
        background-color: transparent;
        width: 100%;
        height: 500px;
    }
    .nombreModoAccesible {
        font-size: 0.9em;
    }
    .modoAccesible,
    .modoTextoAccesible {
        max-width: 100%;
    }
    .iconoModoAccesible {
        font-size: 1.75em !important;
    }
    .iconoModoAccesible.small {
        font-size: 1.25em !important;
    }
    .tarjetaDato .numero-tarjetaDato {
        font-size: 7em;
    }
    .statisticsHome .tarjetaDato .titulo-tarjetaDato {
        font-size: 1.5em;
    }
    .box {
        height: 450px;
    }
    .imageHome {
        min-height: 400px;
    }
    .numero-grande {
        font-size: 9em !important;
    }
    .lista-datos .tarjetaDato {
        padding-top: 10px;
    }
    .logo-home {
        padding-left: 0px; 
    }
}

@media (min-width: 992px) {
    footer .copyr {
        float: right;
    }
    footer .rowConvenios .imgLogoFooter {
        margin-top: -5px;
    }
    .aplicaciones .appContainer .nombreApp {
        margin-top: 0px;
    }
    .datosAbiertos .owl-carousel .owl-nav .owl-prev {
        margin-left: -5px;
    }
    .imgFuncionario.sticky {
        position: -webkit-sticky;
        position: sticky;
    }
    .itemPC {
        padding: 0px 100px;
    }
    .participacionCiudadana .caratula .tituloCaratula {
        font-size: 3.5em;
    }
    .participacionCiudadana .tarjetaDato.cpc .titulo-tarjetaDato {
        text-align: left;
        font-size: 2.75em;
    }
    .participacionCiudadana .tarjetaDato.cpc .numero-tarjetaDato {
        font-size: 13em;
    }
    .lista-datos .tarjetaDato {
        padding-top: 30px;
    }
    .imageHome {
        min-height: 550px;
    }
    .numero-grande {
        font-size: 12em !important;
    }
    .statisticsHome .tarjetaDato .titulo-tarjetaDato {
        font-size: 2em;
    }
    .tarjetaDato .numero-tarjetaDato {
        font-size: 9em;
    }
    .center-boxes .col-md-3 {
        margin: 0 -4% 0 4%;
    }
    .nuestraCiudad .imgCiudad {
        margin-bottom: -150px;
        margin-top: 25px;
    }
    .bg-green-cont {
        font-size: 1.2em;
    }
    .fichaFuncionario .infoFuncionario .datosFuncionario {
        padding: 0px 50px 0px 30px;
    }
    .fichaFuncionario .infoFuncionario {
        padding: 40px 100px 10px 100px;
    }
    .dependenciasTitleArrow {
        margin-bottom: -40px;
    }
    .fichaDependencia .grillaDependencia {
        width: 225px;
        left: 105px;
    }
    .fichaDependencia.right .grillaDependencia {
        width: 225px;
        right: 105px;
    }
    .tituloSeccionSup {
        font-size: 1.5em;
    }
    .tituloSeccion {
        font-size: 2.25em;
    }
    .subtituloSeccion {
        font-size: 1.5em;
        margin-top: -10px;
    }
    .border-b-mob {
        border-bottom: none;
    }
    .logo-loading .bottom {
        height: 84px;
    }
    .logo-loading .top {
        height: 56px;
    }
    .logo-loading .bottom {
        top: 56px;
    }
    .nav-buscar {
        height: 110px;
    }
    .nav-buscar .form-control {
        font-size: 2em;
        height: 60px;
    }
    .fa-search.fa-4x {
        font-size: 4em;
    }
    .cerrar.fa-3x {
        font-size: 3em;
    }
    .layer.trama.trama-3 {
        width: 500px;
        height: 500px;
        top: 0px;
        left: 1000px;
    }
    .navbar-gaMuniCba .navbar-header {
        margin-bottom: -35px;
    }
    .logoFooter {
        margin-top: 6px;
    }
    .border-768-r {
        border-right: 0px;
    }
    .border-768-b {
        border-bottom: 0px;
    }
    .border-b-r {
        border-bottom: 1px solid #BBBBBB;
        border-right: 1px solid #BBBBBB;
    }
    .border-b {
        border-bottom: 1px solid #BBBBBB;
    }
    .border-r {
        border-right: 1px solid #BBBBBB;
    }
    .logo {
        margin-left: -60px;
        margin-top: -70px;
    }
    .menuLogo {
        margin-left: -15px;
    }
    .navbar-gaMuniCba {
        height: 85px;
    }
    .navbar-gaMuniCba .navbar-brand {
        margin-left: 0px;
        margin-top: 0px;
    }
    .menuLogo {
        width: 60px;
        margin-top: 5px;
    }
    .hamburger {
        background: transparent;
        border: none;
        display: block;
        height: 32px;
        margin-right: 15px;
        position: relative;
        top: 20px;
        width: 32px;
        z-index: 999;
    }
    .vecinoBg h2 {
        font-size: 3.25em;
        text-transform: uppercase;
    }
    .vecinoBg h3 {
        font-size: 2.5em;
        margin-bottom: 0px;
    }
    .vecinoBg a {
        color: #FFFFFF;
        font-size: 3em;
    }
    .navbar-gaMuniCba .navbar-header {
        width: 30%;
    }
    .home-page .navbar-gaMuniCba .navbar-header {
        width: 30%;
    }
    .mHeight {
        height: 250.5px;
    }
    .minHeight {
        min-height: 250px;
    }
    .col-descargas {
        padding-left: 0px;
        padding-right: 12px;
        margin-bottom: 10px;
    }
    .newsCard {
        height: 5050x;
    }
    .layer.verde {
        height: 630px;
    }
    .layer.celeste {
        height: 500px;
    }
}

@media (min-width: 1200px) {
    .modoAccesibleRight {
        text-align: right;
    }
    .datosAbiertos .item {
        padding: 30px;
    }
    .card-sImportante {
        width: 80%;
    }
    .organigrama .owl-nav .owl-next {
        margin-right: 220px;
    }
    .nuestraCiudad .tarjetaDato .numero-tarjetaDato {
        font-size: 8em;
    }
    .nuestraCiudad .tarjetaDato .titulo-tarjetaDato {
        font-size: 2.5em;
    }
    .infoPublica .circuloPaso .nombrePaso {
        font-size: 1.75em;
        font-weight: 900;
        text-transform: uppercase;
    }
    .infoPublica .circuloPaso {
        height: 180px;
        width: 180px;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        color: #0A82FA;
        margin-left: 4%;
    }
    .infoPublica .circuloPaso.active {
        border: 10px solid #0A82FA;
        height: 200px;
        width: 200px;
    }
    .nuestraCiudad .imgCiudad {
        max-width: 100%;
        margin-bottom: -150px;
        margin-top: 25px;
    }
    .fichaDependencia .grillaDependencia {
        left: 155px;
    }
    .fichaDependencia.right .grillaDependencia {
        right: 155px;
    }
    .tituloPag .border-right.no-border-right-tablet {
        border-right: 2px solid #009EE2;
    }
    .tarjetaDato a {
        text-decoration: none;
    }
    .tarjetaDato a:hover {
        text-decoration: underline;
    }
    .tarjetaDato.especial .numero-tarjetaDato {
        font-size: 9em;
    }
    .tarjetaDato.especial .titulo-tarjetaDato {
        margin-top: 35px;
    }
    .tarjetaDato .titulo-destacado-tarjetaDato {
        font-size: 1.25em;
    }
    .tarjetaDato .dato-descargado h3 {
        font-size: 1.15em;
        text-overflow: ellipsis;
    }
    .tarjetaDato .dato-descargado p {
        font-size: 0.9em;
    }
    .logo {
        margin-left: -60px;
        margin-top: -110px;
    }
    .tl-headline.tl-headline-title {
        font-size: 2.5em !important;
        line-height: 1.1em !important;
        font-weight: 700;
        color: #6D6D6D;
        text-transform: uppercase;
    }
    .tl-timeline p {
        font-size: 1.5em !important;
        font-weight: 100;
        color: #6D6D6D;
    }
    .navbar-gaMuniCba .nav.navbar-nav.navbar-right li a {
        margin-left: 30px;
    }
    #home .navbar-gaMuniCba .nav.navbar-nav.navbar-right li a {
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .col-subidos {
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-descargas {
        padding-left: 0px;
        padding-right: 30px;
    }
}

@media (min-width: 1400px) {
    .datosAbiertos,
    .navbar .container {
        width: 1270px;
    }
}

@media (min-width: 1700px) {
    .datosAbiertos,
    .navbar .container {
        width: 1570px;
    }
    .listasContainerDatos .tarjetaDato .titulo-destacado-tarjetaDato {
        min-height: 0px;
    }
}

@media screen and (max-width: 1056px) and (min-width: 993px) {
    section.base-header .navbar-element.logo-text-element,
    .home-page .navbar-element.logo-text-element {
        display: none;
    }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
    .container {
        width: 100%;
    }

    section.base-header .numero-tarjetaDato {
        font-size: 4em;
    }
}

@media screen and (max-width: 991px) {
    .columns {
        height: 250px;
        overflow-y: scroll;
    }
    .datosAbiertos .datasets .boton:after {
        width: 90%;
    }
    .logoGAG {
        width: 100%;
        text-align: right;
    }

    .listasContainerDatos .tarjetaDato .titulo-destacado-tarjetaDato {
        min-height: 0px;
    }
}

@media screen and (min-width: 992px) {
    .columns {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        /*width: 500px;*/
        min-height: 150px;
    }
}

.footer-gaMuniCba>.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1400px) {
    .footer-gaMuniCba>.container-fluid {
        width: 1270px;
    }
}

@media (min-width: 1700px) {
    .footer-gaMuniCba>.container-fluid {
        width: 1570px;
    }
}

@media (min-width: 900px) {
    .nav-buscar {
        width: 33.33%;
        left: 33.33%;
    }
}

@media screen and (max-width: 900px) {
    .nav-buscar {
        width: 50%;
        left: 25%;
    }
}

@media (max-width: 760px) {
    .logo-element {
        padding-left: 15px; 
    }

}

@media (max-width: 770px) {
    .viz .ver-mas-img {
        max-width: 100px;
    }
}


@media (max-width: 424px) {
    .nav-buscar {
        width: 80%;
        left: 10%;
    }
}

@media (max-width: 375px) {

    .nav-buscar {
        width: 90%;
        left: 5%;
    }

    .logo-element {
        padding-left: 5px; 
    }

    section.base-header .logo-text-element .logoGA,
    .home-page .logo-text-element .logoGA {
        margin: 0px;
        font-family: 'Circular', sans-serif;
        font-weight: 500;
        text-align: left;
        display: inline-block;
        font-size: 1.2em;
        line-height: 1em;
        vertical-align: super;
        margin-left: 0px;
    }
}


@media (max-width: 320px) {
    section.base-header .navbar-element.logo-text-element , .home-page .navbar-element.logo-text-element {
        display: none;
    }

}

@media screen and (max-width: 991px) {
    #external-wrapper iframe {
        min-height: 200px;
    }
}

@media screen and (max-width: 991px) {
    section.base-header .imageHome {
        padding-top: 20px;
    }
    .box {
        height: 300px;
    }
    .imageHome {
        min-height: 200px;
    }
 
    #datos,
    #codigo,
    #apps,
    #apis,
    #participacion,
    #informacion-publica,
    #visualizaciones {
        min-height: 400px;
    }

    #codigo.base-header .codigo-description-page p,
    #informacion-publica.base-header .apis-description-page p,
    #apis.base-header .apis-description-page p {
        font-size: 1.8em;
    }
}


@media screen and (max-width: 670px) {
    section.base-header .text-titulo-base-header {
        color: #fff;
        font-size: 5em;
        font-weight: 900;
        text-shadow: 6px 8px 10px #555;
    }


    #informacion-publica.base-header .apis-description-page p,
    #apis.base-header .apis-description-page p,
    #apps.base-header .apps-description-page p {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        height: 100px;
        vartical-align: middle;
        font-size: 3em;
        font-weight: 900;
        text-shadow: 6px 8px 10px #555;
        color: #FFF;
    }

    #apis.base-header .apis-description-page p {
        font-size: 2em;
    }

    .datosAbiertos .datasets {
        min-height: 200px;
        padding: 50px 0px;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    section.base-header .text-titulo-base-header {
        color: #fff;
        font-size: 3em;
        font-weight: 900;
        text-shadow: 6px 8px 10px #555;
    }


    #apis.base-header .apis-description-page p,
    #apps.base-header .apps-description-page p {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        height: 100px;
        vartical-align: middle;
        font-size: 3em;
        font-weight: 900;
        text-shadow: 6px 8px 10px #555;
        color: #FFF;
    }

    #apis.base-header .apis-description-page p {
        font-size: 2em;
    }

    .datosAbiertos .datasets {
        min-height: 200px;
        padding: 50px 0px;
        text-align: center;
    }

    .inFContainer {
        padding-bottom: 0px;
    }

    #informacion-publica.base-header .apis-description-page p,
    #apis.base-header .apis-description-page p,
    #codigo.base-header .codigo-description-page p {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        font-size: 1.5em;
    }

    .external-wrapper {
        padding-top: 65px;
        padding-bottom: 60px;
    }
}


@media (max-width: 768px) {
    .externals-footer.text-right {
        text-align: center;
    } 
}




