/*
    Author     : Gaston F. Ramirez
*/
.high_contrast body{
  background-color: #000;
}
.high_contrast a{
  color: #FFEB02;
}
.high_contrast .lista-links a.disabled,
.high_contrast .lista-links a.disabled:hover{
  color: #888;
}
.high_contrast .loginContainer a{
  color: #FFF;
}
.high_contrast .loginContainer a:hover{
  color: #FFEB02;
}
.high_contrast .navbar-gaMuniCba,
.high_contrast .navbar-gaMuniCba-accesible,
.high_contrast .bg-white,
.high_contrast .card-sImportante.gray,
.high_contrast .bg-celeste,
.high_contrast .dropdown-menu,
.high_contrast .logoGABar{
  background-color: #000;
}
.high_contrast  .sqGA.inverse,
.high_contrast  .inverse .logoGA{
  background-color: #000;
  color: #FFEB02;
}

.high_contrast .navbar-nav>li>.dropdown-menu.lvl1, ul.dropdown-menu.lvl1,
.high_contrast .softwareLibre .tarjetaDato:first-child,
.high_contrast .accesibilidad .tituloPag .border-right,
.high_contrast .blockchain .tituloPag .border-right{
  border-color: #FFEB02;
}
.high_contrast .dropdown-menu.lvl1:after{
  position: absolute;
  top: -12px;
  right: 14%;
  display: inline-block;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #FFEB02;
  border-left: 11px solid transparent;
  content:'';
}


.high_contrast .imageHome .hola-imageHome,
.high_contrast .imageHome .texto-imageHome,
.high_contrast .imageHome .bvd-imageHome,
.high_contrast .bg-green,
.high_contrast .sqGA,
.high_contrast .logoGA,
.high_contrast .navbar-gaMuniCba .nav.navbar-nav.navbar-right .dropdown-menu.lvl1 li a:hover,
.high_contrast .nuestraCiudad .descInfoDinamica,
.high_contrast .infoPublica .normativaVigente,
.high_contrast .nuestraCiudad .descargaLink,
.high_contrast .nuestraCiudad .descargaLink .nombre,
.high_contrast .vecinoBg,
.high_contrast .searchTitle,
.high_contrast footer .rowConvenios .titConvenios,
.high_contrast .blockchain .infoBC{
  background-color: #FFEB02 ;
  color: #000;
}
.high_contrast .objetivosList .owl-item:nth-child(odd) .item.objetivo,
.high_contrast  .objetivosList .owl-item:nth-child(even) .item.objetivo{
  background-color: #FFFFFF;
  color: #000;
}
.high_contrast .objetivosList .item.objetivo h3{
  color: inherit;
}
.high_contrast .statisticsHome .tarjetaDato .numero-tarjetaDato,
.high_contrast .statisticsHome .tarjetaDato .titulo-tarjetaDato,
.high_contrast .vecinoBg a,
.high_contrast .closeMeta,
.high_contrast .redesSociales a:hover .fa-stack-1x,
.high_contrast .redesSociales a:hover .github .fa-stack-1x,
.high_contrast .fa-inverse,
.high_contrast .participacionCiudadana a.descargarLink,
.high_contrast .descFuncionario .dirFuncionario a,
.high_contrast .datosAbiertos .headerQueSeHizo h2,
.high_contrast .softwareLibre .githubLogo .fa-circle{
  color: #000;
}
.high_contrast .nav-buscar .form-control,
.high_contrast .documentosContainer .ddjj .table thead th,
.high_contrast .documentosContainer .ddjj .table>tbody>tr>td,
.high_contrast .documentosContainer .ddjj .table>tfoot>tr>td,
.high_contrast .documentosContainer .ddjj .table>thead>tr>td,
.high_contrast .documentosContainer .ddjj .infoDDJJ,
.high_contrast .documentosContainer .designacion .infoDes{
  border-color: #000;
  color: #000;
}
.high_contrast .nav-buscar,
.high_contrast .nav-buscar .form-control,
.high_contrast .nav-buscar .btn-default,
.high_contrast .closeMeta:hover,
.high_contrast .metaInfo .estado.activo .estadoCircle,
.high_contrast .dependencias .dividerDependencias,
.high_contrast .blockchain .infoBC,
.high_contrast .blockchain .cardProyectos .descripcion,
.high_contrast .blockchain .bcContainer{
  background-color: #FFEB02;
  color: #000;
}
.high_contrast .navbar-gaMuniCba .nav.navbar-nav.navbar-right .dropdown-menu.lvl1 li a:focus{
  background-color: #FFEB02;
  color: #000;
}
.high_contrast .stroke ul li a:after{
  background-color: #FFEB02;
}
.high_contrast .estadoCircle .st0,
.high_contrast .estadoCircle .st1,
.high_contrast .estadoCircle .st2,
.high_contrast .estadoCircle .st3{stroke:#000000!important;}
.high_contrast .metaInfo .estado.noIniciado .estadoCircle{
  background-color: #222222;
}


.high_contrast .descFuncionario .smFuncionario a.btnAudiencias,
.high_contrast .descargas .botonDescarga{
  border-color: #000;
  color: #000;
}
.high_contrast .descargas .botonDescarga:hover{
  background-color: #000;
  color: #FFEB02;
  border-color: #000;
}
.high_contrast .smFuncionario .fa-inverse,
.high_contrast .blockchain .cardProyectos .titulo,
.high_contrast .blockchain .tituloBC,
.high_contrast .blockchain .tituloSeccion,
.high_contrast .blockchain .subtituloSeccion,
.high_contrast .blockchain .tituloDatoBC,
.high_contrast .blockchain .registroDatoBC,
.high_contrast .blockchain .linkDatoBC,
.high_contrast .blockchain .subtituloDatoBC,
.high_contrast .tituloObras,
.high_contrast .cardMedicion,
.high_contrast .tituloSelects{
  color: #FFEB02;
}
.high_contrast .blockchain .linkDatoBC:hover{
  text-decoration: underline;
}
.high_contrast .smFuncionario .fa-stack:hover .fa-inverse,
.high_contrast .descFuncionario .dirFuncionario a:hover,
.high_contrast .datosAbiertos .conDatos .tarjetaDato .titulo-tarjetaDato,
.high_contrast .accesibilidadTexto,
.high_contrast .textoMetodoAccesibilidad,
.high_contrast .blockchain .textoBC,
.high_contrast .softwareLibre .slTexto{
  color: #FFF;
}
.high_contrast .smFuncionario .fa-circle,
.high_contrast .documentosContainer .documentosFuncionario .btnDocumento,
.high_contrast .documentosContainer .ddjj .tituloDDJJ,
.high_contrast .documentosContainer .designacion .tituloDes,
.high_contrast .documentosContainer .ddjj .table th,
.high_contrast .documentosContainer .ddjj td,
.high_contrast .documentosContainer .descargarArchivos,
.high_contrast .documentosContainer .la-inverse,
.high_contrast .documentosContainer .descargas span,
.high_contrast .documentosContainer .ddjjAnteriores h3,
.high_contrast .documentosContainer .ddjjAnteriores .ddjjAnterior .year,
.high_contrast .blockchain .bcContainer p,
.high_contrast .blockchain .bcContainer a{
  color: #000;
}

.high_contrast .disabledText{
    color: #000;
  background-color: rgba(255,235,2,0.9);
}

.high_contrast .blockchain .cardProyectos .descripcion a{
  color: #000;
  text-decoration: underline;
}
.high_contrast .blockchain .cardProyectos .descripcion a:hover{
  color: #fff;
}

.high_contrast .statisticsHome,
.high_contrast .documentosContainer .documentosFuncionario .btnDocumento:hover,
.high_contrast .documentosContainer.bg,
.high_contrast .documentosContainer .descargasCont{
  background-color: rgba(255,235,2,0.8);
}

.high_contrast .fichaFuncionario .descFuncionario{
  background-color: rgba(255,235,2,0.8);
  color: #000;
}
.high_contrast .descFuncionario .nameDivider{
  background-color: rgba(0,0,0,0.75);
}
.high_contrast .fichaDependencia .fotoFuncionarioDependeciaOverlay{
  background-color: rgba(255,235,2,0.2);
}

.high_contrast .fichaDependencia .grillaDependencia{
  background-image: url('../img/dots-contrast.png')
}


.high_contrast .accesibleTitulo,
.high_contrast .modoAccesible,
.high_contrast .modoTextoAccesible,
.high_contrast .navbar-default .navbar-nav>li>a,
.high_contrast .tarjetaDato .dato-descargado h3,
.high_contrast .tarjetaDato .dato-descargado p,
.high_contrast .tarjetaDato .titulo-tarjetaDato,
.high_contrast .card-sImportante .info,
.high_contrast .lista-links a,
.high_contrast .card-sImportante .title,
.high_contrast .institucional .institucionalTexto,
.high_contrast .masBuscado .textoMasBuscado,
.high_contrast .masBuscado .linksMasBuscados .link,
.high_contrast .tituloSeccionSup,
.high_contrast .softwareLibre .githubSectionSubtitle,
.high_contrast .nuestraCiudad .githubSectionSubtitle,
.high_contrast .nuestraCiudad .descarga,
.high_contrast .infoPublica .solicitaInfoDiv .pasoInfo .texto,
.high_contrast .infoPublica .descripcionAIP,
.high_contrast .infoPublica .formPersonal .subtitulo,
.high_contrast .cardLineamiento .componentesLista .componente p,
.high_contrast .componentesListaPM .componentesLista .componente p,
.high_contrast .metasLista .meta p,
.high_contrast .tituloComponente,
.high_contrast .objetivoInfo .titulo,
.high_contrast .objetivoInfo .contadorMetas h3,
.high_contrast .metaInfo .tituloMeta,
.high_contrast .metaInfo .estado .estadoTexto,
.high_contrast .metaInfoTabla .metaTablaTexto,
.high_contrast .metaInfoTabla .observaciones,
.high_contrast .viz .vizContainer .descripcionViz,
.high_contrast .viz .vizContainer .verMasViz,
.high_contrast .aplicaciones .appContainer .descripcionApp,
.high_contrast .itemPC .texto,
.high_contrast .participacionCiudadana .descargas span,

.high_contrast .documentosContainer .descargas span,
.high_contrast .descargas .botonDescarga,

.high_contrast .participacionCiudadana .comoParticipar .cpTexto,
.high_contrast .participacionCiudadana .textoCPC,
.high_contrast .participacionCiudadana .tarjetaDato .dato-descargado a,
.high_contrast .participacionCiudadana .formSolicitud .panel-default>.panel-heading a,
.high_contrast .navbar-gaMuniCba .nav.navbar-nav.navbar-right .dropdown-menu.lvl1 li a,

.high_contrast .infoPM,
.high_contrast .orgFichaFuncionario .orgNombreFuncionario,
.high_contrast .organigrama .org-funcionario .org-func-nombre,
.high_contrast .main-menu a,
.high_contrast .fichaDependencia .nombreFuncionarioDependencia,
.high_contrast .datosAbiertos .cardProyectos .texto,
.high_contrast .datosAbiertos .subCategoriasList .subCategoria,
.high_contrast .datosAbiertos .datoFinal .licencias .textoLicencias,
.high_contrast .datosAbiertos .datoFinal .secretariaDato,
.high_contrast .datosAbiertos .actualizacion,
.high_contrast .datosAbiertos .contadorCategorias h3,
.high_contrast .searchResults .resultado .textoResultado,
.high_contrast .infoPublica .listaAcceso .itemAcceso .descCollapse,
.high_contrast .accesiblidadTexto,
.high_contrast .infoPublica .pediInfoDiv .texto,
.high_contrast .infoPublica .listaAcceso .itemAcceso .subtitulo,
.high_contrast .infoPublica .formPersonal .descargaForm,
.high_contrast .datosAbiertos .infoDA,
.high_contrast .modoTextoAccesible .iconoModoAccesible,
.high_contrast .modoTextoAccesible.active .iconoModoAccesible.small{
  color: #FFFFFF;
}
.high_contrast .nuestraCiudad .tituloSeccion,
.high_contrast .nuestraCiudad .subtituloSeccion,
.high_contrast .institucional .tituloSeccion,
.high_contrast .institucional .subtituloSeccion,
.high_contrast .infoPublica .tituloSeccion,
.high_contrast .infoPublica .subtituloSeccion,
.high_contrast .planMetas .tituloSeccion,
.high_contrast .planMetas .subtituloSeccion,
.high_contrast .softwareLibre .tituloSeccion,
.high_contrast .softwareLibre .subtituloSeccion,
.high_contrast .viz .tituloSeccion,
.high_contrast .aplicaciones .tituloSeccion,
.high_contrast .aplicaciones .subtituloSeccion,
.high_contrast .participacionCiudadana .tituloSeccion,
.high_contrast .participacionCiudadana .subtituloSeccion,
.high_contrast .datosAbiertos .tituloSeccion,
.high_contrast .datosAbiertos .subtituloSeccion,
.high_contrast footer .copyr,
.high_contrast .tituloGA-footer,
.high_contrast .redesSociales a,
.high_contrast .nuestraCiudad .guiaEstadistica .tituloGuiaEstadistica,
.high_contrast .nuestraCiudad .guiaEstadistica .subtituloGuiaEstadistica,
.high_contrast .nuestraCiudad .githubSectionTitle,
.high_contrast .nuestraCiudad .descarga:hover,
.high_contrast .infoPublica .listaAcceso .itemAcceso .titulo,
.high_contrast .infoPublica .solicitaInfoDiv .titulo,
.high_contrast .infoPublica .pediInfoDiv .titulo,
.high_contrast .infoPublica .solicitaInfoDiv .pasoInfo .numero,
.high_contrast .infoPublica .pediInfoDiv .texto .cpc,
.high_contrast .infoPublica .socioRFAIP,
.high_contrast .infoPublica .formularioTitle,
.high_contrast .infoPublica .formPersonal .titulo,
.high_contrast .infoPublica .help,
.high_contrast .participacionCiudadana .help,
.high_contrast .objetivosList .item.objetivo:hover .numero,
.high_contrast .objetivoInfo .contadorMetas .numeroMetas,
.high_contrast .datosAbiertos .contadorCategorias .numeroCategorias,
.high_contrast #infoPaginacionMetas,
.high_contrast #infoPaginacionGuia,
.high_contrast .metaInfo .lineaBase,
.high_contrast .metaInfoTabla .textoIndicador,
.high_contrast .softwareLibre .tituloSL,
.high_contrast .softwareLibre .tarjetaDato .numero-tarjetaDato,
.high_contrast .softwareLibre .githubSectionTitle,
.high_contrast .nuestraCiudad .githubSectionTitle,
.high_contrast .viz .vizContainer .verMasViz a,
.high_contrast .viz .vizContainer .tituloViz a,
.high_contrast .aplicaciones .appContainer .nombreApp,
.high_contrast .itemPC .titulo,
.high_contrast .democracyOS .titulo,
.high_contrast .democracyOS .subtitulo,
.high_contrast .tuIdea .titulo,
.high_contrast .participacionCiudadana .comoParticipar .cpSubtitulo,
.high_contrast .participacionCiudadana .comoParticipar .cpTitulo,
.high_contrast .participacionCiudadana .tituloJuntas,
.high_contrast .participacionCiudadana .tarjetaDato .dato-descargado a:hover,
.high_contrast .participacionCiudadana .formularioTitle,
.high_contrast .orgFichaFuncionario .orgCargoFuncionario,
.high_contrast .organigrama .rootOrganigrama .infoRoot .cargoRoot,
.high_contrast .organigrama .org-funcionario .org-func-cargo,
.high_contrast .main-menu a:hover,
.high_contrast .fichaDependencia .oficinaFuncionarioDependencia,
.high_contrast .dependenciasTitleArrow,
.high_contrast #paginacionProyectos,
.high_contrast #paginacionCharts,
.high_contrast .datosAbiertos .cardProyectos .titulo,
.high_contrast .datosAbiertos .descargas span,
.high_contrast .datosAbiertos .conDatos .tarjetaDato .numero-tarjetaDato,
.high_contrast .softwareLibre .githubLogo .fa-inverse,
.high_contrast .democracyOS a,
.high_contrast .datosAbiertos .tituloPag .tituloCategoria,
.high_contrast .datosAbiertos .tituloPag .tituloSubCategoria,
.high_contrast .datosAbiertos .tituloPag .tituloSubSubCategoria,
.high_contrast .datosAbiertos .headerDato .tituloDato,
.high_contrast .datosAbiertos .datoFinal .tituloDato,
.high_contrast .datosAbiertos .datoFinal .licencias .tituloLicencias,
.high_contrast .datosAbiertos .datoFinal .licencias .licence-name,
.high_contrast .fontSizeControl a:hover,
.high_contrast .tituloResultado,
.high_contrast .masBuscado .linksMasBuscados .link::before,
.high_contrast .accesibilidad .tituloSeccion,
.high_contrast .accesibilidad .subtituloSeccion,
.high_contrast .tituloMetodoAccesibilidad
{
  color: #FFEB02;
}

.high_contrast .democracyOS a:hover{
  text-decoration: underline;
}
.high_contrast .infoPublica .help b{
  color: #FFEB02!important;
}


.high_contrast .organigrama .owl-nav .owl-next,
.high_contrast .organigrama .owl-nav .owl-prev{
  background-color: #000;
  color:#FFEB02;
}



.high_contrast .metaInfoTabla .metaIndicadores,
.high_contrast .viz .vizContainer .tituloViz,
.high_contrast .datosAbiertos .descargasContainer{
  color: #FFEB02;
  border-color: #FFEB02;
}
.high_contrast .viz .vizContainer{
  color: #FFEB02;
  border-color: #FFEB02;
}




.high_contrast .nuestraCiudad .tituloPag .border-right,
.high_contrast .datosAbiertos .tituloPag .border-right,
.high_contrast .institucional .tituloPag .border-right,
.high_contrast .infoPublica .tituloPag .border-right,
.high_contrast .planMetas .tituloPag .border-right,
.high_contrast .viz .tituloPag .border-right,
.high_contrast .softwareLibre .tituloPag .border-right,
.high_contrast .aplicaciones .tituloPag .border-right,
.high_contrast .participacionCiudadana .tituloPag .border-right,
.high_contrast .infoPublica .listaAcceso .itemAcceso,
.high_contrast .infoPublica .formSolicitud input,
.high_contrast .infoPublica .formSolicitud select.dropdown,
.high_contrast .infoPublica .formSolicitud textarea,
.high_contrast .infoPublica .solicitaInfoDiv,
.high_contrast .infoPublica .pediInfoDiv,
.high_contrast .tarjetaDato .dato-descargado:hover h3,
.high_contrast .tarjetaDato .dato-descargado:hover p,
.high_contrast .footer-derecha,
.high_contrast .infoPublica .formPersonal,
.high_contrast .cardLineamiento .componentesLista .componente:hover p,
.high_contrast .componentesListaPM .componentesLista .componente:hover p,
.high_contrast .metasLista .meta:hover p,
.high_contrast .cardLineamiento .componentesLista .componente,
.high_contrast .componentesListaPM .componentesLista .componente,
.high_contrast .metasLista .meta,
.high_contrast .softwareLibre .tituloPag .border-right,
.high_contrast .aplicaciones .appContainer,
.high_contrast .participacionCiudadana .presupParticipativo,
.high_contrast .participacionCiudadana .jpv,
.high_contrast .participacionCiudadana .descargasContainer,
.high_contrast .tuIdea,
.high_contrast .democracyOS,
.high_contrast connection,
.high_contrast .fichaDependencia .recuadroDependencia,
.high_contrast .searchResults .resultado{
  border-color: #FFEB02 !important;
}
.high_contrast .softwareLibre .tituloPag .border-right{
  border-right: 2px solid #FFEB02;
}


.high_contrast .tarjetaDato .titulo-destacado-tarjetaDato,
.high_contrast .tarjetaDato .dato-descargado,
.high_contrast .modoAccesible.active,
.high_contrast .modoTextoAccesible.active{
  color: #FFFFFF;
  border-color: #FFEB02;
}
.high_contrast .tarjetaDato a:hover,
.high_contrast .modoTextoAccesible.active .iconoModoAccesible{
  color: #FFEB02;
}


.high_contrast .redesSociales a:hover span.fa-stack{
  border-color: #555555;
}

.high_contrast .masBuscado .linksMasBuscados .link:hover,
.high_contrast .lista-links a:hover{
  color: #FFEB02;
}
.high_contrast .rosa{
  color: #FFEB02!important;
}
.high_contrast .card-sImportante .btnMore
{
  color: #FFEB02;
  border-color: #FFEB02;
}
.high_contrast .card-sImportante .btnMore:hover,
.high_contrast .datosAbiertos.dAF .datasets .boton:hover,
.high_contrast .datosAbiertos.dAF .datasets .boton.active,
.high_contrast .datosAbiertos .subSubCategoria,
.high_contrast .datosAbiertos .subSubCategoria.dato,
.high_contrast .datosAbiertos .datoSubCategoria{
  background-color: #FFEB02 ;
  color: #000000;
  border-color: #FFEB02;
}
.high_contrast .datosAbiertos .subSubCategoria{
  border-color: #FFEB02;
    border: 1px solid #FFEB02;
}
.high_contrast .datosAbiertos .subSubCategoria:hover,
.high_contrast .datosAbiertos .subSubCategoria:hover:before,
.high_contrast .datosAbiertos .subSubCategoria.active:before,
.high_contrast  .datosAbiertos .subSubCategoria.active{
  border-color: #FFEB02;
}

.high_contrast .datosAbiertos ul.dropdown-menu{
  border: 1px solid #FFFFFF;
}
.high_contrast .metaInfoTabla .metaTablaTitulo.disabled{
  color: #FFEB02;
  background-color: #333333;
}
.high_contrast .datosAbiertos .datasets .boton,
.high_contrast .datosAbiertos .datasets .titleSeccionDatos{
  background-color: #000000;
  color: #FFEB02;
}
.high_contrast .datosAbiertos .border-bottom-section,
.high_contrast .datosAbiertos .border-bottom-blue{
  border-color: #FFEB02 !important;
}
.high_contrast .infoPublica .solicitaInfoDiv .btnTramite,
.high_contrast .infoPublica .buttonSend,
.high_contrast .metaInfoTabla .metaTablaTitulo,
.high_contrast .aplicaciones .appContainer .btnDescarga,
.high_contrast .tuIdea .btnComenzar,
.high_contrast .participacionCiudadana .presupParticipativo .desc,
.high_contrast .participacionCiudadana .buttonSend,
.high_contrast .bg-green-cont p a{
  color: #000000;
  background-color: #FFEB02;
}

.high_contrast .infoPublica .owl-theme .owl-nav [class*=owl-],
.high_contrast  .infoPublica .owl-theme .owl-dots .owl-dot.active span,
.high_contrast .infoPublica .owl-theme .owl-dots .owl-dot:hover span{
  background-color: #FFEB02;
}


.high_contrast .infoPublica .solicitaInfoDiv .btnTramite:hover,
.high_contrast .infoPublica .buttonSend:hover,
.high_contrast .softwareLibre .githubLink,
.high_contrast .softwareLibre .githubLink .nombre,
.high_contrast .aplicaciones .appContainer .btnDescarga:hover,
.high_contrast .tuIdea .btnComenzar:hover,
.high_contrast .participacionCiudadana .buttonSend:hover,
.high_contrast  .datosAbiertos .headerQueSeHizo{
  background-color: #FFEB02;
  color: #000;
}
.high_contrast .descApp a:hover{
  color: #FFEB02;
}
.high_contrast .participacionCiudadana .formSolicitud .panel-default>.panel-heading{
  background-color: #000;
  border-left-color: #FFEB02;
  border-top-color: #FFEB02;
  border-bottom-color: #FFEB02;
}
.high_contrast .datosAbiertos .cardProyectos .descripcion,
.high_contrast .datosAbiertos .datoFinal .licencias{
  background-color: #000;
  border: 1px solid #FFEB02;
}

.high_contrast .panel-default>.panel-heading+.panel-collapse>.panel-body{
  background-color: #000;
  border-color: #FFEB02;
}

.high_contrast .panel-collapse{
  border: 1px solid #FFEB02;
  color: #FFF;
}

.high_contrast .border-bottom-section,
.high_contrast .border-bottom-blue,
.high_contrast .datosAbiertos .border-top-section{
  border-color: #FFFFFF !important;
}

.high_contrast .infoPublica .formSolicitud input,
.high_contrast .infoPublica .formSolicitud select.dropdown,
.high_contrast .infoPublica .formSolicitud textarea,
.high_contrast .participacionCiudadana .formSolicitud input,
.high_contrast .participacionCiudadana .formSolicitud select.dropdown,
.high_contrast .participacionCiudadana .formSolicitud textarea{
  border: 1px solid #FFEB02;
  color: #FFEB02;
  background: #000;
}
.high_contrast .nav__controls input,
.high_contrast .nav__controls select,
.high_contrast .nav__controls ::-webkit-input-placeholder{
  background-color: #000;
  color: #FFF;
}
.high_contrast .selects .nav__label{
  background: #FFEB02;
}
.high_contrast .btn-iniciar{
  color: #000000;
}
.high_contrast .btn-iniciar:hover{
  color: #000000;
}
.high_contrast .nav__select:after{
  border-top-color: #FFEB02;
}

.high_contrast .infoPublica ::-webkit-input-placeholder,
.high_contrast .participacionCiudadana ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFEB02;
}
.high_contrast .infoPublica ::-moz-placeholder,
.high_contrast .participacionCiudadana ::-moz-placeholder { /* Firefox 19+ */
  color: #FFEB02;
}
.high_contrast .infoPublica :-ms-input-placeholder,
.high_contrast .participacionCiudadana :-ms-input-placeholder { /* IE 10+ */
  color: #FFEB02;
}
.high_contrast .infoPublica :-moz-placeholder,
.high_contrast .participacionCiudadana :-moz-placeholder { /* Firefox 18- */
  color: #FFEB02;
}
.high_contrast .infoPublica label.wrap:after,
.high_contrast .participacionCiudadana label.wrap:after {
    color: #FFEB02;
}


.high_contrast .nav-buscar ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000000;
}
.high_contrast .nav-buscar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000000;
   opacity:  1;
}
.high_contrast .nav-buscar ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000000;
   opacity:  1;
}
.high_contrast .nav-buscar :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000000;
}
.high_contrast .nav-buscar ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000000;
}


.high_contrast #obras .card{
  background-color: #333;
}
.high_contrast #obras .card .card-summary .barrios span{
  color: #FFF;
}
.high_contrast #obras .card .card-title,
.high_contrast #obras .card .fecha span:nth-child(2)
{
  background-color: #FFEB02;
  color: #000 !important;
}
.high_contrast #obras .card .card-title h3{
  color: #000;
}

.high_contrast #obras .card .card-summary .barrios strong{
  color: #FFEB02!important;
}
.high_contrast #obras .card .progress-bar-info{
  background-color: #ff0059;
}

.high_contrast .hamburger.is-closed .hamb-top,
.high_contrast .hamburger.is-open .hamb-top {
  background-color: rgba(255,235,2,0.8);
}

.high_contrast .hamburger.is-closed .hamb-middle,
.high_contrast .hamburger.is-open .hamb-middle {
  background-color: rgba(255,235,2,0.8);
}

.high_contrast .hamburger.is-closed .hamb-bottom,
.high_contrast .hamburger.is-open .hamb-bottom {
  background-color: rgba(255,235,2,0.8);
}
.high_contrast a.nav-expander,
.high_contrast .nav-expanded a.nav-expander.fixed,
.high_contrast nav.nav-side{
  background-color: #000;
}

.high_contrast .descFuncionario .smFuncionario a.btnAudiencias:hover,
.high_contrast .descFuncionario .smFuncionario a:hover,
.high_contrast .descFuncionario .dirFuncionario a:hover,
.high_contrast .bg-green:hover{
  color: #696000;
  border-color: #696000;
}


.high_contrast .logoFooter .st0,
.high_contrast .menuLogo .st0,
.high_contrast .resultado .st0,
.high_contrast .card-icono .st0,
.high_contrast .blockchain .st0,
.high_contrast .logoFooter .st1,
.high_contrast .logoFooter .st2,
.high_contrast .logoFooter .st3,
.high_contrast .sqGA.inverse .logoGAG .stGA,
.high_contrast .logoFooter .st4,
.high_contrast .stAccesibilidad{fill:#FFEB02;}

.high_contrast .card-icono .stBlanco,
.high_contrast .sqGA .logoGAG .stGA{fill:#000000;}

.high_contrast .searchPage .input-group{
    border-color: #FFEB02;
}
.high_contrast .searchPage button{
  color: #FFEB02;
  background-color: #000;
}
.high_contrast .searchPage input{
  background-color: #000;
}



/* Footer Logos SVG */
.high_contrast #modernizacion .st0 {
  fill: #FFFFFF;
}
.high_contrast #modernizacion .st1 {
  fill: #C8C8C8;
}
.high_contrast #modernizacion .st2 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.high_contrast #modernizacion .st3 {
  fill: #6F6F6F;
}
.high_contrast #modernizacion .st4 {
  fill: #FFFFFF;
}
.high_contrast #modernizacion .st5 {
  fill: #202020;
}
.high_contrast #modernizacion .st6 {
  fill: #FFFFFF;
}
.high_contrast #modernizacion .st7 {
  fill: #FFFFFF;
}

.high_contrast #modernizacion:hover .st0 {
  fill: #FFC10E;
}
.high_contrast #modernizacion:hover .st1 {
  fill: #FBBB80;
}
.high_contrast #modernizacion:hover .st2 {
  fill: #2DA34A;
  stroke: #2DA34A;
  stroke-miterlimit: 10;
}
.high_contrast #modernizacion:hover .st3 {
  fill: #0094D4;
}
.high_contrast #modernizacion:hover .st4 {
  fill: #EE4023;
}
.high_contrast #modernizacion:hover .st5 {
  fill: #202020;
}
.high_contrast #modernizacion:hover .st6 {
  fill: #FFFFFF;
}
.high_contrast #modernizacion:hover .st7 {
  fill: #0094D4;
}

.high_contrast #fca .cls-1 {
  fill: #8C8C8C;
}
.high_contrast #fca .cls-2 {
  fill: #FFFFFF;
}

.high_contrast #fca:hover .cls-1 {
  fill: #FF0000;
}
.high_contrast #fca:hover .cls-2 {
  fill: #55BF0E;
}

.high_contrast #aip .st0{fill:#8E8E8E;}
.high_contrast #aip .st1{fill:#626262;}
.high_contrast #aip .st2{fill:#A2A2A2;}
.high_contrast #aip .st3{fill:#949494;}
.high_contrast #aip .st4{fill:#8E8E8E;}
.high_contrast #aip .st5{fill:#ABABAB;}
.high_contrast #aip .st6{fill:#484848;}
.high_contrast #aip .st7{fill:#FEFEFE;}
.high_contrast #aip .st8{fill:#ABABAB;}

.high_contrast #aip:hover .st0{fill:#FFFFFF;}
.high_contrast #aip:hover .st1{fill:#3366CB;}
.high_contrast #aip:hover .st2{fill:#66CB66;}
.high_contrast #aip:hover .st3{fill:#6698FE;}
.high_contrast #aip:hover .st4{fill:#FE6633;}
.high_contrast #aip:hover .st5{fill:#FE9833;}
.high_contrast #aip:hover .st6{fill:#CB0066;}
.high_contrast #aip:hover .st7{fill:#FEFEFE;}
.high_contrast #aip:hover .st8{fill:#98CB33;}


.high_contrast #narino .st0{fill:#555555;}
.high_contrast #narino .st1{fill:#737373;}
.high_contrast #narino .st2{fill:#C6C6C6;}
.high_contrast #narino .st3{fill:#9D9D9D;}
.high_contrast #narino .st4{fill:#C6C6C6;}

.high_contrast #narino:hover .st0{fill:#CB2128;}
.high_contrast #narino:hover .st1{fill:#009BD2;}
.high_contrast #narino:hover .st2{fill:#F1C93D;}
.high_contrast #narino:hover .st3{fill:#89B64B;}
.high_contrast #narino:hover .st4{fill:#FFFFFF;}

.high_contrast #ucc .cls-1 {
  fill: #ffffff;
}
