/*
    Author     : Gaston F. Ramirez
*/
.night body{
  background-color: #000;
}

.night .navbar-gaMuniCba,
.night .navbar-gaMuniCba-accesible,
.night .bg-white,
.night .card-sImportante.gray,
.nigh .dropdown-menu{
  background-color: #000;
}

.night .navbar-nav>li>.dropdown-menu.lvl1, ul.dropdown-menu.lvl1,
.night .softwareLibre .tarjetaDato:first-child{
  border-color: #1C283B;
}
.night .dropdown-menu.lvl1:after{
position: absolute;
top: -12px;
right: 14%;
display: inline-block;
border-right: 11px solid transparent;
border-bottom: 11px solid #006c84;
border-left: 11px solid transparent;
content:'';
}

.night .democracyOS a{
  color: #006c84;
}
.night .democracyOS a:hover{
  text-decoration: underline;
}

.night .loginContainer a{
  color: #FFF;
}
.night .loginContainer a:hover{
  color: #006c84;
}


.night .imageHome .hola-imageHome,
.night .imageHome .texto-imageHome,
.night .imageHome .bvd-imageHome,
.night .bg-green,
.night .bg-celeste,
.night .sqGA,
.night .logoGA,
.night .navbar-gaMuniCba .nav.navbar-nav.navbar-right .dropdown-menu.lvl1 li a:hover,
.night .nuestraCiudad .descInfoDinamica,
.night .infoPublica .normativaVigente,
.night .nuestraCiudad .descargaLink,
.night .nuestraCiudad .descargaLink .nombre,
.night .objetivosList .owl-item:nth-child(odd) .item.objetivo,
.night  .objetivosList .owl-item:nth-child(even) .item.objetivo,
.night .searchTitle,
.night footer .rowConvenios .titConvenios{
  background-color: #1C283B !important;
  color: #FFF;
}

.night .sqGA.inverse,
.night .inverse .logoGA{
  background-color: #000 !important;
}

.night .objetivosList .item.objetivo h3{
  color: inherit;
}

.night .vecinoBg,
.night .stroke ul li a:after,
.night .navbar-gaMuniCba .nav.navbar-nav.navbar-right .dropdown-menu.lvl1 li a:focus,
.night .nav-buscar,
.night .nav-buscar .form-control,
.night .nav-buscar .btn-default,
.night .closeMeta:hover,
.night .metaInfo .estado.activo .estadoCircle,
.night .dependencias .dividerDependencias{
  background-color: #006c84;
}
.night .estadoCircle .st0,
.night .estadoCircle .st1,
.night .estadoCircle .st2,
.night .estadoCircle .st3{stroke:#FFF!important;}
.night .metaInfo .estado.noIniciado .estadoCircle{
  background-color: #222222;
}


.night .statisticsHome,
.night .fichaFuncionario .descFuncionario,
.night .documentosContainer .documentosFuncionario .btnDocumento:hover,
.night .documentosContainer.bg,
.night .documentosContainer .descargasCont{
  background-color: rgba(28,39,59,0.8);
}

.night .accesibleTitulo,
.night .modoAccesible,
.night .democracyOS .texto,
.night .modoTextoAccesible,
.night .navbar-default .navbar-nav>li>a,
.night .tarjetaDato .dato-descargado h3,
.night .tarjetaDato .dato-descargado p,
.night .tarjetaDato .titulo-tarjetaDato,
.night .card-sImportante .info,
.night .lista-links a,
.night .card-sImportante .title,
.night .redesSociales a:hover .fa-stack-1x,
.night .redesSociales a:hover .github .fa-stack-1x,
.night .institucional .institucionalTexto,
.night .masBuscado .textoMasBuscado,
.night .masBuscado .linksMasBuscados .link,
.night .tituloSeccionSup,
.night .softwareLibre .githubSectionSubtitle,
.night .nuestraCiudad .githubSectionSubtitle,
.night .nuestraCiudad .descarga,
.night .infoPublica .solicitaInfoDiv .pasoInfo .texto,
.night .infoPublica .descripcionAIP,
.night .infoPublica .formPersonal .subtitulo,
.night .cardLineamiento .componentesLista .componente p,
.night .componentesListaPM .componentesLista .componente p,
.night .metasLista .meta p,
.night .tituloComponente,
.night .objetivoInfo .titulo,
.night .objetivoInfo .contadorMetas h3,
.night .metaInfo .tituloMeta,
.night .metaInfo .estado .estadoTexto,
.night .metaInfoTabla .metaTablaTexto,
.night .metaInfoTabla .observaciones,
.night .viz .vizContainer .descripcionViz,
.night .viz .vizContainer .verMasViz,
.night .aplicaciones .appContainer .descripcionApp,
.night .itemPC .texto,
.night .participacionCiudadana .descargas span,
.night .documentosContainer .descargas span,
.night .descargas .botonDescarga,
.night .participacionCiudadana .comoParticipar .cpTexto,
.night .participacionCiudadana .textoCPC,
.night .participacionCiudadana .tarjetaDato .dato-descargado a,
.night .participacionCiudadana .formSolicitud .panel-default>.panel-heading a,
.night .infoPM,
.night .orgFichaFuncionario .orgNombreFuncionario,
.night .organigrama .org-funcionario .org-func-nombre,
.night .main-menu a,
.night .fichaDependencia .nombreFuncionarioDependencia,
.night .datosAbiertos .descargas span,
.night .datosAbiertos .datoFinal .licencias .textoLicencias,
.night .datosAbiertos .actualizacion,
.night .datosAbiertos .contadorCategorias h3,
.night .datosAbiertos .conDatos .tarjetaDato .titulo-tarjetaDato,
.night .datosAbiertos .subCategoriasList .subCategoria,
.night .searchResults .resultado .textoResultado,
.night .accesiblidadTexto,
.night .infoPublica .pediInfoDiv .texto,
.night .infoPublica .listaAcceso .itemAcceso .subtitulo,
.night .infoPublica .formPersonal .descargaForm,
.night .datosAbiertos .infoDA,
.night .infoPublica .listaAcceso .itemAcceso .descCollapse,
.night .modoTextoAccesible .iconoModoAccesible,
.night .modoTextoAccesible.active .iconoModoAccesible.small,
.night .accesibilidadTexto,
.night .textoMetodoAccesibilidad,
.night .blockchain .textoBC,
.night .softwareLibre .slTexto{
  color: #FFFFFF;
}
.night .lista-links a.disabled,
.night .lista-links a.disabled:hover{
  color: #888;
}


.night .nuestraCiudad .tituloSeccion,
.night .nuestraCiudad .subtituloSeccion,
.night .institucional .tituloSeccion,
.night .institucional .subtituloSeccion,
.night .infoPublica .tituloSeccion,
.night .infoPublica .subtituloSeccion,
.night .planMetas .tituloSeccion,
.night .planMetas .subtituloSeccion,
.night .softwareLibre .tituloSeccion,
.night .softwareLibre .subtituloSeccion,
.night .viz .tituloSeccion,
.night .aplicaciones .tituloSeccion,
.night .aplicaciones .subtituloSeccion,
.night .participacionCiudadana .tituloSeccion,
.night .participacionCiudadana .subtituloSeccion,
.night footer .copyr,
.night .tituloGA-footer,
.night .redesSociales a,
.night .nuestraCiudad .guiaEstadistica .tituloGuiaEstadistica,
.night .nuestraCiudad .guiaEstadistica .subtituloGuiaEstadistica,
.night .nuestraCiudad .githubSectionTitle,
.night .nuestraCiudad .descarga:hover,
.night .infoPublica .listaAcceso .itemAcceso .titulo,
.night .infoPublica .solicitaInfoDiv .titulo,
.night .infoPublica .pediInfoDiv .titulo,
.night .infoPublica .solicitaInfoDiv .pasoInfo .numero,
.night .infoPublica .pediInfoDiv .texto .cpc,
.night .infoPublica .socioRFAIP,
.night .infoPublica .formularioTitle,
.night .infoPublica .formPersonal .titulo,
.night .infoPublica .help,
.night .participacionCiudadana .help,
.night .objetivosList .item.objetivo:hover .numero,
.night .objetivoInfo .contadorMetas .numeroMetas,
.night .datosAbiertos .contadorCategorias .numeroCategorias,
.night #infoPaginacionMetas,
.night #infoPaginacionGuia,
.night .metaInfo .lineaBase,
.night .metaInfoTabla .textoIndicador,
.night .softwareLibre .tituloSL,
.night .softwareLibre .tarjetaDato .numero-tarjetaDato,
.night .softwareLibre .githubSectionTitle,
.night .nuestraCiudad .githubSectionTitle,
.night .softwareLibre .githubLogo .fa-circle,
.night .viz .vizContainer .verMasViz a,
.night .viz .vizContainer .tituloViz a,
.night .aplicaciones .appContainer .nombreApp,
.night .itemPC .titulo,
.night .democracyOS .titulo,
.night .democracyOS .subtitulo,
.night .tuIdea .titulo,
.night .participacionCiudadana .comoParticipar .cpSubtitulo,
.night .participacionCiudadana .comoParticipar .cpTitulo,
.night .participacionCiudadana .tituloJuntas,
.night .participacionCiudadana .tarjetaDato .dato-descargado a:hover,
.night .participacionCiudadana .formularioTitle,
.night .orgFichaFuncionario .orgCargoFuncionario,
.night .organigrama .rootOrganigrama .infoRoot .cargoRoot,
.night .organigrama .org-funcionario .org-func-cargo,
.night .main-menu a:hover,
.night .descFuncionario .fa-inverse,
.night .dependenciasTitleArrow,
.night .fichaDependencia .oficinaFuncionarioDependencia,
.night .tituloResultado,
.night .masBuscado .linksMasBuscados .link::before,
.night .tituloObras,
.night .cardMedicion,
.night .tituloSelects,
.night .paginacion-obras{
  color: #006c84;
}
.night .infoPublica .help b{
  color: #62CAFF!important;
}

.night .organigrama .owl-nav .owl-next,
.night .organigrama .owl-nav .owl-prev{
  background-color: #000;
  color:#006c84;
}
.night .datosAbiertos .datoFinal .licencias,
.night .datosAbiertos .headerQueSeHizo,
.night .datosAbiertos .cardProyectos .descripcion,
.night .datosAbiertos .subSubCategoria:hover,
.night .datosAbiertos .subSubCategoria.active{
  background-color: #1C283B !important;
  color: #FFF;
}

.night .metaInfoTabla .metaIndicadores,
.night .viz .vizContainer .tituloViz{
  color: #006c84;
  border-color: #006c84;
}

.night .fichaDependencia .fotoFuncionarioDependeciaOverlay{
  background-color: rgba(28,39,59,0.4);
}

.night #obras .card{
  background-color: #333;
}
.night #obras .card .card-summary .barrios span{
  color: #FFF;
}
.night #obras .card .card-title,
.night #obras .card .fecha span:nth-child(2)
{
  background-color: #006c84;
}

.night #obras .card .card-summary .barrios strong{
  color: #006c84 !important;
}


.night .nuestraCiudad .tituloPag .border-right,
.night .datosAbiertos .tituloPag .border-right,
.night .institucional .tituloPag .border-right,
.night .infoPublica .tituloPag .border-right,
.night .planMetas .tituloPag .border-right,
.night .viz .tituloPag .border-right,
.night .softwareLibre .tituloPag .border-right,
.night .aplicaciones .tituloPag .border-right,
.night .participacionCiudadana .tituloPag .border-right,
.night .infoPublica .listaAcceso .itemAcceso,
.night .infoPublica .formSolicitud input,
.night .infoPublica .formSolicitud select.dropdown,
.night .infoPublica .formSolicitud textarea,
.night .infoPublica .solicitaInfoDiv,
.night .infoPublica .pediInfoDiv,
.night .tarjetaDato .dato-descargado:hover h3,
.night .tarjetaDato .dato-descargado:hover p,
.night .footer-derecha,
.night .infoPublica .formPersonal,
.night .cardLineamiento .componentesLista .componente:hover p,
.night .componentesListaPM .componentesLista .componente:hover p,
.night .metasLista .meta:hover p,
.night .cardLineamiento .componentesLista .componente,
.night .componentesListaPM .componentesLista .componente,
.night .metasLista .meta,
.night .softwareLibre .tituloPag .border-right,
.night .aplicaciones .appContainer,
.night .participacionCiudadana .presupParticipativo,
.night .participacionCiudadana .jpv,
.night .participacionCiudadana .descargasContainer,
.night .tuIdea,
.night .democracyOS,
.night connection,
.night .fichaDependencia .recuadroDependencia,
.night .searchResults .resultado{
  border-color: #006c84 !important;
}
.night .fichaDependencia .grillaDependencia{
  background-image: url('../img/dots-night.png')
}

.night .softwareLibre .tituloPag .border-right,{
  border-right: 2px solid #006c84;
}


.night .tarjetaDato .titulo-destacado-tarjetaDato,
.night .tarjetaDato .dato-descargado,
.night .modoAccesible.active,
.night .modoTextoAccesible.active{
  color: #FFFFFF;
  border-color: #006c84;
}
.night .tarjetaDato a:hover,
.night .modoTextoAccesible.active .iconoModoAccesible{
  color: #006c84;
}


.night .redesSociales a:hover span.fa-stack{
  border-color: #FFFFFF;
}

.night .masBuscado .linksMasBuscados .link:hover,
.night .lista-links a:hover{
  color: #006c84;
}
.night .rosa{
  color: #006c84!important;
}

.night .card-sImportante .btnMore
{
  color: #006c84;
  border-color: #006c84;
}
.night .card-sImportante .btnMore:hover{
  background-color: #006c84;
  color: #FFF;
  border-color: #006c84;
}
.night .metaInfoTabla .metaTablaTitulo.disabled,
.night .datosAbiertos ul.dropdown-menu{
  color: #FFFFFF;
  background-color: #1C283B;
}
.night .infoPublica .solicitaInfoDiv .btnTramite,
.night .infoPublica .buttonSend,
.night .metaInfoTabla .metaTablaTitulo,
.night .aplicaciones .appContainer .btnDescarga,
.night .tuIdea .btnComenzar,
.night .participacionCiudadana .presupParticipativo .desc,
.night .participacionCiudadana .buttonSend{
  color: #FFFFFF;
  background-color: #006c84;
}

.night .blockchain .cardProyectos .descripcion a{
  color: #FFF;
  text-decoration: underline;
}
.night .blockchain .cardProyectos .descripcion a:hover{
  color: #000;
}
.night .blockchain .cardProyectos .descripcion{
  color: #FFFFFF;
  background-color: #3550AA;
}
.night .infoPublica .solicitaInfoDiv .btnTramite:hover,
.night .infoPublica .buttonSend:hover,
.night .softwareLibre .githubLink,
.night .softwareLibre .githubLink .nombre,
.night .aplicaciones .appContainer .btnDescarga:hover,
.night .tuIdea .btnComenzar:hover,
.night .participacionCiudadana .buttonSend:hover{
  background-color: #1C283B;
  color: #FFF;
}
.night .descApp a:hover{
  color: #62CAFF;
}
.night .participacionCiudadana .formSolicitud .panel-default>.panel-heading{
  background-color: #000;
  border-left-color: #006c84;
  border-top-color: #006c84;
  border-bottom-color: #006c84;
}

.night .panel-default>.panel-heading+.panel-collapse>.panel-body{
  background-color: #000;
  border-color: #006c84;
}

.night .panel-collapse{
  border: 1px solid #006c84;
  color: #FFF;
}

.night .border-bottom-section,
.night .border-bottom-blue{
  border-color: #FFFFFF !important;
}

.night .infoPublica .formSolicitud input,
.night .infoPublica .formSolicitud select.dropdown,
.night .infoPublica .formSolicitud textarea,
.night .participacionCiudadana .formSolicitud input,
.night .participacionCiudadana .formSolicitud select.dropdown,
.night .participacionCiudadana .formSolicitud textarea{
  border: 1px solid #006c84;
  color: #62CAFF;
  background: #000;
}

.night .infoPublica ::-webkit-input-placeholder,
.night .participacionCiudadana ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #62CAFF;
}
.night .infoPublica ::-moz-placeholder,
.night .participacionCiudadana ::-moz-placeholder { /* Firefox 19+ */
  color: #62CAFF;
}
.night .infoPublica :-ms-input-placeholder,
.night .participacionCiudadana :-ms-input-placeholder { /* IE 10+ */
  color: #62CAFF;
}
.night .infoPublica :-moz-placeholder,
.night .participacionCiudadana :-moz-placeholder { /* Firefox 18- */
  color: #62CAFF;
}
.night .infoPublica label.wrap:after,
.night .participacionCiudadana label.wrap:after {
    color: #62CAFF;
}

.night .hamburger.is-closed .hamb-top,
.night .hamburger.is-open .hamb-top{
  background-color: rgba(10,130,250,0.6);
}

.night .hamburger.is-closed .hamb-middle,
.night .hamburger.is-open .hamb-middle {
  background-color: rgba(10,130,250,0.6);
}

.night .hamburger.is-closed .hamb-bottom,
.night .hamburger.is-open .hamb-bottom {
  background-color: rgba(10,130,250,0.6);
}
.night a.nav-expander,
.night nav.nav-side,
.night .nav-expanded a.nav-expander.fixed{
  background-color: #000;
}

.night .descFuncionario .smFuncionario a.btnAudiencias:hover,
.night .descFuncionario .smFuncionario a:hover,
.night .descFuncionario .dirFuncionario a:hover{
  color: #62CAFF;
  border-color: #62CAFF;
}


.night .logoFooter .st0,
.night .sqGA.inverse .logoGAG .stGA,
.night .menuLogo .st0{fill:#FFFFFF;}

.night .searchPage .input-group{
    border-color: #006c84;
}
.night .searchPage button{
  color: #006c84;
  background-color: #000;
}

.night .nav__controls input,
.night .nav__controls select,
.night .nav__controls ::-webkit-input-placeholder{
  background-color: #000;
  color: #FFF;
}
.night .selects .nav__label{
  background: #006c84;
}
.night .nav__select:after{
  border-top-color: #006c84;
}

.night .blockchain .st0,
.night .resultado .st0,
.night .card-icono .st0{
  fill:#006c84 !important;
}



/* Footer Logos SVG */
.night #modernizacion .st0 {
  fill: #FFFFFF;
}
.night #modernizacion .st1 {
  fill: #C8C8C8;
}
.night #modernizacion .st2 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.night #modernizacion .st3 {
  fill: #6F6F6F;
}
.night #modernizacion .st4 {
  fill: #FFFFFF;
}
.night #modernizacion .st5 {
  fill: #202020;
}
.night #modernizacion .st6 {
  fill: #FFFFFF;
}
.night #modernizacion .st7 {
  fill: #FFFFFF;
}

.night #modernizacion:hover .st0 {
  fill: #FFC10E;
}
.night #modernizacion:hover .st1 {
  fill: #FBBB80;
}
.night #modernizacion:hover .st2 {
  fill: #2DA34A;
  stroke: #2DA34A;
  stroke-miterlimit: 10;
}
.night #modernizacion:hover .st3 {
  fill: #0094D4;
}
.night #modernizacion:hover .st4 {
  fill: #EE4023;
}
.night #modernizacion:hover .st5 {
  fill: #202020;
}
.night #modernizacion:hover .st6 {
  fill: #FFFFFF;
}
.night #modernizacion:hover .st7 {
  fill: #0094D4;
}

.night #fca .cls-1 {
  fill: #8C8C8C;
}
.night #fca .cls-2 {
  fill: #FFFFFF;
}

.night #fca:hover .cls-1 {
  fill: #FF0000;
}
.night #fca:hover .cls-2 {
  fill: #55BF0E;
}

.night #aip .st0{fill:#8E8E8E;}
.night #aip .st1{fill:#626262;}
.night #aip .st2{fill:#A2A2A2;}
.night #aip .st3{fill:#949494;}
.night #aip .st4{fill:#8E8E8E;}
.night #aip .st5{fill:#ABABAB;}
.night #aip .st6{fill:#484848;}
.night #aip .st7{fill:#FEFEFE;}
.night #aip .st8{fill:#ABABAB;}

.night #aip:hover .st0{fill:#FFFFFF;}
.night #aip:hover .st1{fill:#3366CB;}
.night #aip:hover .st2{fill:#66CB66;}
.night #aip:hover .st3{fill:#6698FE;}
.night #aip:hover .st4{fill:#FE6633;}
.night #aip:hover .st5{fill:#FE9833;}
.night #aip:hover .st6{fill:#CB0066;}
.night #aip:hover .st7{fill:#FEFEFE;}
.night #aip:hover .st8{fill:#98CB33;}


.night #narino .st0{fill:#555555;}
.night #narino .st1{fill:#737373;}
.night #narino .st2{fill:#C6C6C6;}
.night #narino .st3{fill:#9D9D9D;}
.night #narino .st4{fill:#C6C6C6;}

.night #narino:hover .st0{fill:#CB2128;}
.night #narino:hover .st1{fill:#009BD2;}
.night #narino:hover .st2{fill:#F1C93D;}
.night #narino:hover .st3{fill:#89B64B;}
.night #narino:hover .st4{fill:#FFFFFF;}

.night #ucc .cls-1 {
  fill: #ffffff;
}
